//
// Header & main navigation
// --------------------------------------------------

#header {
	background-color: $black;
}

#logo {
    @include grid(6,1,1);
    
    .logo-link {
	    display: block;
        padding: $base-padding 0 0 0;
        //@include transition(opacity, 0.5s, ease-out);
        //@include opacity(0.95);
        
	    // Fix for making linkable
	    object {
		    pointer-events: none;
	    }
	    
	    .logo-image {
	    	display: block;
		    width: 60%;
		    height: auto;
	    }
	    
	    .logo-subtitle {
		    display: none;
	    }
	    
        &:hover {
            //@include opacity(1);
        }
    }
    
}

// Main navigation
// -------------------------

#nav {
	text-transform: uppercase;
	//min-height: 64px;
	//font-size: $font-size-small;
	
    ul, li {
    	margin: 0;
        padding: 0;
        list-style: none;
        background-image: none;
    }
	
	.nav-main {
	    @include grid(26,0,0);
	    padding: $base-padding*2 0 $base-padding 0;
	    
	    > li a, > li a:visited {
	        //@include transition(all 0.2s ease-in);
			padding: 0 $base-padding;
			//border-top: $base-padding solid $black;
	        white-space: nowrap;
	        color: $gray-lighter;
		    //text-transform: uppercase;
            font-family: $font-family-bold;
		    display: block;
		    float: left;
		    text-align: center;
		    text-decoration: none;
		    overflow: hidden;
		    //border: 1px solid red;
		
		    &:hover, &:active, &.is-active {
		        color: $black;
		        background-color: $white;
		    }
	    }
	}
	
	.nav-actions {
	    //margin-top: $base-margin;
	    @include grid(16,0,0);
	    padding: $base-padding*1.5 $base-padding $base-padding $base-padding;
	    color: $white;
				
		.nav-signup-login {
		    float: left;
			text-align: left;
			color: $color-deselect;
			white-space: nowrap;
				
			a {
			    padding: $base-padding/4 $base-padding/2;
				margin: 0 $base-margin/2;
				text-decoration: underline;
				text-decoration: none;
			    font-family: $font-family-heavy;
			    
				&:hover, &:active, &.is-active {
	            	color: $color-text;
	            	background-color: $white;
				}
			}
			
			.nav-signup {
				color: $white;
                background-color: $color-primary;
			}
			
			.nav-login {
				color: $white;
                background-color: $color-secondary;
			}
			
		}
		
	    .nav-switch-language {
	        float: right;
			white-space: nowrap;
			//font-size: $font-size-smallest;
			margin-top: $base-margin/2;
	        
	        li {
	        	display: inline;
	        	padding: 0 $base-padding/2;
	        	//border-right: 1px solid $color-deselect;
		        
		        &:last-child {
	            	border: none;
	            }
	            
	            > a {
	            	display: inline;
		            cursor: pointer;
		            color: $color-deselect;
		
					&:hover, &:active, &.is-active {
	                	color: $white;
					}
				}
	        }
	    }
		
		
	    .nav-member {
	    	position: relative;
	    	display: inline-block;
	    	
			.nav-member-dropdown {
				position: relative;
				z-index: 999;
				display: inline-block;
				height: 32px;
				
				color: $white;
				background: $color-secondary;
				
		        img {
		        	width: 33px;
					height: 33px;
					float: left;
					vertical-align: top;
		            border-width: 0 1px 1px 0;
		            border-style: solid;
		            border-color: $black;
		        }
		
		        strong {
					font-weight: 600;
		        	display: inline-block;
					padding: $base-margin/4 $base-padding;
					//@include rem(padding, 8px, 16px);
		        }
			}
	
		    .nav-member-dropdown-menu {
		    	font-family: $font-family-heavy;	
		    	display: none;
		        position: absolute;
		        z-index: 998;
		        top: 30px;
		        left: -2px;
		        width: 250px;
		        margin: 0;
		    	padding: 0;
		        background-color: $white;
		        border-width: 2px 2px 1px 2px;
		        border-style: solid;
		        border-color: $color-secondary;
		        
		        > li {
			        
			        > a {
				        display: block;
				        padding: $base-padding/2;
				        border-bottom: 1px solid $color-secondary;
				        color: $gray-darker;
				        text-decoration: none;
				        
				        &:hover {
					        color: $color-secondary;
				        }
			        }
			        
		        }
		        
		        .nav-member-switch-language {
			    	color: $white;
			    	font-weight: normal;
			    	background: $color-secondary;
			    	padding: $base-padding/2 $base-padding;
			    	
			    	.nav-language {	    		
			    		display: inline;
			    		
			    		li {
				    		display: inline;
				    		
				    		a {
				    			width: auto;
					    		display: inline-block;
					    		float: none;
					    		font-weight: 600;
					    		padding: $base-padding/4 $base-padding;
					    		background: $white;
					    		@include border-radius(8px);
					    		margin: 0 $base-margin/4;
				    		}
				    		
			                &.active a {
			                    color: $white;
			                    background: $gray-darker;
			                }
			            }
		    		}
					
				}       
		       
		    }
		    
		    &:hover {
			 
			 	.nav-member-dropdown {
		        	background-color: $white;
		        	color: $gray-darker;
					height: 34px;
					
					position: relative;
					left: -2px;
					top: -2px;
					
					border-width: 2px 2px 0 2px;
					border-style: solid;
					border-color: $color-secondary;
					
					.flaticon {
						color: $color-secondary;
					}
				}
								
	        	.nav-member-dropdown-menu {
			    	display: block !important;
				}
	        }
		    
		    .nav-cart {
		    	display: block;
		    	float: left;
		        font-weight: normal;
		        
		        .nav-cart-count {
		        	font-size: $font-size-smallest;
			        font-weight: 600;
			        display: inline-block;
			        width: 20px;
			        height: 20px;
			        line-height: 22px;
			        background: $white;
			        color: $gray-darker;
			        text-align: center;
			        @include border-radius(10px);
				}
		        
		        a {
		        	display: inline-block;
			    	color: $white;
					padding: $base-padding/2 0;
					
					&:hover, &:active {
						color: $color-primary;
						
						.nav-cart-count {
							color: $white;
							background: $color-primary;
						}
					}
		        }
		    }
		}
	}
}
