{% load project_tags %}
{% load i18n %}

{# A HTML-snippet that can be included in static pages, displays a project #}

{# Required: project_id #}

{% get_project project_id as project %}


<div class="project-preview">
                    
    <figure class="image l-half">
	    <img src="{{ project.projectpitch.image.url }}" width="100%" alt="Photo" />
    </figure>

    <article class="project-info l-half">
        <div class="project-meta">
            <span class="project-location"><span class="flaticon solid location-pin-1"></span> {{project.projectplan.country.name}}</span>
            <span class="project-theme"><span class="flaticon solid tag-1"></span> {{project.projectplan.theme.name}}</span>
        </div>
        
        <h2 class="project-title">{{project.title}}</h2>
        <p class="project-description">{{project.projectpitch.pitch}}</p>
    </article>
    
    <div class="project-status l-full">
    
        {% if project.projectcampaign.deadline %}
        <div class="project-days-left l-one-third">
			<strong><span class="flaticon solid clock-1"></span> {{project.projectcampaign.nr_days_remaining}}</strong>
			<em>{% trans "days to go" %}</em>
		</div>
		{% endif %}
		
		<div class="project-fund l-one-third">
            <p class="project-fund-amount">
                <strong class="amount-donated">&euro;{{ project.projectcampaign.local_money_donated }}</strong>
                {% trans "of" %}
                <strong class="amount-asked">&euro;{{ project.projectcampaign.local_money_asked }}</strong>
                {% trans "raised" %}
            </p>
        
            <div class="project-fund-amount-slider"><strong style="width: 0%;" class="slider-progress is-in-progress"><em class="slider-percentage">0%</em></strong></div>
		</div>
        
        <div class="project-action l-one-third">
		    <a href='/en/#!/projects/{{ project.slug }}' class="btn btn-primary btn-iconed"><span class="flaticon solid wallet-1"></span> {% trans "Support" %}</a>
        </div>
        
	</div>
</div>