{% load project_tags %}
{% load i18n %}

{# A HTML-snippet that can be included in static pages, displays a project #}

{# Required: project_id #}

{% get_project project_id as project %}


<div class="project">

	<div class="project-top">
	
	    <figure class="media">
	        {% if project.projectpitch.image %}
	        <img src="{{ project.projectpitch.image.url }}" width="100%" alt="Photo" />
	        {% endif %}
	    </figure>
	
	    <article>
	        
	        <div class="project-meta">
	            <span class="location">
	            	<em class="flaticon solid location-pin-1"></em> {{project.projectplan.country.name}}
	            </span>
				{% if project.projectplan.theme %}
	            <span class="theme">
	                <em class="flaticon solid tag-1"></em> {{project.projectplan.theme.name}}
	            </span>
				{% endif %}
	
	        </div>
	        
	        <h2 class="project-title">
	            {{project.title}}
	        </h2>
	
	        <p class="project-description">
	            {{project.projectpitch.pitch}}
	        </p>
	        
	    </article>
	    
	</div>
	
	<div class="status-box">
	    <p class="donate-days-left">
			{% if project.projectcampaign.deadline %}
			<strong><em class="flaticon solid clock-1"></em> {{project.projectcampaign.nr_days_remaining}}</strong>
			<em>{% trans "days to go" %}</em>
			{% endif %}
		</p>
	
	    <div class="donate-status">
	        <p class="donate-amount">
	            <span class="donated">&euro;{{ project.projectcampaign.local_money_donated }}</span>
	            {% trans "of" %}
	            <span class="asked">&euro;{{ project.projectcampaign.local_money_asked }}</span>
	            {% trans "raised" %}
	        </p>
	        <span class="donate-slider"><strong style="width: {{ project.projectcampaign.percentage_funded }}%;" class="donate-progress is-in-progress"><em class="donate-percentage"></em></strong></span>
	    </div>
	
	    <div class="donate-call-to-action">
			<a href='/en/#!/projects/{{ project.slug }}' class="btn btn-primary btn-iconed">
			<em class="icon">&euro;</em> {% trans "Support" %}</a>
		</div>
		<div style='clear: both;'> </div>
		<div class="tasks-box">
			{% for task in project.get_open_tasks %}
			<div class="task">
			  <p>{{ task }}</p>
			  <a href='/en/#!/projects/{{ project.slug }}/tasks/{{ task.id }}' class="btn">
				  {% trans "Apply for task" %}</a>
			</div>
			{% endfor %}
		</div>
	</div>
</div>

