{% extends "base.html" %}

{% load i18n %}

{% load thumbnail %}

{% block htmltitle %}{{ block.super }} | {{ project }}{% endblock %}

{% block htmlheader %}
{{ block.super }}
{% endblock %}

{% block content %}
	<div class="row">
  		<div class="column grid_1">
			{% include "projects/widgets/tiny_viewer.html" %}
  		</div>
  		<div class="column grid_2">
			<h4>{% trans "Project" %}</h4>
			<h1>{{ project.title }}</h1>

			<h4>{% trans "Organization" %}</h4>
			<p>{{ project.organization.name }}</p>

			<h4>{% trans "Albums" %}</h4>
			{% comment %} Use a with statement in order to prevent double queries to the database upon calling album_set.all() {% endcomment %}
			{% with project.albums.all as albums %}
				{% if albums %}
					<ul>
						{% for album in albums %}
							<li><a href="{{ album.get_absolute_url }}">{{ album }}</a></li>
						{% endfor %}
					</ul>
				{% else %}
					{% trans "No albums for this project." %}
				{% endif %}
			{% endwith %}

			<h4>{% trans "Owner" %}</h4>
			{% with project.owner.get_profile as owner_profile %}

				{% thumbnail owner_profile.picture "72x72" crop="center" as picture %}
					<img src="{{ picture.url }}" height="{{ picture.height }}" width="{{ picture.width }}" title="{{ owner_profile }}">
				{% empty %}
					<img src="http://placehold.it/72x72" title="{{ owner_profile }}">
				{% endthumbnail %}

			{% endwith %}

			<h4>{% trans "Location" %}</h4>
			<p>
			{% if project.location %}
				{{ project.location }}
			{% else %}
				{% trans "Not specified." %}
			{% endif %}
			</p>

			<h4>{% trans "Costs" %}</h4>
			<p>
			{% if project.money_asked %}
				&euro; {{ project.money_asked }}</p>
			{% else %}
				{% trans "Not specified." %}
			{% endif %}
			</p>

 			<h4>{% trans "Themes" %}</h4>
			<ul>
				{% for theme in project.themes.all %}
					<li>{{ theme.name }}</li>
				{% empty %}
					<li><i>{% trans "None specified." %}</i></li>
				{% endfor %}
			</ul>

            <h4>{% trans "Supporters" %}</h4>
            <ul>
				{% for supporter in project.get_supporters %}
					<li>{{ supporter }}</li>
				{% empty %}
					{% comment %} TODO: Change this into a link to donate become the first supporter. {% endcomment %}
					<li><i>{% trans "None specified." %}</i></li>
				{% endfor %}
            </ul>

			<h4>{% trans "Tags" %}</h4>
			<ul>
				{% for tag in project.tags.all %}
					<li>{{ tag }}</li>
				{% empty %}
					<li><i>{% trans "None specified." %}</i></li>
				{% endfor %}
			</ul>

			<h4>{% trans "Description" %}</h4>
			<p>
				{% if project.planphase.description %}
					<span class="short">
						{{ project.planphase.description|truncatewords:50 }}
						<a href="" class="more">{% trans "More" %}</a>
					</span>
					<span class="long">
						{{ project.planphase.description }}
						<a href="" class="less">{% trans "Less" %}</a>
					</span>
				{% else %}
				    {% trans "Not specified." %}
				{% endif %}
			</p>

			<h4>{% trans "Funding needed for" %}</h4>
			<p>
				{% if project.planphase.what %}
					<span class="short">
						{{ project.planphase.what|truncatewords:50 }}
						<a href="" class="more">{% trans "More" %}</a>
					</span>
					<span class="long">
						{{ project.planphase.what }}
						<a href="" class="less">{% trans "Less" %}</a>
					</span>
				{% else %}
				    {% trans "Not specified." %}
				{% endif %}
			</p>

  		</div>
  		<div class="column grid_1">
			{% include "projects/widgets/phases.html" %}
			<br />  			
			{% include "projects/widgets/funding_needed.html" %}  			
  		</div>
	</div>

{% endblock %}

