{% extends "base.html" %}

{% block htmltitle %}{{ block.super }} | {{ project }}{% endblock %}

{% block htmlheader %}
{{ block.super }}
{% endblock %}

{% block content %}
	<div class="row">
  		<div class="column grid_1">
			{% include "projects/widgets/tiny_viewer.html" %}
  		</div>
  		<div class="column grid_2">
			<h4>Project</h4>
			<h1>{{ project.title }}</h1>

			<h4>Organization</h4>
			<p>{{ project.organization.name }}</p>

			<h4>Location</h4>
			<p>{{ project.location }}</p>

			<h4>Costs</h4>
			<p>&euro; {{ project.money_asked }}</p>

 			<h4>Categories</h4>
			<ul>
				{% for category in project.categories.all %}
					<li>{{ category.name }}</li>
				{% empty %}
					<li><i>none</i></li>
				{% endfor %}
			</ul>

            <h4>Supporters</h4>
            <ul>
                    {% for supporter in project.get_supporters %}
                            <li>{{ supporter }}</li>
                    {% endfor %}
            </ul>

         	<h1>Tags</h1>
            <ul>
                {% for tag in project.tags.all %}
                    <li>{{ tag }}</li>
                {% endfor %}
            </ul>

			<h4>Description</h4>
			<p>
				<span class="short">
					{{ project.planphase.description|truncatewords:50 }}
					<a href="" class="more">more</a>
				</span>
				<span class="long">
					{{ project.planphase.description }}
					<a href="" class="less">less</a>
				</span>
			</p>

			<h4>Funding needed for</h4>
			<p>
				<span class="short">
					{{ project.planphase.what|truncatewords:50 }}
					<a href="" class="more">more</a>
				</span>
				<span class="long">
					{{ project.planphase.what }}
					<a href="" class="less">less</a>
				</span>
			</p>

  		</div>
  		<div class="column grid_1">
			{% include "projects/widgets/phases.html" %}
			<br />  			
			{% include "projects/widgets/funding_needed.html" %}  			
  		</div>
	</div>

{% endblock %}

