{% extends "base.html" %}

{% load thumbnail %}

{% block htmltitle %}{{ block.super }} | {{ project }}{% endblock %}

{% block htmlheader %}
{{ block.super }}
{% endblock %}

{% block content %}
	<div class="row">
  		<div class="column grid_1">
			{% include "projects/widgets/tiny_viewer.html" %}
  		</div>
  		<div class="column grid_2">
			<h4>Project</h4>
			<h1>{{ project.title }}</h1>

			<h4>Organization</h4>
			<p>
			{% if project.organization.name %}
				{{ project.organization.name }}
			{% else %}
				<i>none</i>
			{% endif %}
			</p>

			<h4>Owner</h4>
			{% with project.owner.get_profile as owner_profile %}

				{% thumbnail owner_profile.picture "72x72" crop="center" as picture %}
					<img src="{{ picture.url }}" height="{{ picture.height }}" width="{{ picture.width }}" title="{{ owner_profile }}">
				{% empty %}
					<img src="http://placehold.it/72x72" title="{{ owner_profile }}">
				{% endthumbnail %}

			{% endwith %}

			<h4>Location</h4>
			<p>
			{% if project.location %}
				{{ project.location }}
			{% else %}
				<i>none</i>
			{% endif %}
			</p>

			<h4>Costs</h4>
			<p>
			{% if project.money_asked %}
				&euro; {{ project.money_asked }}</p>
			{% else %}
				<i>none</i>
			{% endif %}
			</p>

 			<h4>Categories</h4>
			<ul>
				{% for category in project.categories.all %}
					<li>{{ category.name }}</li>
				{% empty %}
					<li><i>none</i></li>
				{% endfor %}
			</ul>

            <h4>Supporters</h4>
            <ul>
				{% for supporter in project.get_supporters %}
					<li>{{ supporter }}</li>
				{% empty %}
					{% comment %} TODO: Change this into a link to donate become the first supporter. {% endcomment %}
					<li><i>none</i></li>
				{% endfor %}
            </ul>

			<h4>Tags</h4>
			<ul>
				{% for tag in project.tags.all %}
					<li>{{ tag }}</li>
				{% empty %}
					<li><i>none</i></li>
				{% endfor %}
			</ul>

			<h4>Description</h4>
			<p>
				{% if project.planphase.description %}
					<span class="short">
						{{ project.planphase.description|truncatewords:50 }}
						<a href="" class="more">more</a>
					</span>
					<span class="long">
						{{ project.planphase.description }}
						<a href="" class="less">less</a>
					</span>
				{% else %}
					<i>none</i>
				{% endif %}
			</p>

			<h4>Funding needed for</h4>
			<p>
				{% if project.planphase.what %}
					<span class="short">
						{{ project.planphase.what|truncatewords:50 }}
						<a href="" class="more">more</a>
					</span>
					<span class="long">
						{{ project.planphase.what }}
						<a href="" class="less">less</a>
					</span>
				{% else %}
					<i>none</i>
				{% endif %}
			</p>

  		</div>
  		<div class="column grid_1">
			{% include "projects/widgets/phases.html" %}
			<br />  			
			{% include "projects/widgets/funding_needed.html" %}  			
  		</div>
	</div>

{% endblock %}

