{% extends "base.html" %}

{% load i18n %}

{% block htmltitle %}{{ block.super }} | {% trans "Projects" %}{% endblock %}

{% block htmlheader %}
{{ block.super }}
{% endblock %}

{% block content %}
<h1 id="projects">{% trans "Projects" %}</h1>

<ul>
{% for project in project_list %}
    {% comment %}
        Let's do money_donated calculation here...
    {% endcomment %}
	<li><a href="{{ project.get_absolute_url }}">{{ project }}</a> {{ project.money_donated }}</li>
{% endfor %}
</ul>

{% endblock %}
