{% extends "base.html" %}

{% load i18n %}

{% block htmltitle %}{{ block.super }} | {{ project }}{% endblock %}

{% block htmlheader %}
{{ block.super }}
{% endblock %}

{% block content %}
<div class="row">
	<div class="column grid_3">
		<div class="relative">
			<div id="bigmap"></div>
			<div id="maploading" class="hidden">
			    {% trans "Loading projects" %}
			</div>
		</div>
	</div>
	<div class="column grid_1">
		<div class="widget">
			{% include "projects/widgets/info_small.html" %}
		</div>
	</div>
</div>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="{{ STATIC_URL }}global/js/bluemap.js"></script>

<script type="text/javascript">
	var map = new BlueMap('bigmap', {
		slug : '{{ project.slug}}',
		latitude : '{{ project.latitude }}',
		longitude : '{{ project.longitude }}'
	}).showProjects(); 
</script>

{% endblock %}