{% extends "base.html" %}

{% load thumbnail %}

{% block htmltitle %}{{ block.super }} | {{ project }}{% endblock %}

{% block htmlheader %}
{{ block.super }}
{% endblock %}

{% block content %}
	<h1 id="home">{{ project.title }}</h1>
	<table>
		<tr>
			<td>
				<div class="profile-image">
					{% thumbnail project.image "200x200" crop="center" as picture %}
						<img src="{{ picture.url }}" height="{{ picture.height }}" width="{{ picture.width }}" title="{{ project.title }}">
					{% endthumbnail %}
				</div>
			</td>
		</tr>
	</table>
{% endblock %}
