{% extends "base.html" %}

{% load thumbnail %}

{% block htmltitle %}{{ block.super }} | {{ project }}{% endblock %}

{% block htmlheader %}
{{ block.super }}
{% endblock %}

{% block content %}
	<div class="row">
  		<div class="column grid_1">
			<div class="profile-image">
				{% thumbnail project.image "200x200" crop="center" as picture %}
					<img src="{{ picture.url }}" height="{{ picture.height }}" width="{{ picture.width }}" title="{{ project.title }}">
				{% empty %}
					<img src="http://placehold.it/200x200" title="{{ project.title }}">
				{% endthumbnail %}
			</div>
  		</div>
  		<div class="column grid_2">
			<h4>Project</h4>
			<h1>{{ project.title }}</h1>

			<h4>Organization</h4>
			<p>{{ project.organization.name }}</p>

			<h4>Owner</h4>
			{% with project.owner.get_profile as owner_profile %}

				{% thumbnail owner_profile.picture "72x72" crop="center" as picture %}
					<img src="{{ picture.url }}" height="{{ picture.height }}" width="{{ picture.width }}" title="{{ owner_profile }}">
				{% empty %}
					<img src="http://placehold.it/72x72" title="{{ owner_profile }}">
				{% endthumbnail %}

			{% endwith %}


			<h4>Location</h4>
			<p>{{ project.location }}</p>

			<h4>Costs</h4>
			<p>&euro; {{ project.planphase.money_asked }}</p>

 			<h4>Categories</h4>
			<ul>
				{% for category in project.categories.all %}
					<li>{{ category.name }}</li>
				{% endfor %}
			</ul>

			<h4>Supporters</h4>
			<ul>
				{% for supporter in project.get_supporters %}
					<li>{{ supporter }}</li>
				{% endfor %}
			</ul>
 		</div>
  		<div class="column grid_1">
  		</div>
	</div>

	<script>
		$(document).ready(function(){
			BlueApp.views.load([
				{
					container: '#midpanel',
					//method: 'replace',
					//lifetime: 60,
					'widgets' : [
						{
							name: 'RecentProjects',
							//lifetime: 60,
						},
						{
							name: 'New',
						}]
				}
			]);

		})

	</script>
{% endblock %}
