<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Backbone Cellar</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
    <link href="/static/global/css/bootstrap.css" rel="stylesheet">
    <link href="/static/global/css/styles.css" rel="stylesheet">
    <link href="/static/global/css/docs.css" rel="stylesheet">
</head>

<body data-spy="scroll" data-target=".subnav" data-offset="50">

<div class="header"></div>

<div class="container">
    <div class="row">
        <div id="list" class="span12>"></div>
        <div id="details" class="span12>"></div>
    </div>
</div>

<script src="/static/global/js/lib/jquery-1.7.2.min.js"></script>
<script src="/static/global/js/lib/underscore-min.js"></script>
<script src="/static/global/js/lib/backbone-min.js"></script>
<script src="/static/global/js/lib/bootstrap.js"></script>
<script src="/static/global/js/lib/backbone-tastypie.js"></script>


<script src="/static/global/js/utils.js"></script>
<script src="/static/global/js/models/projects.js"></script>
<script src="/static/global/js/views/paginator.js"></script>
<script src="/static/global/js/views/header.js"></script>
<script src="/static/global/js/views/projectlist.js"></script>
<script src="/static/global/js/views/projectdetails.js"></script>
<script src="/static/global/js/views/about.js"></script>
<script src="/static/global/js/app.js"></script>

</body>
</html>
