{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}

{% tplhandlebars "cheetah/areyou" %}
	<div class="l-section" id="cheetah-areyou">
		<div class="l-wrapper">
			<div class="row areyou">
				<div class="col6">
					<h2>{% trans 'Are you A Cheetah?'%}</h2>
				</div>
				<div class="col6">
					<a {{action 'goTo' '#cheetah-quiz'}} class="btn start-cheetah">{% trans 'Take The Cheetah Test'%}</a>
				</div>
			</div>
		</div>
	</div>
{% endtplhandlebars %}