{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}

{% tplhandlebars "cheetah/cheetah_video" %}
    <div class="l-section" id="cheetah-video">
        <div class="l-wrapper">
            <div class="row">
                <div class="col9">
                    <div class="video-heading">
                        <span class="cheetah-icon-big"></span>
                        <span class="cheetah-content">
                            <h1>{% trans 'The Cheetah Fund'%}</h1>
                            <span>{% trans 'Supporting Pioneers in Africa'%}</span>
                        </span>
                    </div>
                </div>
                <div class="col3">
                    <div class="postcodeloterij">
                        <div class="col5 img">
                            <a href="https://onepercentclub.com/nl/#!/news/nationale-postcode-loterij-kiest-voor-innovatieve-" target="_blank"></a>
                        </div>
                        <div class="col7 content">
                            {% trans 'The Cheetah Fund is powered by the Dutch National Postcode Lottery'%}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row video-intro">
                <div class="col6">
                    <h2>
                        {% trans 'Due to overwhelming success we can no longer accept any new applications for the Cheetah Fund'%}
                    </h2>
                    <a class="btn start-cheetah">
                        {% trans "Start a Cheetah Campaign (closed)" %}
                    </a>
                </div>
                <div class="col6">
                    <div class="cheetah-video-holder">
                        <iframe src="//player.vimeo.com/video/105216065" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                    {{!-- <img src="/static/assets/images/cheetah/video/video-still.jpg" alt="Cheetah Fund"> --}}
                </div>
            </div>
        </div>
    </div>
{% endtplhandlebars %}
