{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}

{% tplhandlebars "cheetah/faq" %}
    <div class="l-section" id="cheetah-faq">
        <div class="l-wrapper">
            <div class="row">
                <div class="col12">
                    <h1>Frequently Asked Questions</h1>
                </div>
            </div>
        </div>
    </div>
{% endtplhandlebars %}