{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}

{% tplhandlebars "cheetah/how_to_get_funded" %}
    <div class="l-section" id="cheetah-get-funded">
        <div class="l-section">
            <div class="l-wrapper">
                <div class="row">
                    <div class="col12">
                        <div class="get-funded-heading">
                            <h1>{% trans 'How to get funded'%}</h1>
                            <h2>{% trans 'It’s easy! Just follow these three steps.'%}</h2>
                        </div>
                    </div>
                </div>
                <div class="row funded-items">
                    <div class="col4">
                        <div class="funded-item-number">
                            <span>1</span>
                        </div>
                        <div class="funded-item-content">
                            <strong>{% trans 'Get ready and start a crowdfunding campaign'%}</strong>
                            <p>
                            {% blocktrans %}
                                Create a cheetah campaign with a catchy title, explain what your project is all about, upload a photo or video and get ready to start campaigning!
                            {% endblocktrans %}
                            </p>
                        </div>
                    </div>
                    <div class="col4">
                        <div class="funded-item-number">
                            <span>2</span>
                        </div>
                        <div class="funded-item-content">
                            <strong>
                            {% blocktrans %}
                                Crowdfund 30% in 30 days. <br> Run Cheetah Run…
                            {% endblocktrans %}
                            </strong>
                            <p>
                            {% blocktrans %}
                                Get as many people as possible to support your campaign. Organise creative fundraise activities to mobilise your family, friends, your friends’ friends and everybody else in your network.
                            {% endblocktrans %}
                            </p>
                        </div>
                    </div>
                    <div class="col4">
                        <div class="funded-item-number">
                            <span>3</span>
                        </div>
                        <div class="funded-item-content">
                            <strong>{% trans 'Celebrate your success and get funded!'%}</strong>
                            <p>
                                {% blocktrans %}
                                    Did you make the deadline? Congratulations! It’s time to celebrate because the Cheetah Fund will grant you the remaining amount. You’re now on your way to change the world with your awesome project.
                                {% endblocktrans %}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col12 start-cheetah">
                        <a class="btn start-cheetah">
                            {% trans "Start a Cheetah Campaign (closed)" %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endtplhandlebars %}
