{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}

{% tplhandlebars "cheetah/menu" %}
    <div id="cheetah-header">
        <div class="l-wrapper">
            <div class="row">
                <ul class="cheetah-nav">
                    <li></li>
                    <li><a {{action 'goTo' '#cheetah-video' target='view'}}>Who Can Join?</a></li>
                    <li><a {{action 'goTo' '#cheetah-get-funded' target='view'}}>How To Get Funded</a></li>
                    <li><a {{action 'goTo' '#cheetah-faq' target='view'}}>FAQ</a></li>
                    <li><a {{action 'goTo' '#cheetah-about' target='view'}}>About The Fund</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endtplhandlebars %}
