{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}

{% tplhandlebars "cheetah/menu" %}
    <div id="cheetah-header">
        <div class="l-wrapper">
            <div class="row">
                <ul class="cheetah-nav">
                    <li></li>
                    <li><a href="#">Who Can Join?</a></li>
                    <li><a href="#">How To Get Funded</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">About The Fund</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endtplhandlebars %}
