{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}

{% tplhandlebars "cheetah_faq" %}
    <div class="l-section" id="cheetah-faq">
        <div class="l-wrapper">
            <div class="row">
                <div class="col12">
                    <h1>{% trans 'Frequently Asked Questions' context 'cheetah faq'%}</h1>
                </div>
            </div>
            <div class="row">
            	<div class="col6">
            		<ul class="faq-list">
            			<li class="faq-question">
            				<a>{% blocktrans %}Why do you need to crowdfund 30% in 30 days?{% endblocktrans %}</a>
            				<span class="faq-answer">
            					{% blocktrans %}
									We ask everyone to crowdfund the first 30% themselves because we believe that anyone who manages to do so, is not only eager to get their project off the ground but can also motivate others to support their campaign. And we want to support those pioneers by matching their funds!
            					{% endblocktrans %}
            				</span>
        				</li>
            			<li class="faq-question">
            				<a>{% trans 'How do I make sure I organise a successful crowdfunding campaign?' %}</a>
            				<span class="faq-answer">
            					{% blocktrans %}
									Crowdfunding is about mobilising your network. By getting your friends and family involved, you will create a snowball effect and have a greater network to promote your campaign with. <br/> To help you get ready, we have an online crowdfunding
            					{% endblocktrans %}
                                <a href="{% static "images/cheetah/crowdfunding-toolkit.pdf" %}" target="_blank">{%trans 'toolkit'%}</a>
                                {% trans 'with the best tips & tricks for campaigning'%}
            				</span>
        				</li>
            			<li class="faq-question">
            				<a>{% trans 'How many times can I join the Cheetah Fund?'%}</a>
            				<span class="faq-answer">
            					{% blocktrans %}
									We want to offer as many African pioneers as possible the chance to join the Cheetah Fund so that we can ignite a widespread wave of social and environmental change throughout Africa. That’s why you can join the Cheetah Fund once and with one project only.
            					{% endblocktrans %}
            				</span>
        				</li>
            			<li class="faq-question">
            				<a>{% trans 'Until when can I join the Cheetah Fund?'%}</a>
            				<span class="faq-answer">
            					{% blocktrans %}
            						The Cheetah Fund is granting funds from September 1st 2014 until December 31st 2014.
            					{% endblocktrans %}
            				</span>
        				</li>
                        <li class="faq-question">
                            <a>{% trans 'Why do you use the Euro as the currency instead of the Dollar?' %}</a>
                            <span class="faq-answer">
                                {% blocktrans %}
                                    Because the Cheetah Fund is a Dutch programme and the Netherlands has the Euro as its currency, we’ve decided to use it for the Cheetah Fund as well. 
                                    But to give you an indication: &euro;1 = &dollar;1.25 and the maximum of &euro;10,000 that you can ask for amounts to about &dollar;12,500.
                                {% endblocktrans %}
                            </span>
                        </li>
            		</ul>
            	</div>
            	<div class="col6">
            		<ul class="faq-list">
            			<li class="faq-question">
            				<a>{% trans 'When and how do I get paid once the 30 days are over?' %}</a>
            				<span class="faq-answer">
            					{% blocktrans %}
									After 30 days, the Cheetah Fund will close the campaign and set up the payment. Please make sure the bank account details you’ve listed for your campaign are correct. We will strive to transfer the money within the following 30 days.
            					{% endblocktrans %}
            				</span>
        				</li>
            			<li class="faq-question">
            				<a>{% blocktrans %}I did not manage to crowdfund 30% in 30 days. What will happen with the money donated to my project?{% endblocktrans %}</a>
            				<span class="faq-answer">
            					{% blocktrans %}
									If the amount adds up to more than &euro;20, you will still receive the money that has been donated to your project. 
            					{% endblocktrans %}
            				</span>
        				</li>
            			<li class="faq-question">
            				<a>{% trans 'I would like to support a Cheetah campaign. How do I make a donation?' %}</a>
            				<span class="faq-answer">
            					{% blocktrans %}
									To make a donation, go to <a href="http://cheetah-fund.org">www.cheetah-fund.org</a> and select the campaign you’d like to support. Click on the ‘support’ button, select an amount and choose your payment method to finalise your payment. 
            					{% endblocktrans %}
            				</span>
        				</li>
        				<li class="faq-question">
            				<a>{% trans 'How do you handle fraud?'%}</a>
            				<span class="faq-answer">
            					{% blocktrans %}
									If we suspect fraud we will take appropriate action and if needed, the Cheetah Fund holds the right to deny payment. For more details about our actions regarding fraud, we refer you to our General Terms and Conditions.
            					{% endblocktrans %}
            				</span>
        				</li>
        				<li class="faq-question">
            				<a>{% trans 'What are your General Terms and Conditions?'%}</a>
            				<span class="faq-answer">
            					{% trans 'You can find our General Terms and Conditions' %} {{#linkTo 'page' 'terms-and-conditions' target="blank" }}here{{/linkTo}}
            				</span>
        				</li>
            		</ul>
            		<div class="unanswered">
            			{% trans 'Still have a question? ' %} <a href="mailto:run@cheetah-fund.org">{% trans 'Contact us'%}!</a>
            		</div>
            	</div>
            </div>
        </div>
    </div>
{% endtplhandlebars %}