{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}

{% tplhandlebars "cheetah_faq" %}
    <div class="l-section" id="cheetah-faq">
        <div class="l-wrapper">
            <div class="row">
                <div class="col12">
                    <h1>{% trans 'Frequently Asked Questions'%}</h1>
                </div>
            </div>
            <div class="row">
            	<div class="col6">
            		<ul class="faq-list">
            			<li class="faq-question">
            				<a>{% trans 'Why do you need to crowdfund 30% in 30 days?'%}</a>
            				<span class="faq-answer">
            					{% blocktrans %}
									We ask everyone to crowdfund the first 30% themselves because we believe that anyone who manages to do so, is not only eager to get their project off the ground but can also motivate others to support their campaign. And we want to support those pioneers by matching their funds!
            					{% endblocktrans %}
            				</span>
        				</li>
            			<li class="faq-question">
            				<a>{% trans 'How do I make sure I organise a successful crowdfunding campaign?' %}</a>
            				<span class="faq-answer">
            					{% blocktrans %}
									Crowdfunding is about mobilising your network. By getting your friends and family involved, you will create a snowball effect of an expanding network of people to promote your campaign with. To help you get ready to crowdfund like crazy, we have a crowdfunding toolkit available online containing all the tips & tricks to successful campaigning. It’s not easy, but we all know that hard work pays off. So go for it!
            					{% endblocktrans %}
            				</span>
        				</li>
            			<li class="faq-question">
            				<a>{% trans 'How many times can I join the Cheetah Fund?'%}</a>
            				<span class="faq-answer">
            					{% blocktrans %}
									We want to offer as many African pioneers as possible the chance to join the Cheetah Fund so that we can ignite a widespread wave of social and environmental change throughout Africa. That’s why you can join the Cheetah Fund once and with one project only.
            					{% endblocktrans %}
            				</span>
        				</li>
            			<li class="faq-question">
            				<a>{% trans 'Until when can I join the Cheetah Fund?'%}</a>
            				<span class="faq-answer">
            					{% blocktrans %}
            						The Cheetah Fund is granting funds from September 1st 2014 until December 31st 2014. For more information, see our General Terms and Conditions.
            					{% endblocktrans %}
            				</span>
        				</li>
            		</ul>
            	</div>
            	<div class="col6">
            		<ul class="faq-list">
            			<li class="faq-question">
            				<a>{% trans 'When and how do I get paid once the 30 days are over?' %}</a>
            				<span class="faq-answer">
            					{% blocktrans %}
									After 30 days, the Cheetah Fund will close the campaign and set up the payment. Please make sure the bank account details you’ve listed for your campaign are correct. We will strive to transfer the money within the following 30 days.
            					{% endblocktrans %}
            				</span>
        				</li>
            			<li class="faq-question">
            				<a>{% trans 'I did not manage to crowdfund 30% in 30 days. What will happen with the money donated to my project thus far?'%}</a>
            				<span class="faq-answer">
            					{% blocktrans %}
									If you didn’t manage to crowdfund 30% in 30 days you will still receive the money that has been donated to your project should it add up to more than €20. After all, you’ve worked hard for it and we’d still like to see you change the world with your awesome project!
            					{% endblocktrans %}
            				</span>
        				</li>
            			<li class="faq-question">
            				<a>{% trans 'I would like to support a Cheetah campaign. How do I make a donation?' %}</a>
            				<span class="faq-answer">
            					{% blocktrans %}
									To make a donation, go to <a href="http://cheetah-fund.org">www.cheetah-fund.org</a> and select the campaign you’d like to support. Click on the ‘support’ button, select an amount and choose your payment method to finalise your payment. 
            					{% endblocktrans %}
            				</span>
        				</li>
        				<li class="faq-question">
            				<a>{% trans 'How do you handle fraud?'%}</a>
            				<span class="faq-answer">
            					{% blocktrans %}
									If we suspect you’re committing fraud, we will ask you for information to prove the project actually exists. Should you fail to do so, the Cheetah Fund holds the right to deny you the payment. For more information about our actions regarding fraud, we refer you to our General Terms and Conditions.
            					{% endblocktrans %}
            				</span>
        				</li>
        				<li class="faq-question">
            				<a>{% trans 'What are your General Terms and Conditions?'%}</a>
            				<span class="faq-answer">
            					{% blocktrans %}
            						You can find our General Terms and Conditions <a href="#">here</a>
            					{% endblocktrans %}
            				</span>
        				</li>
            		</ul>
            		<div class="unanswered">
            			{% trans 'Is your question unanswered? You can' %} <a href="#">{% trans 'contact us'%}</a>
            		</div>
            	</div>
            </div>
        </div>
    </div>
{% endtplhandlebars %}