{% extends "admin_tools/dashboard/module.html" %}
{% load i18n humanize %}
{% block module_content %}
<div class="dashboard-module-content">
    <p>
        {% blocktrans %}
            Recently funded projects that are now in 'act' phase.
        {% endblocktrans %}
    </p>
</div>
<ul>
    {% spaceless %}
    {% for project in module.children %}
    <li class="{% cycle 'odd' 'even' %}">
        <span class="float-right">{{ project.date_funded|date }}</span>
        <a href="{{ admin_url }}projects/project/{{ project.id }}" >{{ project.title }}</a>
    </li>
    {% endfor %}
    {% endspaceless %}
</ul>
{% endblock %}