#cheetah-fund {
	padding-top: 100px;
	margin-bottom: -40px; // reset 
	background: white;
	font-family: $font-family-body;

		.scroll-more-loader {
			display: none;
			margin-top: 40px;
			width: 100%;
			border-top: solid 1px #e9e9e9;
			height: 100px;

			.loader {
				display: block;
				position: relative;
				width: 65px;
				height: 65px;
				background: white;
				border-radius: 50%;
				margin: auto;
				margin-top: -32px;
				border: solid 1px #C3C3C3;

				.load {
					position: absolute;
					height: 32px;
					width: 32px;
					background: image-url("more-loader.gif") transparent no-repeat 0 0;
					margin: 16px;
				}
			}

			&.is-active {
				display: block;
				@include animation(fadeInDownBig .4s ease-in-out);
			}
		}

		.click-more-loader {
			display: none;
			position: relative;
			margin: 30px 0 50px 0;
			width: 100%;
			height: 52px;
			text-align: center;

			.btn {
				min-width: 250px;
			}

			&.is-active {
				display: block;
				@include animation(fadeInDownBig .4s ease-in-out);
			}
		}


	&.cheetah-fund-campaigns {
		padding-top: 0;
	}

	h1, h2, h3, h4, h5 {
		font-family: $font-family-garage;	
	}

	h1 {
		color: $color-secondary;
		font-size: 36px;
		text-transform: none;
	}
	
	h2 {
		color: $color-primary;
		font-size: 24px;
		line-height: 38px;
		text-transform: none;
	}

	.sub-heading {
		font-family: $font-family-avant;
		margin-bottom: 12px;
	}
	
	a {
		text-decoration: none;
		color: $black;
	}
	
	input {
		line-height: 30px;
		border-radius: 6px;
		padding-left: 40px;
		border: solid 1px #ccc;
	}

	.l-wrapper {
		position: relative;
		padding: 0 1em;
		min-width: 400px !important;
		max-width: 1200px;
		margin: 0 auto;
		height: 100%;
	}

	.l-section {
		width: 100%;
		min-width: 400px !important;
		max-width: 100%;
	}

	.btn {
		font-size: 34px;
		position: relative;
		display: inline-block;
		background: $color-secondary;
		padding: 0em 0.6em;
		vertical-align: center;
		border-radius: 8px;
		color: #fff;
		font-family: $font-family-garage;
		font-weight: 700;
		border: none;
		text-transform: uppercase;
		@include box-shadow(none);
		cursor: pointer;
		
		&:hover {
			@include box-shadow(none);
			background: $color-primary;
		}

		&.btn-trans {
			background: none;
			color: $color-purple;

			&:after {
				position: absolute;
				top: 21px;
				right: 0;
				content: '';
				width: 12px;
				height: 9px;
				background: image-url("/static/assets/images/cheetah/icons/icon-arrow-down.svg") no-repeat;	
			}

			&:hover {
				background: transparent;
			}
		}
	}

	#cheetah-in-class {
		background: image-url("/static/assets/images/cheetah/in-class.jpg") no-repeat;
		background-size: cover;
		width: 100%;
		height: 277px;
	}
}