// ========================= Variables ==================================
// SET YOUR EDITOR TO USING TABS AND TAB SIZE OF 4 FOR PROPER ALIGNMENT
// OF THE VARIABLES BELOW


// Grays
// --------------------------------

$black                                                     : #000; 
$gray-darkest                                              : #222;     
$gray-darker                                               : #444;
$gray-dark                                                 : #666;
$gray                                                      : #999;
$gray-light                                                : #ccc;
$gray-lighter                                              : #e9e9e9;
$white                                                     : #fff;
                                                       
// Colors                                                       
// --------------------------------                             

$color-primary                                             : #ff619a; // Pink
$color-secondary                                           : #00c051; // Green
                                                                   
$color-error                                               : #b84040;
$color-success                                             : #5da423;
$color-deselect                                            : #bfbfbf;
                                                                
// Social                                                       
// ----------------------------------                           
                                                                
$facebook-blue                                             : #45619d;                  
$twitter-blue                                              : #33b9e2;
                                                                
// Typography                                                   
// --------------------------------                             
                                                                
$font-family                                               : 'Futura W01 Book', 'Trebuchet MS', Helvetica, Arial, sans-serif;
$font-family-heavy                                         : 'Futura W02 Heavy', 'Trebuchet MS', Helvetica, Arial, sans-serif;          
$font-family-bold                                          : 'Futura W01 Bold', 'Trebuchet MS', Helvetica, Arial, sans-serif;   
$font-family-small                                         : 'Trebuchet MS', Helvetica, Arial, sans-serif;
                                                                
$base-font-size                                            : 1em;
$base-font-family                                          : $font-family;
$base-line-height                                          : 1.5em;
                                                                
                                                                
// Scaffolding                                                  
// --------------------------------                             
                                                                
$body-background                                           : $white;
$color-heading                                             : $gray-darker; // use for text headings
$color-text                                                : $gray-darker; // use for text body
$color-text-light                                          : #f4f4f4; // use for text on dark
                                                                
                                                                
// Links                                                        
// --------------------------------                             
                                                                
$color-link                                                : $color-secondary;
$color-link-hover                                          : $color-primary;
                                                                
// Buttons                                                      
// ---------------------------------                            
                                                                
// Grid                                                         
// ---------------------------------                            
                                                                
$grid-columns                                              : 48;
$min-width                                                 : 980px;
$max-width                                                 : 1200px;
                                                                
                                                                
// Component sizing                                             
// ---------------------------------                            
$font-size-largest                                         : $base-font-size * 2.5;
$font-size-larger                                          : $base-font-size * 1.75;
$font-size-large                                           : $base-font-size * 1.25;
$font-size-medium                                          : $base-font-size * 1.225;
$font-size-small                                           : $base-font-size * 0.875;
$font-size-smallest                                        : $base-font-size * 0.75;
                                                                
$base-margin                                               : 1em;
$base-padding                                              : 1em;

// Type                                                     
// ----------------------------------                           

$type-body-color                                           : $color-text;
$type-dl-border-color                                      : $gray-light;
$type-dt-color                                             : $gray;

$type-hr-border-top-color                                  : $gray-light;
$type-hr-border-bottom-color                               : $white;

$type-abbr-border-color                                    : $gray-light;

$type-h1-color                                             : $color-primary;
$type-h1-em-color                                          : $color-secondary;
$type-h2-color                                             : $color-secondary;
$type-h3-color                                             : $color-heading;

$type-blockquote-border-color                              : $gray-lighter;
$type-blockquote-small-color                               : $gray-light;
                                                                
// Buttons                                                      
// ----------------------------------                           
                                                                
$button-color                                              : $white;
$button-bg-color                                           : $color-secondary;
$button-border-color                                       : darken($color-secondary, 5%);
                                                                
$button-active-color                                       : $gray-dark;
$button-active-bg-color                                    : $gray-darkest;
$button-active-border-color                                : $black;
                                                                
$button-iconed-icon-color                                  : lighten($color-secondary, 5%);
$button-iconed-icon-bg-color                               : darken($color-secondary, 5%);
                                                                
$button-iconed-active-icon-color                           : $gray-darker;
$button-iconed-active-icon-bg-color                        : darken($black, 5%);
                                                                
$button-iconed-hover-icon-color                            : $white;
$button-iconed-hover-icon-bg-color                         : #333;
                                                                
$button-hover-color                                        : $white;
$button-hover-bg-color                                     : $gray-darker;
$button-hover-border-color                                 : $black;

$button-primary-border-color                               : darken($color-primary, 5%);
$button-primary-bg-color                                   : $color-primary;
$button-primary-icon-color                                 : lighten($color-primary, 10%);
$button-primary-icon-bg-color                              : darken($color-primary, 5%);


$button-disabled-border-color                              : $gray-light;
$button-disabled-bg-color                                  : $gray-light;
$button-disabled-color                                     : $gray-lighter;

$button-disabled-icon-bg-color                             : darken($gray-light, 5%);
$button-disabled-icon-color                                : $gray-lighter;

// Dropdowns                                                    
// ----------------------------------                           
                                                                
$dropdown-bg-color                                         : $white;
$dropdown-border-color                                     : $color-secondary;
                                                                
// Forms                                                        
// --------------------------------                             
                                                                
$form-bg-color                                             : $gray-lighter;
$form-input-color                                          : $gray-darker;
$form-input-hover-focus-color                              : $gray-darker;
$form-input-hover-focus-border-color                       : $color-secondary;
$form-input-bg-color                                       : $white;
$form-input-border-color                                   : #bcbcbc;
$form-input-disabled-bg-color                              : $gray-lighter;

$form-legend-bg-color                                      : $white;
$form-legend-strong-color                                  : $color-secondary;

$form-fieldset-legend-bg-color                             : $gray-light;
$form-fieldset-legend-strong-color                         : $white;                                                                

$form-message-color                                        : $color-text-light;
$form-message-bg-color                                     : $color-secondary;
$form-message-close-color                                  : $color-text-light;
$form-message-close-hover-color                            : $white;
$form-message-error-color                                  : $white;
$form-message-error-bg-color                               : $color-error;

$form-tags-color                                           : $white;
$form-tags-bg-color                                        : $color-secondary;
$form-tags-delete-color                                    : $white;
$form-tags-delete-hover-color                              : $color-primary;
                                                                
$form-radio-select-label-color                             : $white;
$form-radio-select-label-bg-color                          : $gray-light;
$form-radio-select-label-border-color                      : darken($gray-light, 5%);
$form-radio-select-input-bg-color                          : $color-secondary;
$form-radio-select-input-border-color                      : darken($color-secondary, 5%);

$form-select-hover-border-color                            : $color-secondary;
$form-select-error-border-color                            : $color-error;

$form-placeholder-color                                    : $gray-light;
                                                                
// Modules                                                      
// ----------------------------------                           
                                                                
// Carousel                                                     
// ----------------------------------                           
                                                                
$carousel-bg-color                                         : $gray-darkest;
$carousel-nav-section-bg-color                             : $gray-lighter;
$carousel-nav-bg-color                                     : $gray-lighter;
                                                                
$carousel-nav-item-border-color                            : $white;
$carousel-nav-item-active-bg-color                         : $gray-lighter;
$carousel-nav-item-active-color                            : $white;

// Fund
// ----------------------------------                           

$fund-header-bg-color                                      : $gray-lighter; 
$fund-header-color                                         : $color-heading;                                                        
$fund-empty-icon-color                                     : $gray-lighter;
$fund-empty-legend-color                                   : $color-text;
$fund-empty-legend-strong-color                            : $color-primary;
$fund-empty-hover-icon-color                               : $gray;
$fund-empty-hover-strong-color                             : $color-secondary;

$fund-total-label-color                                    : $gray;
$fund-total-label-bg-color                                 : $gray-lighter;

$fund-total-amount-color                                   : $gray;
$fund-total-amount-bg-color                                : $gray-lighter;

$fund-tabs-vertical-selected-bg-color                      : $gray-lighter;

$fund-tab-content-bg-color                                 : $gray-lighter;

$thanks-header-bg-color                                    : $gray-lighter;
$thanks-share-link-color                                   : $color-text-light;
$thanks-share-link-hover-color                             : $white;
$thanks-share-link-hover-bg-color                          : $gray-darker;

$thanks-sidebar-heading-color                              : $color-secondary;
$thanks-sidebar-project-list-title-amount-color            : $gray;

// Home                                                     
// ----------------------------------                           
                                                                
$project-slider-bg-color                                   : $white;
$project-slider-buttons-color                              : $gray-lighter;
$project-slider-buttons-hover-color                        : $color-primary;

$home-quotes-bg-color                                      : $gray-lighter;
$home-quotes-title-em-color                                : $color-primary;
$home-quotes-article-bg-color                              : $white;
$home-quotes-article-quote-name-color                      : $color-secondary;
$home-quotes-article-content-color                         : $black;

$home-impact-list-color                                    : $gray;
$home-impact-list-strong-color                             : $gray-darker;

// Projects
// ----------------------------------

// project detail
$projects-project-meta-color                               : $color-secondary;
$projects-project-days-left-color                          : $gray-dark;
$projects-project-days-left-icon-color                     : $gray-light;
$projects-project-fund-amount-color                        : $gray-dark;
$projects-project-fund-amount-slider-bg-color              : $gray-lighter;
$projects-project-fund-amount-slider-progress-color        : $white;
$projects-project-fund-amount-slider-progress-bg-color     : $color-secondary;
$projects-project-fund-amount-control-bg-color             : $color-secondary;
$projects-project-fund-amount-control-currency-color       : $color-text;
$projects-project-fund-amount-control-label-color          : $white;
$projects-project-fund-amount-divided-amount-color         : $gray;
$projects-project-fund-amount-color                        : $gray-light;
$projects-tasks-task-border-color                          : $gray-light;
$projects-tasks-task-bg-color                              : $gray-dark;
$projects-tasks-task-status-bg-color                       : $gray-light;
$projects-tasks-task-status-color                          : $gray-dark;
$projects-tasks-task-content-color                         : $gray-light;
$projects-tasks-task-content-task-name                     : $white;

// project - search results
$projects-project-item-bg-color                            : $gray-lighter;
$projects-project-item-border-color                        : $gray;
$projects-project-item-border-hover-color                  : $black;
$projects-project-item-header-bg-color                     : $black;
$projects-project-item-title-color                         : $white;
$projects-project-item-status-bg-color                     : $gray-lighter;
$projects-project-item-status-color                        : $gray-darker;
$projects-project-item-fund-amount-slider-bg-color         : $white;
$projects-project-item-project-description-color           : $gray-lighter;
$projects-project-item-project-view-bg-color               : $color-secondary;
$projects-project-item-tasks-bg-color                      : $white;
$projects-project-item-tasks-border-color                  : $gray-lighter;
$projects-project-item-tasks-color                         : $gray;
$projects-project-item-tasks-strong-color                  : $gray-darker;
$projects-project-item-tasks-hover-color                   : $gray-darker;

// my projects list
$projects-project-list-bg-color                            : $white;
$projects-project-list-listitem-border-left-right-color    : $white;
$projects-project-list-listitem-border-bottom-color        : $gray-lighter;
$projects-project-list-listitem-bg-color                   : $gray-lighter;
$projects-project-list-listitem-project-title-color        : $color-heading;
$projects-project-list-listitem-project-subtitle-color     : $gray;
$projects-project-list-listitem-project-meta-color         : $gray;
$projects-project-list-listitem-project-action-color       : $gray;
$projects-project-list-listitem-highlight-color            : $gray-lighter;
$projects-project-list-listitem-highlight-header-color     : $color-primary;
$projects-project-list-listitem-first-top-border-color     : $white;
$projects-project-list-listitem-last-bottom-border-color   : $white;

// Media                                                        
// ----------------------------------                           
                                                                
$media-photo-viewer-image-border-color                     : $white;
$media-photo-viewer-image-hover-border-color               : $color-primary;
$media-photo-viewer-more-color                             : $white;
$media-photo-viewer-more-bg-color                          : color-secondary;
                                                                
// Members                                                      
// ----------------------------------                           
                                                                
$members-member-avatar-bg-color                            : $gray-lighter;
$members-member-avatar-color                               : $color-text-light;
$members-member-avatar-color                               : $color-text-light;
$members-member-organisation-created-color                 : $gray;
$members-member-list-title-color                           : $color-text-light;
$members-member-list-title-em-color                        : $gray-light;
$members-member-list-supporters-member-color               : $color-text;
$members-member-list-supporters-member-strong-color        : $color-primary;
$members-member-list-fundraisers-member-image-border-color : $white;
$members-member-list-fundraisers-member-title-color        : $color-secondary;
$members-member-list-fundraisers-fund-amount-color         : $gray;
$members-member-list-fundraisers-fund-amount-strong-color  : $gray-darker;
$members-member-list-fundraisers-become-color              : $color-primary;

// Modals                                                       
// ----------------------------------                           
                                                                
$modal-backdrop-bg-color                                   : $black;
$modal-backdrop-opacity                                    : 0.85;
$modal-bg-color                                            : $white;
$modal-close-color                                         : $gray;
$modal-close-bg-color                                      : $gray-lighter;
$modal-close-hover-color                                   : $gray-dark;
$modal-header-color                                        : $color-primary;
$modal-footer-bg-color                                     : $gray-lighter;
$modal-footer-link-color                                   : $color-secondary;
$modal-footer-link-hover-color                             : $color-text;
                                                                
// Popovers                                                     
// ----------------------------------                           
                                                                
$popover-bg-color                                          : $gray-lighter;
$popover-border-color                                      : $gray-lighter;
$popover-title-color                                       : $color-primary;
$popover-content-color                                     : $color-text;
$popover-arrow-color                                       : $gray-lighter;
                                                                
// Reactions                                                    
// ----------------------------------                           
                                                                
$reactions-reaction-form-bg-color                          : $gray-lighter;
$reactions-reaction-form-avatar-border-color               : $form-input-border-color;
$reactions-selected-avatar-border-color                    : $form-input-border-color;
                                                                
// Tables                                                       
// -----------------------------------                          
                                                                
$table-cell-border-color                                   : $gray-light;

// Static                                                           
// -----------------------------------                          
$static-page-nav-border-color                              : $gray-lighter;        
$static-page-nav-heading-color                             : $color-heading;       
$static-page-nav-list-border-top-color                     : $white;       
$static-page-nav-list-hover-link-color                     : $color-text;      
$static-page-nav-link-hover-color                          : $white;       
$static-page-nav-link-hover-bg-color                       : $color-secondary;     
                                                        
// Tabs                                                         
// -----------------------------------                          
                                                                
$tabs-tabitem-bg-color                                     : $gray-dark;
$tabs-tabitem-icon-bg-color                                : $gray-dark;
$tabs-tabitem-icon-text-color                              : $color-text-light;
$tabs-tabitem-hover-text-color                             : $color-text;
$tabs-tabitem-hover-icon-text-color                        : $color-text;
$tabs-tabitem-active-bg-color                              : $white;
$tabs-tabitem-active-border-color                          : $white;
$tabs-tabitem-active-icon-bg-color                         : $color-secondary;
$tabs-tabitem-active-icon-color                            : $white;
$tabs-tabitem-active-title-color                           : $color-secondary;
$tabs-tabitem-active-subtitle-color                        : $color-text;

$tabs-steps-tabitem-color                                  : $gray-light;
$tabs-steps-tabitem-bg-color                               : $white;
$tabs-steps-tabitem-hover-active-color                     : $gray;
$tabs-steps-tabitem-selected-bg-color                      : $color-secondary;
$tabs-steps-tabitem-selected-color                         : $gray-lighter;
$tabs-steps-tabitem-selected-hover-color                   : $color-text;
$tabs-steps-tabitem-active-color                           : $white;
$tabs-steps-tabitem-active-border-color                    : $color-secondary;
$tabs-steps-tabitem-active-bg-color                        : $color-secondary;
$tabs-steps-tabitem-active-icon-color                      : $black;
$tabs-steps-tabitem-active-icon-bg-color                   : $white;
$tabs-steps-tabitem-active-title-color                     : $white;
$tabs-steps-tabitem-active-subtitle-color                  : $white;
$tabs-steps-tabitem-inactive-icon-color                    : $gray-light;
$tabs-steps-tabitem-inactive-icon-bg-color                 : $gray-lighter;
$tabs-steps-tabitem-inactive-title-color                   : $gray-light;
$tabs-steps-tabitem-inactive-subtitle-color                : $gray-light;
$tabs-steps-tabitem-last-bg-color                          : $white;
$tabs-steps-tabitem-last-active-bg-color                   : $color-secondary;
                                                                



// Wallposts                                                    
// -----------------------------------                          
                                                                
$wallposts-bg-color                                        : $white;
$wallposts-task-file-author-link-color                     : $gray-dark;
$wallposts-action-border-color                             : $gray-light;

$wallposts-post-update-color                               : $color-primary;
$wallposts-post-comment-color                              : $color-secondary;

$wallposts-form-tabs-active-bg-color                       : $gray-dark;
$wallposts-form-tabs-active-color                          : $white;
$wallposts-form-upload-button-color                        : $white;

$wallposts-wallpost-member-function-bg-color               : $gray-lighter;
$wallposts-wallpost-member-function-color                  : $white;
$wallposts-wallpost-author-color                           : $color-primary;
$wallposts-wallpost-timestamp-color                        : $gray;
$wallposts-wallpost-title-color                            : $black;
$wallposts-wallpost-system-bg-color                        : $color-primary;
$wallposts-wallpost-important-border-color                 : $color-primary;
$wallposts-wallpost-important-author-color                 : $color-secondary;
$wallposts-wallpost-important-title-color                  : $color-primary;
$wallposts-wallpost-important-buttons-bg-color             : $color-primary;
$wallposts-wallpost-important-buttons-color                : $white;
$wallposts-wallpost-file-link-color                        : $gray;
                                                                
// Layout                                                       
// -----------------------------------                          
                                                                
// Footer                                                       
// -----------------------------------                          
                                                                
$footer-bg-color                                           : $gray-lighter;
$footer-heading-color                                      : $gray-darker;
$footer-content-color                                      : $gray;

$footer-menu-color                                         : $gray;
$footer-menu-link-color                                    : $gray;
$footer-menu-link-hover-color                              : $gray-darker;

$footer-social-links-bg-color                              : $gray;
$footer-social-links-hover-bg-color                        : $color-text;
$footer-social-links-icon-color                            : $white;

$footer-copyright-bg-color                                 : $black;
$footer-copyright-color                                    : $white;
$footer-copyright-link-color                               : $gray;
$footer-copyright-link-hover-color                         : $gray-lighter;
$footer-copyright-link-feedback-color                      : $color-secondary;

// Header
// -----------------------------------

$header-bg-color                                           : $black;

$header-nav-main-color                                     : #bfbfbf;
$header-nav-main-navitem-border-color                      : $black;
$header-nav-main-navitem-border-bottom-color               : #393939;
$header-nav-main-navitem-active-border-color               : #393939;
$header-nav-main-navitem-active-border-bottom-color        : $gray-darkest;
$header-nav-main-navitem-active-color                      : $white;
$header-nav-main-navitem-active-bg-color                   : $gray-darkest;

$header-nav-actions-color                                  : $white;

$header-nav-signup-login-color                             : $color-deselect;
$header-nav-signup-login-active-color                      : $color-text;
$header-nav-signup-login-active-bg-color                   : $white;
$header-nav-signup-color                                   : $white;
$header-nav-signup-bg-color                                : $color-primary;

$header-nav-login-color                                    : $white;
$header-nav-login-bg-color                                 : $color-secondary;

$header-nav-language-link-color                            : $gray-light;
$header-nav-language-link-hover-color                      : $white;
$header-nav-language-link-hover-border-color               : $white;
$header-nav-language-link-active-color                     : $black;
$header-nav-language-link-active-bg-color                  : $gray-light;
$header-nav-language-switch-color                          : $white;
$header-nav-language-switch-bg-color                       : $color-secondary;
$header-nav-language-switch-link-color                     : $white;
$header-nav-language-switch-link-hover-color               : $black;
$header-nav-language-switch-link-hover-border-color        : $black;
$header-nav-language-switch-link-active-color              : $color-secondary;
$header-nav-language-switch-link-active-bg-color           : $white;
$header-nav-language-switch-link-active-hover-bg-color     : $black;

$header-nav-member-dropdown-color                          : $white;
$header-nav-member-dropdown-image-border-color             : $black;
$header-nav-member-dropdown-menu-bg-color                  : $white;
$header-nav-member-dropdown-menu-border-color              : $color-secondary;
$header-nav-member-dropdown-menu-link-border-color         : $color-secondary;
$header-nav-member-dropdown-menu-link-color                : $gray-darker;
$header-nav-member-dropdown-menu-link-hover-color          : $color-secondary;
$header-nav-member-hover-image-border-color                : $color-secondary;
$header-nav-member-hover-dropdown-bg-color                 : $white;
$header-nav-member-hover-dropdown-color                    : $gray-darker;
$header-nav-member-hover-dropdown-border-color             : $color-secondary;
$header-nav-member-hover-dropdown-icon-color               : $color-secondary;

$header-nav-cart-count-color                               : $white;
$header-nav-cart-count-bg-color                            : $color-primary;
$header-nav-cart-link-color                                : $color-primary;
$header-nav-cart-link-hover-color                          : $white;

// Accounts
// -----------------------------------

$account-header-bg-color                                   : $gray-lighter;
$account-header-title-color                                : $gray-darker;
$account-header-edit-link-color                            : $gray;
$account-header-edit-link-hover-color                      : $gray-darkest;
$account-header-avatar-border-color                        : $gray;

$account-body-bg-color                                     : $white;

$account-about-header-color                                : $color-primary;

$account-details-listitem-border-color                     : $gray-light;

$account-statistics-bg-color                               : $white;
$account-statistics-color                                  : $gray-dark;
$account-statistics-header-title-color                     : $color-primary;
$account-statistics-link-color                             : $gray;
$account-statistics-link-hover-color                       : $gray-darker;

$account-statistics-table-even-row-bg-color                : $white;
$account-statistics-table-odd-row-bg-color                 : $gray-lighter;

$account-statistics-pagination-link-color                  : $gray;
$account-statistics-pagination-link-hover-color            : $gray-darker;
$account-statistics-pagination-border-color                : $gray-lighter;
$account-statistics-pagination-border-hover-color          : $gray-darker;
$account-statistics-pagination-icon-color                  : $gray-darkest;
