{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}

{% tplhandlebars "cheetah/detail/partner_campaign_loader" %}
    <section class="l-wrapper" id="partner-campaign-loader">
        <div class="row">
            <div class="col12">
                <span class="scroll-more-loader">
                    <span class="loader"><i class="load"></i></span>
                </span>
                <span class="click-more-loader">
                    <a {{action loadMore}} class="btn load-more-touch">{% trans 'Show more'%}</a>
                </span>
            </div>
        </div>
    </section>
{% endtplhandlebars %}