//
// News (blogs)
// --------------------------------------------------

#news {
    
    .l-page-header {
        position: relative;
        
        .page-title {
            @include prepend(12);
        }
        
        .member {
            @include clear;
            margin: $base-margin 0 0 0;
            
            .member-avatar {
                @include grid(12,2,4);
                position: absolute;
                left: 0;
                top: 0;
            }
        
            .member-name {
                @include prepend(12);
                
            }
        }
        
        .timestamp {
            color: $gray;
            font-style: normal;
            text-transform: uppercase;
        }
    }
    
    .news-content {
        @include prepend(12);
    }
}

// Overwrite addthis toolbox styles
.addthis_toolbox {
    margin: $base-margin*2 0;
    padding: $base-padding 0;
    border-top: 1px solid $gray-light;
    
    .twitter-share-button {
        width: 76px !important;
    }
}