//
// Signup page
// --------------------------------------------------

#signup {
    
    .signup-advantage {
        
        .signup-image {
            display: inline-block;
            text-align: center;
            font-size: 12em;
            color: $gray-lighter;
        }
        
    }
} 
    

