{% load templatetag_handlebars %}
{% load i18n %}

{% tplhandlebars "reaction_form" %}
    <fieldset>
        <span class="user-img"><img {{bindAttr src="view.user.picture" title="view.user.fullname"}} width="100%" alt="Avatar"></span>
        <label for="reaction-1" class="inline">Hey {{view.user.first_name}}, leave a reaction!</label>
        {{view Ember.TextArea valueBinding="view.reaction" name="reaction" id="reaction-1"}}
    </fieldset>
    <button type="submit" id="reaction-post">Post</button>
{% endtplhandlebars %}

{% tplhandlebars "reaction_actions" %}
    <ul class="reaction-actions">
        <li><a class="toggle-reactions" data-content="# Comments" data-content-hover="Show comments" data-content-toggled="2 Comments" data-content-toggled-hover="Hide comments"># Comments</a></li>
        <li><a class="toggle-love" data-content="# love this" data-content-hover="Show your love!" data-content-toggled="# - You loved this" data-content-toggled-hover="Unlove?"># Love this</a></li>
        <li class="share">
            <strong>Share this</strong>
            <ul class="share-actions">
                <li class="share-facebook">Share on Facebook</li>
                <li class="share-twitter"><a href="#">Share on Twitter</a></li>
                <li class="share-url"><code>http://1pr.cc/237429/</code><a href="#" class="share-url-copy">Copy</a></li>
            </ul>
        </li>
    </ul>
{% endtplhandlebars %}

     
{% tplhandlebars "reaction_box" %}
    <section class="wrapper">
        <!-- wallpost -->
        <article class="wallpost">
            <div class="reaction-box">
                {{outlet reactionForm}}
                {{outlet reactionActions}}
                {{outlet reactionList}}
            </div>
        </article>
    </section>
{% endtplhandlebars %}
