{% load templatetag_handlebars %}
{% load i18n %}

{% tplhandlebars "reaction_preview" %}
	<span class="user-img"><img {{bindAttr src="view.content.author.picture" }} width="100%" alt="Avatar" /></span>
	<div class="reaction">
	    <a href="#" class="user">By <strong>{{ view.content.author.full_name }}</strong> <em>Member</em> <small>{{view.content.relativetime}}</small></a>
		<p>{{ view.content.reaction }}</p>
	</div>
{% endtplhandlebars %}

{% tplhandlebars "reaction_no_items" %}
    No reactions yet
{% endtplhandlebars %}