{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}


{% tplhandlebars "home_banner" %}

<div class="l-section home-carousel">
	<section class="carousel">
		<ul>
			<li class="carousel-item first-item">
				<div class="home-carousel-content">
					<h1>{% trans "1%Club is the do-good crowdfunding platform" %}</h1>
					<p><a href="#" class="carousel-about">{% trans "About 1%Club" %}</a></p>
				</div>
			</li>

			<li class="carousel-item second-item">
				<div class="home-carousel-content">
					<h1>{% trans "Join the makers of change" %}</h1>
					<p>{% trans "Mustapha campaigns for chess courses in Amsterdam." %}</p>
				</div>
				<div class="home-carousel-btn">
					<a href="#" class="btn">{% trans "Start your own campaign" %}</a>
				</div>
			</li>

			<li class="carousel-item third-item">
				<div class="home-carousel-content">
					<h1>{% trans "Supporters of good" %}</h1>
					<p>{% trans "We love smart ideas that do good to the world." %}</p>
					<p><a href="#" class="campaign-link">{% trans "Streetskids soccerschool, Colombia" %}</a></p>
				</div>
				<div class="home-carousel-btn">
					<a href="#" class="btn">{% trans "Find campaigns you’ll love" %}</a>
				</div>
			</li>
		</ul>
		<div class="home-carousel-nav">
			{{#each slides}}
				<span {{bindAttr class=":carousel-nav-item isFirst:is-active" }}></span>
			{{/each }}
		</div>
    </section>
</div>

{% endtplhandlebars %}

