{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}


{% tplhandlebars "home_banner" %}

<div class="l-section home-carousel">
	<section class="carousel">
		<ul>
			{{#if App.isDutch}}
				<li class="carousel-item first-item">
					<div class="home-carousel-content">
						<h1>Vecht mee tegen ALS</h1>
						<h6>#IceBucketChallenge</h6>
						<p>
							{{#linkTo 'project' 'accenture-vecht-mee-in-de-strijd-tegen-ALS' class='campaign-link btn'}}{% blocktrans %}Support Amsterdam City Swim{% endblocktrans %}{{/linkTo}}
						</p>
					</div>
				</li>
			{{/if}}
			{{partial "banner_video"}}
			
			<li class="carousel-item second-item">
				<div class="home-carousel-content">
					<h1>{% trans "Join the makers of change" %}</h1>
					<p>{% trans "Mustapha campaigns for chess courses in Amsterdam." %}</p>
				</div>
				<div class="home-carousel-btn">
					{{#link-to 'page' 'start-campaign' classNames='btn'}}{% trans "Start your own campaign" %}{{/link-to}}
				</div>
			</li>

			<li class="carousel-item third-item">
				<div class="home-carousel-content">
					<h1>{% trans "Supporters of good" %}</h1>
					<p>{% trans "We love smart ideas that do good in the world." %}</p>
					<p>{{#linkTo 'project' 'voetbalschool-straatkinderen-medellin-la-naranja-mecanica' class='campaign-link'}}{% trans "Streetskids soccerschool, Colombia" %}{{/linkTo}}</p>
				</div>
				<div class="home-carousel-btn">
					{{#link-to 'projectList' classNames='btn'}}{% trans "Find campaigns you’ll love" %}{{/link-to}}
				</div>
			</li>
		</ul>
		<div class="home-carousel-nav">
			<span class="carousel-nav-item is-active"></span>
			<span class="carousel-nav-item"></span>
			<span class="carousel-nav-item"></span>
			{{#if App.isDutch}}
				<span class="carousel-nav-item"></span>
			{{/if}}
		</div>
    </section>
</div>

{% endtplhandlebars %}

