{% load bb_ember %}
{% load i18n %}
{% load static %}


{% tplhandlebars "business_block" %}
    <div class="l-section" id="business-block">
        <div class="l-wrapper">
            <div class="business-main-header">
                <span class="logo"></span>
                <span class="business">{% trans 'business' %}</span>
            </div>
            <div class="business-btn">
                {{#link-to 'business' classNames='btn btn-third'}}
                    {% blocktrans%}
                        1%Club for companies
                    {% endblocktrans%}
                {{/link-to}}

                {{#if App.isDutch}}
                    {{#link-to 'civic-crowdfunding' classNames='btn btn-third'}}1%Club voor gemeenten{{/link-to}}
                {{/if}}
            </div>
        </div>
    </div>
{% endtplhandlebars %}