{% load bb_ember %}
{% load i18n %}
{% load static %}

{% tplhandlebars "home_impact" %}

    <div class="l-section" id="impact">
        <div class="impact-tagline">
            <h2>
	            <strong>17,343</strong> {% trans "people" %} <br>
	            {% trans "crowdfunded" %} <strong>€{{localize impact.donated }}</strong> <br>
	            {% trans "to realize" %} <strong>{{localize impact.projects }}</strong> {% trans "campaigns" %} <br>
	            {% trans "in" %} <strong>{{localize impact.countries }}</strong> {% trans "countries" %}
            </h2>
            {{#unless currentUser.isAuthenticated}}
                <div class="join-us">
                    <a {{action 'openInBox' 'login'}} class="btn">{% trans "Join us do good" %}</a>
                </div>
            {{/unless}}
        </div>
    </div>

{% endtplhandlebars %}
