{% load bb_ember %}
{% load i18n %}
{% load static %}


{% tplhandlebars "home_impact" %}


    <!-- Crowdfunded-->
    <div class="l-section" id="crowdfunded">
        <div class="crowdfunded-container"></div>
        <div class="crowdfunded-overlay"></div>
        <div class="crowdfunded-tagline">
            <header>
                <h2>
                <strong>17.343</strong> people <br>
                crowdfunded <strong>€{{localize impact.donated }}</strong> <br>
                to realize <strong>{{localize impact.projects }}</strong> campaigns <br>
                in <strong>{{localize impact.donated }}</strong> countries
                </h2>
            </header>
            <div class="join-us">
                {{#unless controllers.currentUser.isAuthenticated}}
                    {{#linkTo 'signup' classNames="btn"}}{% blocktrans %}Join us do good{% endblocktrans %}{{/linkTo}}
                {{/unless}}
            </div>
        </div>
    </div>


{% endtplhandlebars %}
