{% load bb_ember %}
{% load i18n %}
{% load static %}

{% tplhandlebars "home" %}

        <div id="home">
            <div class="l-section home-carousel">
                <ul>
                    <li>
                        <header class="section-header">
                            <h1>1%Club is the do-good crowdfunding platform</h1>
                        </header>
                        <div class="home-carousel-content">
                            <a href="#">About 1%Club</a>
                        </div>
                        <div class="home-carousel-btn">
                            <a href="#" class="btn">Learn more</a>
                        </div>
                        <div class="home-carousel-body">
                            <img src="http://localhost:8000/static/assets/images/pages/homepage/carousel/home-carousel-1.jpg">
                        </div>
                    </li>
                    <div class="home-carousel-nav">
                        <span class="is-active"></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </ul>
            </div>

		{{#if projects}}
            {{view App.HomeProjectListView }}
		{{else}}
			No Projects
		{{/if}}

        {{#if quotes }}
            {{view App.HomeQuotesView }}
        {{/if }}

        {{#if impact }}
            {{view App.HomeImpactView }}
        {{/if }}
    </div>

{% endtplhandlebars %}
