{% load bb_ember %}
{% load i18n %}
{% load static %}

{% tplhandlebars "home" %}

        <div id="home">
            <div class="l-section home-carousel">
                <ul>
                    <li>
                        <header class="section-header">
                            <h1>1%Club is the do-good crowdfunding platform</h1>
                        </header>
                        <div class="home-carousel-content">
                            <a href="#">About 1%Club</a>
                        </div>
                        <div class="home-carousel-btn">
                            <a href="#" class="btn">Learn more</a>
                        </div>
                        <div class="home-carousel-body">
                            <img src="http://localhost:8000/static/assets/images/pages/homepage/carousel/home-carousel-1.jpg">
                        </div>
                    </li>
                    <div class="home-carousel-nav">
                        <span class="is-active"></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </ul>
            </div>

		{{#if projects}}
            {{view App.HomeProjectListView }}
		{{else}}
			No Projects
		{{/if}}

        {{#if impact }}
            {{view App.HomeImpactView }}
        {{/if }}

        <div class="l-section tools-container">
            <div class="l-wrapper">
                <div class="row">
                    <div class="col4">
                        <div class="tools">
                            <div class="tools-icon"><object type="image/svg+xml" data="http://localhost:8000/static/assets/images/illustrations/illustration-idea.svg" class="logo-image"></object></div>
                            <strong class="tools-header">We are the do-good crowdfunding platform</strong>
                            <div class="tools-content">
                                We empower people with great ideas
                                to create positive change in their
                                community, city, country – or in the
                                world.
                            </div>
                        </div>
                    </div>
                    <div class="col4">
                        <div class="tools">
                            <div class="tools-icon"><object type="image/svg+xml" data="http://localhost:8000/static/assets/images/illustrations/illustration-crowdfund.svg" class="logo-image"></object></div>
                            <strong class="tools-header">We have the fundraising tools to activate your network</strong>
                            <div class="tools-content">
                                We enable you to raise funds and
                                kick-start your initiative via your own
                                network. We take care of
                                administration and make sure you
                                can eﬀectively share your campaign
                                with your network.

                            </div>
                            <div class="tools-btn">
                                 <a href="#" class="btn">Start campaigning</a>
                            </div>
                        </div>
                    </div>
                    <div class="col4">
                        <div class="tools">
                            <div class="tools-icon"><object type="image/svg+xml" data="http://localhost:8000/static/assets/images/illustrations/illustration-best-friend.svg" class="logo-image"></object></div>
                            <strong class="tools-header">We are your best friend in online campaining</strong>
                            <div class="tools-content">
                                We make campaigning for a better
                                world the most simple and rewarding
                                experience possible. We share our
                                expertise and if you need help: we’re
                                just a phone call or email away
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col12">
                        <div class="tools-rocket">
                            <object type="image/svg+xml" data="http://localhost:8000/static/assets/images/illustrations/illustration-rocket.svg" class="logo-image"></object>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{#if quotes }}
            {{view App.HomeQuotesView }}
        {{/if }}
    </div>

{% endtplhandlebars %}
