{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}


{% tplhandlebars "quote_carousel" %}

<div id="quote-carousel">
    <ul>
        <li>
            <div class="quote-carousel-content">
                <div class="carousel-photo">
                    <img src="/static/assets/images/img/pages/home/quote-mark-rutte.jpg">
                </div>
                <div class="carousel-quote">
                    <strong>{% trans "Een actiegerichte manier van denken die uitstekend past in deze tijd." %}</strong>
                    <em>&#8212; {% trans "Mark Rutte, Minister-president" %}</em>
                </div>
            </div>
        </li>
        <li>
            <div class="quote-carousel-content">
                <div class="carousel-photo">
                    <img src="/static/assets/images/img/pages/home/quote-heleen-van-oord.jpg">
                </div>
                <div class="carousel-quote">
                    <strong>{% blocktrans %}Met 1%Club kun je 100% het verschil maken. En het resultaat zien!{% endblocktrans %}</strong>
                    <em>&#8212; {% trans "Heleen Dura - van Oord - Zakenvrouw van het jaar 2013" %}</em>
                </div>
            </div>
        </li>
    </ul>
    <a href="#" class="carousel-nav previous"></a>
    <a href="#" class="carousel-nav next"></a>
</div>

{% endtplhandlebars %}
