{% load bb_ember %}
{% load i18n %}
{% load static %}

{% tplhandlebars "home_quotes" %}

    <div class="l-section" id="partner-logos">
        <section class="l-wrapper">
            <div class="row">
                <div class="col12">
                    <div class="quote-carousel">
                        <div class="quote-carousel-content">
                            <div class="carousel-photo">
                                <img src="/static/assets/images/mockup-website/quote-mark-rutte.png">
                            </div>
                            <div class="carousel-quote">
                                <strong>Een actiegerichte manier van denken die uitstekend past in deze tijd.</strong>
                                <small>— Mark Rutte, Minister-president</small>
                            </div>
                        </div>
                        <a href="#" class="carousel-nav left">&#10094;</a>
                        <a href="#" class="carousel-nav right">&#10095;</a>
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endtplhandlebars %}
