{% load bb_ember %}
{% load i18n %}
{% load static %}

{% tplhandlebars "home_quotes" %}

    <div class="l-section" id="featured-on">
        <section class="l-wrapper">
            <div class="row">
                <div class="col12">
                
                	<div id="press">
                		<ul>
                			<li class="press-intro">{% trans "Featured on" %}</li>
                			<li>{{#link-to 'page' 'press'}}<img src="/static/assets/images/img/pages/home/press-nos.png" alt="NOS" />{{/link-to}}</li>
                			<li>{{#link-to 'page' 'press'}}<img src="/static/assets/images/img/pages/home/press-radio1.png" alt="Radio 1" />{{/link-to}}</li>
                			<li>{{#link-to 'page' 'press'}}<img src="/static/assets/images/img/pages/home/press-nu.png" alt="NU.nl" />{{/link-to}}</li>
                			<li>{{#link-to 'page' 'press'}}<img src="/static/assets/images/img/pages/home/press-pnw.png" alt="Pauw &amp; Witteman" />{{/link-to}}</li>
                			<li>{{#link-to 'page' 'press'}}<img src="/static/assets/images/img/pages/home/press-dwdd.png" alt="De Wereld Draait Door" />{{/link-to}}</li>
                			<li>{{#link-to 'page' 'press'}}<img src="/static/assets/images/img/pages/home/press-volkskrant.png" alt="Volkskrant" />{{/link-to}}</li>
                		</ul>
                	</div>
                	
                    {{ view App.QuoteCarouselView }}
                    
                </div>
            </div>
        </section>
    </div>

{% endtplhandlebars %}
