<!--
    This is the first version of HTML template for static page "Business".
    The template will be changed overtime and is kept under version control just for backup sake.
-->

<section class="section" id="about">
    <div class="wrapper">
        <ul class="static-page-nav">
            <li><a class="goto active" data-target="#about">About 1%BUSINESS</a></li>
            <li><a class="goto" data-target="#how">How does it work?</a></li>
            <li><a class="goto" data-target="#why">Why work together?</a></li>
            <li><a class="goto" data-target="#contactus">Get involved and contact us</a></li>
        </ul>

        <div class="static-page-section-content">
            <div class="l-one-third">
                <i class="flaticon solid briefcase-1 static-page-illustration"></i>
            </div>

            <div class="l-two-third">
                <h1 class="small">Welcome to 1%BUSINESS <br><em>Nice to meet you!</em></h1>

                <p><strong>This is where we connect people with smart ideas in developing countries with the expertise, network and financial resources of companies in the rest of the world to create sustainable solutions to global challenges.</strong></p>

                <p>We work with lots of companies in the Netherlands and beyond. Let's see together how your business can give 1% to change the world!</p>
            </div>

            <i class="goto static-page-section-navigator goto flaticon solid down-circle-2" data-target="#how"></i></a>
        </div>
    </div>
</section>

<section class="section" id="how">
    <div class="wrapper">
        <ul class="static-page-nav">
            <li><a class="goto" data-target="#about">About 1%BUSINESS</a></li>
            <li><a class="goto active" data-target="#how">How does it work?</a></li>
            <li><a class="goto" data-target="#why">Why work together?</a></li>
            <li><a class="goto" data-target="#contactus">Get involved and contact us</a></li>
        </ul>

        <div class="static-page-section-content">
            <div class="l-two-third">
                <h1 class="small">How can your business <br><em>collaborate with 1%club</em></h1>

                <p><strong>Mainly it comes down to supporting projects financially and/or sharing your professional expertise with young entrepreneurs from developing countries.</strong></p>

                <p>But, we wouldn't be 1%Club if we didn't come up with a bunch of smart, pragmatic and fun ways of doing this: </p>
            </div>

            <div class="l-full">
                <ul class="static-page-illustrations-list" id="businessProducts">
                    <li class="item" data-content="<div class='l-two-third'><p><strong>1%Club offers a wide range of online and offline activities to engage employees in socially responsible activities.</strong></p></div><div class='l-one-third text-center'>accenture</div>"><i class="flaticon solid pie-graph-1"></i><span class="h3">1%profit</span></li>
                    <li class="item" data-content="<div class='l-two-third'><p><strong>This is the content for 1%Giftcards.</strong></p></div><div class='l-one-third text-center'>Giftcards</div>"><i class="flaticon solid gift-1"></i><span class="h3">1%giftcards</span></li>
                    <li class="item" data-content="<div class='l-two-third'><p><strong>This is the content for Cause Campaigning</strong></p></div><div class='l-one-third text-center'>Cause Campaigning</div>"><i class="flaticon solid megaphone-1"></i><span class="h3">cause <br> campaigning</span></li>
                    <li class="item" data-content="<div class='l-two-third'><p><strong>This is the content for 1%Co-creation</strong></p></div><div class='l-one-third text-center'>1%Co-creation</div>"><i class="flaticon solid group-2"></i><span class="h3">1%cocreation</span></li>
                    <li class="item" data-content="<div class='l-two-third'><p><strong>This is the content for Employee Engagement Program</strong></p></div><div class='l-one-third text-center'>Employement ...</div>"><i class="flaticon solid pie-graph-1"></i><span class="h3">employee engagement program</span></li>

                    <div class="item-popover"></div>
                </ul>
            </div>

            <div class="l-two-third">
                <br>
                <p><small>Looking for a customized collaboration? Contact us and we'll design a program tailored specifically to your organization's</small></p>
            </div>

            <i class="goto static-page-section-navigator goto flaticon solid down-circle-2" data-target="#why"></i></a>
        </div>
    </div>
</section>

<section class="section" id="why">
    <div class="wrapper">
        <ul class="static-page-nav">
            <li><a class="goto" data-target="#about">About 1%BUSINESS</a></li>
            <li><a class="goto" data-target="#how">How does it work?</a></li>
            <li><a class="goto active" data-target="#why">Why work together?</a></li>
            <li><a class="goto" data-target="#contactus">Get involved and contact us</a></li>
        </ul>

        <div class="static-page-section-content">
            <div class="l-full">
                <h1>Why work together?</h1>
            </div>

            <div class="l-half">
                <h2>It's a proven concept</h2>
                <small>We are the world's biggest crowdsourcing platform to cope with global challenges - there are more than 14,000 1%Club members who have helped realize over 450 projects in 68 countries, directly improving thousands of lives.</small>

                <h2>We match your purpose</h2>
                <small>As 1%Club is active worldwide and covers a huge range of themes from water projects in Uganda to solar power projects in Nepal, you can select projects that fit your organisation's purpose and support them exactly how you wish.</small>

                <h2>We have a strong network</h2>
                <small>We believe passionately in the power of collaboration as a force for change. And we're glad that some of the world's biggest and most progressive companies think so too. Meet some of our partners here.</small>
            </div>

            <div class="l-half">
                <h2>Together we innovative</h2>
                <small>We believe in a new way of international cooperation. Wee like to think of it as a global lab where we test new ideas, experiment with new technologies like live streaming while working with people all over the world.</small>

                <h2>Business meets society</h2>
                <small>We see Corporate Responsibility as a means to transform into a fully conscious, sustainable business. We offer all kinds of tools to guide you in this process and enrich your relationship with society and engage your stakeholders.</small>
            </div>
            <i class="goto static-page-section-navigator goto flaticon solid down-circle-2" data-target="#contactus"></i></a>
        </div>
    </div>
</section>

<section class="section" id="contactus">
    <div class="wrapper">
        <ul class="static-page-nav">
            <li><a class="goto" data-target="#about">About 1%BUSINESS</a></li>
            <li><a class="goto" data-target="#how">How does it work?</a></li>
            <li><a class="goto" data-target="#why">Why work together?</a></li>
            <li><a class="goto active" data-target="#contactus">Get involved and contact us</a></li>
        </ul>

        <div class="static-page-section-content">

            <div class="l-two-third">
                <h1>Get involved</h1>

                <p><strong>Do you want your organisation to help to turn smart ideas from people in developing countries into a reality? Cope with challenges in a complete different context? Great! Get in touch using the contact details so that we can discuss the perfect collaboration with you!</strong></p>

                <p>Want to get started straightway? Easy! You can create a 1%Business profile right now and browse through all the great projects to find the perfect match for your business!</p>

                <div class="static-page-calltoaction text-center">
                    <a>Create a business profile</a> <i class="flaticon solid right-2"></i>
                </div>
            </div>

            <div class="l-one-third">
                <h1 class="small">Contact us</h1>

                <ul class="static-page-iconed-list">
                    <li class="item"><i class="flaticon solid contacts-2"></i> <strong>Marleen Holtkamp</strong></li>
                    <li class="item"><i class="flaticon solid mail-1"></i> <a href="mailto:business@1procentclub.nl">business@1procentclub.nl</a></li>
                    <li class="item"><i class="flaticon solid call-3"></i> 020 715 8980</li>
                </ul>
            </div>

            <i class="goto static-page-section-navigator goto flaticon solid up-circle-2" data-target="#about"></i></a>
        </div>
    </div>
</section>