<!--
    This is the first version of HTML template for static page "Get Involved".
    The template will be changed overtime and is kept under version control just for backup sake.
-->

<section class="section" id="donate">
    <div class="wrapper">
        <ul class="static-page-nav">
            <li><a class="goto active" data-target="#donate">Doneer 1%</a></li>
            <li><a class="goto" data-target="#skills">Deel je kennis</a></li>
            <li><a class="goto" data-target="#friend">Word een 1%Friend</a></li>
            <li><a class="goto" data-target="#pitch">Pitch een slim iedee</a></li>
            <li><a class="goto" data-target="#business">Doe zaken met ons</a></li>
            <li><a class="goto" data-target="#give">Geef een 1%Giftcard</a></li>
        </ul>

        <div class="static-page-section-content">
            <div class="l-two-third">
                <h1 class="small">Get involved. <em>Doneer 1%</em></h1>

                <p><strong>Veel mensen in ontwikkelingslanden hebben fantastische plannen om de levensstandaard te verbeteren van mensen wereldwijd. Het enige zetje dat ze nodig hebben is steun. En dat kan jij hen geven door je 1% te delen. </strong></p>

                <p>Hier vind je een wereld aan prachtige projecten waar jij aan kan doneren. </p>

                <div class="static-page-calltoaction">
                    <a href="/nl/#!/projects">Doorzoek projecten</a> <i class="flaticon solid right-2"></i>
                </div>
            </div>
            
            <div class="l-one-third text-center">
                <i class="flaticon solid heart-1 static-page-illustration active"></i>
            </div>

            <i class="goto static-page-section-navigator goto flaticon solid down-circle-2" data-target="#skills"></i></a>
        </div>
    </div>
</section>

<section class="section" id="skills">
    <div class="wrapper">
        <ul class="static-page-nav">
            <li><a class="goto" data-target="#donate">Doneer 1%</a></li>
            <li><a class="goto active" data-target="#skills">Deel je kennis</a></li>
            <li><a class="goto" data-target="#friend">Word een 1%Friend</a></li>
            <li><a class="goto" data-target="#pitch">Pitch een slim iedee</a></li>
            <li><a class="goto" data-target="#business">Doe zaken met ons</a></li>
            <li><a class="goto" data-target="#give">Geef een 1%Giftcard</a></li>
        </ul>

        <div class="static-page-section-content">
            <div class="l-two-third">
                <h1 class="small">Get involved. <em>Deel je kennis.</em></h1>

                <p><strong>Niemand kan alles (ok, behalve Chuck Norris). Ook de projecten bij 1%Club hebben af en toe hulp nodig. Soms hebben ze behoefte aan kennis over boekhouden, kunnen ze goed een nieuw logo gebruiken, of hulp bij het maken van een marketingplan. Zou jij hen willen steunen door 1% van jouw kennis te delen? Wij koppelen graag jouw talent, ervaring en vaardigheden aan een 1%PROJECT dat het goed kan gebruiken.</strong></p>

                <p>Kijk hier voor de taken waar nu mensen voor worden gezocht.</p>
				
                <div class="static-page-calltoaction">
                    <a href="/nl/#!/tasks">Doorzoek taken</a> <i class="flaticon solid right-2"></i>
                </div>
            </div>

            <div class="l-one-third text-center">
                <i class="flaticon solid skill-1 static-page-illustration"></i>
            </div>

            <i class="goto static-page-section-navigator goto flaticon solid down-circle-2" data-target="#friend"></i></a>
        </div>
    </div>
</section>

<section class="section" id="friend">
    <div class="wrapper">
        <ul class="static-page-nav">
            <li><a class="goto" data-target="#donate">Doneer 1%</a></li>
            <li><a class="goto" data-target="#skills">Deel je kennis</a></li>
            <li><a class="goto active" data-target="#friend">Word een 1%Friend</a></li>
            <li><a class="goto" data-target="#pitch">Pitch een slim iedee</a></li>
            <li><a class="goto" data-target="#business">Doe zaken met ons</a></li>
            <li><a class="goto" data-target="#give">Geef een 1%Giftcard</a></li>
        </ul>

        <div class="static-page-section-content">
            <div class="l-two-third">
                <h1 class="small">Get involved. <em>Word een 1%Friend.</em></h1>

                <p><strong>Met vrienden kun je de wereld aan. Zeker met zulke vrienden als die van ons, vrienden met slimme ideeën om de wereld te veranderen. Het enige wat ze nodig hebben om grote impact te hebben, is een zetje – een daar hebben we nog meer vrienden voor nodig: jij.</strong></p>

                <p>Onze 1%Friends delen elke maand een beetje. Doe je ook mee?</p>

                <div class="static-page-calltoaction">
                    <a href="/en/#!/pages/befriend">Word een 1%Friend</a> <i class="flaticon solid right-2"></i>
                </div>
            </div>

            <div class="l-one-third text-center">
                <i class="flaticon flaticon solid group-1 static-page-illustration"></i>
            </div>

            <i class="goto static-page-section-navigator goto flaticon solid down-circle-2" data-target="#pitch"></i></a>
        </div>
    </div>
</section>

<section class="section" id="pitch">
    <div class="wrapper">
        <ul class="static-page-nav">
            <li><a class="goto" data-target="#donate">Doneer 1%</a></li>
            <li><a class="goto" data-target="#skills">Deel je kennis</a></li>
            <li><a class="goto" data-target="#friend">Word een 1%Friend</a></li>
            <li><a class="goto active" data-target="#pitch">Pitch een slim iedee</a></li>
            <li><a class="goto" data-target="#business">Doe zaken met ons</a></li>
            <li><a class="goto" data-target="#give">Geef een 1%Giftcard</a></li>
        </ul>

        <div class="static-page-section-content">
            <div class="l-two-third">
                <h1 class="small">Get involved. <em>Pitch een slim iedee.</em></h1>

                <p><strong>Heb jij een slim die een positieve maatschappelijke bijdrage levert? Is dit project  in ontwikkelingsland? En is dit idee ook nog eens innovatief? Dan zijn wij hier naar op zoek!</strong></p>

                <p>Wij houden van 'smart ideas' en bieden jou de tools om te crowdfunden en crowdsourcen. Let op: this is in English.</p>

                <div class="static-page-calltoaction">
                    <a href="/nl/#!/my/pitch/new">Start je pitch</a> <i class="flaticon solid right-2"></i>
                </div>
            </div>
            
            <div class="l-one-third text-center">
                <i class="flaticon solid lightbulb-3 static-page-illustration"></i>
            </div>

            <i class="goto static-page-section-navigator goto flaticon solid down-circle-2" data-target="#business"></i></a>
        </div>
    </div>
</section>

<section class="section" id="business">
    <div class="wrapper">
        <ul class="static-page-nav">
            <li><a class="goto" data-target="#donate">Doneer 1%</a></li>
            <li><a class="goto" data-target="#skills">Deel je kennis</a></li>
            <li><a class="goto" data-target="#friend">Word een 1%Friend</a></li>
            <li><a class="goto" data-target="#pitch">Pitch een slim iedee</a></li>
            <li><a class="goto active" data-target="#business">Doe zaken met ons</a></li>
            <li><a class="goto" data-target="#give">Geef een 1%Giftcard</a></li>
        </ul>

        <div class="static-page-section-content">
            <div class="l-two-third">
                <h1 class="small">Get involved. <em>Doe zaken met ons.</em></h1>

                <p><strong>Hoe kan jouw bedrijf samenwerken met 1%Club? In het kort komt het neer op het delen van geld en/of expertise met jonge ondernemers in ontwikkelingslanden. Om dat concreet te maken hebben wij een paar simpele en pragmatische methodes ontworpen om dat te doen.</strong></p>

                <div class="static-page-calltoaction">
                    <a href="/nl/#!/pages/business">Ontdek hier hoe jouw bedrijf ook meedoet.</a> <i class="flaticon solid right-2"></i>
                </div>
            </div>

            <div class="l-one-third text-center">
                <i class="flaticon solid building-1 static-page-illustration"></i>
            </div>

            <i class="goto static-page-section-navigator goto flaticon solid down-circle-2" data-target="#give"></i></a>
        </div>
    </div>
</section>

<section class="section" id="give">
    <div class="wrapper">
        <ul class="static-page-nav">
            <li><a class="goto" data-target="#donate">Doneer 1%</a></li>
            <li><a class="goto" data-target="#skills">Deel je kennis</a></li>
            <li><a class="goto" data-target="#friend">Word een 1%Friend</a></li>
            <li><a class="goto" data-target="#pitch">Pitch een slim iedee</a></li>
            <li><a class="goto" data-target="#business">Doe zaken met ons</a></li>
            <li><a class="goto active" data-target="#give">Geef een 1%Giftcard</a></li>
        </ul>

        <div class="static-page-section-content">
            <div class="l-two-third">
                <h1 class="small">Get involved. <em>Geef de 1%Giftcard.</em></h1>

                <p><strong>Binnenkort online&#8230;</strong></p>

                <p>Wil je een 1%Giftcard verzilveren?</p>

                <div class="static-page-calltoaction">
                    <a href="/nl/#!/pages/contact">Stuur ons een bericht</a> <i class="flaticon solid right-2"></i>
                </div>
            </div>

            <div class="l-one-third text-center">
                <i class="flaticon solid gift-1 static-page-illustration"></i>
            </div>

            <i class="goto static-page-section-navigator goto flaticon solid up-circle-2" data-target="#donate"></i></a>
        </div>
    </div>
</section>
