<!--
    This is the first version of HTML template for static page "Get Involved".
    The template will be changed overtime and is kept under version control just for backup sake.
-->

<section class="section" id="donate">
    <div class="wrapper">
        <ul class="static-page-nav">
            <li><a class="goto active" data-target="#donate">Donate 1%</a></li>
            <li><a class="goto" data-target="#skills">Share your skills</a></li>
            <li><a class="goto" data-target="#friend">Become a 1%Friend</a></li>
            <li><a class="goto" data-target="#pitch">Pitch a smart idea</a></li>
            <li><a class="goto" data-target="#business">Do business with us</a></li>
            <li><a class="goto" data-target="#give">Give a 1%Giftcard</a></li>
        </ul>

        <div class="static-page-section-content">
            <div class="l-two-third">
                <h1 class="small">Get involved. <em>Donate 1%</em></h1>

                <p><strong>Many people in developing countries have great ideas that improve the standard of living of people worldwide. All they need to take off is a little support...</strong></p>

                <p>Would you like to help them by sharing your 1%? Find a whole world of amazing projects you can donate to right here.</p>

                <div class="static-page-calltoaction">
                    <a href="/en/#!/projects">Find projects</a> <i class="flaticon solid right-2"></i>
                </div>
            </div>

            <div class="l-one-third text-center">
                <i class="flaticon solid heart-1 static-page-illustration active"></i>
            </div>

            <i class="goto static-page-section-navigator goto flaticon solid down-circle-2" data-target="#skills"></i></a>
        </div>
    </div>
</section>

<section class="section" id="skills">
    <div class="wrapper">
        <ul class="static-page-nav">
            <li><a class="goto" data-target="#donate">Donate 1%</a></li>
            <li><a class="goto active" data-target="#skills">Share your skills</a></li>
            <li><a class="goto" data-target="#friend">Become a 1%Friend</a></li>
            <li><a class="goto" data-target="#pitch">Pitch a smart idea</a></li>
            <li><a class="goto" data-target="#business">Do business with us</a></li>
            <li><a class="goto" data-target="#give">Give a 1%Giftcard</a></li>
        </ul>

        <div class="static-page-section-content">
            <div class="l-two-third">
                <h1 class="small">Get involved. <em>Share your skills.</em></h1>

                <p><strong>No one is good at everything (ok, except perhaps for Chuck Norris). This includes the project owners at 1%Club. Sometimes their projects need some accountancy know-how, a fresh new logo or a marketing strategy in order to take off.</strong></p>

                <p>Would you like to support them by sharing your 1%? We'd love to match your talent, expertise and skills with a smart idea that needs them.</p>

                <div class="static-page-calltoaction">
                    <a href="/en/#!/tasks">Find tasks</a> <i class="flaticon solid right-2"></i>
                </div>
            </div>

            <div class="l-one-third text-center">
                <i class="flaticon solid skill-1 static-page-illustration"></i>
            </div>

            <i class="goto static-page-section-navigator goto flaticon solid down-circle-2" data-target="#friend"></i></a>
        </div>
    </div>
</section>

<section class="section" id="friend">
    <div class="wrapper">
        <ul class="static-page-nav">
            <li><a class="goto" data-target="#donate">Donate 1%</a></li>
            <li><a class="goto" data-target="#skills">Share your skills</a></li>
            <li><a class="goto active" data-target="#friend">Become a 1%Friend</a></li>
            <li><a class="goto" data-target="#pitch">Pitch a smart idea</a></li>
            <li><a class="goto" data-target="#business">Do business with us</a></li>
            <li><a class="goto" data-target="#give">Give a 1%Giftcard</a></li>
        </ul>

        <div class="static-page-section-content">
            <div class="l-two-third">
                <h1 class="small">Get involved. <em>Become a 1%Friend.</em></h1>

                <p><strong>Friends make life better. And our friends with great ideas to change the world certainly do that. They just need a little support to make a big impact - and that's where you come in.</strong></p>

                <p>Our 1%FriendS all share a little every month.</p>

                <div class="static-page-calltoaction">
                    <a href="/en/#!/pages/befriend">Become a 1%Friend</a> <i class="flaticon solid right-2"></i>
                </div>
            </div>

            <div class="l-one-third text-center">
                <i class="flaticon flaticon solid group-1 static-page-illustration"></i>
            </div>

            <i class="goto static-page-section-navigator goto flaticon solid down-circle-2" data-target="#pitch"></i></a>
        </div>
    </div>
</section>

<section class="section" id="pitch">
    <div class="wrapper">
        <ul class="static-page-nav">
            <li><a class="goto" data-target="#donate">Donate 1%</a></li>
            <li><a class="goto" data-target="#skills">Share your skills</a></li>
            <li><a class="goto" data-target="#friend">Become a 1%Friend</a></li>
            <li><a class="goto active" data-target="#pitch">Pitch a smart idea</a></li>
            <li><a class="goto" data-target="#business">Do business with us</a></li>
            <li><a class="goto" data-target="#give">Give a 1%Giftcard</a></li>
        </ul>

        <div class="static-page-section-content">
            <div class="l-two-third">
                <h1 class="small">Get involved. <em>Pitch a smart idea.</em></h1>

                <p><strong>Do you have a great idea to make a contribution to your community? A new way to tackle a waste problem in your neighbourhood? An idea for clean and green transport? An idea to use tech innovations to improve local healthcare?</strong></p>

                <p>Well, you came to the right place, because We LOVE smart ideas! 1%Club can offer you the right tools to realize your smart idea... Get started.</p>

                <div class="static-page-calltoaction">
                    <a href="/en/#!/my/pitch/new">Pitch a smart idea</a> <i class="flaticon solid right-2"></i>
                </div>
            </div>

            <div class="l-one-third text-center">
                <i class="flaticon solid lightbulb-3 static-page-illustration"></i>
            </div>

            <i class="goto static-page-section-navigator goto flaticon solid down-circle-2" data-target="#business"></i></a>
        </div>
    </div>
</section>

<section class="section" id="business">
    <div class="wrapper">
        <ul class="static-page-nav">
            <li><a class="goto" data-target="#donate">Donate 1%</a></li>
            <li><a class="goto" data-target="#skills">Share your skills</a></li>
            <li><a class="goto" data-target="#friend">Become a 1%Friend</a></li>
            <li><a class="goto" data-target="#pitch">Pitch a smart idea</a></li>
            <li><a class="goto active" data-target="#business">Do business with us</a></li>
            <li><a class="goto" data-target="#give">Give a 1%Giftcard</a></li>
        </ul>

        <div class="static-page-section-content">
            <div class="l-two-third">
                <h1 class="small">Get involved. <em>Do business with us.</em></h1>

                <p><strong>How can your business collaborate with 1%Club? Mainly it comes down to supporting projects financially and/ or sharing your professional expertise with young entrepreneurs from developing countries.</strong></p>

                <p>But, we wouldn't be 1%Club if we didn't come up with a bunch of smart, pragmatic and fun ways to do this. Find out how to participate with your company.</p>

                <div class="static-page-calltoaction">
                    <a href="/en/#!/pages/business">See how we can work together</a> <i class="flaticon solid right-2"></i>
                </div>
            </div>

            <div class="l-one-third text-center">
                <i class="flaticon solid building-1 static-page-illustration"></i>
            </div>

            <i class="goto static-page-section-navigator goto flaticon solid down-circle-2" data-target="#give"></i></a>
        </div>
    </div>
</section>

<section class="section" id="give">
    <div class="wrapper">
        <ul class="static-page-nav">
            <li><a class="goto" data-target="#donate">Donate 1%</a></li>
            <li><a class="goto" data-target="#skills">Share your skills</a></li>
            <li><a class="goto" data-target="#friend">Become a 1%Friend</a></li>
            <li><a class="goto" data-target="#pitch">Pitch a smart idea</a></li>
            <li><a class="goto" data-target="#business">Do business with us</a></li>
            <li><a class="goto active" data-target="#give">Give a 1%Giftcard</a></li>
        </ul>

        <div class="static-page-section-content">
            <div class="l-two-third">
                <h1 class="small">Get involved. <em>Give a 1%Giftcard.</em></h1>

                <p><strong>Give a gift that keeps on giving.</strong></p>

                <p>The 1%Giftcard is the perfect gift. Really. Online soon&#8230;</p>

                <div class="static-page-calltoaction">
                    <a href="/en/#!/pages/contact">Want to redeem a 1%Giftcard? Contact us</a> <i class="flaticon solid right-2"></i>
                </div>
            </div>

            <div class="l-one-third text-center">
                <i class="flaticon solid gift-1 static-page-illustration"></i>
            </div>

            <i class="goto static-page-section-navigator goto flaticon solid up-circle-2" data-target="#donate"></i></a>
        </div>
    </div>
</section>
