{% load i18n bb_ember %}


{% tplhandlebars "_my_menu" %}

    <li>
        {{#linkTo "userProfile" }}
            {% trans "My profile" %}
        {{/linkTo }}
    </li>
    
    <li>
        {{#linkTo "myDonationList" }}
            {% trans "My Donations" %}
        {{/linkTo}}
    </li>

    <li>
        {{#linkTo "myProjectList" }}
            {% trans "My Projects" %}
        {{/linkTo}}
    </li>

    <li>
        {{#linkTo "myFundraiserList" }}
            {% trans "My Fundraisers" %}
        {{/linkTo}}
    </li>
    
    <li class="nav-member-switch-language">
        <span>{% trans "Language" %}:</span> {{view "App.LanguageSwitchView"}}
    </li>

    <li class="nav-member-logout">
        <a {{action 'logout'}}>{%  trans "Logout" %}</a>
    </li>

{% endtplhandlebars %}