{% load i18n bb_ember %}


{% tplhandlebars "_profile_anchor" %}
    <a href="#" class="nav-member-dropdown">
        <img {{bindAttr src="currentUser.getAvatar"}} width="40" height="40" alt="Avatar" />
        <strong>
            {% blocktrans %}My 1%{% endblocktrans %}
        </strong>
    </a>
{% endtplhandlebars %}