{% load i18n bb_ember %}


{% tplhandlebars "_social_logins" %}
    {{view Em.FacebookView type="login-button" data-size="xlarge" data-scope="email, offline_access" classNames="btn btn-facebook btn-iconed"}}
    <div class="or-hr">
        <div class="first"></div>
        <div class="middle">{% trans "or" %}</div>
        <div class="last"></div>
    </div>
{% endtplhandlebars %}