{% load i18n bb_ember %}


{% tplhandlebars "social_errors" %}
    {{#if FBApp.connectError }}
        <div class="modal-flash-message error">
            {{FBApp.connectError}}
        </div>
    {{/if}}
{% endtplhandlebars %}