{% load i18n bb_ember %}

{% tplhandlebars "_social_logins" %}

    {{#if App.FBUser}}
       {{#if currentUser.isAuthenticated }}
       {{else }}
            {{#view Em.FBView type="login-button" data-size="xlarge" data-scope="email, user_friends, public_profile, offline_access"}}
                <span class="flaticon social facebook-1"></span>{% trans "Sign in with Facebook" %}
            {{/view}}
       {{/if}}
    {{else}}
            {{#view Em.FBView type="login-button" data-size="xlarge" data-scope="email, user_friends, public_profile, offline_access"}}
                    <span class="flaticon social facebook-1"></span>{% trans "Sign in with Facebook" %}
            {{/view}}
    {{/if}}
    {{#unless socialMatch}}
    <div class="or-hr">
        <div class="first"></div>
        <div class="middle">{% trans "or" %}</div>
        <div class="last"></div>
    </div>
    {{/unless}}

{% endtplhandlebars %}