{% extends "bb_accounts:bb_accounts/login.hbs" %}
{% load i18n bb_ember %}

{% block password_reset_success %}
    <p>{%  trans "You did it!" %}</p>
    <p>{%  trans "(Welcome back friend)" %}</p>
    <p>{%  trans "Login here with your email address and password" %}</p>
{% endblock password_reset_success %}