.header-main {
  @include clearfix;
}

.message {
  @include grid(48, 1);
  @include rem('margin-bottom', 16px);
  @include rem('padding', $padding);

  background: $green;
  color: $white;

  &.is-error {
    background: $color-error;
  }
}

.message-title {
  @include rem('font-size', 16px);

  font-weight: 600;
  text-transform: uppercase;
}

.message-close {
  float: right;
  font-weight: bold;
  font-size: 20px;
  color: $white;
  cursor: pointer;
  line-height: 1;
}

.order-message {
  @extend .message;
  @include grid(32, 1);
}
