.header-main {
  @include clearfix;
}

.alert-message {
  @include grid(48, 1);
  @include rem('margin-bottom', 16px);
  @include rem('padding', $padding);

  background: $green;
  color: $white;
}

.alert-message-title {
  @include rem('font-size', 16px);

  font-weight: 600;
  text-transform: uppercase;
}