/* Copy pasted from wallpost.scss */

.blogpost {
    clear: both;
    @include grid(32, 1, 0);
    position: relative;
    @include rem(margin, $padding*2 0);


    &:hover .manage {
        display: block;
    }

    .show-more {
       @include grid(48, 12, 1);
    }

    header {
        @include grid(48, 12, 1);

        h3 {
          @include rem(font-size, 28px);
          font-weight: 600;
          color: $heading-black;
          margin: 0px;
          @include rem(margin-top, 12px);
          padding: 0;
          text-transform: uppercase;
        }
        
        .timestamp {
	        text-transform: uppercase;
        }

        .manage {
            float: right;
        }
    }

    .text, .oembed, .video  {
        @include rem(margin-bottom, 12px);
    }

    .content {
        @include grid(48, 12, 1);
        position: relative;
        @include rem(margin-top, $padding/2);
        @include rem(margin-bottom, $padding/2);
        word-wrap: break-word;
    }

    .user-img {
        @include rem(width, 70px);
        position: absolute;
        top: 0;
        left: 0;
        @include prepend(5);
    }
}

.blogpost-filter {
	float: right !important;
    @include rem(margin-top, $padding*2);
    
    ul {
		background: $color-back;
		padding: 0;
		margin: 0;
		border-top: 1px solid $white;
		@include rem(margin-bottom, $padding);
		
		.item {
			clear: both;
			position: relative;
			display: block;
			border-bottom: 1px solid $white;
			@include rem(padding, $padding $padding*2);
			text-transform: uppercase;
			
			.timestamp {
				@include rem(font-size, 12px);
				text-transform: uppercase;
				font-style: normal;
				color: $gray;
			}
		}
	}
    
    .pager {
        color: $text-black;
        text-transform: uppercase;
        
        .flaticon {
	        @include rem(margin, 0 4px);
	        @include rem(font-size, 16px);
	        vertical-align: middle;
        }
    }
}
