/* Copy pasted from wallpost.scss */

.blogpost {

    &:hover .manage {
        display: block;
    }

    .show-more {

       @include grid(48, 11, 0);
    }

    header {
        @include grid(48, 11, 0);

        h1 {
          @include rem(font-size, 28px !important);
        }
        
        .timestamp {
	        text-transform: uppercase;
        }

        .manage {
            float: right;
        }
    }

    .content {
        @include grid(48, 11, 0);
        position: relative;
        @include rem(margin-top, $padding/2);
        @include rem(margin-bottom, $padding/2);
        word-wrap: break-word;
    }

    .user-img {
        @include rem(width, 70px);
        position: absolute;
        @include rem(top, $padding*3);
        left: 0;
        @include prepend(2);

    }
}

.pages-nav {

	ul li a {

		.timestamp {
			@include rem(font-size, 11px);
			text-transform: uppercase;
			font-style: normal;
			color: $gray;
			font-weight: normal;
			display: block;
		}

		&:hover .timestamp, &:active .timestamp {
			color: $white;
		}

	}

	.pagination {
		@include rem(margin, $padding/2 $padding*2);
	}

	.pager {
        color: $text-black;
        text-transform: uppercase;
        
        .flaticon {
	        @include rem(margin, 0 4px);
	        @include rem(font-size, 16px);
	        vertical-align: middle;
        }
    }

}