/* =========== Buttons */

.button-link {
    @include rem(font-size, 18px);
    color: $text-black;
    font-weight: 300;
    text-transform: uppercase;
    cursor: hand;
    cursor: pointer;
    background: transparent;

    .flaticon {
     	@include rem(margin-right, $padding/4);
    }

    &:hover, &:active {
        color: $green;
    } 
}


// The standard button has the $color-brand colors
.btn {
    @include rem(font-size, 18px);
    @include rem(padding, 8px 16px 8px 16px);
    @include rem(line-height, 32px);
    display: inline-block;
    margin: 0;
    border: 1px solid darken($green, 5%);
    background-color: $green;
    color: $white;
    vertical-align: baseline;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    @include border-radius(1px);

    &:active {
    	top: 0;
        background: $heading-black;
        color: #656565 !important;
        border-top-width: 5px;
        border-color: $black !important;
        @include rem(padding, 8px 16px 4px 16px);
    }

    &[disabled],&.disabled {
        border-color: $gray;
        background-color: $grayLight;
        color: $white;

        &:hover {
            background-color: $grayLight;
            color: $white;
        }
    }

    &.next {
        float: right;
        padding-right: 42px;
        border: none;
        background: $pink;
    }
}


.btn:hover,
.btn-primary:hover {
    border-color: darken($grayDarker, 5%);
    background-color: $grayDarker;
    color: $white;

    .btn-title,
    .btn-subtitle {
        color: $white;
    }
}


.btn-primary {
    border: 1px solid darken($pink, 5%);
    background-color: $pink;

    .btn-subtitle {
        color: darken($pink, 40%);
    }

    .flaticon, .icon {
        background: darken($pink, 5%);
        color: lighten($pink, 10%);
    }
}

.btn-iconed {
    @include rem(padding, 0 $padding 0 0);
	@include border-radius(1px 0 0 1px);
	
    .flaticon, .icon {
        @include rem(margin-right, ($padding / 2));
        @include rem(padding, 10px 8px 8px 8px);
        @include rem(font-size, 26px);
        display: inline-block;
        background: darken($green, 5%);
        color: lighten($green, 5%);
        vertical-align: middle;
        text-align: center;
        width: auto;
        
    }

    &.disabled, &[disabled] {
        .flaticon, .icon {
        	background: darken($grayLight, 5%);
            color: lighten($white, 5%);
        }
    }

    &.btn-primary {
        .flaticon, .icon {
            background: darken($pink, 5%);
            color: lighten($pink, 10%);
        }
        &.disabled, &[disabled] {
			.flaticon, .icon {
            	background: darken($grayLight, 5%);
				color: lighten($white, 5%);
			}
        }
    }
    
    &:hover {
        .flaticon, .icon {
            background: #333;
            color: $white;
        }
    }

    &:active {
    	
        @include rem(padding, 0 $padding 0 0);
        
        .flaticon, .icon {
            background: darken($heading-black, 5%);
            color: $grayDark;
            @include rem(padding, 9px 8px 6px 8px);
        }
    }

    &[disabled] {

        .flaticon, .icon {
            background-color: darken($grayLight, 5%);
            color: darken($white, 5%);
        }

        &:hover {
            .flaticon, .icon {
                background-color: darken($grayLight, 5%);
                color: darken($white, 5%);
            }

        }
    }
}


.btn-uploader {
	position: relative;
	
	border: 1px solid darken($grayLight, 5%);
	background-color: $grayLight;
	
	.flaticon, .icon {
	    background-color: darken($grayLight, 15%);
	    color:    $white;
	}
	
	input {
	    @include opacity(0);
	    cursor: pointer;
	    height: 100%;
	    position: absolute;
	    left: 0;
	    right: 0;
	    top: 0;
	    z-index: 10;
	    width: auto;
	}
}

/*

@media only screen and (min-width: 1140px) {
    .button-donate {
        @include rem(font-size, 20px);
    }
}


.btn-large {
    &.btn-iconed {
        .flaticon, .icon {
            @include rem(font-size, 80px);
            width: 20%;
            vertical-align: baseline;
        }
    }
}



.btn-content {
    display: inline-block;
}

.btn-title {
    @include rem(font-size, 26px);
    text-transform: uppercase;
}

.btn-subtitle {
    @include rem(font-size, 16px);
    color: darken($green, 15%);
    text-transform: none;
    font-weight: 300;
}

.btn.btn-iconed {
    &:hover {
        .flaticon, .icon {
            background: #333;
            color: $white;
        }
    }

    &:active {
        .flaticon, .icon {
            background: #181818;
            color: $white;
        }
    }

    &[disabled] {

        .flaticon, .icon {
            background-color: darken($grayLight, 5%);
            color:    darken($white, 5%);
        }


        &:hover {
            .flaticon, .icon {
                background-color: darken($grayLight, 5%);
                color:    darken($white, 5%);
            }

        }
    }
}

.sidebar .btn {
    width: 100%;
}

.btn-minor {
        background-color: transparent;
        color: $gray;
        font-weight: normal;
        border-width: 0px;
}

.btn-modest {
    @include rem(font-size, 14px);
    @include rem(padding, 9px 12px 8px 12px);
}

*/
