/* =========== Buttons */

.button-link {
    
    @include rem(font-size, 16px);
    color: $text-black;
    cursor: hand;
    cursor: pointer;
    text-transform: uppercase;
    
    em {
        @include rem(font-size, 20px);
    }
    
    &:hover, &:active {
        color: $black;
        text-decoration: underline;
        
        em {
            text-decoration: none;
        }
    }
    
}


// Choose a div or ul to group up your buttons
div.buttons, ul.buttons {
    margin: 0 0 $margin 0;
    @include clearfix;
    li { 
        a.button, a.btn, input[type="submit"], button {
            @include border-radius(0);
            float: left; 
            border-left-width: 0;
        }
        &:first-child { a.button, a.btn, input[type="submit"], button { @include border-radius(0.2em 0 0 0.2em); border-left-width: 1px; } }
        &:last-child { a.button, a.btn, input[type="submit"], button { @include border-radius(0 0.2em 0.2em 0); } }
    }
}
.dropdown-menu { display: none; }

// The standard button has the $color-brand colors
a.button, .btn, input[type="submit"], button {
    border: 1px solid darken($green, 5%);
    color: $white;
    cursor: pointer;
    display: inline-block;
    @include rem(font-size, 18px);
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
    @include rem(padding, 12px 24px 8px 24px);
    text-decoration: none;
    @include transition(all 30ms);
    vertical-align: baseline;
    background-color: $green;


    &:hover {
        background-color: $text-black;
        color: $white;
        border-color: darken($text-black, 5%);
    }
    
    &:active {
        background: #222;
        color: darken($white, 25%);
        
        text-shadow: 0 0 0;
        
        @include box-shadow(0 4px 0 $black inset);
        @include rem(padding, 16px 24px 4px 24px);
        
        border-color: $black;
        
        
        top: 0;
    }

    &[disabled] {
        color:  $color-back;
        background-color: $gray;
        border-color: $gray;

        &:hover {
            color:  $color-back;
            background-color: $gray;
        }
        &:active{
            position: relative;
            color:  $color-error;
            top: 0px;

        }
    }

    // The dark button
    &.contrast {
        border-color: $black;
        @include background( linear-gradient(top, lighten($black, 40%), $black) );
        &:hover { 
            @include background( linear-gradient(top, lighten($black, 50%), $black ));
        }
        &:active, &:focus {
            background: lighten($black, 20%);
            color: darken($white, 25%);
        }
    }
    
    &.next {
      float: right;
      border: none;
      padding-right: 42px;
      
      background: $pink url('../images/button-next.png') no-repeat right center;
    }
}


.button-donate {
    @extend a.button;
    @include rem(font-size, 18px);
    
    .icon {
        
    }
    
    border: 1px solid darken($pink, 5%);
    background-color: $pink;
}

/* ========================= Responsive ================================== */

/* Desktop */
@media only screen and (min-width: 1140px) {
    .button-donate {
        @include rem(font-size, 20px);
    }
}

/* ======================================================================= */