#project-dashboard {
	
	#profile-actions {
		@include rem(margin-bottom, 24px);	
	}
	
	.profile-actions-meta {
		@include grid(48,1,1);
	}
	
	.tabs {
		@include grid(48,1,1);
		
		li > a, li > span {
			@include grid(9);
		}
	}
	
    .menu-sidebar {
        @include grid(16, 1, 0);
        
        .menu {
            @include rem(margin-bottom, 24px);
            @include rem(font-size, 14px);
            
            .title {
                @include rem(padding, 6px 12px 4px 12px);

                h4 {
                    text-transform: uppercase;
                    @include rem(font-size, 16px);
                    font-weight: 600;
                    
                    .flaticon {
	                    @include rem(width, 26px);
						@include rem(line-height, 28px);
						@include rem(margin, 0 16px 0 4px);
						text-align: center;
                    }
                }
                
                background-color: $green;
                color: $white;
            }
           
            
            a {
            	text-decoration: underline;
                display: block;
                @include rem(padding, 8px 12px 6px 12px);
                background-color: $color-back;
                color: $pink;
                border-bottom: 1px solid $white;
                font-weight: 300;
                
                .icon {
		            display: inline-block;
		            @include rem(font-size, 15px);
		            background-color: $pink;
		            @include border-radius(15px);
		            @include rem(width, 26px);
		            @include rem(height, 26px);
		            @include rem(line-height, 28px);
		            @include rem(margin-right, 12px);
		            font-weight: 600;
		            text-align: center;
		            color: $text-white;
		            font-style: normal;
				}
                
                em {
	            	display: inline-block;
		            width: 26px;
		            height: 26px;
					@include rem(margin-right, 12px);
					vertical-align: middle;
	            }
	            
	            em.is-unfinished {
		            background-image: $icons;
					background-repeat: no-repeat;
					background-position: sprite-position($icons, dashboard-is-unfinished, 0, 0);
	            }
	            
	            em.is-in-progress {
		            background-image: $icons;
					background-repeat: no-repeat;
					background-position: sprite-position($icons, dashboard-is-in-progress, 0, 0);
	            }
	            
	            em.is-finished {
		            background-image: $icons;
					background-repeat: no-repeat;
					background-position: sprite-position($icons, dashboard-is-finished, 0, 0);
	            }
	                            
                &.submit {
	                background-color: $white;
                }
                
                &.active {
                    background-color: $white;
                    color: $black;
                    text-decoration: none;
                }
                &.disabled {
                    color: $gray;
                }
                
            }
        }
    }

    form {
        @include rem(margin-bottom, 24px);
        
        .controls {
        
            .extra-info {
                padding: 8px 0px;
                
                strong {
                    color: $green;
                }
            }

        }
    }


}

#project-dashboard .donate-status {
    width: 100%;
    float: none;
    .donate-amount {
        color: $grayDarker;
    }

}

.pitch-start {
    //@include grid(24, 0, 1);
    position: relative;
}

.map-picker {
    width: 100%;
    height: 350px;

}

.map-look-up {
    position: absolute;
    top: 4px;
    left: 100px;
    font-size: 13px;
    input {
        padding: 1px 4px 0px 4px;
        width: 300px;
        border: 1px solid $grayDark;
        box-shadow: 2px 2px 2px rgba(0,0,0,0.5);

    }
    button {
        text-transform: capitalize;
        font-weight: 300;
        background-color: $green;
        color: $white;
        padding: 1px 8px 0px 8px;
        border: 1px solid $white;
        box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    }

}

.project-pic-uploader {
    .preview {
        @include rem(margin-top, 12px);
        margin-top: 12px;
        width: 412px;
        height: 206px;
        overflow: hidden;
        &.empty {
            border: 1px dotted $gray;
        }
        img {
            width: 100%;
        }
    }
}

.main-title {
    em {
        font-style: normal;
        @include rem(font-size, 20px);
        color: $gray
    }
}

.my-project {
    @include clearfix;
    border-bottom: 1px solid $color-back;
    
    
    li {
    	display: block;
	    border-top: 1px solid $color-back;
		line-height: 1.5;
		@include rem(padding, $padding 0);
		
	    .project-image {
	        @include grid(16,0,1);
	    }
	    
	    h2 {
	    	@include grid(32,0,1);
	    	@include rem(font-size, 20px);
	    	padding: 0;
	    }
	    
	    .project-status {
	        clear: left;
	        @include grid(16,0,1);
	    }
	    
	    a {
		    @include grid(16,0,1);
	    } 
	    
    }
	
}

.toolbox {
    @include grid(16,1,0);
    background-color: $color-back;
    
    .title {
        background-color: $grayLight;
        @include rem(padding, 16px, 24px);
        color: $white;
        
        h3 {
            color: $grayDarker;
            text-transform: uppercase;
            padding: 0;
            font-weight: 600;
            @include rem(font-size, 20px);
        }
    }

    .body {
        @include rem(padding, 16px);
        
        .tip {
        
            .flaticon {
                color: $grayLight;
                @include rem(font-size, 36px);
                @include rem(padding, 4px 16px 4px 4px);
                float: left;
                display: inline-block;
            }
            @include rem(font-size, 18px);
            @include rem(line-height, 22px);
            @include rem(margin-bottom, 12px);

        }
    }
}