#detail {
    background-color: #222222;
    position: relative;
    @include rem(padding, 32px 0 0 0);

    .darken-background {
        background-color: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        position: absolute;
    }
    
    .wrapper {
        position: relative;
    }

    figure.media {
        @include grid(24,1,0);
        margin-bottom: $margin;
        border: 1px solid #fff;
        background-color: #ccc;
        overflow: hidden;
        @include box-shadow(inset 0px 1px 6px rgba($black, 0.1));
    }
    
    article {
      @include grid(24, 2, 1);
      color: $text-white;
      @include rem(font-size, 16px);
      @include rem(padding, 0);
      
      .project-title {
          @include rem(font-size, 28px);
          @include rem(padding, 8px 0);
      }
    
    }
    
    sidebar {
        margin-bottom: $margin;
    }
}

.project-plan {
    @include grid(24);
}

.project-share {
    @include grid(24);
    text-align: right;
    a {
        color: $gray;
        text-decoration: none;
    }
}

.project-phase {
    @include clearfix;
    @include rem(padding-bottom, $padding/2);
    border-bottom: 1px solid $grayDarker;
    list-style: none;
    margin: 0;

    .item {
        @include grid(10);
        @include rem(font-size, 12px);
        @include rem(line-height, 24px);
        color: $gray;
        text-transform: uppercase;
        text-align: center;

        &:first-of-type {
            text-align: left;
            width: auto;
        }

        i {
            @include rem(font-size, 10px);
        }
    }

    .project-phase-is-current {
        background: $gray;
        color: $grayDarker;
    }
}

.project-meta {
    @include rem(margin, 8px 0);
    @include rem(font-size, 14px);
    color: $green;
    
    .location {
        display: block;
        float: left;
        vertical-align: middle;
        @include rem(margin-right, 32px);
        
    }
    
    .tags {
        display: block;
        width: auto;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        color: $green;

        ul {
            vertical-align: middle;
            margin: 0;
            padding: 0;
            display: inline;
            list-style: none;

            li {
                color: $green;
                display: inline;
                text-transform: capitalize;

                &.out-of-range {
                  display: none;
                }
            }
        }
    }
}

#project-actions {
    
    border-bottom: 1px solid $text-grey;
    
    @include rem(padding-top, 8px);
    @include rem(padding-bottom, 8px);    
    
    .tabs {
        
        @include grid(28,1);
        
        .tabs li {
            @include grid(16,2,0);
        }
    
    }
    
    .project-action {
        @include grid(20,0,1);
        
        .button-donate {
            float: right;
        }
    }
}

