#detail {
    
    figure.media {
        @include grid(32, 1);
        margin-bottom: $margin;
        //height: 450px;
        border: 1px solid #ccc;
        background-color: #ccc;
        overflow: hidden;
        @include box-shadow(inset 0px 1px 6px rgba($black, 0.1));
        
        img {
          /*
            margin: 0 auto;
            width: auto !important;
            position: relative;
            top: 50%;
            left: 50%;
            margin-top: -225px;
            margin-left: -400px;
          */
        }
    }
    
    sidebar {
        margin-bottom: $margin;
    }
}

.phase {
    @include rem(font-size, 14px);
    @include border-radius(2px 0 0 2px);
    vertical-align: top;
    color: $white;
    padding: 0.3em 1.2em 0.3em 0.8em;
    background: #ccc url('../images/phase-back.png') no-repeat right center;
}

.meta {
    @include rem(margin, 8px 0);
    @include rem(font-size, 18px);
    
    .location {
        float: left;
        display: block;
        vertical-align: middle;
        @include rem(margin-right, 32px);
    }
    
    .tags {
        display: block;
        width: auto;
        
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        
        ul {
            vertical-align: middle;
            margin: 0;
            padding: 0;
            display: inline;
            list-style: none;
            
            li {
                color: $green;
                display: inline;
                text-transform: capitalize;
                
                &.out-of-range {
                  display: none;
                }
            }
        }
    }
}



