#detail {
    @include rem(padding, 32px 0);
    position: relative;
    background-color: #323232;
    
    .wrapper {
        position: relative;
    }

    figure.media {
        @include grid(24,1,0);
        @include box-shadow(inset 0px 1px 6px rgba($black, 0.1));
        overflow: hidden;
        border: 1px solid $gray;
        background-color: #ccc;
    }

    article {
		@include grid(24, 2, 1);
		@include rem(font-size, 16px);
		@include rem(padding, 0);
		color: $text-white;
		
	    .project-phase {
	    	@include clearfix;
			@include rem(padding-bottom, $padding);
			@include rem(margin, 0 0 $padding/2 0);
			border-bottom: 1px solid $grayDarker;
			list-style: none;
	
		    .item {
		        @include grid(10);
		        @include rem(font-size, 12px);
		        @include rem(line-height, 28px);
		        color: $gray;
		        text-align: center;
		        text-transform: uppercase;
						@include rem(padding-right, $padding/2);
				
		        &:first-of-type {
		            @include rem(margin-right, 16px);
		            width: auto;
		            text-align: left;
		        }
		
		        &.is-current {
					background: image-url('steps-phase-back.png') no-repeat $gray 100% 50%;
					color: $grayDarker;
				}
		    }
		}
    
		.project-plan {
			@include grid(24);
		}
    }

    sidebar {
		margin-bottom: $margin;
    }
}

.project-title {
	clear: both;
	@include rem(font-size, 28px);
	@include rem(padding, $padding 0 $padding/2 0);
}

.project-meta {
	@include rem(margin, $padding 0 $padding/2);
	@include rem(font-size, 14px);
	color: $green;
	
	.location {
		float: left;
	    @include rem(margin-right, $padding*2);
	    display: block;
	    vertical-align: middle;
	}
	
	.theme {
		float: left;
	    @include rem(margin-right, $padding*2);
	    display: block;
	    vertical-align: middle;
	}
	
	.tags {
		float: left; 
	    display: block;
	    overflow: hidden;
	    width: auto;
	    color: $green;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	
	    ul {
	        display: inline;
	        margin: 0;
	        padding: 0;
	        list-style: none;
	        vertical-align: middle;
	
	        li {
	            display: inline;
	            color: $green;
	            text-transform: capitalize;
	
	            &.out-of-range {
	              display: none;
	            }
	        }
	    }
	}
	
	.project-share {
		@include rem(margin-right, $padding);
	    float: right;
	    text-align: right;
	    
	    a {
	        color: $gray;
	        text-decoration: none;
	        
	        strong {
		        display: none;
	        }
	        
	        &:hover, &:active {
	        	
	        	color: $white;
	        	
	        	strong {
		        	display: inline;
	        	}
	        }
	    }
	}
	
}




#project-actions {
	
	padding-bottom: 0;
    @include rem(padding-top, 8px);
    border-top: 1px solid $text-grey;

    .tabs {
		@include grid(32,1,1);
		@include rem(margin-top, $padding/2);
		
		li > a, li > span {
			@include grid(16,0,0);
		}
	}
	
    .project-action {
        @include grid(20,0,1);

        .button-donate {
            float: right;
        }
    }
}
