// FOOTER

.footer {
	@include rem(font-size, 14px);
	line-height: 1.5;
    @include rem(padding, 48px 0);
    color: $gray;
    
    @include grid(48, 1);

    hr {
        @include rem(margin, 48px 0);
    }

    ul {
        margin: 0;
        list-style: none;
    }
    
	h3 {
	    @include rem(font-size, 16px);
	    padding: 0;
	    @include rem(margin, 0 0 8px 0);
	    color: $grayDarker;
	    font-weight: 600;
	    text-transform: uppercase;
	}
}

.footer-menu {
    @include clearfix;
    

    color: $gray;
    text-transform: uppercase;
    
    a {
		color: $gray;
		
		&:hover, &:active {
			color: $grayDarker;
		}
		
    }

    > li {
        @include grid(12);
        @include rem(line-height, 20px);
    }
}

.footer-news,
.footer-join-us {
    @include grid(24);
    position: relative;

    .btn {
        float: right;
    }
}

.footer-join-us ul {
	@include grid(24);
}

.footer-social-links {
    li {
        @include rem(margin-right, 5px);
        float: left;
        .flaticon {
            transition: 200ms;
            background-color: $gray;
            color: $white;
            display: inline-block;
            @include rem(font-size, 18px);
            @include rem(width, 30px);
            @include rem(height, 30px);
            @include rem(padding-top, 7px);
            text-align: center;
            &:hover {
                background-color: $green;
            }
        }
    }
}


// COPYRIGHT

.copyright {
    ul {
        @include grid(48,1);
        @include rem(font-size, 12px);
        margin-bottom: 0;
        color: $white;
        list-style: none;

        li {
            @include rem(margin-right, 16px);
            @include rem(padding, 16px 0);
            float: left;
            line-height: 1;

            &:last-child {
                float: right;
                margin-right: 0;
            }

            a {
                color: $gray;
                text-decoration: underline;

                &.feedback {
                    color: $green;
                    text-transform: uppercase;
                }
                
                &:hover, &:active {
	                color: $grayLighter;
                }
            }
        }
    }
}
