// FOOTER

.footer {
    @include rem(padding, 64px 0);
    color: $gray;

    hr {
        @include rem(margin, 32px 0);
    }

    ul {
        margin: 0;
        list-style: none;

        h3 {
            @include rem(font-size, 14px);
            padding-top: 0;
            color: $grayDarker;
            font-weight: 600;
        }
    }
}

.footer-menu {
    @include  clearfix;

    color: $gray;
    text-transform: uppercase;

    > li {
        @include grid(12);
    }
}

.footer-news,
.footer-join-us {
    @include grid(24);
    position: relative;

    .btn {
        position: absolute;
        right: 0;
        bottom: 0;

        &:active {
            top: auto;
            bottom: -1px;
        }
    }
}

.footer-social-links {
    li {
        @include rem(margin-right, 5px);
        float: left;
        .flaticon {
            transition: 200ms;
            background-color: $gray;
            color: $white;
            display: inline-block;
            @include rem(font-size, 18px);
            @include rem(width, 30px);
            @include rem(height, 30px);
            @include rem(padding-top, 7px);
            text-align: center;
            &:hover {
                background-color: $green;
            }
        }
    }
}


// COPYRIGHT

.copyright {
    ul {
        @include grid(48, 1);
        @include rem(font-size, 12px);
        margin-bottom: 0;
        color: $white;
        list-style: none;

        li {
            @include rem(margin-right, 16px);
            @include rem(padding, 16px 0);
            float: left;
            line-height: 1;

            &:last-child {
                float: right;
                margin-right: 0;
            }

            a {
                color: $gray;
                text-decoration: underline;

                &.feedback {
                    color: $green;
                    text-transform: uppercase;
                }
            }
        }
    }
}
