/* =========== Icons */

.flaticon.large {
    @include rem(font-size, 60px);
    color: $color-back;
       @include grid(4, 0, 1);
}

.flaticon {
	font-style: normal;
	font-weight: 600;
	text-decoration: none !important;
}