/* =========== Icons */

/*
.location {
    
    background-image: $icons;
    background-repeat: no-repeat;
    background-position: sprite-position($icons, world, 0, 0);
    @include rem(padding-left, 36px);
}

.tags {
    background-image: $icons;
    background-repeat: no-repeat;
    background-position: sprite-position($icons, tag, 0, 6px);
    @include rem(padding-left, 36px);
}
*/