/* =========== Lightbox */

#cboxLoadedContent {
	background: #fff;
}

#lightbox {
	position: relative;
}

#lightbox header {
	background: #ccc;
	
	@include rem(padding, 24px 32px 16px 32px);
	@include clearfix;
}

#lightbox header h1 {
	float: left;
	margin: 0;
	width: 50%;
	color: $green;
	
}

#lightbox nav {
	font-weight: bold;
	
	ul {
		float: right;
		margin: 0;
		padding: 0;
		list-style: none;
		text-align: right;
		
		li {
			display: inline;
			
			a, a:visited {
				display: block;
				float: left;
				border-left: 2px solid #999;
				color: #999;
				text-align: center;
				text-decoration: none;
				text-transform: uppercase;
				
				&.is-current, &:hover, &:active {
					color: $black;
				}
				@include rem(padding, 0 16px);
			}
			
			&:first-child a {
				border: none;
			}
		}
	}
	@include rem(font-size, 13px);
}

#lightbox-content {
	color: #6a6a6a;
	
	button {
		
		background-color: $black !important;
		
	}
	
	@include rem(font-size, 15px);
	@include rem(padding, 0 32px 72px 32px);
}

#lightbox footer {
	position: absolute;
	bottom: 0;
	clear: both;
	width: 100%;
	background: #ccc;
	
	#lightbox-cancel {
		float: left;
		color: #999;
		
		&:hover, &:active {
			color: $black;
		}	
	}
	
	#lightbox-save, #lightbox-next {
		float: right;
		margin: 0;
	}
	
	@include rem(line-height, 32px);
	@include rem(padding, 16px 32px 16px 32px);
	
}

.video-holder, .image-holder {
	display: inline-block;
	overflow: hidden;
	width: 279px;
	height: 165px;
	border: 1px solid #999;
	background-color: #ccc;
	background-position: center center;
	background-repeat: no-repeat;
	
	@include rem(margin-bottom, 16px);
}

.video-holder {
	background-image: url('../img/static/icon-video.svg');
}

.image-holder {
	background-image: url('../img/static/icon-image.svg');
}

#lightbox-content form {
	@include clearfix;
}	


/* 
    ColorBox User Style
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/

#cboxOverlay { background: #000; }
 
#colorbox {  }
 
#cboxContent {
	overflow: visible; }
 
.cboxIframe { background: #fff; }
 
#cboxError {
	padding: 50px; 
}
 
#cboxLoadingGraphic { background: url(../img/static/loading.gif) no-repeat center center; }
 
#cboxLoadingOverlay {
	
}
 
#cboxTitle {
	position: absolute;
	top: -22px;
	left: 0;
	display: none !important;
	color: #fff; 
}
 
#cboxCurrent {
	position: absolute;
	top: -22px;
	right: 205px;
	text-indent: -9999px; 
}
 
#cboxSlideshow, #cboxPrevious, #cboxNext, #cboxClose {
	position: absolute;
	top: -20px;
	width: 20px;
	height: 20px;
	background: url(../images/colorbox/controls.png) no-repeat 0 0;
	text-indent: -9999px; }
 
#cboxPrevious {
	right: 44px;
	background-position: 0px 0px; 
}
 
#cboxPrevious:hover { background-position: 0px -25px; }
 
#cboxNext {
	right: 22px;
	background-position: -25px 0px; 
}
 
#cboxNext:hover { background-position: -25px -25px; }
 
#cboxClose {
	right: 0;
	background-position: -50px 0px; 
}
 
#cboxClose:hover { background-position: -50px -25px; }
 
.cboxSlideshow_on #cboxPrevious, .cboxSlideshow_off #cboxPrevious { right: 66px; }
 
.cboxSlideshow_on #cboxSlideshow {
	right: 44px;
	background-position: -75px -25px; 
}
 
.cboxSlideshow_on #cboxSlideshow:hover { background-position: -100px -25px; }
 
.cboxSlideshow_off #cboxSlideshow {
	right: 44px;
	background-position: -100px 0px; 
}
 
.cboxSlideshow_off #cboxSlideshow:hover { background-position: -75px -25px; }
 
 