.main-title {
    em {
        font-style: normal;
        @include rem(font-size, 20px);
        color: $gray
    }
}

ul.manage-steps {
    margin: 16px 0;
    padding: 0;
    list-style: none;

    @include grid(50, 1);

    overflow: hidden;
    li {
        display: inline-block;
        background: transparent url('../images/donation-step.png') no-repeat right center;
        position: relative;
        @include rem(height, 50px);

        display: block;
        @include grid(10, 0);

        margin-left: -30px;
        div.inner {
            @include rem(height, 50px);
            padding: 0.6em 0 0.6em 0.6em;
            padding-left: 30px;
            background-color: #dcdcdc;
            margin-right: 30px;
        }
        color: $gray;
        @include rem(font-size, 12px);
        @include rem(line-height, 12px);
        text-transform: uppercase;

        h4 {
            @include rem(font-size, 15px);
        }

        em {
            background-color: $gray;
            float: left;
            @include rem(font-size,  20px);
            @include rem(height, 30px);
            @include rem(width, 30px);
            @include rem(margin, 2px 6px);

            color: $white;
            padding: 4px;
            @include border-radius(50%);
        }
        &.selected {
            background: transparent url('../images/donation-step-select.png') no-repeat right center;
            div.inner {
                background-color: $green;

            }
            em {
                background-color: $white;
                color: $black;
            }
            color: $white;
        }
        &.first {
            margin-left: 0px;
            z-index: 10;
            .inner {
                padding-left: 0px;
            }
            em {
                @include rem(margin, 2px 10px 2px 6px);
            }
        }
        &.second {
            z-index: 9;
        }
        &.third {
            z-index: 8;
        }
        &.fourth {
            z-index: 7;
        }
        &.fifth {
            z-index: 6;
        }
        &.sixth {
            z-index: 5;
        }
    }
}
