.mp-sidebar {
  @include rem(padding, $padding + 8);
  position: absolute;
  top: 0;
  left: 0;
  width: 33.33333%;
  height: 100%;

  background-color: $grayLighter;

  img {
    border: 1px solid $grayDarker;
  }


  h2 {
    @include rem(line-height, 22px);
    padding: 0px;
    font-size: 22px;
  }
}

.mp-content {
  @include grid(48, 18, 3);
  @include rem(line-height, 22px);

  color: #767676;

  h3 {
    padding: 0px;
    color: $pink;
    text-transform: uppercase;
    font-weight: 600;
  }
}

.mp-meta {
  @include clearfix;

  color: $gray;
}

.mp-meta-item {
  @include clearfix;

  &:first-of-type {
    @include rem(padding-top, 20px);
    border-top: 1px solid $grayLight;
  }

  &:last-of-type {
    @include rem(padding-bottom, 20px);
    border-bottom: 1px solid $grayLight;
  }

  [class^="icon-"] {
    @include grid(3, 0, 1);
    @include rem(font-size, 16px);

    text-align: center;
  }

  .key {
    @include grid(13, 0, 1);

    text-transform: uppercase;
  }

  .value {
    @include grid(32, 5, 0);

    color: $green;
  }
  @include rem(padding, 0 $padding $padding);
}
