//
// Reusable member items
//
// --------------------------------------------------

.member {
    position: relative;
    display: block;
    float: left;
    text-decoration: none;
    width: 100%;
    
    .member-avatar {
        
        img {
            float: left;
            border-width: 1px;
            border-style: solid;
            border-color: transparent;
            background-color: $gray-lighter;
            color: $color-text-light;
            vertical-align: middle;
        }
        
    }
    
    .member-name {
        display: inline-block;
        text-transform: uppercase;
        font-family: $font-family-heavy;
    }
    
    .member-organisation {
        font-size: $font-size-smallest;
        display: block;
        color: $gray;
        font-style: normal;
    }
    
    &:hover {
    
        img {
            border-color: $color-primary;
        }
    }
}

//
// Horizontal list of members (who supported project fi)

.project-member-list {
    @include clear;
    position: relative;
    margin: 0;
    padding: 0;
    white-space: nowrap;

    li {
        @include resetlist;
        position: relative;
        display: inline-block;
        margin: 0 $base-margin*2 0 0;
        overflow: visible;
        font-size: $font-size-small;
        vertical-align: top;

        h4 {
            font-size: $font-size-small;
            margin: 0;
            padding: 0;
            color: $gray;
            text-transform: uppercase;
        }

        ul {
            margin: 0;
            
            li {
                display: inline;
                margin: 0;
            }
        }

        &.project-member-initiator {
            @include grid(12,0,1);
        
            h4 {
                position: relative;
                bottom: auto;
            }
    
            .member-avatar {
                display: block;
                float: left;
                margin-right: $base-margin;
                width: 68px;
            }
        }
        
        &.project-member-supporters {
            @include grid(36,0,0);
            margin-right: 0;        
        }
    }

    .project-member-supporters {
        display: block;
        margin: 0;
        padding: 0;
        
        h4 {
            position: absolute;
            bottom: -25px;
            right: 0;
        }

        a {
            float: right;
            width: 45px;
            height: 45px;
            color: $color-text;
            vertical-align: middle;
            text-align: center;
            text-transform: uppercase;
            white-space: normal;
            line-height: 1em;

            strong {
                color: $color-primary;
            }

            em {
                font-style: normal;
            }
        }
    }
    
    .project-member-supporters-total {
        float: right;
        display: block;
        margin: 0;
        padding: 0;
        padding-top: $base-padding;
        background: $white;
        width: 44px;
        height: 44px;
        text-transform: uppercase;
        text-align: center;
        line-height: 1em;
        border-width: 1px;
        border-style: solid;
        border-color: transparent;
        
        strong {
            color: $color-primary;
        }
        
        em {
            font-style: normal;
            color: $gray;
        }
    }
}
