/* =========== Project members */

.member-box {
    @include grid(48, 1, 1);
    position: relative;
    padding: 0;
    @include clearfix;
    overflow: hidden;
    @include rem(margin-top, 16px);
    
    ul {
        display: inline;
        margin: 0;
        list-style: none;
        position: relative;
        display: block;
        padding: 0;
        white-space: nowrap;
        width: 100%;

        li {
            position: relative;
            vertical-align: top;
            overflow: visible;
            display: inline-block;
            margin: 0 $margin * 2 0 0;
            padding: 24px 0 0 0;
            @include rem(font-size, 14px);
            
            h4 {
                position: absolute;
                left: 0;
                top: 0;
                margin: 0;
                padding: 0;
                color: $text-grey;
                font-weight: normal;
                text-transform: uppercase;
                @include rem(font-size, 14px);
            }
            
            
            
            ul {
            
                li {
                    display: inline;
                    margin: 0;
                    
                    a {
                        position: relative;
                        display: block;
                        float: left;
                        margin-bottom: 1px;
                        line-height: 1em;
                        
                        img {
                            border-width: 1px 1px 1px 0;
                            border-style: solid;
                            border-color: #fff;
                            vertical-align: middle;
                            float: left;
                            @include transition(0.1s);
                            color: $text-white;
                            background-color: $mid-grey;
                        }    
                        
                        .member-name {
                            display: block;
                            padding: 0.3em !important;
                            font-weight: 300;
                        }
                        
                        .member-organisation {
                            display: block;
                            padding: 0 0.3em;
                            @include rem(font-size, 12px);
                            color: $text-grey;
                            font-style: normal;
                        }
                    
                        &:hover {
                            
                            
                            img {
                                
                                
                            }
                        }
                    }
                    
                    .popup {
                        left: 0;
                        bottom: 60px;
                    }
                    
                    &:first-child a img {
                        border-left: 1px solid #fff;
                    }
                }
            }
            
            &.member-initiator {
                @include grid(12,0,2);
            }
            
            &.member-initiator h4 {
                color: $text-white;
                font-weight: 300;
                left: 75px;
            }
            
            &.member-initiator ul li a {
                
                margin-right: 3em;
                text-transform: uppercase;
                
                img {
                    position: relative;
                    top: -23px;
                    width: 68px;
                    height: auto;
                    margin-right: 0.5em;
                }
            }
            
            &.member-supporters ul {
                width: 9999px;
            }
            
            &.member-project-team a, &.member-coaches a, &.member-promotors a, &.member-supporters a {
                //@extend .placeholder;
            }
        }
    }
    
    .show-all-supporters {
        display: block;
        position: absolute;
        right: 0;
        top: 24px;
        margin: 0;
        padding: 0;
        
        a {
            width: 45px;
            height: 45px;
            text-transform: uppercase;
            @include rem(font-size, 10px);
            @include rem(padding-top, 4px);
            line-height: 1em;
            display: table-cell; 
            vertical-align: middle; 
            text-align: center; 
            color: $text-black;
            white-space: normal;
            background-color: $white;
            
            strong {
                @include rem(font-size, 22px);
                color: $pink;
                font-weight: 300;
            }
            
            em {
                font-style: normal;
            }
        
        }
    }
}


/* =========== Popup */

.popup {
    visibility: hidden;
    position: absolute;
    background: $green;
    color: $white;
    z-index: 10;
    padding: 1em 1.5em;
    line-height: 1.5em;
    @include border-radius(5px);
    @include box-shadow(2px -2px 2px rgba($black, 0.2));
    
    span {
        display: block;
    }
    
    .action {
        text-transform: uppercase;
    }
    
    .comment {
        color: $black;
    }
    
    .profile {
        text-decoration: underline;
    }

    &:before {
        position: absolute;
        width: 0;
        bottom: -27px;
        left: 20px;
        height: 10px;
        content: "";
        border-right: 15px solid transparent;
        border-top: 20px solid $green;
    }
    
}
