//
// Reusable member items
//
// --------------------------------------------------

.member {
    position: relative;
    display: block;
    float: left;
    text-decoration: none;
    width: 100%;
    
    .member-avatar {
        
        img {
            @include transition(all 0.2s ease-out);
            float: left;
            border-width: 1px;
            border-style: solid;
            border-color: transparent;
            background-color: $gray-lighter;
            color: $color-text-light;
            vertical-align: middle;
        }
        
    }
    
    .member-name {
        @include transition(all 0.2s ease-out);
        display: inline-block;
        text-transform: uppercase;
        font-family: $font-family-heavy;
    }
    
    .member-organisation {
        font-size: $font-size-smallest;
        display: block;
        color: $gray;
        font-style: normal;
    }
}

//
// Horizontal list of members (who supported project fi)

.project-member-list {
    @include clear;
    position: relative;
    margin: 0;
    padding: 0;
    white-space: nowrap;

    li {
        @include resetlist;
        position: relative;
        display: inline-block;
        margin: 0 $base-margin*2 0 0;
        overflow: visible;
        vertical-align: top;

        h4 {
            font-family: $font-family-heavy;
            margin: 0;
            padding: $base-padding/4 0;
            color: $color-text-light;
            text-transform: uppercase;
            
            em {
                font-family: $base-font-family;
                color: $gray-light;
            }
        }

        ul {
            margin: 0;
            
            li {
                display: inline;
                margin: 0;
            }
        }

        &.project-member-initiator {
            @include grid(14,0,1);
        
            h4 {
                position: relative;
                bottom: auto;
            }
    
            .member-avatar {
                top: -2px;
                position: relative;
                display: block;
                float: left;
                margin-right: $base-margin;
                width: 100px;
                border-width: 2px;
                z-index: 2;
            }
            
            .member-name {
                text-decoration: underline;
            }
        }
        
        &.project-member-fundraisers {
            @include grid(14,0,1);
        }
        
        &.project-member-supporters {
            @include grid(20,1,0);
            margin-right: 0;   
            float: right;
        }
        
        &.project-member-fundraisers, &.project-member-supporters {
            
            ul {
                @include clear;
                margin-bottom: $base-margin/4;
            }
            
            .member {
                width: 45px;
                height: 45px;
                color: $color-text;
                vertical-align: middle;
                text-align: center;
                text-transform: uppercase;
                white-space: normal;
                line-height: 1em;
        
                strong {
                    color: $color-primary;
                }
        
                em {
                    font-style: normal;
                }
                    
                &:hover {
                
                    img {
                        margin-top: 4px;
                    }
                }
            }
        }
        
        &.project-member-fundraisers .popover {
            width: 400px;
        }
        
        &.project-member-supporters .popover {
            width: 240px;
            text-align: center;
            
            .popover-title {
                margin-bottom: 0;
                padding-bottom: 0;
            }
            
            .popover-content {
                margin-top: 0;
                padding-top: 0;
            }
        }
        
        .fundraiser-become {
            @include transition(all 0.2s ease-out);
            font-family: $font-family-heavy;
            text-transform: uppercase;
            display: inline-block;
            color: $color-primary;
            padding-right: 16px;
            background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAALCAYAAABCm8wlAAAAfElEQVQoz2P4nziLAYgNgXgfEItD+XAMImyA+D0Q/wfi60Asia5gPVQShm8AsRSyAk4g3oGm6BYQy8AUgDA7EG9DU3QHiOWQHcQDxG/RFO1FNmErmuRdmAkcQLwdixtkYW5YjSZ5E4ilkX1hBMRv8IUDCOsC8X4glkAPSQDpL9be9X9n1gAAAABJRU5ErkJggg==') transparent no-repeat 100% 50%;
            
            &:hover, &:active {
                padding-right: 20px;
                text-decoration: none;
            }
        }
    }
        
    /*
    .project-member-supporters-total {
        float: right;
        display: block;
        margin: 0;
        padding: 0;
        padding-top: $base-padding;
        background: $white;
        width: 44px;
        height: 44px;
        text-transform: uppercase;
        text-align: center;
        line-height: 1em;
        border-width: 1px;
        border-style: solid;
        border-color: transparent;
        
        strong {
            color: $color-primary;
        }
        
        em {
            font-style: normal;
            color: $gray;
        }
    }
    */
}
