/* =========== TODO: Manage */

.manage {
    margin: 0;
    padding: 0;
    list-style: none;
    @include rem(font-size, 10px);
    text-transform: uppercase;
    
    li {
        display: inline;
        
        a {
            display: inline-block;
            color: $text-grey;
            cursor: hand;
            cursor: pointer;

            &:hover, &:active {
                color: $black;
                text-decoration: underline;
                
                em {
                    text-decoration: none;
                }
            }
        }
    }
}
