/* =========== For prototyping only */

.placeholder {
    display: block;
    background-color: #fff;
    border: 1px solid #ccc;
    
    background: url('data:image/png;base64,
    iVBORw0KGgoAAAANSUhEUgAAAfQAAAH0CAYAAADL1t+KAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyRpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYxIDY0LjE0MDk0OSwgMjAxMC8xMi8wNy0xMDo1NzowMSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNS4xIE1hY2ludG9zaCIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo0OURGMzdEQjMxNzAxMUUyODJCNjkxNTBGRjM2Q0NEMyIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDo0OURGMzdEQzMxNzAxMUUyODJCNjkxNTBGRjM2Q0NEMyI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjQ5REYzN0Q5MzE3MDExRTI4MkI2OTE1MEZGMzZDQ0QzIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjQ5REYzN0RBMzE3MDExRTI4MkI2OTE1MEZGMzZDQ0QzIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+r+0lHgAACtpJREFUeNrs1zFSLEkQBcEe7n/nwkbBAAMBaYjX7traSlOdmcG/rus6FwBQ9ez4efv0HwBAL+ZPjy919y4A0PqX+Z/+BwDQiLmoA8BIzEUdAEZiLuoAMBJzUQeAkZiLOgCMxFzUAWAk5qIOACMxF3UAGIm5qAPASMxFHQDGGivqADDSVlEHgJGmijoAjLRU1AFgpKGiDgAj7RR1ABhppqgDwEgrRR0ARhop6gAw0kZRB4CRJoo6AGI+0kJRB0DM/SAA0D4/DAA0zw8EAK0TdQDE3A8GAG3zwwFA0zwAAGiZhwBAwzwIAGiXhwEAzfJAAKBVHgoAjcKDAaBNHg4ANMkDAoAWeUgANAgPCoD2eFgA0BwPDABa46EB0Bg8OADa4uEBQFN8AAC0REt8CAA0BB8EAO3AhwFAM3wgALQCHwoAjcAHA0Ab8OEA0AQfEAAtwIcEQAPwQQFw+/FhAXDzfWAfGMCtx4cGwI3HBwfAbceHB8BNxwAAuOUYBADccAwEAG43BgMANxsDAuBWY1AAcKMxMAC4zRgcANxkDBCAWwwGCcANxkAB4PZisADcXDBgAG4tGDQANxYDB4DbisEDcFPBAAK4pWAQAdxQDCQAbicGE8DNBAMK4FaCQQVwI8HAAriNGFwANxEMMIBbCAYZwA0EAw3g9mGwAdw8MOAAbh0YdAA3Dgw8gNuGwTf4gJsGFgDALQOLAOCGgYUAcLvAYgBuFlgQALcKLAqAGwUWBnCbAIsDuElggQDcIrBIAG4QWCjA7QEsFuDmABYMcGvAogG4MWDhALcFsHiAmwJYQMAtAYsI4IaAhQTcDsBiAm4GYEEBtwIsKoAbARYWcBsAiwu4CYAFBtwCwCIDbgBYaMDuAxYbsPOABQfsOmDRwY7bcbDwgN0GLD5gpwEHALDLgEMAdhhwEBwEsLuAwwDYWV7q4Qn4diDMBUR29ZxjV/nw5gn44Q88f/WDP7wRdEQdEHMEHVEHxBxBR9RBzBF0EHUQcwQdUQfEHEFH1AExR9ARdRBzBB1EHcQcQUfUATFH0BF1QMwRdEQdxBxBB1EHMUfQEXVRBzFH0BF1EHMQdEQdxBwEHVEHMUfQQdRBzBF0RB3EHAQdUQcxB0FH1EHMEXQQdRBzBB1RBzEHQUfUQcxB0BF1EHMEHUQdxBxBB1FHzEHQEXUQcxB0RB3EHEEHUQcxR9BB1BFzEHREHcQcBB1RBzFH0EHUQcwRdBB1xBwEHVH3FIg5CDqiDmKOoIOoI+ZijqCDqCPmIOgg6og5CDqiDmKOoIOoI+Yg6CDqiDkIOog6Yg6CjqiDmCPoIOqIOQg6iDpiDoIOoo6Yg6Aj6qKOmCPoIOqIOQg6iDpiDoIOoo6Yg6CDqCPmCDqIOmIOgg6ijpiDoIOoI+Yg6CDqiDkIOqKOmIOgg6gj5iDoIOqIOQg6iDpiDoIOoi7mIOgg6og5CDqIOmIOgg6iLuZiDoIOoi7mIOgg6og5CDqIOmIOgg6iLuaAoIOoizkIOog6Yg6CDqKOmIOgg6iLOSDoIOpiDoIOiLqYg6CDqCPmIOgg6mIOCDqIupiDoAOiLuYg6CDqiDkIOoi6mAOCDqIu5iDogKiLOQg6iLqoizkIOoi6mAOCDqIu5iDogKiLOQg6IOpiDoIOoi7mgKCDqIs5CDog6mIOgg7cNupiDoIOoi7mgKCDqIs5IOgg6mIOgg7cNepiDoIOxKMu5iDoQDzqYg6CDsSjLuYg6EA86mIOgg7Eoy7mIOhAPOpiDoIOxKMu5iDoQDzqYg6CDsSjLuYg6EA86mIOgg7Eoy7mIOhAPOpiDoIOxKMu5iDoQDzqYg6CDsSjLuYg6EA86mIOgg7Eoy7mIOhAPOpiDoIOxKMu5iDoQDzqYg6CDoxEXcxB0AEAQQde4fzyL3VA0IFozEUdBB2Ix/wSdRB0YCPmog6CDozEXNRB0IGRmIs6CDowEnNRB0EHRmIu6iDowEjMRR0EHRiJuaiDoAMjMRd1EHRgJOaiDoIOjMRc1EHQgZGYizoIOjASc1EHQQdGYi7qIOjASMxFHQQdGIm5qIOgAyMxF3UQdGAk5qIOgg6MxFzUQdCBkZiLOgg6MBJzUQdBB0ZiLuog6MBIzEUdBB3EfCTmog6CDmI+9rtEHQQdxFzUAUEHMRd1EHRAzEUdBB0Qc1EHQQcxF3VA0EHMRR0QdBBzUQdBB8Rc1EHQQcxFHRB0EHNRBwQdxFzUQdABMRd1EHQQc0QdBB3EXNQBQQcxF3UQdEDMRR0EHcQcUQdBBzEXdUDQQcxFHQQdxFzMRR0EHcQcUQdBBzEXdVEHQQcxF3UQdBBzRB0EHcQcUQdBBzFH1EHQQcxFHQQdxBxRB0EHMUfUQdBBzBF1EHQQc1EHQQcxR9RB0EHMEXUQdBBzRB0EHcRc1EUdQQcxR9RB0EHMEXUQdBBzRB0EHcQcUUfQQcwRdRB0EHNEHQQdxBxRB0FHzMUcUUfQQcwRdRB0EHNEHQQdxBxRB0FHzEHUQdARcxB1BB3EHFEHQQcxR9RB0BFzEHUQdMQcRB1BBzFH1EHQQcwRdRB0xBxEHQQdMQdRR9BBzBF1T4Ggg5gj6iDoiDmIOgg6Yg6ijqCDmIOoI+gg5og6CDpiDqIOgo6Yg6gj6CDmIOoIOog5og6CjpiDqIOgI+Yg6gg6iDmIOoKOmIs5oi7qCDpiDqIOgo6Yg6gj6CDmIOoIOmIOiDqCjpiDqIOgI+Yg6gg6iDmIOoKOmAOijqAj5iDqIOiIOYg6gg5iDqKOoCPmgKgj6Ig5IOoIOmIOoo6gg5iDqCPoiDkg6gg6Yg6IOoKOmIOoI+gg5iDqCDpiDog68K9i7kCAnQUcBsDuAg4CYIcBhwDsMuAAAHYasPiA3QYsPGDHAYsO2HWw4ICdByw2YPcBCw24AYBFBtwCsMCAmwBYXMBtACws4EYAFhVwK8CCArgZYDEBtwOwkIAbAlhEwC0BCwjgpoDFA9wWwMIBbgxg0QC3BiwYgJsDFgtwewALBbhBYJEA3CKwQABuElgcALcJLAzgRoFFAXCrwIIAuFlgMQDcLrAQgBsGFgHALQMLAOCmgcEHcNvAwANuHBh0ALcODDiAmwcGG8DtAwMN4AZikAHcQjDAAG4iGFwAtxEMLIAbiUEFcCvBgAK4mWAwAdxOMJAAbigGEcAtdUsxgABuKhg8ALcVAweAG4tBA8CtxYABuLlgsADcXgwUAG4wBgkAtxgDBOAmg8EBcJsxMAC40RgUANxqDAgAbjYGA8DtxkAA4IZjEABwyzEAALjp+PAAbjs+OABuPD40AG49PjAAbj4+LIDbjw8KgAbgQwKgBfiAAGiCD+fDAaANPhgAGoEPBYBW4AMBoBk+DABohw8CgIbgQwCgJfgAAGiKhwcAbfHgAGiMxnhoALQGDwyA5nhYANAeDwoAGuQhAdAiPCAAmuThAECbPBgAaJSHAkCr8EAAaJaHAQDt8iAAoGEeAgC0zAMAoGl+OABomx8MABrnhwLAnVsn5gCIuh8GANrnBwGABvohAHDXFoo5AMSbKOYAEG+jmANAvJFiDgDxVoo5AMSbKeYAEG+nmANAvKFiDgDxloo5AMSbKuYAEG+rmANAvLFiDgDx1oo5AMSjLuYAEI+6mANAPOpiDgDxqIs5AMSjLuYAEI+6mANAPOpiDgDxqIs5AMSjLuYAEI+6mAPAQNTFHADiUX8XYACgNvIHXRmfsQAAAABJRU5ErkJggg==
    ');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
    img {
        visibility: hidden;
    }
}

/* =========== TODO: Manage */

.manage {
    margin: 0;
    padding: 0;
    list-style: none;
    @include rem(font-size, 14px);
    
    li {
        display: inline;
        
        a {
            display: inline-block;
            color: #666;
            
            @include rem(margin-left, 10px);
            @include rem(padding-left, 30px);
            
            background-image: $icons;
            background-repeat: no-repeat;
            
            &:hover, &:active {
                color: $black;
            }
        }
    }
}

.manage-remove a,
.manage-edit a {
    display: inline-block;
    color: #666;

    @include rem(margin-left, 10px);
    @include rem(padding-left, 30px);

    background-image: $icons;
    background-repeat: no-repeat;

    &:hover, &:active {
        color: $black;
    }
    cursor: pointer;
    background-position: sprite-position($icons, edit, 2px, 2px);
}

.manage-remove a {
    cursor: pointer;
    background-position: sprite-position($icons, remove, 5px, 2px);
}
