//
// Project preview types & sliders
// --------------------------------------------------

.project-slider {
	border: 1px solid red;
	
	.project-slider-prev, .project-slider-next {
		position: absolute;
		@include hide-text();
		@include border-radius(22px);
		top: 45%;
		width: 44px;
		height: 44px;
		color: $white;
    	text-align: center;
		cursor: pointer;
		background-color: $gray-lighter;

		&:hover {
        	background-color: $color-primary;
			color: $white;
		}
	}
	
	.project-slider-prev {
		@include prepend(1);
		left: 0;
		background-image: $icons;
	    background-position: sprite-position($icons, arrow-left-white, 10px, 6px);
		background-repeat: no-repeat;
	}
	
	.project-slider-next {
		@include append(1);
		right: 0;
		background-image: $icons;
		background-repeat: no-repeat;
		background-position: sprite-position($icons, arrow-right-white, 12px, 6px);
	}
}

.project-preview {
	
	.image {
	
	}
	
	.project-info {
    	
	}
	
	project-status {
    	
	}
	
}

