//
// Reusable project elements & sections
// --------------------------------------------------


//
// Global elements for projects
// --------------------------------------------------

.project-title {
    
    a {
        text-decoration: none;
    }
}

.project-location, .project-theme {
	color: $color-secondary;
	font-family: $font-family-heavy;
	padding: $base-padding/2 0;
	margin-right: $base-margin*2;
	display: inline-block;
	
	.flaticon {
	    margin-right: $base-margin/4;
    }
}

.project-days-left {
	color: $gray-dark;
	text-transform: uppercase;
	
	.flaticon {	
	    font-size: 1em;
        color: $gray-light;
	}

	strong {
	    padding: 0;
	}

	em {
	    font-style: normal;
	}
}

.project-status {
    margin-top: $base-margin;
    margin-bottom: $base-margin;
    
    .project-days-left {
        text-align: center;
    }
    
    .project-fund {
        text-align: center;
    } 
    
    .project-fund-amount {
    	color: $gray-dark;
        text-transform: uppercase;
        margin-bottom: $base-margin/2;
    
        .amount-donated {
            
        }
    
        .amount-asked {
        
        }
        
        strong {
            
        }
        
        em {
            font-style: normal;
        }
    }
    
    .project-action {
        
        .btn {
            float: right;
        }
    }
}

.project-fund-amount-slider {
    @include border-radius(1em);
    display: block;
    overflow: hidden;
    margin: 0 0 $base-margin/2 0;
    background-color: $gray-lighter;
    
    .slider-progress {
        position: relative;
        display: block;
        border-radius: 1em 0 0 1em;
        background-color: $color-secondary;
        color: $white;
        text-align: right;
        white-space: nowrap;
        line-height: 1em;
        height: 1em;
        
        .slider {
            padding: 0 0.5em;
            font-style: normal;
        }

        .slider-percentage {
            visibility: hidden;
        }
    }
}

.fund-amount-control {
    float: right;
    margin-top: $base-margin;
    background: $color-secondary;
    text-transform: uppercase;

    label {
        @include grid(16);
        font-size: $font-size-smallest;
        padding: $base-padding*1.3 $base-padding/2;
        color: $white;
        line-height: 1em;
        text-align: center;
    }
    
    .currency {
        @include grid(32);
    	display: block;
        position: relative;
		font-family: $font-family-bold;
		color: $color-text;
		
        em {
            position: absolute;
            display: block;
            top: 1px;
            left: 0;
            height: 100%;
            line-height: normal;
            font-size: $font-size-larger;
            padding: $base-padding/2 $base-padding/3;
            font-style: normal;
        }

        .fund-amount-input {
            font-size: $font-size-larger;
            text-align: right;
            padding-right: $base-padding/3;
            font-family: $font-family-bold;
        }
    }
}

.divided-amount {
	//@include rem(padding, 0 20px);
	height: 54px;
    line-height: 54px;
    //@include rem(font-size, 28px);
    color: $gray;
    font-weight: 600;
}
    
.fund-amount {
    color: $gray-light;
    text-transform: uppercase;
}

//
// Project as block item (search result)
// --------------------------------------------------

.project-item {
    display: block;
    position: relative;
    margin-top: $base-margin/2;
    margin-bottom: $base-margin/2;
    background-color: $gray-lighter;
    overflow: hidden;
    height: 260px;
    border: 1px solid $gray;

    &.project-item-small {
        height: 230px;
    }
    
    &:hover {
        border-color: $black;
    }

    a {
        display: block;
		text-decoration: none;
		
		// Needed for position changing on active
        &:before {
    	    content: '';
    	    position: absolute;
    	    top: 0;
    	    right: 0;
    	    bottom: 0;
    	    left: 0;
    	}
    }
    
    .project-header {
        display: block;
        position: relative;
        overflow: hidden;
        min-height: 50px;
        background: $black;
        @include transition(all 0.2s ease-out);
        
        .project-title {
            z-index: 11;
            width: 100%;
            position: absolute;
            bottom: 0;
            display: block;
			padding: $base-padding;
			background-color: rgba(0, 0, 0, 0.7);
			color: $white;
			
			h3 {
			    font-size: $base-font-size;
			    color: $white;
				padding: 0;
				margin: 0;
			}
			
			.project-location {
            	font-size: $font-size-small;
				text-transform: none;
				padding: 0;
				margin: 0;
			}
        }
        
        .project-image {
            position: relative;
            display: block;
            overflow: hidden;
            height: 160px;
            text-align: center;
            
            img {
        		position: absolute;
				top: 0;
				left: 0;
				width: 100%;
			}
        }
        
    }
    
    .project-status {
        height: 100px;
        padding: 0 $base-padding;
        background-color: $gray-lighter;
        display: block;
        color: $gray-darker;
        
        .project-fund-amount-slider {
            background-color: $white;   
        }
        
        .project-fund-amount {
            font-size: $font-size-smallest;
            float: left;
        }
        
        .project-days-left {
            font-size: $font-size-smallest;
            float: right;
            width: auto;
        }
        
        .project-phase {
            display: block;
            padding: $base-padding 0;
            text-align: center;
            text-transform: uppercase;
            
            em {
                font-style: normal;
            }
        }
    }
    
    .project-description {
        display: none;
        color: $white;
        font-family: $font-family-heavy;
        width: 100%;
        height: 260px;
        position: absolute;
        top: 0;
        padding: $base-padding;
        background-color: rgba(0, 0, 0, 0.7);
        font-size: $font-size-small;
        color: $gray-lighter;
        overflow: hidden;
        z-index: 100;
        
        .project-view {
            position: absolute;
            display: block;
            width: 100%;
            bottom: 0;
            left: 0;
            background-color: $color-secondary;
            text-transform: uppercase;
            padding: $base-padding/2 $base-padding;
        }
    }
    
    .project-tasks {
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: $base-padding/4;
        text-align: center;
        text-transform: uppercase;
        background: $white;
        border: 1px solid $gray-lighter;
        color: $gray;
        font-size: $font-size-smallest;
        
        strong {
            color: $gray-darker;
            font-weight: bold;
            font-style: normal;
        }
        
        em {
            font-style: normal;
        }
        
        &:hover, &:active {
            
            color: $gray-darker;
            
            strong {
                
            }
        }
    }
}


//
// Project preview (home & detail)
// --------------------------------------------------

.project-slider {
	
	.project-slider-prev, .project-slider-next {
		position: absolute;
		@include hide-text();
		@include border-radius(22px);
		top: 45%;
		width: 44px;
		height: 44px;
		color: $white;
    	text-align: center;
		cursor: pointer;
		background-color: $gray-lighter;

		&:hover {
        	background-color: $color-primary;
			color: $white;
		}
	}
	
	.project-slider-prev {
		@include prepend(1);
		left: 0;
		background-image: $icons;
	    background-position: sprite-position($icons, arrow-left-white, 10px, 6px);
		background-repeat: no-repeat;
	}
	
	.project-slider-next {
		@include append(1);
		right: 0;
		background-image: $icons;
		background-repeat: no-repeat;
		background-position: sprite-position($icons, arrow-right-white, 12px, 6px);
	}
}

.project-preview {
	
	.image {
	
	}
	
	.project-info {
    	
	}
	
	project-status {
    	
	}
	
}


//
// Projects in vertical list
// --------------------------------------------------

.project-list {
	//padding: $base-padding;
	list-style: none;
	background-color: $white;
	margin: $base-margin 0;

    .project-list-item {
        @include clear;
        @include resetlist;
        @include allowmanage;
        position: relative;
        text-decoration: none;
        padding: $base-padding $base-padding $base-padding 0;
        margin: 0;
        top: -1px;
		border-left: 1px solid $white;
		border-right: 1px solid $white;
        border-bottom: 1px solid $gray-lighter;
        
        .project-header {
            @include grid(32,1,1);
            text-decoration: none;
            
            .project-image {
                @include grid(12,0,1);
                float: left;
            }
            
            .project-title, .fundraiser-title {
                @include grid(32);
                text-transform: uppercase;
                font-size: $base-font-size;
                padding: 0;
                color: $color-heading;
            }
            
            .fundraiser-subtitle {
                font-family: $base-font-family;
                color: $gray;
                font-size: $font-size-small;
                
                em {
                   font-family: $font-family-heavy; 
                }
            }
            
            .project-location, .project-status, .project-preview  {
        		margin-top: $base-margin/2;
                color: $gray;
                display: block;
            }
            
        }

        .fund-amount, .project-actions {
            @include grid(16);
            text-align: right;
        }
        
        .project-actions {
            color: $gray;
            
            .btn {
                margin-top: $base-margin;
                width: 100%;
                text-align: left;
            }
        }
        
        .fund-amount-divided {
            padding: $base-padding/2;
            font-size: $font-size-larger;
        }
        
        &:hover, &.is-highlighted {
            border-color: $gray-lighter !important;
            
            .project-header h2 {
                color: $color-primary !important;
            }
        }
        
        &:first-of-type {
		    border-top: 1px solid $white;
        }

        &:last-of-type {
            border-bottom-color: $white;
        }
	}
}

// Full project plan

#project-plan {
	
	header {
	    margin-top: $base-margin*2;
		@include grid(48,1,1);
	}
	
	article {
	    margin-bottom: $base-margin;
		@include grid(24,1,1);
		clear: none !important;
		
		br {
			content: " " !important;
			display: block !important;
			margin-bottom: 1.5em !important;
		}
		
		img {
			width: 100%;
		}
	}
}
