
.project-title {
	
	color: $color-heading;
	font-size: $font-size-largest;
	
	a {
		color: $color-heading;
		text-decoration: none;
	}
}


.project-meta {
	color: $color-secondary;
	
	.flaticon {
		margin-right: $base-margin/4;
	}
	
	.project-location, .project-theme {
		margin-right: $base-margin*2;
		line-height: $base-line-height*2;
	}
	
}

.project-days-left {
	color: $gray-dark;
	
	.flaticon {	
		display: inline-block;
	    font-size: 24px;
        color: $gray-light;
	}

	strong {
	    font-size: 28px;
	    padding: 0;
	    line-height: 0.8em;
	}

	em {
	    font-size: 12px;
	    text-transform: uppercase;
	    font-style: normal;
	}
}

.project-fund-amount {
	
	.donate-amount {
        text-align: center;
        text-transform: uppercase;

        .amount-donated {
        
        }

        .amount-asked {
        
        }
    }
}



.project-fund-amount-slider {
    @include border-radius(1em);
    display: block;
    overflow: hidden;
    padding: 0;
    background-color: $gray-lighter;
    line-height: 0;

    .slider-progress {
        position: relative;
        display: block;
        border-radius: 1em 0 0 1em;
        background-color: $color-primary;
        color: $white;
        text-align: right;
        white-space: nowrap;
        line-height: 1em;

        .slider {
            padding: 0 0.5em;
            font-style: normal;
        }

        .slider-percentage {
            visibility: hidden;
        }
    }
}