//
// Default vertical list of projects (not search)
// --------------------------------------------------


.project-list {
	//padding: $base-padding;
	list-style: none;
	background-color: $white;
	margin: 0;

    .project-list-item {
        @include clear;
        @include resetlist;
        text-decoration: none;
        padding: $base-padding $base-padding $base-padding/2 0;
		border-top: 1px solid $white;
		border-left: 1px solid $white;
		border-right: 1px solid $white;
        border-bottom: 1px solid $gray-lighter;

        .project-header {
            @include grid(32,1,1);
            
            .project-image {
                @include grid(16);
                float: left;
            }
            
            .project-title {
                @include grid(32);
                font-size: $base-font-size;
                padding: 0;
                color: $color-heading;
            }
            
            .project-location, .project-status {
        		margin-top: $base-margin/2;
                color: $gray;
                display: block;
            }
            
        }

        .fund-amount, .project-actions {
            @include grid(16);
            text-align: right;
        }

        &:hover {
            border-color: $gray-lighter !important;
            
            .project-header h2 {
                color: $color-primary;
            }
        }

        &:last-of-type {
            border-bottom-color: $white;
        }
	}
	
	.fund-amount {
		
	    .fund-amount-needed {
	        color: $gray-light;
	        text-transform: uppercase;
	    }
	
	    .fund-amount-control {
	        float: right;
	        width: 210px;
	        height: 60px;
	        margin-top: $base-margin;
	
	        label {
	            @include grid(16);
	            font-size: $font-size-smallest;
	            padding: $base-padding/2;
	            color: $white;
	            line-height: 1em;
	            text-align: center;
	            background: $color-secondary;
	            text-transform: uppercase;
	            border: 1px solid darken($color-secondary, 5%);
	        }
	    }
	    
	    .currency {
	        @include grid(32);
	    	display: block;
	        position: relative;
			
	        em {
	            position: absolute;
	            display: block;
	            top: 0;
	            left: 0;
	            font-size: $font-size-larger;
	            padding: $base-padding/2 $base-padding;
	            font-style: normal;
	        }
	
	        .fund-amount-input {
	            font-size: $font-size-larger;
	            text-align: right;
	        }
	    }
      
        .divided-amount {
        	@include rem(padding, 0 20px);
        	height: 54px;
	        line-height: 54px;
	        @include rem(font-size, 28px);
            color: $gray;
            font-weight: 600;
        }
	}
}