/* =========== Reactions */

.reaction-box {
    @include clearfix; 
    clear: both;
    margin: 0;
    
    .reaction-form {
        @include rem(padding, 16px 16px 0 16px);
        margin: 0;
    
        position: relative;
        background-color: $color-back;
        
        fieldset, fieldset ul, fieldset ul li {
          margin: 0;
          padding: 0;
        }
        
        label {
            @include rem(top, 28px);
            @include grid(48, 9, 0);
            padding: 0;
        }
        
        .user-img {
            @include rem(top, 12px);
            @include rem(left, 12px);
            width: 20px;
            position: absolute;
            margin: 0;
            
            img {
                float: left;
            }
        }
        
        textarea {
          padding-left: $grid-column * 8;
          overflow: hidden;
          @include rem(height, 44px);
        }
        
        button {
            position: relative;
            z-index: 2;
            float: right;
            visibility: hidden;
            top: 5px;
            @include rem(font-size, 14px);
        }
        
        @include clearfix;
        
        &.is-selected {
            
            .user-img {
              @include grid(4);
            }
            
            textarea {
                @include rem(min-height, 88px);
            }
            
            button {
                visibility: visible;
            }
            
            
        }
    }
    
    .reaction-actions {
        @include clearfix;
        @include rem(top, -28px);
        
        position: relative;
        z-index: 1;
        
        margin: 3px 0;
        padding: 0;
        background: $color-back;
        list-style: none;
        font-weight: bold;
        
        li {
        
            @include rem(font-size, 11px);
            display: inline !important;
            
            a, strong {
                @include rem(margin, 0 4px 0 4px);
                @include rem(padding, 2px);
                display: inline-block !important;
                color: #666;
                white-space: nowrap;
                
                cursor: hand;
                cursor: pointer;
                
                &:hover, &:active {
                    color: $black;
                }
                
                &.toggle-reactions {
                    @include rem(padding-left, 30px);
                    margin-left: $grid-column * 9;
                    width: 20%;
                    
                    background-image: $icons;
                    background-repeat: no-repeat;
                    background-position: sprite-position($icons, reactions, 0, 4px);
                    
                    &:hover, &.is-active {
                        background-position: sprite-position($icons, reactions-hover, 0, 4px);
                        color: $black;
                    }
                }
                
                &.toggle-love {
                    @include rem(padding-left, 33px);
                    width: 20%;
                   
                    background-image: $icons;
                    background-repeat: no-repeat;
                    background-position: sprite-position($icons, love, 0, 4px);
                    
                    &:hover {
                        background-position: sprite-position($icons, love-hover, 0, 4px);
                        color: $pink;
                    }
                    
                    &.is-active:hover {
                        background-position: sprite-position($icons, loved, 0, 4px);
                        color: $black;
                    }
                    
                    &.is-active, &.is-activated, &.is-activated:hover {
                        background-position: sprite-position($icons, unlove, 0, 4px);
                        color: $pink;
                    }
                }
            }
            
            &.share {
                
                strong {
                    @include rem(padding-left, 30px);
                    
                    background-image: $icons;
                    background-repeat: no-repeat;
                    background-position: sprite-position($icons, share, 0, 4px);
                    
                    &:hover, &.is-active {
                        background-position: sprite-position($icons, share-hover, 0, 4px);
                        color: $green;
                    }
                }
                
                .share-actions {
                    @include rem(padding, 16px 0 8px 0);
                    display: none;    
                    
                    li {
                        display: inline-block;
                        text-align: center;
                        
                        &.share-facebook {
                            margin-left: $grid-column * 8;
                            width: 25%;
                        }
                        
                        &.share-twitter {
                            width: 25%;
                        }
                        
                        &.share-url {
                            
                            code {
                                @include rem(font-size, 11px);
                                padding: 0.4em 0.2em;
                                border: 1px solid #333;
                                background: $white;
                                font-color: #ccc !important;
                            }
                            
                            .share-url-copy {
                                padding: 0 4px;
                                background-color: #ccc;
                                color: $white;
                                
                            }
                        }
                    }
                }
            }
        }
    }
}

.reactions {
    @include rem(top, -54px);
    @include rem(padding, 16px);
    @include clearfix;
    @include rem(font-size, 14px);
    position: relative;
    margin: 0;
    background-color: $color-back;
    list-style: none;
    .manage {
        float: right;
    }
    li {
        @include rem(margin, 16px 0);
        position: relative;
        display: block;
        overflow: auto;
        
        .user-img {
            @include grid(3);
            @include rem(top, 2px);
            @include rem(left, 16px);
            position: absolute;
            margin: 0;
        } 
        
        &.initiator .reaction {
            border-color: $green;
            
            &::after {
                background: url('../images/reaction-box-initiator.png') transparent no-repeat 0 0;
            }
        }
        
        .reaction {
            font-family: $paragraph-font-family;
            @include grid(48, 8, 0);
            @include rem(padding, 12px 16px 0 16px);
            @include border-radius(0.3em);
            position: relative;
            border: 1px solid darken($white, 25%);
            background: $white;
            color: #333;
            vertical-align: baseline;
            
            .user {
                @include rem(font-size, 14px);
                strong {
                    text-transform: uppercase;
                }
            }
            
            &::after {
                @include rem(top, 16px);
                position: absolute;
                left: -25px;
                display: block;
                width: 25px;
                height: 21px;
                background: url('../images/reaction-box.png') transparent no-repeat 0 0;
                content: ' ';
            }
        }
    }
}