.results {

    @include grid(48, 1, 0);
    
    .item {
        @include rem (margin-top, 8px);
        @include rem (margin-bottom, 8px);
        @include grid(12, 0, 1);
        display: inline-block;
        border: 1px solid $grayDarker;

        div.header {
            position: relative;
            height: 180px;
            overflow: hidden;
            img {
                width: 100%;
            }
            .label {
                position: absolute;
                top: -1px;
                left: -1px;
                margin: 0px;
                padding: 0px;
                width: 87px;
                height: 87px;
                //background-image: url(../images/projects/label-green.png);
                &.act, &.results {
                    background-image: url(../images/projects/label-funded.png);
                }
                &.realized {
                    background-image: url(../images/projects/label-realised.png);
                }

            }
        }


        .header h3 {
            @include rem(font-size, 14px);
            @include rem(line-height, 16px);
            position: absolute;
            bottom: 0px;
            margin: 0px;
            padding: 12px;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            color: white;
            text-transform: uppercase;
            font-weight: 300;

            .item-project-country {
                @include rem(font-size, 12px);
              
                font-weight: normal;
                text-transform: none;
            }
        }

        &.item-task h2 {
            @include rem(font-size, 12px);
            @include rem(line-height, 14px);
            margin: 0px;
            padding: 8px;
            background-color: $green;
            color: white;
            text-transform: uppercase;
        }

        .content {
            @include rem (height, 60px);
            @include rem (padding, 8px);
            overflow: hidden;
            color: white;
            background-color: $white;
            color: $grayDark;
            //text-transform: uppercase;
            font-weight: 300;
        }

        &.item-project .status {
            @include rem (padding, 8px);
            height: 90px;
            background-color: $color-back;
            color: $grayDarker;
            position: relative;
            .donate-status {
                float: none;
                margin: 0 auto;
                width: 100%;
                color: $grayDark;

                .donate-amount {
                    @include rem(font-size, 12px);
                    @include rem(margin-top, 5px);

                    text-align: left;
                }

                .donated {
                    @include rem(font-size, 12px);
                    color: $grayDarker;
                }
            }

            .donate-days-left {
                float: right;
                width: auto;
                color: $gray;
                line-height: 1;

                strong {
                    @include rem(font-size, 12px);
                    color: $grayDarker;

                    i {
                        color: $gray;
                    }
                }
            }

            .project-task {
                @include rem(font-size, 12px);
                position: absolute;
                right: 0;
                bottom: 0;
                left: 0;
                height: 35px;
                background: $white;
                color: $gray;
                text-align: center;
                line-height: 35px;
                a {
                    color: $gray;
                }
                em {
                    color: $grayDarker;
                    font-weight: bold;
                    font-style: normal;
                }
            }

            &.plan {
                .donate-status {
                    text-align: center;
                }

                .donate-amount {
                    @include rem(font-size, 16px);
                    margin-bottom: 0;
                    color: $gray;

                    em {
                        color: $grayDarker;
                        font-style: normal;
                    }
                }

                a {
                    @include rem(font-size, 12px);
                    color: $grayDarker;
                    font-weight: 300;
                }
            }

            &.campaign {
                .donate-amount {
                    float: left;
                }
            }

            &.results {
                float: none;
                margin: 0;
                width: 100%;

                .donate-progress-finished {
                    @extend .donate-progress;
                }

                .donate-amount em {
                    color: $green;
                    font-weight: 300;
                    font-style: normal;
                }
            }

            &.realized {
                padding: 0;

                .donate-status {
                    position: absolute;
                    top: 27px;
                    text-align: center;
                }

                .donate-amount {
                    @include rem(font-size, 18px);
                    margin: 0;
                    color: $pink;
                    text-align: center;
                }

                a {
                    @include rem(font-size, 12px);
                    color: $grayDarker;
                    font-weight: 300;
                }
            }
        }

        .footer {
            background-color: $color-back;
            color: $gray;
            @include rem (padding, 8px);
            @include clearfix;
            ul {
                @include clearfix;
                margin: 0px;
                list-style: none;
                text-indent: 0px;
                li {
                    @include grid(24, 1);
                }
            }
        }
    }
}

.search-form {
    @include grid(48, 1, 0);
    @include rem(padding-top, $padding);

    .control {
        @include grid(12,0,1);
        .icon {
            @include grid(7,0,0);
            @include rem(font-size, 22px);
            display: block;
            background-color: $grayLight;
            color: $grayDarker;
            text-align: center;
            font-size: 22px;
            line-height: 40px;
        }
        input, select {
            @include grid(40,0,0);
            height: 40px;
            text-transform: uppercase;
            &:placeholder {
                text-transform: uppercase;
            }
        }
        select option:first-child {
            color: $gray;
            text-transform: none;
        }
        select option:selected {
            font-weight: 300;
        }
    }
    .clear-form {
        @include rem(margin, 8px 24px 0px);
        float: right;
        a {
            color: $grayDark;
        }
        text-transform: uppercase;
    }
}

.navigation {
    @include clearfix;
    @include grid(48, 1);
    @include rem(padding, ($padding * 2) 0 $padding);
    .next-page,
    .previous-page {
        @include rem(font-size, 24px);
    }

    // Results header
    h2 {
        padding: 0px;
        @include rem(margin-left, 8px);
        display: inline;
        em {
            font-style: normal;
            color: $gray
        }
    }

    .ordering {
        display: inline;
        float: right;
        margin: 0px 20px;
        line-height: 24px;
        a {
            margin:0px 8px;
            &.active {
                text-decoration: underline;
                font-weight: 300;
            }
        }
    }

}
