#results {
    @include grid(48, 1, 0);
    @include rem(margin-top, $padding * 2);
    
    .item a {
        @include rem (margin-top, $padding/2);
        @include rem (margin-bottom, $padding/2);
        @include grid(12, 0, 1);
        border: 1px solid $grayLight;

		@include transition(border 0.1s);
		
        .item-header {
        	display: block;
            position: relative;
            overflow: hidden;
            min-height: 50px;
            background: $black;
            
            .item-image {
            	position: relative;
            	display: block;
            	overflow: hidden;
            	height: 160px;
            	text-align: center;
            	
            	img {
            		position: absolute;
					top: 0;
					left: 0;
            		@include transition(top 0.2s);
				}
            }
            
            .item-project-title {
	            width: 100%;
				position: absolute;
				bottom: 0;
            }
            
			.item-project-title, .item-task-title {
				display: block;
				@include rem (padding, $padding);
				background-color: rgba(0, 0, 0, 0.7);
				color: $white;
				text-transform: uppercase;
				
				h3 {
					padding: 0;
					margin: 0;
            		@include rem(font-size, 14px);
            		line-height: 1.1;
					font-weight: 600;
					@include transition(color 0.1s);
				}
				
				.item-project-country {
                	@include rem(font-size, 12px);
					text-transform: none;
				}
			}
        }
     
	    &:hover, &:active {
			border-color: $black;
			
			h3 {
				color: $pink;
			}
			
			img {
				top: -20px !important;
			}
	    }
    }
    
    
    
    /* item project */
    .item-project a {
    
     	.item-status {
        	display: block;
            @include rem (padding, 12px 16px);
            height: 90px;
            background-color: $color-back;
            color: $grayDarker;
            position: relative;
            
            .donate-status {
            	display: block;
                margin: 0 auto;
                width: 100%;
                color: $grayDark;

                .donate-amount {
                	display: block;
                    @include rem(font-size, 12px);
                    @include rem(margin-top, 8px);
					float: left;
                }
                .donated {
                    @include rem(font-size, 12px);
                    color: $grayDarker;
                }
            }

            .donate-days-left {
                width: auto;
                color: $gray;
                line-height: 1;
                float: right;
                @include rem(margin-top, 8px);

                strong {
                    @include rem(font-size, 12px);
                    color: $grayDarker;

                    .flaticon {
                        color: $gray;
                        @include rem(font-size, 12px);
                    }
                }
            }

            .project-task {
            	clear: both;
                @include rem(font-size, 12px);
                text-transform: uppercase;
                position: absolute;
                right: 0;
                bottom: 0;
                left: 0;
                line-height: 35px;
                height: 35px;
                background: $white;
                color: $gray;
                text-align: center;
                
                a {
                    color: $gray;
                }
                
                strong {
                    color: $grayDarker;
                    font-weight: bold;
                    font-style: normal;
                }
            }

            &.plan {
                .donate-status {
                    text-align: center;
                }

                .donate-amount {
                    @include rem(font-size, 16px);
                    margin-bottom: 0;
                    color: $gray;

                    em {
                        color: $grayDarker;
                        font-style: normal;
                    }
                }

                a {
                    @include rem(font-size, 12px);
                    color: $grayDarker;
                    font-weight: 300;
                }
            }

            &.campaign {
                .donate-amount {
                    float: left;
                }
            }

            &.results {
                float: none;
                margin: 0;
                width: 100%;
				
                .donate-progress-finished {
                    @extend .donate-progress;
                }

                .donate-amount {
                	text-align: center;
                
                	em {
                    	color: $green;
						font-weight: 300;
						font-style: normal;
					}
				}
            }

            &.realized {
                padding: 0;
				
                .donate-status {
                    position: absolute;
                    top: 27px;
                    text-align: center;
                }

                .donate-amount {
                    @include rem(font-size, 18px);
                    margin: 0;
                    color: $pink;
                    text-align: center;
                }

                a {
                    @include rem(font-size, 12px);
                    color: $grayDarker;
                    font-weight: 300;
                }
            }
        }
    }
    
    
    
    /* item tasks */
    .item-task a {
    
        h2 {
            @include rem(font-size, 12px);
            @include rem(line-height, $padding);
            margin: 0px;
            @include rem(padding, $padding/2);
            background-color: $green;
            color: $white;
            text-transform: uppercase;
            overflow: hidden;
        }
        
        h4 {
	        @include rem(font-size, 12px);
	        color: $white;
        }
        
        .item-task-title {
	        height: 76px;
        }

        .item-footer {
            background-color: $color-back;
            color: $gray;
            padding: 0;
            @include clearfix;
            @include rem(padding, $padding);
            text-transform: uppercase;
            height: 90px;
                	
            ul {
                @include clearfix;
                list-style: none;
                text-indent: 0;
                margin: 0;
                
                li {
                    @include grid(24,0,0);
                    @include rem(padding, 4px 0);
					@include rem(font-size, 11px);
                    
                    .flaticon {
                    	@include rem(font-size, 12px);
	                    @include rem(margin-right, 4px);
                    }
                }
            }
        }
    }
}

.search-form {
    @include grid(48, 1, 0);
    @include rem(padding-top, $padding);
	
	.search-field {
		@include grid(12,0,1);
		position: relative;
		
		.flaticon {
			position: absolute;
			top: 2px;
			left: 10px;
            @include rem(font-size, 22px);
            display: block;
            color: $grayDarker;
            text-align: center;
            line-height: 40px;
		}
		
		input {
			height: 40px;
			text-indent: 30px;
		}
		
	}
	
    .control {
        @include grid(12,0,1);
        
        .flaticon {
            @include grid(7,0,0);
            @include rem(font-size, 22px);
            background-color: $grayLight;
            color: $grayDarker;
            text-align: center;
            line-height: 40px;
        }
        
        select {
            @include grid(40,0,0);
            height: 40px;
            text-transform: capitalize;
        }
        
        select option:first-child {
            color: $gray;
            text-transform: none;
        }
        
        select option:selected {
            font-weight: 300;
        }
    }
    
    .clear-form {
        @include rem(margin, 8px 24px 0px);
        float: right;
        
        a {
            color: $grayDark;
        }
        text-transform: uppercase;
    }
}

#search-navigation {
	
    @include clearfix;
    @include grid(48,1);
    @include rem(padding-top, $padding * 2);
	text-transform: uppercase;
	
	.search-results {
		@include grid(8,0);
		
	    h2 {
	        padding: 0;
	        margin: 0;
	        
	        em {
	            font-style: normal;
	            color: $gray
	        }
	    }
	}
	
    .search-sort {
    	@include grid(28,0,0);
    	@include rem(margin-top, 4px);
        @include rem(font-size, 16px);
        text-align: center;
		
        a {
            @include rem(margin-left, $padding/2);
            
            &.active {
                text-decoration: underline;
                font-weight: 300;
            }
        }
    }
    
    .search-pagination {
    	@include grid(12,1,0);
    	text-align: right;
    	vertical-align: middle;
    	line-height: 1;
		
    	.search-showing {
    		@include rem(margin-right, $padding);
	    	@include rem(font-size, 14px);
	    	position: relative;
	    	top: -3px;
    	}
    	
    	.search-pages-control {
			
    	}
    	
    	.next-page,
    	.previous-page {
	    	@include rem(font-size, 24px);
    	}
	
    	span.next-page,
		span.previous-page {
			color: $color-back !important;
		}
		
		a.next-page,
		a.previous-page {
			
			color: $black;
		
			&:hover, &:active {
		    	color: $pink;
		    }
	    }
    }
}