/* =========== Donate box */

.status-box {
    @include clearfix;
    @include rem(padding, $padding 0);
    color: $text-white;
}

/* =========== Number of supports / Days left */
.donate-days-left {
	@include grid(10, 1, 0);
	color: $text-grey;
    text-align: center;
    margin-top: 8px;

	.icon {
	    @include rem(font-size, 24px);
        color: $grayLight;
	}

	strong {
	    @include rem(font-size, 28px);
	    color: $text-white;
	    font-weight: 300;
	    padding: 0;
	    line-height: 0.8em;
	}

	em {
	    @include rem(font-size, 12px);
	    text-transform: uppercase;
	    font-style: normal;
	}
}

.donate-call-to-action {
    @include grid(18, 0, 1);
}

.donate-status {
    @include grid(20, 2);
    position: relative;
    color: $text-grey;
    
    .donate-amount {
        text-align: center;
        margin-bottom: 0.5em;
        text-transform: uppercase;
        @include rem(font-size, 14px);
        font-weight: normal;
        
        .donated {
            color: $text-white;
            @include rem(font-size, 18px);
            font-weight: 300;
        }
        
        .asked {
            font-weight: 300;
        }
    }
    
    
    .donate-slider {
        display: block;
        line-height: 0;
        background-color: $text-white;
        @include border-radius(1em);
        overflow: hidden;
        padding: 0;
        
        .donate-progress {
            position: relative;
            display: block;
            line-height: 1em;
            border-radius: 1em 0 0 1em;
            color: $text-white;
            background-color: $green;
            white-space: nowrap;
            text-align: right;
            
            em {
                font-style: normal;
                padding: 0 0.5em;
            }
            
            .donate-percentage {
                visibility: hidden;
            }
            
            /* Arrow to top
            &.is-in-progress:before {
                position: absolute;
                width: 0;
                top: -17px;
                right: 5px;
                height: 10px;
                content: "";
                border-right: 6px solid transparent;
                border-bottom: 10px solid $green;
                border-left: 6px solid transparent;
            }
            */
        }
    }
}

/*
.donate-supporters em, 

.donate-supporters {
	float: left;
	margin: 0;
	width: 50%;
	text-align: center;
	
}

.donate-supporters span, .donate-days-left span {
	display: inline-block;
	margin-right: 3px;
	
	@include rem(font-size, 28px);
	line-height: 1.3em;
	text-align: center;
	font-weight: normal;
	width: 1em;
	
	@include border-radius(0.2em);
	@include box-shadow( inset 0 0 0 1px rgba(#fff, 0.9) );
	
	@include background( linear-gradient(top, #fff, #fff, #d3d3d3) );
	border: 1px solid rgba(#000, 0.25);
}

.donate-supporters span:before, .donate-days-left span:before {
	position: relative;
	top: 0.8em;
	display: block;
	width: 100%;
	border-top: 1px double rgba(#999, 0.35);
	content: '';
}
*/

