.static-page {

    iframe, object {
        width: 900px;
        margin: auto;
        padding: 0px 400px 0px 40px;
        display: block;
    }
    .text, .image, .oembed, .rawhtml, .title {
        @include clearfix;
        min-width: $min-width;
        max-width: $max-width;
        margin: auto;
        padding: 0px 300px 0px 120px;
    }

    .section {
        @include rem(padding, ($padding * 2) 0);
        position: relative;

        h1 {
            @include rem(font-size, 64px);
            @include rem(margin-bottom, 32px);
            padding: 0;
            line-height: 1;

            &.small {
                @include rem(font-size, 34px);
                color: $green;

                em {
                    color: $pink;
                    font-weight: normal;
                    font-style: normal;
                }
            }
        }

        h2 {
            color: $pink;
            text-transform: none;
        }

        &:nth-of-type(even) {
            background-color: $white;

            .static-page-illustration {
                color: $grayLighter;
            }
        }
    }

    .wrapper {
        position: relative;
    }

    #inFortySeconds,
    #faq,
    #contact {
        h1 {
            color: $green;
        }
    }
}

.static-page-nav {
    @include clearfix;
    @include grid(48, 1);
    margin-top: 0;
    margin-bottom: 0;
    height: 20px;

    > li {
        @include rem(margin-right, 32px);
        float: left;

        a {
            color: $gray;
            text-transform: uppercase;

            &.active {
                color: $grayDarker;
                text-decoration: underline;
            }
        }
    }
}

.static-page-section-content {
    @include clearfix;

    p {
        @include rem(font-size, 22px);
        margin-right: 100px;

        strong {
            font-weight: 300;
        }
    }

    small {
        @include rem(margin-bottom, $margin);
        @include  rem(font-size, 16px);

        color: $grayDarker;
    }
}

.static-page-illustration {
    @include rem(font-size, 240px);
    color: $white;

    &.active {
        color: $pink;
    }
}

.static-page-section-navigator {
    @include rem(font-size, 40px);
    position: absolute;
    right: 15.5%;
    bottom: 0;
    color: $pink;
    line-height: 30px;
    cursor: pointer;
}

.static-page-calltoaction {
    a,
    i {
        @include rem(font-size, 24px);
        color: $pink;
        text-decoration: underline;
        text-transform: uppercase;
        font-weight: 300;
    }

    i {
      text-decoration: none;
    }
}

.static-page-iconed-list {
    margin: 0;

    .item {
        @include rem(margin-bottom, 16px);
        @include rem(font-size, 22px);
        display: block;

        i {
            @include inline-block;
            @include rem(font-size, 32px);
            width: 40px;
            color: $gray;
            vertical-align: middle;
            line-height: 1;
        }

        strong {
            font-weight: 300;
        }

        a {
            color: $pink;
        }
    }
}

.static-page-illustrations-list {
    @include clearfix;
    position: relative;
    margin: 0;

    .item {
        @include grid(9.6, 0, 1);
        @include rem(padding, 24px);
        position: relative;
        overflow: hidden;
        height: 200px;
        border: 1px solid $grayLight;

        text-align: center;

        i {
            @include rem(font-size, 80px);
            color: $grayLighter;
            line-height: 1;
        }

        .h3 {
            @include rem(font-size, 20px);
            @include rem(bottom, 8px);
            position: absolute;
            right: 0;
            left: 0;
            color: $grayDarker;
            text-transform: uppercase;
            font-weight: 300;
        }

        &:hover {
            background-color: $green;

            i,
            .h3 {
                color: $white;
            }
        }

        &:last-of-type {
            margin-right: 0;
        }
    }

    .item-popover {
        position: absolute;
        right: 0;
        bottom: 110%;
        left: 0;
        margin-right: 2.08333%;
        background: $grayLighter;

        &:not(:empty) {
            @include rem(padding, 56px 16px);
        }

        p {
            margin-right: 0;
        }
    }
}

/*
 * TODO: This can be a separate module of itself.
 */
.numbered-list {
    @include clearfix;
    margin-left: 0;
}

.nl-item-number {
    @include rem(font-size, 64px);
    color: $grayLighter;
    font-weight: 600;
}

.nl-item-title {
    @include rem(font-size, 22px);
    margin-bottom: 0;
    color: $pink;
    font-weight: 300;

    em {
        display: block;
        color: $green;
        font-style: normal;
    }
}

.nl-item-description {
    @include rem(font-size, 16px);

    color: $grayDarker;
    line-height: 1.5;
}
