/* =========== Donate box */

.status-box {
    @include clearfix;
    @include rem(padding-top, $padding);
    color: $text-white;
}

/* =========== Number of supports / Days left */
.donate-days-left {
	@include grid(12,2,0);
    @include rem(margin-top, 18px);
    margin-bottom: 0;
        
	color: $text-grey;
    text-align: center;

	.flaticon {
	    @include rem(font-size, 24px);
        color: $grayLight;
	}

	strong {
	    @include rem(font-size, 28px);
	    padding: 0;
	    color: $text-white;
	    font-weight: 300;
	    line-height: 0.8em;
	}

	em {
	    @include rem(font-size, 12px);
	    text-transform: uppercase;
	    font-style: normal;
	}
}

.donate-call-to-action {
    @include grid(16,1,1);
    
    .btn {
	    width: 100% !important;
    }
}

.donate-status {
    @include grid(20,2,3);
    position: relative;
    color: $text-grey;

    .donate-amount {
        @include rem(font-size, 14px);
        margin-bottom: 0.5em;
        text-align: center;
        text-transform: uppercase;
        font-weight: normal;

        .donated {
            @include rem(font-size, 18px);
            color: $text-white;
            font-weight: 300;
        }

        .asked {
            font-weight: 300;
        }
    }


    .donate-slider {
        @include border-radius(1em);
        display: block;
        overflow: hidden;
        padding: 0;
        background-color: $text-white;
        line-height: 0;

        .donate-progress {
            position: relative;
            display: block;
            border-radius: 1em 0 0 1em;
            background-color: $green;
            color: $text-white;
            text-align: right;
            white-space: nowrap;
            line-height: 1em;

            em {
                padding: 0 0.5em;
                font-style: normal;
            }

            .donate-percentage {
                visibility: hidden;
            }

        }
    }
}

/*
.donate-supporters em,

.donate-supporters {
	float: left;
	margin: 0;
	width: 50%;
	text-align: center;

}

.donate-supporters span, .donate-days-left span {
	display: inline-block;
	margin-right: 3px;

	@include rem(font-size, 28px);
	line-height: 1.3em;
	text-align: center;
	font-weight: normal;
	width: 1em;

	@include border-radius(0.2em);
	@include box-shadow( inset 0 0 0 1px rgba(#fff, 0.9) );

	@include background( linear-gradient(top, #fff, #fff, #d3d3d3) );
	border: 1px solid rgba(#000, 0.25);
}

.donate-supporters span:before, .donate-days-left span:before {
	position: relative;
	top: 0.8em;
	display: block;
	width: 100%;
	border-top: 1px double rgba(#999, 0.35);
	content: '';
}
*/
