/* =========== Tabs */

ul.tabs {
    
    padding: 0;
    margin: 0;
      
    li {
        display: inline-block;
        //@include displayfix;
        margin-bottom: -2px;
        position: relative;
        
    }
    a {
        color: $text-black;
        display: block;
        text-decoration: none;
        overflow: hidden;
        @include rem(padding, 8px 16px);
        text-transform: uppercase;
        border-right: 1px solid $text-grey;
        
        
        .tab-icon {
            display: block;
            @include rem(font-size, 14px);
            background-color: $text-black;
            @include border-radius(15px);
            
            @include rem(width, 30px);
            @include rem(height, 30px);
            @include rem(line-height, 30px);
            
            font-weight: 600;
            
            text-align: center;
            
            color: $text-white;
            font-style: normal;
            float: left;
        }
        
        .tab-title {
            @include rem(font-size, 16px);
            @include rem(margin-left, 16px);
            font-weight: 300 !important;
            display: block;
            float: left;
        }
        
        .tab-subtitle {
            @include rem(font-size, 12px);
            font-style: normal;
            display: block;
            font-weight: normal;
        }
    }
    
    li.is-selected a, li a.active, li a:hover, li a:active {
        background-color: $white;
        border-color: $white;
        
        .tab-icon {
            background-color: $green;
        }
        
        .tab-title {
            color: $green;
        }
        
        .tab-subtitle {
            color: $text-black;
        }
        
        
    }
}

ul.steps {
    border-bottom: 1px solid darken($white, 25%);
    margin: 0 0 $margin 0;
    li {
        display: inline-block;
        //@include displayfix;
    }
    a { 
        color: #666;
        display: block;
        padding: 0.75em 1em;
        text-decoration: none;
    }
    li.completed a { color: #333 }
    li:hover a { color: #333; }
    li.selected a {  
        color: #333;
        font-weight: bold; 
    }
}


/* vertical tabs with radio button labels */


.tabs.vertical {
    float: left;
    display: inline-block;
    width: 25%;
    label {
        cursor: pointer;
        display: block;
        padding: 10px;
        font-weight: bold;
        background-color: $white;
        margin: 0px 0px 8px;
        &.selected {
            background-color: $color-back;
        }
    }
}


.panes.vertical {
    float: left;
    display: inline-block;
    width: 75%;
    background-color: $color-back;
    padding: 8px;
    min-height: 300px;
}