.task {
    clear: both;
    @include clearfix;
    position: relative;
    @include rem(margin, 0px 0 24px 0);

    &:hover .manage {
        display: block;
    }

    .show-more {
        @include grid(48, 12, 0);
    }

    .post-comment {
        background-color: $color-back;
        @include rem(margin, 24px 0 24px 0);
        padding: 12px;
    }

    header {
        @include grid(48, 12, 0);

        h3 {
            @include rem(font-size, 18px);
            @include rem(line-height, 24px);
            font-weight: 600;
            color: $green;
            padding: 0;
            margin: 0px;
            text-transform: uppercase;
        }

        .manage {
            float: right;
        }
    }

    .content {
        @include grid(48, 12, 0);
        position: relative;
        @include rem(margin-top, 2px);
        @include rem(margin-bottom, 8px);
        word-wrap: break-word;

        p {
            margin: 0;
            padding: 0;
            //display: inline;
        }

        br {
            //display: none !important;
        }

    }

    .reaction-box {
        position: relative;
        display: block;
    }

    .user-img, .header-img {
        @include rem(width, 70px);
        position: absolute;
        top: 0;
        left: 0;
        @include prepend(5);
    }
    .header-img {
        .icon {
            @include rem(font-size, 40px);
            margin: 6px 0px;
            display: block;
        }
        @include rem(font-size, 10px);
        @include rem(height, 70px);
        background-color: $grayDark;
        color: $white;
        text-align: center;
        text-transform: uppercase;
    }
}

.task-detail {
    table {
        border: 0px;
        font-weight: bold;
        th {
            padding: 2px;
            text-transform: uppercase;
            white-space: nowrap;
        }
        td {
            padding: 2px;
            text-transform: capitalize;
            color: $grayDark;
            border: 0px;
        }

    }

    .edit {
        color: $green;
        cursor: pointer;
        text-transform: uppercase;
        //font-weight: 300;
        vertical-align: top;
        .icon {
            @include rem(font-size, 18px);
        }
        &:hover {
            color: $pink;
        }
    }
    .members, .files {
        @include rem(font-size, 12px);

        li {
            position: relative;
            margin: 8px 0px;
        }
        list-style: none;
        margin: 10px 0px 10px 0px;
        text-indent: 0px;
        .user-img {
            position: absolute;
            left: 0px;
            top: 0px;
            @include rem(height, 50px);
            @include rem(width, 50px);
        }

        .status {
            position: absolute;
            right: 0px;
            top: 0px;
            @include rem(height, 50px);
            @include rem(width, 50px);
            background-color: $grayDark;
            color: $white;
            text-transform: uppercase;
            @include rem(font-size, 10px);

            .icon {
                @include rem(font-size, 20px);
                @include rem(line-height, 16px);
                width: 100%;
                margin: 8px 0px 2px 0px;
            }
            text-align: center;
        }
        .action {
            .status {
                background-color: $pink;
                cursor: pointer;
            }

        }
        .detail {
            background-color: $white;
            padding: 6px;
            margin: 0px;
            @include rem(min-height, 50px);
            @include rem(margin-left, 60px);
            @include rem(margin-right, 60px);
            strong {
                color: $green;
                weight: 300;
                text-transform: uppercase;
            }
            em {
                text-transform: uppercase;
                font-style: normal;

            }
            .tiny {
                @include rem(font-size, 9px);
            }
        }

    }
    .files {
        .detail {
            margin-left: 0px;
        }

    }
}

