.project-owner-actions {

	@include grid(48,1,1);
	background: $color-back;
	@include rem(padding, $padding/2 $padding);
	@include rem(margin-top, $padding);
	
	header {
		@include grid(16,0,1);
		float: left;
		
		h3 {
			@include rem(padding-top, $padding);
			@include rem(font-size, 16px);
			font-weight: 600;
			text-transform: uppercase;
		}
	}
	
	.btn {
		@include rem (margin, $padding/2 0 $padding/2 $padding/2);
		float: right;
	}
	
}

#task-detail {
	
	#wallposts {
		
		.login-form {
			background: $color-back;
			@include rem (padding, $padding $padding*2);
		}
		
		#comment-box {
			@include clearfix;
			@include append(1);
			@include prepend(11);
		}
	}
	
	article {
		@include clearfix;
	}
	
	.task-list {
		font-weight: 300;
		text-transform: uppercase;
	}
	
	#task-status {
		display: block;
		@include grid(10,0,1);
		@include rem(margin-top, $padding*2);
		
        .flaticon {
            @include rem(font-size, 40px);
            display: block;
        }
        
        @include rem(padding, $padding 0);
        @include rem(font-size, 16px);
		font-weight: 600;
        background-color: $color-back;
        color: $white;
        text-align: center;
        text-transform: uppercase;
        
    }
    
	.task-description {
		@include grid(38,1,1);
		@include rem(padding-top, $padding*2);
		
		h1 {
			@include rem(padding-top, $padding/2);
			@include rem(font-size, 28px);
		}
		
		h2 {
			@include rem(font-size, 22px);
			color: $gray;
			font-weight: 300;
		}
	}
	
	.sidebar {
		@include rem(padding-top, $padding);
		
		.btn {
			float: right;
			display: block;
			width: 100% !important;
			@include rem(margin-bottom, $padding*2);
		}
		
		h3 {
			@include rem(font-size, 18px);
			@include rem(padding-top, 0);
			font-weight: 600;
			color: $text-black;
			text-transform: uppercase;
		}
		
		.task-meta {
			clear: both;
			background: $color-back;
			@include rem(padding, $padding*2);
			@include rem(margin, $padding 0);

			p {
				color: $gray;
				line-height: 1.5;
			}
			
			dl {
				@include clearfix;
				@include rem(margin-bottom, 4px);
				
				dt {
					text-transform: uppercase;
					color: $gray;
					@include grid(20,0,1);
					font-weight: normal;
					@include rem(font-size, 12px);
					
					.flaticon {
						@include rem(margin-right, 4px);
					}
					
				}
				
				dd {
					@include grid(28,0,0);
				}
			}
		}
		
		.task-members, .task-files {
			clear: both;
			
			h3 {
				background: $color-back;
				@include rem(padding, $padding*2 $padding*2 $padding $padding*2);
			}
			
			p {
				background: $color-back;
				@include rem(padding, 0 $padding*2 $padding*2 $padding*2);
			}
			
			.login-signup {
				background: $white;
				@include rem(padding, 0 $padding*2);
			}
			
			ul {
				background: $color-back;
				padding: 0;
				margin: 0;
				border-top: 1px solid $white;
				@include rem(margin-bottom, $padding);
				
				.item {
					clear: both;
					position: relative;
					display: block;
					border-bottom: 1px solid $white;
					@include rem(padding, $padding $padding*2);
					
					.member {
						
						font-weight: 300;
						text-transform: uppercase;
						
						
						.user-img {
							width: 40px;
							@include rem(margin-right, $padding/2);
							padding: 0;
							float: left;
						}
					}
					
					.task-status {
				        @include rem(margin-right, 4px);
						font-weight: 300;
				        color: $pink;
				        text-transform: uppercase;
					}
					
			        .edit-task-status {
						color: $black;
						text-transform: uppercase;
			        }
					
					.file-size, .file-author, .time-applied {
						@include rem(font-size, 12px);
						text-transform: uppercase;
						font-style: normal;
						color: $gray;
					}
				}
			}
		}
		
		.task-files {
								
			.item .flaticon {
				color: $text-black;
				@include rem(font-size, 18px);
				display: block;
				@include rem(margin-right, 8px);
				float: left;
			}
		}
	
	}
}

#task-form {
	@include rem(margin-top, $padding*2);
}









