//
// Wallposts
// --------------------------------------------------

#wallpost-form {
    @include clear;
	background-color: $gray-lighter;
	padding: $base-padding $base-padding*2;
	
	fieldset {
        padding: 0;
	}
	
    ul {
        padding: 0;
    }
    
    .control-group {
	    
	    .control-label {
	        display: none;
		    @include grid(48,1,1);
	    }
	    
	    .controls {
		    @include clear;
		    @include grid(48,0,0);
	    }
	    
    }
    
    .wallpost-photos {
        margin-top: $base-margin;
        @include clear;

        li {
            display: block;
            @include grid(6,0,1);
            @include allowmanage;
        }
    }
    
    .btn {
        float: right;
    }
}

#wallposts {
	@include clear;
	padding-top: $base-padding*2;
	
	.wallpost {
	    @include allowmanage;
	    @include clear;
	    position: relative;
	    padding: $base-padding 0 $base-padding/2 0;
	    //border-bottom: 1px solid $gray-lighter;
	    
	    header {
            position: relative;
            
            .wallpost-member {
                @include clear;
                
                .member-avatar {
                    @include grid(12,2,4);
                    position: absolute;
                    left: 0;
                    background: red;
                }
            
                .member-name {
                    @include prepend(12);
                }
            }
            
            .wallpost-meta {
                position: absolute;
                top: 0;
                right: 0;
                float: right;
                text-align: right;
            }
            
            .wallpost-timestamp, .reaction-timestamp {
                color: $gray;
                font-style: normal;
                font-size: $font-size-smallest;
                text-transform: uppercase;
            }
                            
            .manage {
                display: none;
                position: absolute;
                top: 0;
                right: 0;
            }
            
        }
        
        &:hover {
            
            header .manage {
                display: block;
            }
            
        }
	    
        .wallpost-content {
            @include grid(48,12,0);
            margin-bottom: $base-margin/2;
            word-wrap: break-word;
        
            p {
                margin: 0;
                padding: 0;
                display: inline;
            }   
        
            br {
                display: none !important;
            }
        }
        
        .wallpost-reactions {
            @include clear;
            @include grid(48,12,0);
        }
        
        .login-box {
            @include grid(48,12,0);
            color: $gray;
            //opacity: 0;
            //@include transition(opacity 0.2s ease-out);
            //background-color: $gray-lighter;
            padding: $base-padding;
        }
        
        &:hover .login-box {
            //opacity: 1;
        }
        
        &.wallpost-system {
            
            .wallpost-member {
                padding-bottom: $base-padding;
                
                .member {
                    display: inline;
                    float: none;
                    
                    .member-name {
                        font-family: $base-font-family;
                    }
                }
            }
            
            .wallpost-system-type {
                position: absolute;
                left: 0;
                top: 0;
                @include prepend(2);
                color: $gray-light;
                text-transform: uppercase;
                
                .flaticon {
                    margin-right: $base-margin/4;
                }
            }
            
            .login-box {
                display: none;
            }
        }
	}
}