#wallpost-form {

    fieldset {
        @include rem(border-bottom, 4px solid #e5e5e5);
    }
    
    button {
        float: right;
    }

    .sidebar {
        @include rem(padding, 16px);
        border: 1px solid $green;
        background: $white;
        
        h3 {
            margin: 0;  
        }
    }
    
}

.wallpost {
    @include grid(32, 1, 1);
    position: relative;
    
    &:hover .manage {
        display: block;
    }
    
    header {
        @include grid(48, 9, 1);
        
        .timestamp {
            @include rem(top, 140px);
            position: absolute;
            left: 0;
        }
        
        .manage {
            float: right;
        }
    }
    
    .content {
        font-family: $paragraph-font-family;
        @include grid(48, 9, 0);
        position: relative;
        @include rem(min-height, 64px);
        @include rem(margin-bottom, 16px);
    }
    
    .reaction-box {
        position: relative;
        display: block;
    }
 
    .user-img {
        @include rem(width, 100px);
        @include rem(margin-top, 32px);
        position: absolute;
        top: 0;
        left: 0;
    }
}

.wallpost-filter {
    @include rem(margin-top, 32px);
    background-color: $color-back;
}


