#wallpost-form {
	
	fieldset {
		@include rem(padding, 0 $padding);
	}
	
    ul {
      padding: 0;
    }
    
    .control-group {
	    
	    .control-label {
		    @include grid(48,1,1);
	    }
	    
	    .controls {
		    @include clearfix;
		    @include grid(48,1,1);
	    }
	    
    }
    
    .wallpost-photos {
        @include rem(margin-top, 16px);
        @include clearfix;
        clear: none;

        li {
            display: block;
            @include grid(6, 0, 1);
            @include allowremove;
        }
    }
}

#wallposts {
	@include clearfix;
	clear: both;
	
	.wallpost {
	    @include clearfix;
	    position: relative;
	    @include rem(margin, $padding*3 0);
	    
	    &:hover .manage {
	        display: block;
	    }
	    
	    .show-more {
	       @include grid(48, 11, 1);
	    }
	
	    .post-comment {
	      background-color: $color-back;
	      padding: 12px;
	    }
	
	    header {
	        @include grid(48, 11, 1);
	        
	        h3 {
	          @include rem(font-size, 18px);
	          @include rem(line-height, 24px);
	          font-weight: 600;
	          color: $heading-black;
	          margin: 0px;
	          @include rem(margin-top, 12px);
	          padding: 0;
	          text-transform: uppercase;
	        }
	        
	        .manage {
	            float: right;
	        }
	    }
        &.system-wallpost {
            header {
            }
        }
	    
	    .content {
	        @include grid(48, 11, 1);
	        position: relative;
	        @include rem(margin-top, 8px);
	        @include rem(margin-bottom, 8px);
	        word-wrap: break-word;
	        
	        p {
	          margin: 0;
	          padding: 0;
	          //display: inline;
	        }
	        
	        br {
	          //display: none !important;
	        }
	        
	    }
	    
	    .reaction-box {
	        position: relative;
	        display: block;
	    }

	    .user-img, .header-img, .post-type-icon {
	        @include rem(width, 70px);
	        @include rem(height, 70px);
	        position: absolute;
	        top: 0;
	        left: 0;
	        @include prepend(4);
	    }
        .post-type-icon {
            .flaticon {
                @include rem(font-size, 40px);
                display: block;
            }
            @include rem(padding, $padding 0);
            font-weight: 600;
            background-color: $color-back;
            color: $white;
            text-align: center;
            text-transform: uppercase;
        }
	}
}
