html, body, #site {
	height: 100%;
	background-color: $gray-light;
}

h1 {
	color: $color-secondary;
	font-size: 2.5em;
	font-family: $font-family-bold;
	font-weight: 900;
}

h2 {
	color: $gray-dark;
	font-size: 1.5em;
	font-family: $font-family-bold;
	font-weight: 900;
}

a {
	text-decoration: none;
	color: $black;
	&.btn {
		display: inline;
		background-color: $color-secondary;
		padding: 1em;
		vertical-align: center;
		border-radius: 8px;
		color: white;
		font-family: $font-family-bold;
	}
}

input {
	line-height: 30px;
	border-radius: 6px;
	padding-left: 40px;
	border: solid 1px #ccc;
}

#main {
	min-height: 100%;
	margin-bottom: -232px;
	padding-bottom: 2em;
}

.l-wrapper {
	position: relative;
	min-width: 400px;
	max-width: 1200px;
	margin: 0 auto;
	height: 100%;
	}

.l-section {
	width: 100%;
	min-width: 400px;
	max-width: 100%;
}

.section-header {
	padding: 1em 0 0.5em 0;
	text-align: center;
	&.more-space {
		padding: 5em 0 2.5em 0;
	}
}

// -------------------- HEADER --------------------
#header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 80px;
	background: $gray-light;
	border-bottom: 1px solid white;
	box-shadow: 0 1px 0 rgba(65, 65, 65, .1);
	z-index: 5;
	#logo {
		float: left;
		width: 10.41667%;
		.logo-link {
			display: block;
			padding: 1.2em 0 0 0;
			.logo-image {
				height: 40px;
				width: 125px;
			}
		}
		
	}
	#nav {
		padding: 2.2em 0 0 0;
		font-family: $font-family-bold;
		font-weight: 700;
		.nav-main {
			float: left;
			width: 40%;
			margin-left: 10%;
			margin-right: 0%;
			text-align: left;
			.nav-main-item {
				display: inline;
				margin-right: 3.9em;
				color: $black;
			}
		}
		.nav-actions {
			float: right;
			width: 31.25%;
			color: white;
			text-align: right;
			li {
				display: inline;
				color: $color-primary;
			}
			.nav-signup {
				margin-right: 3em;
			}.nav-search {
				.nav-search-holder {
					position: relative;
					display: inherit;
					float: left;
					margin-top: -10px;
					.nav-search-glass {
						position: absolute;
						top: 11px;
						left: 11px;
					}
				}
			}
		}
	}	
}

// -------------------- CAROUSEL --------------------
.home-carousel {
	width: 100%;
	background: $gray-light;
	ul {
		margin-top: 80px;
		li {
			height: 506px;
			overflow: hidden;
			header {
				position: relative;
				width: 50%;
				margin: auto;
				padding-top: 20px;
				h1 {
					position: absolute;
					top: 50px;
				}
			}
			.home-carousel-play {
				position: absolute;
				top: 168px;
				left: 0;
				right: 0;
				margin: auto;
				width: 16.333333%;
				min-width: 194px;
				.carousel-play-svg {
					height: 55px;
					float: left;
					display: inline-block;
				}
				.carousel-play-text {
					height: 55px;
					float: right;
					display: inline-block;
					padding: 4px;
					line-height: 22px;
					font-family: $font-family-bold;
					font-weight: 700;
					text-align: left;
				}
				a {
					position: absolute;
					width: 100%;
					height: 100%;
					background: transparent;
					right: 4px;
				}
			}
			.home-carousel-body {
				width: 100%;
				height: 100%;
				background: $gray-light;
			}
		}
	}
	.home-carousel-nav {
		position: absolute;
		bottom: 20px;
		left: 0;
		right: 0;
		margin: auto;
		width: 100%;
		text-align: center;
		span {
			display: inline-block;
			height: 15px;
			width: 15px;
			border-radius: 50%;
			background: rgba(255, 255, 255, .7);
			border: solid 1px white;
			&.is-active {
				background: rgba(255, 255, 255, 1);
			}
		}
	}
}

// -------------------- CAMPAIGNS --------------------
.all-campaigns {
	float: right;
	margin: -17px 45px;
	font-family: $font-family-bold;
	color: $gray-border;
	font-size: 1em;
	&:after {
		content: "\2192";
		margin-left: 7px;
	}
}

// TODO: Using compass box
#campaigns {
	background-color: white;
	.campaign-container {
		font-family: $font-family-bold;
		padding: 0;
		margin: 0;
		list-style: none;

		display: -webkit-box;
		display: -moz-box;

		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;

		-webkit-flex-flow: row wrap;
		justify-content: space-around;

		.campaign-item {
			position: relative;
			width: 250px;
			height: 330px;
			background: $gray-light;
			padding: 7px;
			border-radius: 0 0 6px 6px;
			.campaign-item-holder {
				position: relative;
				width: 100%;
				height: 100%;
				background: white;
				border-radius: 0 0 6px 6px;
				border: solid 1px $gray-border;
				.header {
					position: absolute;
					overflow: hidden;
					width: 100%;
					height: 141px;
					background: $gray-dark;
					opacity: 1;
					@include single-transition(opacity, .2s ease-in-out);
					img {
						width: 100%;
						position: relative;
					}
					&:before {
						position: absolute;
						top: 45%;
						left: 0;
						right: 0;
						margin: auto;
						width: 40%;
						text-align: center;
						content: "Loading...";
						font-size: .7em;
						color: $gray-light;
					}
				}
				.profile-photo {
					display: inline-block;
					position: absolute;
					left: 0;
					right: 0;
					margin: auto;
					width: 51px;
					height: 51px;
					overflow: hidden;
					border-radius: 50%;
					top: 117px;
					border: solid 2px white;
					z-index: 4;
					@include single-transition(top, .2s ease-in-out);
					img {
						width: 100%;
					}
				}
				.campaign-hover {
					position: absolute;
					height: 57%;
					width: 100%;
					bottom: 0;
					left: 0;
					right: 0;
					background: white;
					z-index: 3;
					visibility: hidden;
					opacity: 0;
					@include single-transition(all, .2s ease-in-out);
					.campaign-hover-head {
						margin: auto;
						margin-top: 55px;
						width: 100%;
						height: auto;
						text-align: center;
						padding-bottom: 10px;
						strong {
							display: inline-block;
							margin: auto;
							width: 90%;
							font-weight: 800;
							font-size: 16px;
						}
					}
					.campaign-hover-body {
						min-height: 190px;
						font-size: 14px;
						line-height: 18px;
						color: $gray-dark;
					}
					p {
						span {
							display: block;
							padding: 15px 12px 15px 12px;
						}
						.go-to-campaign {
							display: block;
							text-align: center;
							font-size: 14px;
							color: $color-secondary;
							&:after {
								content: "\2192";
								margin-left: 7px;
							}
						}
						&:not(:last-child) {
							border-bottom: solid 1px $gray-border;
						}
					}
				}
			}
			.campaign-body {
				position: absolute;
				left: 0;
				right: 0;
				top: 176px;
				margin: auto;
				padding: 10px;
				@include single-transition(top, .2s ease-in-out);
				.profile-name {
					display: block;
					color: $gray-dark;
					text-align: center;
					opacity: 1;
					@include single-transition(opacity, .2s ease-in-out);
					strong {
						font-size: 16px;
						color: $color-primary;
					}
				}
				.campaign-body-names {
					display: block;
					width: 90%;
					margin: 4px 0 0 0;
					text-align: center;
					line-height: 19px;
					font-size: 13px;
					font-weight: 800;
				}
			}
			.campaign-footer {
				position: absolute;
				left: 0;
				right: 0;
				bottom: 4px;
				margin: auto;
				padding: 10px;
				opacity: 1;
				@include single-transition(all, .1s ease-in-out);
				.campaign-fund-amount {
					color: $gray-dark;
					font-size:  .8em;
					.amount-raised {
						float: left;
					}
					.days-left {
						float: right;
					}
					strong {
						font-weight: 800;
					}
					.fully-funded {
						display: block;
						width: 100%;
						text-align: center;
						color: $color-secondary
					}
				}
				.campaign-fund-amount-slider {
					display: block;
					overflow: hidden;
					border-radius: 1em;
					margin: 0 0 .5em 0;
					background-color: transparent;
					border: solid 1px $color-primary;
					.slider-progress {
						position: relative;
						display: block;
						border-radius: 1em 0 0 1em;
						background-color: $color-primary;
						color: #fff;
						text-align: right;
						white-space: nowrap;
						line-height: .7em;
						height: .7em;
					}
					&.is-funded {
						border-color: $color-secondary;
						.slider-progress {
							background-color: $color-secondary;
						}
					}
				}
			}

			&:hover {
				.campaign-item-holder {
					.header {
						opacity: 0;
					}
					.profile-photo {
						top: -30px;
					}
					.campaign-body {
						top: 20px;
						z-index: 4;
						.campaign-body-names {
							opacity: 0;
						}
					}
					.campaign-footer {
						opacity: 0;
						bottom: -4px;
					}
					.campaign-hover {
						visibility: visible;
						opacity: 1;
						height: 100%;
					}
				}
				}
			a.campaign-href {
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				width: 100%;
				height: 100%;
			}
		}
	}
}

// -------------------- CATEGORIES --------------------
#categories {
	background-color: white;
	padding-bottom: 70px;
	.tag-container {
		margin: auto;
		width: 90%;
		text-align: center;
		font-family: $font-family-bold;
		.tag-item {
			display: inline-block;
			width: auto;
			margin: 5px;
			padding: 10px 7px;
			border-radius: 8px;
			border: solid 1px $gray-border;
			background-color: white;
			color: $color-primary;
			@include single-transition(all, .1s ease-in-out);
			&:hover {
				background-color: $color-primary;
				color: $gray-light;
			}
		}
		.tag-browse-all {
			display: inherit;
			margin-top: 50px;
			color: $gray-dark;
			&:after {
				content:  "\2192";
				margin-left: 7px;
			}
		}
	}
}

// -------------------- TOOLS --------------------
.tools-container {
	margin-top: 50px;
	background-color: $gray-light;
	.l-wrapper {
		//@include clearfix;
		.tools-row {
			width: 100%;
			margin: auto;
			padding: 40px 0 40px 0;
			@include clearfix;
			&.small {
				max-width: 600px;
			}
			.tools {
				font-family: $font-family-bold;
				color: $gray-dark;
				width: 50%;
				min-height: 100px;
				&.left {
					float: left;
				}
				&.right {
					float: right;
				}
				.icon {
					display: block;
					float: left;
					background: #ccc;
					width: 75px;
					height: 75px;
					margin-right: 20px;
				}
				.content {
					display: block;
					width: 90%;
					min-height: 80px;
				}
				strong {
					font-weight: 700;
				}
			}
		}
	}
}

// -------------------- CROWFUNDED --------------------
#crowdfunded {
	position: relative;
	height: 750px;
	z-index:2;
	overflow: hidden;
	.crowdfunded-container {
		height: 800px;
		width: 120%;
		margin: -70px;
	}
	.crowdfunded-overlay {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
 		@include background-image(linear-gradient(rgba(65, 65, 65, .7), rgba(0,0,0, .9)));
	}
	.crowdfunded-tagline {
		position: absolute;
		top: 15%;
		right: 0;
		left: 0;
		header {
			margin: auto;
			font-size: 2em;
			z-index: 4;
			text-align: center;
			line-height: 93px;
			h2 {
				color: white;
				strong {
					font-weight: 700;
				}
			}
		}
		.join-us {
			margin-top: 5em;
			text-align: center;
		}
	}
	img {
		z-index: 1;
		border: solid 1px black;
		float: left;
	}
}

// -------------------- PARTNER LOGO'S --------------------
#partner-logos {
	background-color: $gray-light;
	padding-bottom: 70px;
}

// -------------------- QUOTE CAROUSEL --------------------
.quote-carousel {
	position: relative;
	margin: auto;
	width: 90%;
	background-color: white;
	border-radius: 6px;
	border: solid 1px $gray-border;
	padding: 20px;
	font-family: $font-family-bold;
	@include clearfix;
	.quote-carousel-content {
		float: left;
		padding: 0 6em 0 6em;
		margin: auto;
		.carousel-photo {
			float: left;
			width: 100px;
			height: 100px;
			img {
				background-color: $gray-dark;
			}
		}
		.carousel-quote {
			float: left;
			color: $color-primary;
			line-height: 32px;
			margin: 1.2em 0 0 2em;
			strong {
				display: inherit;
				font-size: 20px;
				font-weight: 700;
			}
			small {
				color: $gray-dark;
			}
		}
	}
	.carousel-nav {
		position: absolute;
		top: 0;
		width: 40px;
		height: 100%;
		&.left {
			left: 40px;
			margin: auto;
			text-align: center;
			padding-top: 60px;
		}
		&.right {
			right: 40px;
			margin: auto;
			text-align: center;
			padding-top: 60px;
		}
	}
}

// -------------------- FOOTER --------------------
@include sticky-footer(600px, "#main", "#layout_footer", "#footer");
#footer {
	color: $gray-light;
	font-family: $font-family-bold;
	#footer-links {
		height: 400px;
		background-color: $black;
		#nav {
			height: 120px;
			padding-top: 60px;
			line-height: 25px;
			h3 {
				color: $gray-light;
				font-weight: 700;
			}
			a {
				color: $gray-dark;
			}
		}

	}
	#footer-contact {
		height: 80px;
		background-color: $color-primary;
	}
	#footer-copyright {
		height: 120px;
		background-color: white;
	}
}