"""
secrets.py

Add passwords, API keys and other secrets in this file.
"""

# Make this unique, and don't share it with anybody.
SECRET_KEY = "<UPDATE ME>"

# Database authentication
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'onepercentsite',
        'USER': 'onepercentsite',
        'PASSWORD': None
    },
}
