# Fill all empty strings and copy this file to secrets.py

SECRET_KEY = ''

# Database authentication
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': '',
        'USER': '',
        'PASSWORD': ''
    }
}

COWRY_DOCDATA_MERCHANT_NAME = ''
COWRY_DOCDATA_MERCHANT_PASSWORD = ''

IPAY_VENDOR_ID = ''

SEPA = {
    'iban': '',
    'bic': '',
    'name': '',
    'id': ''
}

FACEBOOK_APP_ID = ''
FACEBOOK_API_SECRET = ''

