*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

# JS tests / coverage / bower
test/js/coverage/*
static/bower_components/*
bower_components/*
node_modules/*
npm-debug.log

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

# Sublime Text
*.sublime-workspace

# Mac stuff and specific weirdness
.DS\_Store
*.sqlite
*.sw?

# Static files
/static/media/*
!/static/media/.gitkeep
/static/assets/*
!/static/assets/.gitkeep
/private/*
!/private/.gitkeep

# Local settings overrides
onepercentclub/settings/local.py
onepercentclub/settings/secrets.py

# Misc stuff
env
src
docs/_build
.idea
.noseids

# CI reports
reports

# SASS
.sass-cache

# Espresso
*.esproj

# Salesforce Dataloader
!**/.gitkeep
salesforce/dataloader_prd/Bin/DataLoader20/*
salesforce/dataloader_uat/Bin/DataLoader20/*
salesforce/*/*/*/*/read/*
salesforce/*/*/*/*/write/*
salesforce/*/*/*/*/log/*
salesforce/*/*/*/*/active_job.properties
salesforce/*/*/*/*/*/*lastRun.properties
salesforce/*/*/*/log/*
salesforce/*/*/*/archive/*
salesforce/*/Data/Input/*
salesforce/*/Data/Output/*

static/global/compass_app_log.txt

ghostdriver.log
/exports

# ignore the screen.css file
static/global/css/screen.css