*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

# Mac stuff and specific weirdness
.DS\_Store
*.sqlite
*.sw?

# Static files
/static/media/*
!/static/media/.gitkeep
/static/assets/*
!/static/assets/.gitkeep

# Local settings overrides
bluebottle/settings/local.py
bluebottle/settings/secrets.py

# Misc stuff
env
docs/_build
.idea
.noseids

# CI reports
reports

# SASS
.sass-cache

# Espresso
*.esproj

# Cowry DocData
/cowrylogs/*
!/cowrylogs/.gitkeep

# Salesforce Dataloader
!**/.gitkeep
/dataloader/prd/Bin/DataLoader20/*
/dataloader/uat/Bin/DataLoader20/*
/dataloader/*/*/*/*/read/
/dataloader/*/*/*/*/write/
/dataloader/*/*/*/*/log/
/dataloader/*/*/*/log/
/dataloader/*/*/*/archive/
/dataloader/*/*/Input/
/dataloader/*/*/Output/

static/global/compass_app_log.txt
