Django==1.4
django_extensions
django_debug_toolbar

raven # Sentry client (remote logging)
django-celery # Asynchronous task server

# Django Nose integration (for test suites)
# Nose is temporarily not the default testrunner due to
# https://github.com/jbalogh/django-nose/issues/85
# django-nose

# http://pypi.python.org/pypi/django-countries/1.2
django-countries==1.2

# CSS/JS compression - http://pypi.python.org/pypi/django_compressor/1.1.2
cssmin
jsmin
BeautifulSoup==3.2.1
django_compressor

# pytz is "highly recommended" by the Django timezone documentation since
# we're using Django timezone support
# https://docs.djangoproject.com/en/1.4/topics/i18n/timezones/
pytz

sphinx # Sphinx documentation

# http://pypi.python.org/pypi/sorl-thumbnail/11.12
sorl-thumbnail==11.12

# http://pypi.python.org/pypi/django-choices/1.1.9
django-choices==1.1.9

# http://pypi.python.org/pypi/surlex/0.1.2
surlex==0.1.2

# http://pypi.python.org/pypi/South/0.7.5
south==0.7.5

# Tastypie, for the API!
django-tastypie

# Jenkins integration
django-jenkins==0.13.0

# Coverage in tests
coverage

# The official django-taggit doesn't seem to be maintained anymore. This
# version is the currently maintained version for Django 1.4. More information
# can be found in the merge request to the official version:
# https://github.com/alex/django-taggit/pull/99
-e git+https://github.com/hcarvalhoalves/django-taggit.git@53497637f019af738f12d4e6f1e5ab2833ff173e#egg=django_taggit
