Django==1.4
django_extensions
django_debug_toolbar
raven
django-celery
South
django-nose
django_countries

# CSS/JS compression - http://pypi.python.org/pypi/django_compressor/1.1.2
cssmin
jsmin
BeautifulSoup==3.2.1
django_compressor
