Django==1.4.5

django_extensions==1.0.1

django_debug_toolbar

raven # Sentry client (remote logging)
django-celery==3.0.4 # Asynchronous task server

# Django Nose integration (for test suites)
# Nose is not the default testrunner due to
# https://github.com/jbalogh/django-nose/issues/85
django-nose

# CSS/JS compression - http://pypi.python.org/pypi/django_compressor/1.2
cssmin==0.1.4
jsmin==2.0.2
BeautifulSoup==3.2.1
django_compressor==1.2

# pytz is "highly recommended" by the Django timezone documentation since
# we're using Django timezone support
# https://docs.djangoproject.com/en/1.4/topics/i18n/timezones/
pytz

sphinx # Sphinx documentation

# http://pypi.python.org/pypi/sorl-thumbnail/11.12
sorl-thumbnail==11.12

# http://pypi.python.org/pypi/django-choices/1.1.9
django-choices==1.1.9

# http://pypi.python.org/pypi/surlex/0.1.2
surlex==0.1.2

# http://pypi.python.org/pypi/South/0.7.6
south==0.7.6

# Django-REST-Framework
django-filter==0.5.4
djangorestframework==2.2.1

# Jenkins integration
django-jenkins==0.14.0

# Coverage in tests
coverage==3.5.2

# The official django-taggit doesn't seem to be maintained anymore. This
# version is the currently maintained version for Django 1.4. More information
# can be found in the merge request to the official version:
# https://github.com/alex/django-taggit/pull/99
https://github.com/hcarvalhoalves/django-taggit/archive/e0f9642d7b94c8e6c0feb520d96bb6ae4d78a4d0.zip
django-taggit-autocomplete-modified==0.1.0b4

# Embedding videos and other media
# https://github.com/coleifer/micawber
micawber==0.2.5

# Our changes to polymorphic are going to be in the bluebottle integration branch. This allows us
# to push issues upstream in separate branches while at the same time have a central place to use
# our fixes.
https://github.com/onepercentclub/django_polymorphic/archive/ef9be87709f7f757058884ba255b685abd43a718.zip

# Blog/news contents is created using blocks
django-fluent-contents==0.8.3
django-wysiwyg==0.5
django-tinymce==1.5.1b2
html5lib==0.95

# Admin dashboard improvements
django-fluent-dashboard==0.3.2
# django-admin-tools 0.4.1 seems to have disappeared from pypi. Using direct download for now.
#django-admin-tools>=0.4.1
https://bitbucket.org/izi/django-admin-tools/downloads/django-admin-tools-0.4.1.tar.gz

# Transifex - for translations!
transifex-client

# Handlebars in templates
django-templatetag-handlebars

# Cowry dependencies.
django_countries
requests==1.1.0
#suds-jurko==0.4.1.jurko.4
# Use a suds-jurko fork with python 2.6 support.
http://bitbucket.org/onepercentclub/suds/get/6a98691d1188.zip

