{% extends "base.mail.html" %}

{% load i18n %}
{% load static %}

{% block content %}
    <table cellpadding="0" cellspacing="0" border="0" align="center" style="width: 600px; padding-left: 20px; padding-right: 20px;">
        <tr><td height="64"></td></tr>

        <tr>
            <td valign="top">
                <img src="{{ site }}{% get_static_prefix %}images/1procentclub-logo-email.png" width="97" height="35" alt="1%Club" style="outline:none; text-decoration:none; -ms-interpolation-mode: bicubic; display: block;" />
            </td>
        </tr>

        <tr><td height="40"></td></tr>

        <tr>
            <td valign="top" style="color:#444444; font-weight: bold; font-size: 24px; text-transform: uppercase;">
                {% trans "Confirm your registration" %}
            </td>
        </tr>

        <tr><td height="16"></td></tr>

        <tr>
            <td valign="top">
                {% blocktrans %}Great! We can almost welcome you at 1%Club!{% endblocktrans %}
            </td>
        </tr>

        <tr><td height="8"></td></tr>

        <tr>
            <td valign="top">
                {% trans "Click the link below to confirm your registration" %}.
            </td>
        </tr>

        <tr><td height="32"></td></tr>

        <tr>
            <td valign="top">
                <div class="btn" style="background-color: #ff619a; padding: 12px 16px; text-transform: uppercase; text-align: center; font-size: 16px; font-weight: bold; border: 1px solid #d95281; float: left;">
                    <a href="{{ site }}/{{ LANGUAGE_CODE }}/#!/activate/{{ activation_key }}" target="_blank" style="color: #fff; text-decoration: none;">
                        {% trans "activate profile" %}
                    </a>
                </div>
            </td>
        </tr>

        <tr><td height="32"></td></tr>

        <tr>
            <td valign="top">
                {% blocktrans %}Your activation code will expire in {{ expiration_days }} days.{% endblocktrans %}<br />
                {% blocktrans %}If the link isn't working for you please copy and paste this url into your browser: {% endblocktrans %}
                {{ site }}/{{ LANGUAGE_CODE }}/#!/activate/{{ activation_key }}

            </td>
        </tr>

        <tr><td height="48"></td></tr>
    </table>
{% endblock %}

