{% extends "base.mail.html" %}

{% load i18n %}
{% load static %}

{% block content %}
    <table cellpadding="0" cellspacing="0" border="0" id="backgroundTable" style="color: #424242; font-size: 14px; font-family: Helvetica, Arial, sans-serif; margin:0; padding:0; width:100% !important; line-height: 100% !important;">
        <tbody>
            <tr>
                <td>
                    <table cellpadding="0" cellspacing="0" border="0" align="center" style="width: 600px; padding-left: 20px; padding-right: 20px;">
                        <tr><td height="64"></td></tr>

                        <tr>
                            <td valign="top">
                                <img src="{% if request.is_secure %}https{% else %}http{% endif %}://{{ site }}{% get_static_prefix %}images/1procentclub-logo-email.png" width="97" height="35" alt="1%Club" style="outline:none; text-decoration:none; -ms-interpolation-mode: bicubic; display: block;" />
                            </td>
                        </tr>

                        <tr><td height="40"></td></tr>

                        <tr>
                            <td valign="top" style="color:#444444; font-weight: bold; font-size: 24px; text-transform: uppercase;">
                                {% trans "Time to activate your account." %}
                            </td>
                        </tr>

                        <tr><td height="16"></td></tr>

                        <tr>
                            <td valign="top">
                                {% trans "You recently signed-up at" %} <a href="{% if request.is_secure %}https{% else %}http{% endif %}://{{ site }}" target="_blank" style="color: #00c051; text-decoration: underline">{{ site }}</a> {% trans "and your account needs to be activated." %}
                            </td>
                        </tr>

                        <tr><td height="8"></td></tr>

                        <tr>
                            <td valign="top">
                                {% trans "You are almost there, you are just one click away." %}
                            </td>
                        </tr>

                        <tr><td height="32"></td></tr>

                        <tr>
                            <td valign="top">
                                <div class="btn" style="background-color: #ff619a; padding: 12px 16px; text-transform: uppercase; text-align: center; font-size: 16px; font-weight: bold; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; border: 1px solid #d95281; float: left;">
                                    <a href="{% if request.is_secure %}https{% else %}http{% endif %}://{{ site }}/#/activate/{{ activation_key }}" target="_blank" style="color: #fff; text-decoration: none;">
                                        {% trans "activate profile" %}
                                    </a>
                                </div>
                            </td>
                        </tr>

                        <tr><td height="32"></td></tr>

                        <tr>
                            <td valign="top">
                                {% blocktrans %}Your activation code will expire in {{ expiration_days }} days.{% endblocktrans %}
                            </td>
                        </tr>

                        <tr><td height="48"></td></tr>
                    </table>
                </td>
            </tr>

            <tr>
                <td style="background-color: #e9e9e9;">
                    <table cellpadding="0" cellspacing="0" border="0" align="center" style="width: 600px; padding-top: 40px; padding-right: 20px; padding-bottom: 40px; padding-left: 20px;">
                        <tr>
                            <td>
                                <table cellpadding="0" cellspacing="0" border="0">
                                    <tr>
                                        <td width="408" valign="top" style="font-size: 12px; color: #999999;">
                                            <div style="padding-bottom: 3px;"><b>1%CLUB</b></div>
                                            <div style="padding-bottom: 3px;">'s Gravenhekje 1a</div>
                                            <div style="padding-bottom: 3px;">1011TG Amsterdam</div>
                                            <div style="padding-bottom: 3px;">The Netherlands</div>
                                        </td>

                                        <td width="32" valign="top">
                                            <a href="http://www.facebook.com/onepercentclub" target="_blank">
                                                <img src="{% if request.is_secure %}https{% else %}http{% endif %}://{{ site }}{% get_static_prefix %}images/facebook.png" width="32" height="31" alt="Facebook" style="outline:none; text-decoration:none; -ms-interpolation-mode: bicubic; display: block;" />
                                            </a>
                                        </td>
                                        <td width="8"></td>

                                        <td width="32" valign="top">
                                            <a href="http://twitter.com/1procentclub" target="_blank">
                                                <img src="{% if request.is_secure %}https{% else %}http{% endif %}://{{ site }}{% get_static_prefix %}images/twitter.png" width="32" height="31" alt="Twitter" style="outline:none; text-decoration:none; -ms-interpolation-mode: bicubic; display: block;" />
                                            </a>
                                        </td>
                                        <td width="8"></td>

                                        <td width="32" valign="top">
                                            <a href="http://www.flickr.com/photos/1procentclub/" target="_blank">
                                                <img src="{% if request.is_secure %}https{% else %}http{% endif %}://{{ site }}{% get_static_prefix %}images/flickr.png" width="32" height="31" alt="Flickr" style="outline:none; text-decoration:none; -ms-interpolation-mode: bicubic; display: block;" />
                                            </a>
                                        </td>
                                        <td width="8"></td>

                                        <td width="32" valign="top">
                                            <a href="http://www.linkedin.com/groups?gid=1071287&trk=hb_side_g" target="_blank">
                                                <img src="{% if request.is_secure %}https{% else %}http{% endif %}://{{ site }}{% get_static_prefix %}images/linkedin.png" width="32" height="31" alt="LinkedIn" style="outline:none; text-decoration:none; -ms-interpolation-mode: bicubic; display: block;" />
                                            </a>
                                        </td>
                                        <td width="8"></td>

                                        <td width="32" valign="top">
                                            <a href="http://www.youtube.com/user/1Procentclub" target="_blank">
                                                <img src="{% if request.is_secure %}https{% else %}http{% endif %}://{{ site }}{% get_static_prefix %}images/youtube.png" width="32" height="31" alt="Youtube" style="outline:none; text-decoration:none; -ms-interpolation-mode: bicubic; display: block;" />
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}

