{% extends "base.html" %}
{% comment %} Use url tag from Django 1.5. {% endcomment %}
{% load url from future %}
{% load i18n %}

{% block content %}
    <div id="loginModal" class="modal">
        <div class="modal-header">
            <h3>{% trans "Log in" %}</h3>
        </div>

        <div class="modal-body">
            <form id="login-form" method="post" action="{% url 'login' %}">
                <div class="modal-body">
                    {% csrf_token %}
                    <div>
                        <div class="control-group">
                            <label class="control-label" for="id_email">{% trans "Email" %}:</label>

                            <div class="controls">
                                {# The key for the login needs to be 'username' for logins to work. #}
                                <input id="id_email" type="email" name="username" maxlength="254">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="id_password">{% trans "Password" %}:</label>

                            <div class="controls">
                                <input id="id_password" type="password" name="password">
                            </div>
                        </div>
                    </div>

                    {% if form.errors %}
                        <p class="alert alert-error">
							{% trans "Please use your email address to log in." %}<br />
                            {% trans "Your email address and password didn't match. Please try again." %}
                        </p>
                    {% endif %}
                </div>

                <input type="hidden" name="next" value="{{ next }}" />

                <div class="modal-footer">
                    <input class="btn right" type="submit" value="Login">
                </div>
            </form>
        </div>
    </div>

    <script type="text/javascript">
        (function($) {
            $(document).ready(function() {
                $('#login-form').validate();
                $('#loginModal').modal().on('hidden', function() {
                    window.location.replace('/');
                });
            });
        })(window.jQuery);
    </script>
{% endblock %}
