{% extends "base.mail.html" %}

{% load i18n %}
{% load static %}

{% block content %}

    <table cellpadding="0" cellspacing="0" border="0" align="center" style="width: 600px; padding-left: 20px; padding-right: 20px;">
        <tr><td height="64"></td></tr>

        <tr>
            <td valign="top">
                <img src="{{ site }}{% get_static_prefix %}images/1procentclub-logo-email.png" width="97" height="35" alt="1%Club" style="outline:none; text-decoration:none; -ms-interpolation-mode: bicubic; display: block;" />
            </td>
        </tr>

        <tr><td height="40"></td></tr>

        <tr>
            <td valign="top" style="line-height: 1.4">
                {% trans "Click on this link to reset your password." %}
            </td>
        </tr>

        <tr><td height="32"></td></tr>

        <tr>
            <td valign="top">
                <div class="btn" style="background-color: #ff619a; padding: 12px 16px; text-transform: uppercase; text-align: center; font-size: 16px; font-weight: bold; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; border: 1px solid #d95281; float: left;">
                    <a href="{{ site }}/{{ LANGUAGE_CODE }}/#!/passwordreset/{{ uid }}-{{ token }}" target="_blank" style="color: #fff; text-decoration: none;">
                        {% trans "Reset" %}
                    </a>
                </div>
            </td>
        </tr>

        <tr><td height="32"></td></tr>

        <tr>
            <td valign="top">
                {% trans "See you at" %} <a href="{{ site }}/" target="_blank" style="color: #00c051; text-decoration: underline">{{ site_name }}</a> {% trans "in a minute!" %}
            </td>
        </tr>

        <tr><td height="48"></td></tr>
    </table>
{% endblock %}



