{% load bb_ember %}
{% load i18n %}
{% load static %}

{% tplhandlebars "my_project_pitch" %}
    
    {{#unless isPhasePlanNew}}
        {{bb-flash data=flash}}
    {{/unless}}

    <legend>
        <strong>
            {% trans 'Project Basics' %}
        </strong>
        <span>{% trans 'Yes, you made the decision to start crowdfunding! Let’s start with the basics ' %}</span>
    </legend>
    
    <fieldset>
        <ul>
            {% bb_component 'bb-select-language' label=_('Language') name='language' valueBinding='currentLanguage.id' selectionBinding='language' errorsBinding='errors.language' maxlength=255 hint=_('Choose a language.') %}

            {% bb_component 'bb-text-field' label=_('Title') name='title' valueBinding='title' placeholder=_('Be short, creative and memorable ') errorsBinding='errors.title' maxlength=255 %}

            {% bb_component 'bb-text-area' rows=8 label=_('Description') name='pitch' valueBinding='pitch' placeholder=_('Tell us in one paragraph where you need the money for.') errorsBinding='errors.pitch' maxlength=500 hint=_('max. 500 characters') %}
        </ul>
    </fieldset>
    <fieldset>
        <ul>
            {% bb_component 'bb-upload-display-image' name='img_upload' label=_('Picture') hint=_('Upload the picture that best describes your campaign.') fileBinding='image' buttonLabel=_('Upload picture') errorsBinding='errors.image' %}

            {% bb_component 'bb-video-link' label=_('Video (optional)') hint=_('Add a video pitch if you want. Make it sparkling!') name='video' placeholder=_('Not required') valueBinding='video_url' video_html='video_html' errorsBinding='errors.video' %}
        </ul>
    </fieldset>
    <fieldset>
        <ul>
            {% bb_component 'bb-select-generic' valueProperty="'content.id'" labelProperty="'content.name'" options='allThemes' value='theme' name='theme' label=_('Theme') prompt=_('Select one of the themes.') errorsBinding='errors.theme' %}

            {{#bb-form-field hint='Add keywords that will make your campaign easier to find' label='Keywords' errors=errors.tags}}
                {% bb_component 'view App.TagWidget' tagsBinding="tags" name='tags' classBinding="errors.tags.length:error" prompt=_('Choose max. 5 keywords') %}
            {{/bb-form-field}}
        </ul>
    </fieldset>

    <fieldset>
        <ul>

            {% bb_component 'bb-map-picker' modelBinding='controller.model' latitudeBinding='latitude' longitudeBinding='longitude' hint=_('You can drag the marker on the map to pinpoint the location even more accurate.') label=_('Location') errorsBinding='errors.location' className='small' %}

            {% bb_component 'bb-select-country' label=_('Country') name='country' selectionBinding='country' errorsBinding='errors.country' maxlength=255 %}
            
        </ul>
    </fieldset>

    {{ partial '_my_project_save_edit_footer'}}

{% endtplhandlebars %}
