.donation-projects {
	@include rem(padding, 16px 0);
	list-style: none;
	background-color: $white;
	margin: 0;

    .donation-project {
    
        @include allowremove;
        @include rem(padding, $padding);
        @include clearfix;
		
		border-top: 1px solid $white;
		border-left: 1px solid $white;
		border-right: 1px solid $white;
        border-bottom: 1px solid $color-back;

        img {
            @include grid(8);
            float: left;
        }

        h2 {
            @include grid(24,1,1);
            @include rem(font-size, 18px);
            line-height: 1.3;
            padding: 0;
            color: $heading-black;
        }

        .country, .project-status {
            @include rem(font-size, 14px);
						@include rem(margin-top, $padding/2);
            color: $gray;
            display: block;
            font-style: normal;
            font-weight: normal;
            text-transform: none;
        }

        .donation-amount, .project-actions {
            @include grid(16);
            text-align: right;
        }

        &:hover {
            border-color: $color-back !important;
            
            h2 {
                color: $pink;
            }
        }

        &:last-of-type {
            border-bottom-color: $white;
        }
	}
}



#donate {
	
	.section {
		padding-bottom: 0;
	}
	
	.content {
		padding-top: 6px;
	}
	
	.tabs {
		@include grid(32,1,1);
		margin-bottom: 2px;
		@include rem(margin-top, $padding/2);
		
		&.three {
		
			li > a, li > span {
				@include grid(16,0,0);
			}
			
		}
		
		&.four {
		
			li > a, li > span {
				@include grid(12,0,0);
			}
		}
		
	}
	
	
	.donate-time {
		@include rem(font-size, 16px);
		@include rem(padding, $padding 0);
		
		label {
			@include rem(font-size, 16px);
		}
	}
	
	.donation-amount {
		
	    .amount-needed {
	        @include rem(font-size, 16px);
	        color: $grayLight;
	        text-transform: uppercase;
	    }
	
	    .amount-control {
	        float: right;
	        width: 210px;
	        height: 60px;
	        margin-top: $margin;
	
	        label {
	            @include grid(16);
	            @include rem(font-size, 12px);
	            @include rem(padding, $padding/2);
	            color: $white;
	            height: 54px;
	            line-height: 1.5;
	            font-weight: bold;
	            text-align: center;
	            background: $green;
	            text-transform: uppercase;
	            border: 1px solid darken($green, 5%);
	        }
	    }
	    
	    .currency {
	    	display: block;
	        @include grid(32);
	        position: relative;
			
	        em {
	            @include rem(font-size, 28px);
	            @include rem(padding, 0 $padding/2);
	            position: absolute;
	            font-style: normal;
	            font-weight: bold;
	            height: 54px;
	            line-height: 54px;
	        }
	
	        input[type=number], .input-amount {
	            padding-top: 0 !important;
	            padding-bottom: 0 !important;
	            margin: 0 !important;
	            line-height: 1 !important;
	            @include rem(font-size, 28px);
	            font-weight: bold;
	            text-align: right;
	            height: 54px;
	            line-height: 54px;
	        }
	    }
      
        .divided-amount {
        	@include rem(padding, 0 20px);
        	height: 54px;
	        line-height: 54px;
	        @include rem(font-size, 28px);
					color: $gray;
					font-weight: 600;
        }
	}
	
	.donation-empty {
		
		@include clearfix;
		
		.flaticon, .icon {
			@include grid(12,1,1);
			text-align: center;
			@include rem(font-size, 72px);
			color: $color-back;
			@include rem(padding-top, 22px);
		}
		
		.form-meta {
			@include grid(36,1,1);
		}
	}
	
	.add-project {
		float: left;
	    @include rem(margin, $padding/2 $padding);
	    @include rem(line-height, 32px);
	}
		
	.form-summary {
		text-transform: uppercase;
	}
	
	.donation-total {
	    @include rem(padding, $padding/2 $padding);
	    clear: both;
		
	    .currency {
	        font-weight: bold;
	    }
	}
	
	.donation-recurring-title {
		@include rem(padding, $padding);
		background: $green;
		
		h3 {
		
			.flaticon {
				@include rem(margin-right, $padding/2);
			}
			
			padding: 0;
			margin: 0;
			text-transform: uppercase;
			color: $white;
		}
	}
	
	.donation-monthly-total {
		position: relative;
		background: none;
		padding: 0;
		@include rem(margin-bottom, 14px);
		
		.form-summary {
	        @include grid(32,0,0);
	        @include rem(padding, $padding/2 $padding);
			background-color: $color-back;
	    }
	    
	    .donation-amount {
	    	
	    	.amount-control {
		    	margin-top: 0;
	    	}
	    	
		    @include grid(16,0,0);
		    float: right !important;
		    
		    .currency {
			    float: right !important;
		    }
	    }
	}
	
	.donations-turned-off {
		clear: both;
		@include rem(font-size,14px);
		@include rem(padding, $padding $padding);
		@include rem(margin-bottom, $padding);
		color: $white;
		background: $color-error;
		
		h3 {
			font-weight: 300;
			padding: 0;
			text-transform: uppercase;
			@include rem(font-size,16px);
		}
		
		p {
			margin: 0;
		}
	}
}

#thankyou {
	
	figure {
		@include grid(16,0,1);
		@include rem(padding, $padding);
		
		img {
			width: 145px !important;
			text-align: center;
		}
	}
	
	header {
		@include grid(32,0,1);
		
		p {
			@include rem(font-size, 16px);
		}
	}
	
	.donation-projects {
		@include clearfix;
		@include prepend(1);
	}
	
	.intro {
		@include rem(padding, $padding);
		background: $green;
		@include prepend(1);
		@include rem(margin-top, $padding*2);
		
		h3 {
		
			.flaticon {
				@include rem(margin-right, $padding/2);
			}
			
			padding: 0;
			margin: 0;
			text-transform: uppercase;
			color: $white;
		}
	}
	
}

