/* =========== Forms */

// General styles
// -------------------------

legend {
    @include rem(padding, ($padding * 3/2) ($padding * 2));
    width: 100%;
    background-color: $grayLight;

    strong {
        @include rem(font-size, 24px);
        @include rem(margin-bottom, 8px);
        color: $white;
        text-transform: uppercase;
        font-weight: 300;
        line-height: 1;
        display: block;
    }

    p {
        margin: 0;
    }
}

label {
    display: block;
}

// Form controls
// -------------------------

form, .form {
	
    @include rem(font-size, 16px);
	
    fieldset {
        background-color: $color-back;

        &:last-of-type {
            @include rem(padding-bottom, 0);
            @include rem(margin-bottom, $padding);
        }
    }
    
    .form-meta {
        @include clearfix;
        background-color: $white;
        @include rem(padding, ($padding * 3/2) 0);
        
        .form-label {
	        margin-left: 0;
        }
        
        .form-desc {
	        margin-left: 0;
        }
        
    }
    
    .form-label {
        @include grid(48, 2, 1);
        @include rem(font-size, 24px);
        color: $green;
        text-transform: uppercase;
        font-weight: 300;
        margin-bottom: 0;
    }

    .form-desc {
        @include grid(48, 2, 1);
        color: $grayDarker;
        
        p {
            @include rem(padding, $padding 0 8px);
        }
    }

    .form-divider {
        border-color: #fff;
        margin: 0;
    }

    .form-summary {
        @include rem(font-size, 28px);
        color: $gray;
    }

    ul {
        margin: 0 !important;
        clear: both;
        list-style: none;
        
        li {
        	margin: 0 !important; 
        	padding-left: 0 !important;
	        background: none !important;
        }
    }

    .control-group {
        @include clearfix;
        @include rem(padding-bottom, $padding);

        position: relative;

        &:first-child {
            @include rem(padding-top, $padding);
        }

        .control-label {
            @include grid(12, 2, 1);
            padding: 0.6em 0;
            text-align: left;
            font-weight: 300;
            &.wide {
                @include grid(48, 2, 1);
            }
        }

        .controls {
            position: relative;
            @include grid(36, 1);
            
            &.wide {
                @include grid(48, 2, 1);
            }
            
            &.budget-line {
            
                span.icon {
                    @include grid(4, 0, 1);
                }
                .description {
                    @include grid(36, 0, 1);
                }
                .amount {
                    @include grid(8, 0, 0);
                    text-align: right;
                }
            }

            .inline-prepend {
                @include grid(24, 0, 1);
            }

            .inline-append {
                @include grid(24, 1, 0);
            }
        }

        &.control-group-lonely {
            padding: 0;
        }
    }

    .errors {
        @include grid(24);
        position: absolute;
        right: -57%;
        background-color: $color-error;
        border: 1px solid #933333;
        padding: 0.6em;
        color: $white;

        p {
            margin: 0;
        }

        &:after {
            @include rem(top, 7px);
            position: absolute;
            display: block;
            left: -14px;
            width: 14px;
            height: 23px;
            background: image-url("form-error-back-arrow.png") transparent no-repeat 0 0;
            content: ' ';
        }
    }

    .big-radio {
        label {
            @include rem(padding, 8px 0);
            color: white;
            cursor: pointer;

            text-align: center;
            background-color: $grayLight;
            border: 1px solid darken($grayLight, $btnBorderDarkenPercentage);
        }
        input[type=radio] {
            display: none;
        }
        input[type=radio]:checked+label {
            background-color: $green;
            border-color: darken($green, $btnBorderDarkenPercentage);
            font-weight: 300;
        }
        &.radio2 {
            label{
                @include grid(24);
            }
        }
        &.radio3 {
            label{
                @include grid(16);
            }
        }
        &.radio4 {
            label {
                @include grid(12);
            }
        }
    }
}

// Checkboxes & Radios
// -------------------------

// We got our own fancy checkbox & radio, so hide the fugly ones.
input[type="checkbox"],
input[type="radio"] {
    float: left;
    opacity: 0;
    width: 32px;
    height: 32px;
	cursor: hand;
	cursor: pointer;
    @include rem(margin-right, ($padding / 2));
}

input[type="checkbox"] + span,
input[type="radio"] + span {
	cursor: hand;
	cursor: pointer;
    @include rem(margin-bottom, $padding);
    display: block;
    line-height: 32px;
    background-image: $icons;
	background-position: sprite-position($icons, form-checkbox-default, 0, 0);
	background-repeat: no-repeat;
}

input[type="radio"] + span {
    background-image: $icons;
	background-position: sprite-position($icons, form-radio-default, 0, 0);
	background-repeat: no-repeat;
}

input[type="checkbox"]:checked + span {
    background-image: $icons;
	background-position: sprite-position($icons, form-checkbox-checked, 0, 0);
	background-repeat: no-repeat;
}

input[type="radio"]:checked + span {
    background-image: $icons;
	background-position: sprite-position($icons, form-radio-checked, 0, 0);
	background-repeat: no-repeat;
}

.radio-group-horizontal {
    .radio3 {
        @include grid(16);
    }
}

// Disabled state
// -------------------------

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
    cursor: not-allowed;
    background-color: $inputDisabledBackground;
    @include box-shadow(none);
}

select,
option,
textarea,
input[type=text],
input[type=password],
input[type=number],
input[type=search],
input[type=email],
input[type=tel],
input[type=url] {
    color: $grayDarker;
    border: 1px solid $inputBorder;
    font-family: $font-family;
    line-height: 1.5em;
    @include rem(font-size, 16px);
    padding: 10px 12px !important;
    width: 100%;
    background-color: $white;

    @include transition(border 0.1s);
    @include box-shadow(inset 0px 1px 2px rgba($black, 0.1));

    &:focus {
        border-color: $green;
        outline: 0;
        color: $grayDarker;
        @include box-shadow(0px 0px 2px rgba($black, 0.3));
    }

    &.error {
        border-color: $color-error;
    }
}

select,
option {
	height: 40px;
	text-indent: 4px;
}

form textarea {
    overflow: auto;
    resize: none;
    vertical-align: top;
    display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

form ul.tags {
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-indent: 0px;
    
    li {
        display: inline-block;
        @include rem(padding, 4px);
        @include rem(margin, 0px 4px 8px 0px);

        border-bottom: 1px solid $gray;
        border-right: 1px solid $gray;
        background-color: $white;
        
        .delete {
            color: $gray;
            cursor: pointer;
            &:hover {
                color: $pink;
            }
        }
    }
}

input.tag {
    width: 200px;
}
