.banner {
    position: relative;
    background-color: #323232;
    @include rem(margin-bottom, 48px);
    
    #power-of .banner-image {
        
    }
    
    #new-website .banner-image {
        background: image-url("pages/homepage/home-back-new-website.gif") transparent no-repeat  120px 50%;
    }
    
    #find-project .banner-image {
        background: image-url("pages/homepage/home-back-find-project.jpg") transparent no-repeat 0 0;
    }
    
    #befriend .banner-image {
        background: image-url("pages/homepage/home-back-befriend.gif") transparent no-repeat 120px 50%;
    }
}

.copyright {
    background-color: #222222;
}

.quotes {
    background-color: #e9e9e9;
}

.project {
    background-color: $white;
}

.footer {
    background-color: #e9e9e9;
}


.link-primary {
	@include rem(margin-top, $padding*4);
	font-weight: 300;
	@include rem(font-size, 16px);
    display: block;
    color: $pink;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
}

#home {
    section {
        @include grid(48,1);
        @include rem(padding, 64px 0);
    }

    .section-header {
        @include rem(font-size, 40px);
        padding-top: 0;
        color: #222222;
        text-align: center;
        font-weight: 600;
    }

    .section-subheader {
        @include rem(font-size, 16px);
        color: $gray;
        text-align: center;
    }
}


// BANNERS

#bannerCarousel {
    margin: 0;
    height: 400px !important;
    overflow: hidden;

    > ul {
        @include clearfix;
        margin: 0;

        > li {
            @include clearfix;
            display: block;
            float: left;
            color: $white;
            
            .container {
	            @include rem(padding, 48px 0 48px 0);
            }
            article {
            	position: relative;
                @include grid(28,1,1);
				@include rem(font-size, 18px);
				@include rem(padding, 16px 16px 16px 0);
				height: 310px;
				z-index: 2;
				
                h4 {
                    @include rem(font-size, 32px);
                    @include rem(margin-bottom, 8px);
                    text-transform: uppercase;
                    font-weight: 600;
                    line-height: 1;
                }
            }
            
            .has-video {
	            
	            .video {
	            	@include grid(24,1,1);
	            	
	            	iframe {
		            	height: 286px !important;
	            	}
				}
				
				article {
					@include grid(24,1,1);
				}
            }

            .banner-image {
            	@include clearfix;
            	position: relative;
            	top: -358px;
                overflow: auto;
	            width: 50%;
	            float: right;
				height: 400px;
				z-index: 1;
            }
        }
    }

    .carousel-caption {
        top: 0;
        background: transparent;
    }
}

.banner-indicators {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    background-color: #e9e9e9;

    .dots {
        @include grid(48, 1);
        margin-bottom: 0;
        list-style: none;

        li {
            @include grid(12);
            @include rem(padding, $padding 0);
            border-right: 1px solid $white;
            text-align: center;
            text-transform: uppercase;
            font-weight: 300;
            cursor: pointer;

            &.active {
                position: relative;
                background: $grayLight;
                color: $white;

                &:after {
                    position: absolute;
                    bottom: 100%;
                    left: 50%;
                    margin-left: -6px;
                    width: 0;
                    height: 0;
                    border: solid transparent;
                    border-width: 6px;

                    border-color: transparent;
                    border-bottom-color: $grayLight;
                    content: " ";
                    pointer-events: none;
                }
            }

            &:first-of-type {
                border-left: 1px solid $white;
            }
        }
    }
}


// PROJECT

.projects {
    position: relative;
}

.projects-nav {
    @include border-radius(22px);
    position: absolute;
    top: 45%;
    left: 0;
    z-index: 9;
    width: 44px;
    height: 44px;

    background-color: #e9e9e9;
    color: $white;
    text-align: center;
    cursor: pointer;

    &:hover {
        background-color: $pink;
        color: $white;
    }

    &.next {
        right: 0;
        left: auto;
        background-image: $icons;
	    background-position: sprite-position($icons, arrow-right-white, 12px, 6px);
		background-repeat: no-repeat;
		
    }
    
    &.prev {
	    background-image: $icons;
		background-repeat: no-repeat;
		background-position: sprite-position($icons, arrow-left-white, 8px, 6px);
        
    }
}

.project {
    @include rem(margin-top, 32px);
    @include clearfix;
    
    .project-top {
	    
	    figure {
	        @include grid(22, 4, 0);
	    }
	
	    article {
	        @include grid(26, 1, 4);
		    @include rem(height, 230px);
		    overflow: hidden;
	    }
	    
	    .project-title {
	        color: $grayDarker;
	        
	        a {
				color: $grayDarker;
				
				&:hover, &:active {
					color: $pink;
				}
			}	
	    }
    }

    .status-box {
        @include grid(48, 4, 3);
    }

    .donate-days-left {
        color: $gray !important;

        .flaticon {
			color: $gray !important;
		}

		strong {
		    color: $grayDarker !important;
		}
    }

    .donate-status {
		
        .donate-amount {
            color: $gray;
        }

        .donated {
            color: $grayDarker;
        }
    }
}


// QUOTE

.quotes {
	background-image: image-url("world.png");
	background-repeat: no-repeat;
	background-position: 50% $padding;

    
    h2 {
        @include rem(margin-bottom, 32px);

        em {
            color: $pink;
            font-weight: normal;
            font-style: normal;
        }
    }

    section {
        
        .quote {
		    @include clearfix;
		    @include rem(margin-bottom, 32px);
		    @include rem(height, 220px);
		
		    aside {
		        @include grid(12,4,2);
		    }
		
		    article {
		        @include grid(32);
		        @include rem(padding, $padding*2);
		        position: relative;
		        background: $white;
		
		        &:after {
		            position: absolute;
		            top: 32px;
		            right: 100%;
		            margin-top: -16px;
		            width: 0;
		            height: 0;
		            border: solid transparent;
		            border-width: 16px;
		            border-color: rgba(255, 255, 255, 0);
		            border-right-color: #ffffff;
		            content: " ";
		            pointer-events: none;
		        }
		    }
		
		    .quote-name {
		        @include rem(font-size, 18px);
		        @include rem(margin-bottom, $padding/2);
		        color: $green;
		        font-weight: 600;
		        text-transform: uppercase;
		    }
		
		    .quote-quote {
		        @include rem(font-size, 32px);
		        color: $text-black;
		        margin: 0;
		        text-transform: uppercase;
		    }
		}

	    .btn.first {
	        @include grid(16,4,0);
	    }
	    
	    .btn.second {
		    @include grid(16,2,2);
	    }
	    
	    .btn.third {
		    @include grid(16,0,4);
	    }
     
    }

}



// IMPACT

.impact {
    @include clearfix;
    list-style: none;

    li {
        @include grid(9.6, 0, 1);
        @include rem(font-size, 16px);
        color: $gray;
        text-align: center;
        text-transform: uppercase;
		
		.icon {
			display: block;
			margin: 0 auto 16px auto;
			width: 120px;
			height: 140px;
        	background-image: $icons;
            background-repeat: no-repeat;
		}
		
		&.impact-lives .icon {
            background-position: sprite-position($icons, icon-lives-changed-green, 0, 10px);
		}
		
		&.impact-projects .icon {
            background-position: sprite-position($icons, icon-smart-ideas-pink, 0, 0);
		}
		
		&.impact-countries .icon {
            background-position: sprite-position($icons, icon-countries-green, 0, 10px);
		}
		
		&.impact-hours .icon {
            background-position: sprite-position($icons, icon-hours-pink, 0, 10px);
		}
		
		&.impact-donated .icon {
            background-position: sprite-position($icons, icon-donated-green, 0, 10px);
		}

        strong {
            @include rem(font-size, 22px);
            @include rem(margin, 8px 0);
            display: block;
            color: $grayDarker;
            font-weight: 300;
            font-style: normal;
        }
    }
}