

/* =========== Photo viewer */

.photo-viewer {
    @include rem(margin, 4px 0);
    @include clearfix;
    
    
    ul {
        
        padding: 0;
        list-style: none;
        @include clearfix;
        margin: 0;
        
        li {
            @include rem(margin, 8px 0 0 0);
        
            display: block;
            @include grid(8, 0, 1);
            overflow: hidden;
            
            img {
                border: 1px solid #999;
            }
            
            &:hover img {
                border-color: $green;
            }
            
            &:first-child {
                @include grid(48, 0, 0);
                border-color: $pink;
            }
        
            &.more {
                display: block;
            
                @include grid(8, 0, 0);
            
                background-color: $green;
                
                
                a {
                    display: block;
                    color: $white;
                }
            }
        }
    }
    
}

