.profile-actions-meta {
	
	@include rem(margin-top, 24px);
	
	img {
		float: left;
		width: 37px;
		height: 37px;
		border: 1px solid $black;
	}
}

.profile-actions-meta-title {
	float: left;
	@include rem(font-size, 24px);
	@include rem(line-height, 22px);
	@include rem(margin-left, 16px);
	text-transform: uppercase;
	font-weight: 300;
	color: $text-black;
	
	.profile-title {
	    background-image: $icons;
	    background-repeat: no-repeat;
	    background-position: sprite-position($icons, arrow-right-grey, 4px, 1px);
	    @include rem(padding-left, 28px);
	}

	small {
		@include rem(font-size, 12px);
		display: block;
		font-weight: normal;
		
		.flaticon {
			@include rem(font-size, 10px);
		}
	}
}

#profile-actions {
	padding-bottom: 0;

	.tabs {
		@include rem(margin-top, 16px);
	}
	
	a {

		&:hover, &:active {
		
			small {
				text-decoration: underline;
				
			}
		}
		
	}
	
}

#profile {
	
	.profile-actions-meta {
		@include grid(14,1,0);
	}
	
	.tabs li > a {
		@include grid(10);
	}
}

.order-history {
	@include clearfix;
	clear: both;
}

.edit-monthly-donations {
	position: absolute;
	right: 24px;
	top: 8px;
	font-weight: normal;
}

.user-modal-sidebar {
	@include rem(padding, $padding + 8);
	position: absolute;
	top: 0;
	left: 0;
	width: 33.33333%;
	height: 100%;

	background-color: $grayLighter;

	img {
		border: 1px solid $grayDarker;
	}


	h2 {
		@include rem(line-height, 26px);

		@include rem(padding, $padding 0 0);
		text-transform: none;
		font-weight: 300;
		@include rem(font-size, 24px);
	}
}

.um-member-since {
	@include rem(font-size, 12px);
	color: $gray;
	text-transform: uppercase;
}

.user-modal-content {
	@include grid(48, 18, 3);
	@include rem(line-height, 22px);

	color: #767676;

	h3 {
		padding: 0px;
		color: $pink;
		text-transform: uppercase;
		font-weight: 600;
	}
}

.um-list {
	@include clearfix;

	color: $gray;
}

.um-list-item {
	@include clearfix;

	&:first-of-type {
		@include rem(padding-top, 20px);
		border-top: 1px solid $grayLight;
	}

	&:last-of-type {
		@include rem(padding-bottom, 20px);
		border-bottom: 1px solid $grayLight;
	}

	.flaticon {
		@include grid(3, 0, 1);
		@include rem(font-size, 16px);

		text-align: center;
	}

	.key {
		@include grid(13, 0, 1);
		text-transform: uppercase;
	}

	.value {
		@include grid(32, 5, 0);
		color: $green;
	}
	
	@include rem(padding, 0 $padding $padding);
}

.um-meta {
	@include rem(padding, $padding * 2, $padding);
}

.um-meta-item {
	@include rem(font-size, 12px);

	&.website {
		color: $green;
	}
}

.profile-pic-uploader {
	img {
		@include grid(8, 0, 1);
	}
}
