/* =========== Project members */

#member-box {

	.member-list {
	    @include grid(48, 1);
	    @include clearfix;
	    @include rem(margin-top, 16px);
	    position: relative;
	    padding: 0;
	
	    ul {
	        @include  clearfix;
	        position: relative;
	        display: inline;
	        display: block;
	        margin: 0;
	        padding: 0;
	        width: 100%;
	        list-style: none;
	        white-space: nowrap;
	
	        li {
	            @include rem(font-size, 14px);
	            position: relative;
	            display: inline-block;
	            overflow: visible;
	            margin: 0 $margin * 2 0 0;
	            vertical-align: top;
	
	            h4 {
	                @include rem(font-size, 14px);
	                position: absolute;
	                bottom: -25px;
	                left: 0;
	                margin: 0;
	                padding: 0;
	                color: $gray;
	                text-transform: uppercase;
	                font-weight: normal;
	            }
	
	
	
	            ul {
	
	                li {
	                    display: inline;
	                    margin: 0;
	
	                    a {
	                        position: relative;
	                        display: block;
	                        float: left;
	                        margin-bottom: 1px;
	                        line-height: 1em;
	
	                        img {
	                            @include transition(0.1s);
	                            float: left;
	                            border-width: 1px 1px 1px 0;
	                            border-style: solid;
	                            border-color: #fff;
	                            background-color: $mid-grey;
	                            color: $text-white;
	                            vertical-align: middle;
	                        }
	
	                        .member-name {
	                            display: block;
	                            padding: 10px 0;
	                            font-weight: 300;
	                        }
	
	                        .member-organisation {
	                            @include rem(font-size, 12px);
	                            display: block;
	                            padding: 0 0.3em;
	                            color: $text-grey;
	                            font-style: normal;
	                        }
	
	                        &:hover {
	
	
	                            img {
	
	
	                            }
	                        }
	                    }
	
	                    .popup {
	                        bottom: 60px;
	                        left: 0;
	                    }
	
	                    &:first-child a img {
	                        border-left: 1px solid #fff;
	                    }
	                }
	            }
	
	            &.member-initiator {
	                @include grid(12,0,2);
	            }
	
	            &.member-initiator h4 {
	                position: relative;
	                bottom: auto;
	                color: $grayDarker;
	                font-weight: 300;
	            }
	
	            &.member-initiator ul li a {
	
	                margin-right: 3em;
	                text-transform: uppercase;
	
	                img {
	                    position: relative;
	                    margin-right: 0.5em;
	                    width: 68px;
	                    height: auto;
	                }
	            }
	
	            &.member-supporters {
	                float: right;
	                margin-right: 0;
	            }
	
	            &.member-project-team a, &.member-coaches a, &.member-promotors a, &.member-supporters a {
	                //@extend .placeholder;
	            }
	        }
	    }
	
	    .show-all-supporters {
	        display: block;
	        float: right;
	        margin: 0;
	        padding: 0;
	
	        a {
	            @include rem(font-size, 10px);
	            @include rem(padding-top, 4px);
	            display: table-cell;
	            width: 45px;
	            height: 45px;
	            background-color: $white;
	            color: $text-black;
	            vertical-align: middle;
	            text-align: center;
	            text-transform: uppercase;
	            white-space: normal;
	            line-height: 1em;
	
	            strong {
	                @include rem(font-size, 22px);
	                color: $pink;
	                font-weight: 300;
	            }
	
	            em {
	                font-style: normal;
	            }
	
	        }
	    }
	}
}
