/* =========== TODO: Manage */

.manage {
    margin: 0;
    padding: 0;
    list-style: none;
    @include rem(font-size, 10px);
    text-transform: uppercase;
    
    li {
        display: inline;
        
        a {
            display: inline-block;
            color: $text-grey;
            cursor: hand;
            cursor: pointer;

            &:hover, &:active {
                color: $black;
                text-decoration: underline;
                
                em {
                    text-decoration: none;
                }
            }
        }
    }
}

.sidebar.tip {
	
	h3 {
		@include rem(font-size, 18px);
		font-weight: 600;
		color: $text-black;
		text-transform: uppercase;
	}
	
	p {
		@include rem(font-size, 18px);
		color: $gray;
		line-height: 1.5;
	}
	
	.action-link a {
		text-transform: uppercase;
		display: block;
		text-decoration: underline;
		@include rem(font-size, 14px);
		
		.flaticon {
			line-height: 1.4;
		}
	}
	
}

.lined-list {
	
	h2 {
		
	}
	
	ul {
		
		li {	
			@include clearfix;
			text-transform: uppercase;
			@include rem(padding, 12px $padding 0 0);
			border-bottom: 1px solid $color-back;
			
			strong {
				float: right;
			}
		}
		
	}
	
}