/* =========== Main Navigation */

#navigation {
    background-color: $black;
		
	/* fixed navigation
		position: fixed;
    opacity:  0.8;
    margin-bottom: 100px;
    z-index: 9999;
	
	*/
}

.nav-title {
    display: none; // only needed for document-structure
}

#logo {
    display: block;
    float: left;
    @include prepend(1);
    @include grid(7,1,0);
    height: 40px;
    @include rem(margin-top, 10px);
    background: image-url("1procentclub.png") transparent no-repeat 0 0;
    
    &:hover {
		background-position: 0 -38px;
    }
    
    h1, #subtitle {
	    display: none;
    }
}

.nav {
    font-weight: 600;
    @include rem(font-size, 16px);

    ul {
    	margin: 0;
        padding: 0;
        list-style: none;

        li {
            // display: inline;
        }
    }
}

.nav-main {
    @include grid(25);
    position: relative;
    @include rem(font-size, 13px);
    
    li a, li a:visited {
    	
		@include rem(padding, 24px 16px 18px 16px);
        white-space: nowrap;
        
        color: $color-deselect;
	    text-transform: uppercase;
	    display: block;
	    float: left;
	    text-align: center;
	    text-decoration: none;
	    overflow: hidden;
	
	    &:hover, &:active, &.is-active {
	        color: $white;
	    }
        
        
    }
}

.nav-member {
    @include rem(margin-top, 17px);
    @include grid(16, 1, 1);
    color: $white;
	text-transform: uppercase;
			
	.nav-member-actions {
		display: inline-block;
		
		width: 70%;
		text-align: left;
		color: $color-deselect;
		font-weight: normal;
		white-space: nowrap;
		
		@include rem(margin-top, 5px);
		@include rem(font-size, 10px);
			
		a {
			font-weight: 600;
			@include rem(margin, 0 6px);
			@include rem(font-size, 13px);
			text-decoration: underline;
			
			&:hover, &:active, &.is-active {
            	color: $white;
			}
		}
		
		.nav-signup {
			color: $pink;
		}
		
		.nav-login {
			color: $green;
		}
		
	}
	
    .nav-switch-lang {
    	display: inline-block;
        font-weight: normal;
		white-space: nowrap;
		@include rem(font-size, 10px);
		@include rem(margin-top, 5px);
        
        li {
        	
        	display: inline;
        	@include rem(padding, 0 6px);
        	border-right: 1px solid $color-deselect;
	        
	        &:last-child {
            	border: none;
            }
            
            a {
	            cursor: pointer;
	            color: $color-deselect;
	
				&:hover, &:active, &.is-active {
                	color: $white;
				}
			}
        }
    }
	
	
    .nav-member-profile {
    	display: block;
    	float: left;
    	margin: 0;
        padding: 0;
		@include rem(font-size, 13px);
		position: relative;
		
		.nav-profile {
			display: block;
			color: $white;
			background: $green;
			height: 30px;
			
			
	        img {
	        	width: 31px;
				height: 31px;
				float: left;
				vertical-align: top;
	            border-width: 0 1px 1px 0;
	            border-style: solid;
	            border-color: $black;
	        }
	
	        strong {
				font-weight: 600;
	        	display: inline-block;
				@include rem(padding, 7px, 22px);
	        }
		}

        &:hover {
        
		    .my-menu {
		        display: block !important;
		        z-index: 998;
		    }

        	.nav-profile {
	        	background-color: $white !important;
	        	color: $grayDarker;
				height: 36px;
				
				position: relative;
				left: -2px;
				top: -2px;
				z-index: 999;
				
				border-width: 2px 2px 0 2px;
				border-style: solid;
				border-color: $green;
				
				.flaticon {
					color: $green;
				}
			}
        }
    }
    
    .my-menu {
        top: 32px;
        left: -2px;
        
        z-index: 15;
        display: none;
        position: absolute;
        
        width: 250px;
        background-color: $white;
        
        border-width: 2px 2px 1px 2px;
        border-style: solid;
        border-color: $green;
        
        li {
	        
	        a {
		        display: block;
		        @include rem(padding, 8px, 22px);
		        border-bottom: 1px solid $green;
		        color: $grayDarker;
		        
		        &:hover {
			        color: $green !important;
		        }
	        }
	        
        }
        
        .nav-my-language {
	    	
	    	color: $white;
	    	font-weight: normal;
	    	background: $green;
	    	@include rem(padding, 8px, 22px);
	    	
	    	.nav-language {	    		
	    		display: inline;
	    		
	    		ul, li {
		    		display: inline;
	    		}
	    		
                li.active a {
                    color: $white;
                    background: $grayDarker;
                }
	    		li a {
	    			width: auto;
		    		display: inline-block;
		    		float: none;
		    		@include rem(font-size, 10px);
		    		font-weight: 600;
		    		@include rem(padding, 4px 16px 2px 16px);
		    		background: $white;
		    		@include border-radius(8px);
		    		@include rem(margin, 0 2px);

	    		}
    		}
			
		}       
       
    }
	
    .nav-cart {
    	
    	display: block;
    	float: right;
    	@include rem(font-size, 13px);
        font-weight: normal;
        
        .nav-cart-count {
        	@include rem(font-size, 11px);
	        font-weight: 600;
	        display: inline-block;
	        width: 20px;
	        height: 20px;
	        line-height: 22px;
	        background: $white;
	        color: $grayDarker;
	        text-align: center;
	        @include border-radius(10px);
		}
        
        a {
        	display: inline-block;
	    	color: $white;
			@include rem(padding, 6px 0);
			//text-decoration: underline;
        
			&:hover, &:active {
				color: $pink;
				
				.nav-cart-count {
					color: $white;
					background: $pink;
				}
			}
        }
        
        
    }

}
