.user-agree {
	@include rem(font-size, 14px);
	color: $gray;
	float: left;
	width: 60%;
	@include rem('padding-top', $padding);
	
	a {
		color: $gray;
		text-decoration: underline;
	}
}


#signup {
	
		
	
	button {
		float: right;
	}
	
}

#members {
	
	
	.login-link {
		@include rem('margin-top', $padding*2);
		background: $white;
		
		strong {
			text-transform: uppercase;
			text-decoration: underline;
		}
		
		em {
			color: $gray;
			display: block;
			@include rem(text-indent, 18px);
			font-style: normal;
		}
		
		.flaticon {
			display: inline;
		}
	}
	
	.members-advantage {
		
		@include rem('padding', $padding $padding*2);
		@include rem('margin-top', $padding);
		background: $color-back;
		
		.flaticon {
			display: inline-block;
			width: 100%;
			@include rem('font-size', 200px);
			text-align: center;
			color: $white;
			line-height: 1;
		}
	
		h3 {
			padding-top: 0;
			color: $green;
		}
	
	}
	
}
