/* all static pages */

.static-page, #page {
	position: relative; 
}

/* rendered pages from backed */

#page {
	@include grid(48,1,1);

	#page-header {
		@include rem(padding-top, $padding*3);

		h1 {
			@include rem(font-size, 42px);
			color: $pink;
			padding-top: 0;
			line-height: 1.2;
		}
	}

	#page-content {
		@include grid(32,0,2);
		@include rem(font-size, 16px);
		line-height: 1.5;

		img {
			//height: 200px;
		    //border: 1px solid red;
		}

		.text.align-float-left {
			@include grid(24,0,2);
		    float: left;
		}

		.text.align-float-right {
			@include grid(24,0,2);
		    float: right;
		}

		text.align-center {

		}

	    .image.align-float-left {
	    	@include grid(16,0,2);
		    float: left;
		    clear: both;

		    img {
		    	width: 100%;
		    	position: relative;
		    	vertical-align: middle;
		    }

		    + .text {
		    	clear: right !important;
			    @include grid(32,0); 

				h3 {
					padding-top: 0 !important;
				}
		    }
	    }

	    .image.align-float-right {
	    	@include grid(16,1);
		    float: right;
		    clear: both;

		    img {
		    	width: 100%;
		    	position: relative;
		    	vertical-align: middle;
		    }

		    + .text {
		    	clear: left !important;
			    @include grid(32,0); 

				h3 {
					padding-top: 0 !important;
				}
		    }
	    }

	    .image.align-center {

		    img {
			    width: 100%;
		    }

	    }

		ul {
			@include rem(margin, $padding 0 $padding*2 $padding*2);

			li {
				color: $grayDark;
				@include rem(padding-left, $padding*2);
				@include rem(margin, $padding 0);
				background: image-url("list-item.png") transparent no-repeat 0 0;
			}
		}

		ol { 
			@include rem(margin, $padding 0 $padding*2 $padding*4);

			li {
				color: $grayDark;
				list-style: decimal;
				@include rem(margin, $padding/4 0);
			}

		}

		dl {
		    margin-bottom: $margin;
		    dt { font-weight: bold; }
		    dd { margin-left: $margin; }
		    &.advanced {
		        dt { @include grid(16, 0, 1); }
		        dd { @include grid(32); }
		    }
		}

		h2 {
			clear: both;
			@include rem(font-size, 28px);
			color: $green;
			text-transform: uppercase;
			font-weight: 600;
			@include rem(padding-top, $padding*2);
			line-height: 1.1;
		}

		h3 {
			clear: both;
			@include rem(font-size, 22px);
			color: $grayDark;
			text-transform: uppercase;
			font-weight: 300;
			@include rem(padding-top, $padding*2);
			line-height: 1.1;
		}
	}

	/*
	&.partners #page-content {
		
		@include grid(48,0,0);
		
		
		.text {
			@include grid(24,0,2);
			clear: none;
		}
		
		.text:first-of-type {
			@include grid(48,0,0);
			@include clearfix;
		}
		
	}
	
	&.associates #page-content {
		
	}
	*/

	.pages-nav {

		@include rem(margin-top, $padding*2);
		border-left: 1px solid $color-back;

		h3 {
			@include rem(font-size, 22px);
			text-transform: uppercase;
			color: $gray;
			font-weight: 600;
			@include rem(margin, $padding/2 $padding*2);
		}

	    ul {

			padding: 0;
			margin: 0;
			border-top: 1px solid $white;
			@include rem(margin-bottom, $padding);

			li {

				ul {
					@include rem(margin-left, $padding);
				}

				a {
					clear: both;
					position: relative;
					display: block;
					@include rem(padding, $padding/2 $padding*2);
					text-transform: uppercase;
					color: $gray;
				}
			}

			&:hover li a {
				color: $text-black;

				&:hover, &:active {
					color: $white;
					background: $green;
				}
			}
		}

	}

}



/* full page view */


/* full page view */

.static-page {

    .section {
        @include rem(padding, ($padding * 2) 0);
        position: relative;

        h1 {
            @include rem(font-size, 64px);
            @include rem(margin-bottom, 32px);
            padding: 0;
            line-height: 1;

            &.small {
                @include rem(font-size, 34px);
                color: $green;

                em {
                    color: $pink;
                    font-weight: normal;
                    font-style: normal;
                }
            }
        }

        &:nth-of-type(even) {
            background-color: $white;

            .static-page-illustration {
                color: $grayLighter;
            }
        }
    }

    .wrapper {
        position: relative;
    }

    #inFortySeconds,
    #faq,
    #contact {
        h1 {
            color: $green;
        }
    }
}

.static-page-nav {
    @include clearfix;
    @include grid(48, 1);
    margin-top: 0;
    margin-bottom: 0;
    @include rem(height, 40px);

    > li {
        @include rem(margin-right, 32px);
        float: left;

        a {
            color: $gray;
            text-transform: uppercase;

            &:hover {
	            color: $grayDarker;
            }
            
            &.active {
                color: $grayDarker;
                text-decoration: underline;
            }
        }
    }
}

.static-page-section-content {
    @include clearfix;

    p {
        @include rem(font-size, 22px);
        margin-right: 100px;

        strong {
            font-weight: 300;
        }
    }
    
    img {
	    width: 100%;
    }

    small {
        @include rem(margin-bottom, $margin);
        @include rem(font-size, 16px);

        color: $grayDarker;
    }
}

.static-page-illustration {
    @include rem(font-size, 240px);
    color: $white;

    &.active {
        color: $pink;
    }
}

img.static-page-illustration {
	margin-left: 5px;
}

.static-page-section-navigator {
    @include rem(font-size, 40px);
    position: absolute;
    right: 15.5%;
    bottom: -5%;
    color: $pink;
    line-height: 30px;
    cursor: pointer;
    
    &:hover {
	    @include rem(font-size, 40px);
    }
}

.static-page-calltoaction {
    a,
    .flaticon {
        @include rem(font-size, 24px);
        color: $pink;
        text-decoration: underline;
        text-transform: uppercase;
        font-weight: 300;
    }

    .flaticon {
      text-decoration: none;
    }
}

.static-page-iconed-list {
    margin: 0;

    .item {
        @include rem(margin-bottom, 16px);
        @include rem(font-size, 22px);
        display: block;

        .flaticon {
            @include inline-block;
            @include rem(font-size, 32px);
            width: 40px;
            color: $gray;
            vertical-align: middle;
            line-height: 1;
        }

        strong {
            font-weight: 300;
        }

        a {
            color: $pink;
        }
    }
}

.static-page-illustrations-list {
    @include clearfix;
    margin: 0;
    position: relative;

    .item {
        @include grid(9.6,0,1);
        @include rem(padding, 16px 22px 16px 22px);
        overflow: hidden;
        height: 200px;
        border: 1px solid $grayLight;
        text-align: center;
        vertical-align: middle;

        .icon {
            padding: 0;
            margin: 0;
        }

        .h3 {
        	position: relative;
        	top: -50px;
        	@include rem(margin-top, 16px); 
        	display: inline-block;
            @include rem(font-size, 20px);
            @include clearfix;
            color: $grayDarker;
            text-transform: uppercase;
            font-weight: 300;
            line-height: 1;
        }

        &:hover {
            background-color: $green;

            .flaticon,
            .h3 {
                color: $white;
            }
            
            .item-popover {
	        	display: block !important;
			}
        }

        &:last-of-type {
            margin-right: 0;
        }
        
        .item-popover {
        	display: none;
        	position: absolute;
			bottom: 100%;
			left: 0;
			background: $grayLighter;
			width: 100%;
			border-width: $padding 0;
			border-style: solid;
			border-color: $white;
			text-align: left;
			@include rem(padding, $padding*2 16px);
			@include rem(font-size, 16px);
			@include append(1);

			p {
            	margin: 0;
			}

		}
    }
}

.contact-photo {
	width: 150px !important;
	text-align: center;
	margin: 0 0 $padding $padding*3;
}



/* FMO Page */

#fmo {
	
	// slider changes
	#bannerCarousel {
		
		height: 400px !important;
			
		>ul>li article { 
			width: auto; 
			
			ul {
				@include rem(margin, $padding 0 $padding*2 0);
		
				li {
					@include rem(padding-left, $padding*2);
					@include rem(margin, $padding/2 0);
					background: image-url("list-item.png") transparent no-repeat 0 0;
				}
			}
		
			ol { 
				@include rem(margin, $padding 0 $padding*2 $padding*4);
		
				li {
					color: $grayDark;
					list-style: decimal;
					@include rem(margin, $padding/4 0);
				}
		
			}
		}
		
	}
	
	.projects {
		@include grid(48,1);
	
		#page-header {
			text-align: center;
			margin-top: 1em;
			
			h1 {
				@include rem(font-size, 42px);
				color: $pink;
				line-height: 1.2;
			}
		}
	}
	
	// Project snippet
	.project { margin: 3em 0; border-bottom: 1px solid $grayLighter; }
	.project article { color: rgb(68, 68, 68) !important; }
	.project .tasks-box { padding-top: 2em; }
	.project .task { width: 20%; padding: 10px; float: left; }
	.project .task p { color: rgb(68, 68, 68) !important; }
}


/*
 * TODO: This can be a separate module of itself.
 */
.numbered-list {
    @include clearfix;
    margin-left: 0;
}

.nl-item-number {
    @include rem(font-size, 64px);
    color: $grayLighter;
    font-weight: 600;
}

.nl-item-title {
    @include rem(font-size, 22px);
    margin-bottom: 0;
    color: $pink;
    font-weight: 300;

    em {
        display: block;
        color: $green;
        font-style: normal;
    }
}

.nl-item-description {
    @include rem(font-size, 16px);

    color: $grayDarker;
    line-height: 1.5;
}