/* =========== User box */

.user {
    @include rem(font-size, 14px);
    text-transform: uppercase;
    
    &:hover .user-img img {
        border: 1px solid $green;
    }
    
    .user-name {
        font-weight: 300;
        @include rem(margin-right, 8px);
    }
    
    .user-type {
        position: relative;
        font-style: normal;
        color: $white;
        background-color: #ccc;
        @include rem(font-size, 12px);
        @include rem(padding, 4px 16px 4px 8px);
        @include rem(margin-right, 8px);
        
        background-image: url('../images/user-type-back.png');
        background-repeat: no-repeat;
        background-position: 100% center;
    }
    
    &:hover .user-type {
        background-color: darken(#ccc, 5%);
    }
    
    .timestamp {
        font-style: normal;
        color: $mid-grey;
    }
    
    &:active {
      position: inherit;
      top: auto;
    }
}

.user-img {
  img {
      border: 1px solid #999;
  }
} 
