#nav {

	.nav-main {

		> li a {
			// padding: $base-padding;
			margin-top: $base-margin;
			padding-bottom: $base-padding * 2;
		}
	}

	.nav-actions {

		.nav-member {
			margin-top: 1.8em;
		}

		.nav-signup-login {
			margin-top: $base-margin;
		}
	}
}