#nav {

	.nav-main {

		> li a {
			margin-top: $base-margin;
			padding-bottom: $base-padding * 2;
		}
	}

	.nav-actions {

		.nav-member {

		}

		.nav-signup-login {
			margin-top: $base-margin;
		}
	}
}

// Make sure main menu shows over sub-menu
#header header {
    z-index: 10;
}