{% load templatetag_handlebars %}
{% load i18n %}

{% tplhandlebars "project_search" %}
    <section class="wrapper">
        <article>
            <header>
                <h2>Projects</h2>
                {{view App.ProjectSearchResultsView}}
            </header>
        </article>
    </section>
{% endtplhandlebars %}

{% tplhandlebars "project_no_results" %}
    No results
{% endtplhandlebars %}


{% tplhandlebars "project_preview" %}
    <div>
        {{ view.content.title }}
    </div>
{% endtplhandlebars %}

