{% load templatetag_handlebars %}
{% load i18n %}
{% tplhandlebars "project_detail" %}
    <div class="row">
        <div class="column grid_4">
            <h1>{{view.content.title}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="column grid_1">
            <div class="location">
                <img src="/static/assets/global/images/icons/world.png" />
                <h4>{{view.content.location.country}}</h4>
                {{view.content.location.subregion}}
            </div>
            <div class="types">
                <ul class="categories">
                    {{#each view.content.categories}}
                        <li>{{this}}</li>
                    {{/each}}
                </ul>
                <ul class="tags">
                    {{#each view.content.tags}}
                        <li>{{this}}</li>
                    {{/each}}
                </ul>
            </div>
            <div class="owner">
                <img {{bindAttr src="view.content.owner.image"}} />
                <h4>PROJECT INITIATOR</h4>
                <br/><br/>
                {{view.content.owner.first_name}} {{view.content.owner.last_name}}
                <br/><br/> 
                <a href="" class="dm">SEND DM</a>
            </div>
        </div>
        <div class="column grid_2">
            {{view "App.ProjectMediaView"}}
        </div>
        <div class="column grid_1">
            {{view "App.ProjectStatsView"}}
        </div>
        <div class="resize">
            <a href>SHOW ALL PROJECT DETAILS</a>
        </div>
    </div>
{% endtplhandlebars %}

{% tplhandlebars "project-media" %}
    <div class="mediaviewer">
        {{#view "App.ProjectMediaPaneView" value="pictures" }}
            <div class="imageviewer">
                <img {{bindAttr src="view.content.picture"}}/>
            </div>
        {{/view}}
        {{#view "App.ProjectMediaPaneView" value="plan" }}
            {{view "App.ProjectMediaPlanView"}}
        {{/view}}
        {{#view "App.ProjectMediaPaneView" value="videos" }}
            {{view "App.ProjectMediaVideosView"}}
        {{/view}}
        {{#view "App.ProjectMediaPaneView" value="map" classNames="active" }}
            {{view "App.ProjectMediaMapView"}}
        {{/view}}
    </div>
    <div class="nav-mediaviewer">
        {{#view "App.ProjectMediaButtonView" value="pictures"}}
            Pictures
        {{/view}}
        {{#view "App.ProjectMediaButtonView" value="plan"}}
            Project Plan
        {{/view}}
        {{#view "App.ProjectMediaButtonView" value="videos"}}
            Videos
        {{/view}}
        {{#view "App.ProjectMediaButtonView" value="map"}}
            Map
        {{/view}}
    </div>
{% endtplhandlebars %}


{% tplhandlebars "project-media-plan" %}
    <div class="text">
        <h1>Project Plan</h1>
        {{view.content.title}}
        {{view.content.description}}
        <h2>What</h2>
        {{view.content.description_long}}
        <h2>Sustainability</h2>
        {{view.content.sustainability}}
        <h2>Target</h2>
        {{view.content.target}}
    </div>
{% endtplhandlebars %}

{% tplhandlebars "project-media-videos" %}
    <div class="imageviewer">
        <img {{bindAttr src="view.content.video"}} />
    </div>
{% endtplhandlebars %}

{% tplhandlebars "project-media-map" %}
    <div class="relative">
        <div id="bigmap"></div>
        <div id="maploading" class="hidden">
            LOADING PROJECTS
        </div>
    </div>
{% endtplhandlebars %}


{% tplhandlebars "project-stats" %}
    <ul class="phases" {{bindAttr class="view.content.phase"}}>
        <li>Idea</li>
        <li>Fund</li>
        <li>Act</li>
        <li>Results</li>
    </ul><div class="widget">
    
    <div>    
        <div class="half green left">
            <h1>12</h1>
            DAYS TO GO
        </div>
        
        <div class="half gray">
            <h1>35</h1>
            SUPPORTERS
        </div>
    </div>

    <div class="widget support">
        {{view "App.ProjectProgressBarView"}}
        <div class="link">SUPPORT THIS PROJECT</div>
    </div>
{% endtplhandlebars %}

{% tplhandlebars "project-progress-bar" %}
    <div class="progressbar">
        <div  class="donated-text left">
            NOW 
            <b>€{{view.content.money_donated}}</b>
        </div>
        <div class="bar">
            <div class="asked-bar"></div>
            <div class="donated-bar"></div> 
        </div>
        <div class="asked-text">
            NEEDED 
            <b>€{{view.content.money_asked}}</b>
        </div>
    </div> 
{% endtplhandlebars %}

