{% extends "base.iframe.html" %}

{% load i18n %}

{% block content %}


<div id="results" class="project-iframe">
  <span class="item item-project">
	<a target="_top" href="/#!/projects/{{ object.slug }}">
        <span class="item-header">
            <span class="item-image">
                <img src="{{ object.image.url }}">
            </span>
            <span class="item-project-title">
                <h3>{{ object.title }}</h3>
                <span class="item-project-country"><em class="flaticon solid location-pin-1"></em> {{ object.country }}</span>
            </span>
        </span>
        
	    <span class="item-status campaign">
	        <div class="donate-status">
			   {% with amount_needed=object.amount_needed %}

				  {% if amount_needed %}
	              <span class="donate-slider"><strong class="donate-progress" style="width: {{ object.projectcampaign.percentage_funded|floatformat:'2' }}%;">&nbsp;</strong></span>
	              <p class="donate-amount">
	                <span class="donated">€ {{ amount_needed|floatformat:"0" }}</span>
	                {% trans "To go" %}
	              </p>


                <!--TODO FIX THIS-->

                {% if object.projectcampaign.nr_days_remaining %}
	              <p class="donate-days-left">
	                <strong><i class="flaticon solid clock-1"></i>{{ object.projectcampaign.nr_days_remaining }}</strong>
	                <em>{% trans "days" %}</em>
	              </p>
				  {% endif %}
				{% else %}
				  <span class="donate-status">
	                  <span class="donate-slider"><strong style="width: 100%;" class="donate-progress-finished">&nbsp;</strong></span>
	                  <p class="donate-amount">
	                      <em>{% trans "Fully funded" %}</em>
	                      &amp; {% trans "being realized" %}
	                  </p>
	              </span>
				{% endif %}
			  {% endwith %}
	        </div>

			{% if object.task_count %}
	        <span class="project-task">
	            <em class="flaticon solid wrench-1"></em> <strong>{{ object.task_count }}</strong> {% trans "task(s) available" %}
	        </span>
			{% endif %}
	    </span>
    </a>
</span></div>

{% endblock %}
