{% load templatetag_handlebars %}
{% load i18n %}
{% tplhandlebars "project_detail" %}
    <section class="wrapper">
        <header class="l-wrapper">
            <h1 class="main-title">
                <span class="phase">{{ view.content.phase }}</span> {{ view.content.title }}
            </h1>
            <span class="icon-world"></span>
            <span class="project-location">{{ view.content.country.name}}, {{ view.content.country.subregion}}</span> 
            <span class="icon-tags">TAGS&gt;</span>
            <ul class="tags">
                {{#each view.content.tags }}
                    <li>{{this}}&nbsp;&nbsp;</li>
                {{/each}}
            </ul>
        </header>
        <article class="project-detail">
            <span class="media">
                <img {{bindAttr src="view.content.image"}} width="100%">
            </span>
        </article>
        <sidebar class="project-support">
            <div class="donate-box-wrap">
                <div class="donate-box">
                    <h3>{{view.content.description}}</h3>
                    <div class="donate-status">
                        <p class="donate-amount">
                            <strong>
                                €<span class="donated">{{view.content.money_donated}}</span> 
                                van de 
                                €<span class="asked">{{view.content.money_asked}}</span> 
                                bereikt
                            </strong>
                        </p>
                        <span class="donate-slider">
                            <strong style="width: 40%;" class="donate-percentage update-percentage is-in-progress">0%</strong>
                        </span>
                    </div>
                    <p class="donate-supporters">
                        <span>
                                        1
                                    </span><span>
                                    3
                                </span>
                            <em>1%Supporters</em>
                        </p>
                        
                        <p class="donate-days-left">
                            <span>
                                        3
                                    </span><span>
                                    1
                                </span>
                            <em>Dagen te gaan</em>
                        </p>
                    </div>
                    
                        <a href="http://1procentclub.nl/support/step-amount/cashthetrash" class="button donate">Steun deze actie</a>
                    
                    
                </div>
            </div>
        </sidebar>
        
        {{view App.ProjectSupportersView}}
    </section>

{% endtplhandlebars %}


{% tplhandlebars "project_supporters" %}
    <div class="supporters">
        
        <h2 class="sub-title">1%SUPPORTERS <em>(13)</em></h2>
        <ul>
            <li>
                <a class="supporter" href="http://1procentclub.nl/members/martin">
                    <img src="/media/cache/a6/d4/a6d4d900fd90b947c1d2fb481d46c546.jpg" width="45" height="45" title="martin venema">
                </a>
            </li>
        </ul>
        
    </div>
{% endtplhandlebars %}
