{% load templatetag_handlebars %}
{% load i18n %}

{% tplhandlebars "project_list" %}
    <section class="wrapper">
        <article>
            <header>
                <h2>Projects</h2>
                {{view App.ProjectListCollectionView}}
            </header>
        </article>
    </section>
{% endtplhandlebars %}

{% tplhandlebars "project_no_items" %}
    No results
{% endtplhandlebars %}


{% tplhandlebars "project_list_item" %}
    <div>
        <a {{action showProjectDetail view.content href=true}}>
            {{view.content.title}}
        </a>
    </div>
{% endtplhandlebars %}

