// TODO: Using compass box

.campaign-container {
	font-family: $font-family-body;
	padding-bottom: 80px;
	margin: 1em 0 2em 0;
	
	.campaign-item {
		position: relative;
		height: 420px;
		min-width: 245px;
		background: $gray-light;
		padding: 7px;
		border-radius: 0 0 6px 6px;
		@include single-transition(all, .2s ease-in-out);
		@include breakpoint(column) {
			min-width: 185px;
			height: 300px;
		}
		@include breakpoint(large) {
			height: 380px;
		}
		@include breakpoint(x-small) {
			height: 500px;
		}
		
		.campaign-item-holder {
			position: relative;
			width: 100%;
			height: 100%;
			background: white;
			border-radius: 0 0 6px 6px;
			border: solid 1px $gray-border;
			display: block;
			
			.header {
				position: absolute;
				overflow: hidden;
				width: 100%;
				height: 200px;
				background: $gray-dark;
				opacity: 1;
				@include single-transition(opacity, .2s ease-in-out);
				@include breakpoint(column) {
					height: 100px;
				}
				@include breakpoint(large) {
					height: 150px;
				}
		
				img {
					width: 100%;
					position: relative;
				}
				
				&:before {
					position: absolute;
					top: 45%;
					left: 0;
					right: 0;
					margin: auto;
					width: 40%;
					text-align: center;
					content: "Loading...";
					font-size: .7em;
					color: $gray-light;
				}
			}
			
			.profile-photo {
				display: inline-block;
				position: absolute;
				left: 0;
				right: 0;
				margin: auto;
				width: 51px;
				height: 51px;
				overflow: hidden;
				border-radius: 50%;
				top: 168px;
				border: solid 2px white;
				z-index: 4;
				@include single-transition(top, .2s ease-in-out);
				@include breakpoint(column) {
					top: 76px;
				}
				@include breakpoint(large) {
					top: 125px;
				} 
				
				img {
					width: 100%;
				}
			}
			
			.campaign-hover {
				position: absolute;
				height: 57%;
				width: 100%;
				bottom: 0;
				left: 0;
				right: 0;
				background: white;
				z-index: 3;
				visibility: hidden;
				opacity: 0;
				@include single-transition(all, .2s ease-in-out);
				
				.campaign-hover-head {
					margin: auto;
					margin-top: 55px;
					width: 100%;
					height: auto;
					min-height: 50px;
					text-align: center;
					
					padding: 0.6em 0 0.3em 0.6em;
					border-bottom: solid 1px $gray-border;
					@include breakpoint(column) {
						font-size: .8em;
						line-height: 17px;
					}
					@include breakpoint(large) {
						font-size: .8em;
						line-height: 17px;
					}
					
					strong {
						display: inline-block;
						margin: auto;
						font-family: $font-family-body;
						font-weight: 700;
						padding: 0 0.6em;
					}
				}
				
				.campaign-hover-body {
					min-height: 190px;
					max-height: 210px;
					overflow: hidden;
					color: $black;
					@include breakpoint(column) {
						font-size: 13px;
						line-height: 20px;
						min-height: 40px;
						max-height: 120px;
					}
					@include breakpoint(large) {
						font-size: 14px;
						line-height: 23px;
					}
				}
				
				.campaign-hover-footer {
					position: absolute;
					right: 0;
					bottom: 0;
					left: 0;
					margin: auto;
					border-top: solid 1px $gray-border;
				}
				
				p {
				
					span {
						display: block;
						padding: 15px 12px 15px 12px;
					}
					
					.go-to-campaign {
						display: block;
						text-align: center;
						font-size: 14px;
						color: $color-secondary;
						
						&:after {
							content: "\2192";
							margin-left: 7px;
						}
					}
				}
			}
		}
		
		.campaign-body {
			position: absolute;
			left: 0;
			right: 0;
			top: 217px;
			margin: auto;
			padding: 10px;
			@include single-transition(top, .2s ease-in-out);
			@include breakpoint(column) {
				top: 117px;
			}
			@include breakpoint(large) {
				top: 167px;
			}
			
			.profile-name {
				display: block;
				color: $gray-dark;
				text-align: center;
				opacity: 1;
				@include single-transition(opacity, .2s ease-in-out);
				@include breakpoint(column) {
					font-size: 12px;
					line-height: 17px;
				}
				@include breakpoint(large) {
					font-size: 12px;
					line-height: 17px;
				}
				
				strong {
					font-family: $font-family-body;
					font-weight: normal;
					color: $color-primary;
				
				}
			}
			
			.campaign-body-names {
				display: block;
				margin: 0.3em 0 0 0;
				text-align: center;
				font-family: $font-family-body;
				font-weight: 700;
				font-size: 1.13em;
				color: rgb(60,60,60);
				@include breakpoint(column) {
					font-size: .8em;
					line-height: 17px;
				}
				@include breakpoint(large) {
					font-size: .8em;
					line-height: 17px;
				}
			}
		}
		
		.campaign-footer {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 8px;
			margin: auto;
			padding: 10px;
			opacity: 1;
			@include single-transition(all, .1s ease-in-out);
			
			.campaign-fund-amount {
				color: $gray-dark;
				@include breakpoint(column) {
					font-size: 12px;
				}
				
				.amount-raised {
					float: left;
					padding-left: 0.5em;
				}
				
				.days-left {
					float: right;
					padding-right: 0.5em;
				}
				
				strong {
					font-family: $font-family-body;
					font-weight: 700;
				}
				
				.fully-funded {
					display: block;
					width: 100%;
					text-align: center;
					color: $color-secondary
				}

				&.expired {
					.campaign-fund-amount-slider {
						border-color: rgb(138, 153, 147);
						
						.slider-progress {
							background-color: rgb(138, 153, 147);
						}
					}
				}
			}
			.campaign-fund-amount-slider {
				display: block;
				overflow: hidden;
				border-radius: 1em;
				margin: 0 0 0.4em 0;
				border: solid 1px $color-primary;
				
				// Old slider code overwrite
				.project-fund-amount-slider {
					background: transparent;
				}
				
				.slider-progress {
					position: relative;
					display: block;
					border-radius: 1em 0 0 1em;
					background-color: $color-primary;
					color: #fff;
					text-align: right;
					white-space: nowrap;
					line-height: 0.8em;
					height: 0.8em;
				}
				
				&.is-funded {
					border-color: $color-secondary;
					
					.slider-progress {
						background-color: $color-secondary;
					}
				}
			}
		}

		&:hover {
		
			.campaign-item-holder {
			
				.header {
					opacity: 0;
				}
				
				.profile-photo {
					top: -30px;
				}
				
				.campaign-body {
					top: 20px;
					z-index: 4;
					
					.campaign-body-names {
						opacity: 0;
					}
				}
				
				.campaign-footer {
					opacity: 0;
					bottom: -4px;
				}
				
				.campaign-hover {
					visibility: visible;
					opacity: 1;
					height: 100%;
				}
			}
		}
		
		a.campaign-href {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
		}
	}
}

// disable hover on iPad
body {
	&.touch {
		.campaign-container {
			.campaign-item {
				.campaign-item-holder {
					.header {
						opacity: 1;
					}
					
					.profile-photo {
						top: 168px;
					}
					
					.campaign-body {
						top: 217px;
						z-index: 0;
						
						.campaign-body-names {
							opacity: 1;
						}
					}
					
					.campaign-footer {
						opacity: 1;
						bottom: 8px;
					}
					
					.campaign-hover {
						visibility: hidden;
						opacity: 1;
						height: 100%;
					}
				}
			}
		}
	}
}