.all-campaigns {
	float: right;
	margin: -17px 45px;
	font-family: $font-family-bold;
	color: $gray-dark;
	font-size: 1em;
	&:after {
		content: "\2192";
		margin-left: 7px;
	}
}

// TODO: Using compass box
#campaigns {
	background-color: white;
	.campaign-container {
		font-family: $font-family-bold;
		padding-bottom: 80px;
		.campaign-item {
			position: relative;
			height: 470px;
			background: $gray-light;
			padding: 7px;
			border-radius: 0 0 6px 6px;
			.campaign-item-holder {
				position: relative;
				width: 100%;
				height: 100%;
				background: white;
				border-radius: 0 0 6px 6px;
				border: solid 1px $gray-border;
				.header {
					position: absolute;
					overflow: hidden;
					width: 100%;
					height: 200px;
					background: $gray-dark;
					opacity: 1;
					@include single-transition(opacity, .2s ease-in-out);
					img {
						width: 100%;
						position: relative;
					}
					&:before {
						position: absolute;
						top: 45%;
						left: 0;
						right: 0;
						margin: auto;
						width: 40%;
						text-align: center;
						content: "Loading...";
						font-size: .7em;
						color: $gray-light;
					}
				}
				.profile-photo {
					display: inline-block;
					position: absolute;
					left: 0;
					right: 0;
					margin: auto;
					width: 51px;
					height: 51px;
					overflow: hidden;
					border-radius: 50%;
					top: 168px;
					border: solid 2px white;
					z-index: 4;
					@include single-transition(top, .2s ease-in-out);
					img {
						width: 100%;
					}
				}
				.campaign-hover {
					position: absolute;
					height: 57%;
					width: 100%;
					bottom: 0;
					left: 0;
					right: 0;
					background: white;
					z-index: 3;
					visibility: hidden;
					opacity: 0;
					@include single-transition(all, .2s ease-in-out);
					.campaign-hover-head {
						margin: auto;
						margin-top: 55px;
						width: 100%;
						height: auto;
						min-height: 50px;
						text-align: center;
						padding-bottom: 10px;
						border-bottom: solid 2px $gray-border;
						strong {
							display: inline-block;
							margin: auto;
							width: 90%;
							font-weight: 800;
							font-size: 16px;
						}
					}
					.campaign-hover-body {
						min-height: 190px;
						font-size: 15px;
						line-height: 25px;
						color: $black;
					}
					.campaign-hover-footer {
						position: absolute;
						right: 0;
						bottom: 0;
						left: 0;
						margin: auto;
						border-top: solid 2px $gray-border;
					}
					p {
						span {
							display: block;
							padding: 15px 12px 15px 12px;
						}
						.go-to-campaign {
							display: block;
							text-align: center;
							font-size: 14px;
							color: $color-secondary;
							&:after {
								content: "\2192";
								margin-left: 7px;
							}
						}
					}
				}
			}
			.campaign-body {
				position: absolute;
				left: 0;
				right: 0;
				top: 247px;
				margin: auto;
				padding: 10px;
				@include single-transition(top, .2s ease-in-out);
				.profile-name {
					display: block;
					color: $gray-dark;
					text-align: center;
					opacity: 1;
					@include single-transition(opacity, .2s ease-in-out);
					strong {
						font-size: 16px;
						color: $color-primary;
					}
				}
				.campaign-body-names {
					display: block;
					width: 90%;
					margin: 8px 0 0 0;
					text-align: center;
					line-height: 19px;
					font-size: 16px;
					font-weight: 800;
				}
			}
			.campaign-footer {
				position: absolute;
				left: 0;
				right: 0;
				bottom: 8px;
				margin: auto;
				padding: 10px;
				opacity: 1;
				@include single-transition(all, .1s ease-in-out);
				.campaign-fund-amount {
					color: $gray-dark;
					font-size:  .8em;
					.amount-raised {
						float: left;
					}
					.days-left {
						float: right;
					}
					strong {
						font-weight: 800;
					}
					.fully-funded {
						display: block;
						width: 100%;
						text-align: center;
						color: $color-secondary
					}
				}
				.campaign-fund-amount-slider {
					display: block;
					overflow: hidden;
					border-radius: 1em;
					margin: 0 0 1.5em 0;
					background-color: transparent;
					border: solid 1px $color-primary;
					.slider-progress {
						position: relative;
						display: block;
						border-radius: 1em 0 0 1em;
						background-color: $color-primary;
						color: #fff;
						text-align: right;
						white-space: nowrap;
						line-height: .7em;
						height: .7em;
					}
					&.is-funded {
						border-color: $color-secondary;
						.slider-progress {
							background-color: $color-secondary;
						}
					}
				}
			}

			&:hover {
				.campaign-item-holder {
					.header {
						opacity: 0;
					}
					.profile-photo {
						top: -30px;
					}
					.campaign-body {
						top: 20px;
						z-index: 4;
						.campaign-body-names {
							opacity: 0;
						}
					}
					.campaign-footer {
						opacity: 0;
						bottom: -4px;
					}
					.campaign-hover {
						visibility: visible;
						opacity: 1;
						height: 100%;
					}
				}
				}
			a.campaign-href {
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				width: 100%;
				height: 100%;
			}
		}
	}
	ul {
		margin: 0;
	}
}