	.home-carousel {
	width: 100%;
	background: $gray-light;
	
	ul {
		margin: auto;
		width: 100%;
		padding: 0;
		background: $gray-light;
		
		li {
			padding: 0;
			margin: 0;
			position: relative;
			width: 100%;
			height: 510px;
			overflow: hidden;
			text-align: center;
			background-repeat: no-repeat;
			background-position: center center;
			@include background-size(cover);
            background-position: 50% 50%;
            background-size: cover;

            background-color: $gray-light;
			
			// Global carousel content
			.home-carousel-content {
				margin-top: 2em;
					
				h1 {
					margin: 0 auto 0.1em auto;
				}
			}
			
			.home-carousel-btn {
				display: block;
				position: absolute;
				bottom: 50px;
				left: 0;
				right: 0;
				margin: auto;
				width: 100%;
				text-align: center;
				z-index: 9;
				overflow: visible;
			}
			
			&.item-style-1 {
				.home-carousel-content {
					
					h1 {
						max-width: 500px;
					}
					
					a {
						font-family: $font-family-body;
						font-weight: 700;
					}

					h6 {
						color: $black;
						text-transform: none;
						margin: 8px 0 15px 0;
					}
				}
				&.dutch-head {
					background-position: 50% 20px;
					@include breakpoint(x-small) {
						background-position: 50% 120px;
					}
					.home-carousel-content {
						h1 {
						font-size: 34px!important;
					}	
					}
				}
			}
			
			&.item-style-2 {
				.home-carousel-content {
					position: relative;
					top: 250px;
					max-width: 540px;
					margin: 0 auto;
					background: rgba(0,0,0, .2);
					@include border-radius(8px);
					padding: 1em 0.7em;
					@include breakpoint(x-small) {
						top: 170px;
					}
					
					h1 {
						color: $white !important;
					}
					
					p {
						margin: 0;
					}
					
					a {
						font-family: $font-family-body;
						
						&:after {
							content: "\2192";
							margin-left: 7px;
						}
					}
				}	
			}
			
			&.item-style-3 {
				.home-carousel-content {
					position: relative;
					top: 20px;
					position: relative;
					max-width: 540px;
					margin: 0 auto;
					padding: 1em;
					
					h1 {
						color: $white !important;
					}
					
					p {
						margin: 0;
					}
					
					a {
						font-size: 0.8em;
						font-family: $font-family-body;
						color: $gray-dark;
						@include opacity(0.5);
						
						&:after {
							content: "\2192";
							margin-left: 7px;
						}
					}
				}	
			}

			&.crowd-maandag {
				.home-carousel-content {
					position: relative;
					top: 156px;
					max-width: 460px;
					margin: 0 auto;
					background: rgba(0,0,0, .2);
					@include border-radius(8px);
					padding: 1em 0.7em;
					@include breakpoint(x-small) {
						top: 170px;
					}
					
					h1 {
						color: $white !important;
						font-size: 48px;
					}
					
					p {
						margin: 0;
					}
					
					a {
						font-family: $font-family-body;
						
						&:after {
							content: "\2192";
							margin-left: 7px;
						}
					}
				}	
			}

			&.crowd-dinsdag {
				.home-carousel-content {
					position: relative;
					top: 32px;
					max-width: 540px;
					margin: 0 auto;
					background: rgba(0,0,0, .2);
					@include border-radius(8px);
					padding: 1em 0.7em;
					@include breakpoint(x-small) {
						top: 170px;
					}
					
					h1 {
						color: $white !important;
						font-size: 48px;
					}
					
					p {
						margin: 0;
					}
					
					a {
						font-family: $font-family-body;
						
						&:after {
							content: "\2192";
							margin-left: 7px;
						}
					}
				}	
			}

			&.crowd-woensdag {
				background-position: center 40%;
				.home-carousel-content {
					position: relative;
					top: 10px;
					max-width: 540px;
					margin: 0 auto;
					@include breakpoint(x-small) {
						top: 170px;
					}
					
					h1 {
						color: $black !important;
						font-size: 36px;
					}
					
					p {
						margin: 0;
						color: $black;
					}
					
					a {
						font-family: $font-family-body;
						
						&:after {
							content: "\2192";
							margin-left: 7px;
						}
					}
				}	
			}

			&.crowd-donderdag {
				background-position: center 100%;
				.home-carousel-content {
					position: relative;
					top: 20px;
					max-width: 540px;
					margin: 0 auto;
					@include breakpoint(x-small) {
						top: 170px;
					}
					
					h1 {
						font-size: 36px;
					}
					
					p {
						margin: 0;
						color: $black;
					}
					
					a {
						font-family: $font-family-body;
						
						&:after {
							content: "\2192";
							margin-left: 7px;
						}
					}
				}	
			}
		}
	}
	
	.home-carousel-nav {
		position: absolute;
		bottom: 10px;
		left: 0;
		right: 0;
		margin: auto;
		width: 100%;
		text-align: center;
		
		span {
			display: inline-block;
			height: 13px;
			width: 13px;
			border-radius: 50%;
			background: rgba(255, 255, 255, .3);
			border: solid 1px white;
			cursor: pointer;
			
			&.is-active {
				background: rgba(255, 255, 255, 1);
			}
		}

		&.howto-slides {
			width: 60%;
			line-height: 28px;
			font-size: 14px;
			bottom: 60px;
			span {
				width: auto;
				border-radius: inherit;
				background: none;
				border: none;
				margin-right: 20px;

				&.is-active {
					color: $color-primary;
				}
			}
		}
	}
}


/*


&.header-cloud {
	
}

&.header-cloud-transparant {
	top: 20px;
	padding: 1em;
	span {
		display: block;
		font-size: 1.2em;
		margin: auto;
	}
	.header {
		display: block;
		font-size: 3em;
		font-weight: 700;
	}
}

.home-carousel-content {
		position: absolute;
		top: 35px;
		left: 0;
		right: 0;
		margin: auto;
		width: 50%;
		text-align: center;
		font-size: 1.4em;
		z-index: 9;
		
		h1 {
			
		}
		
		p {
			
		}
		
		a {
			font-size: 16px;
			font-weight: 700;
			&:after {
				content: "\2192";
				margin-left: 7px;
			}
			&.last-slide {
				color: $gray-dark!important;
			}
		}
		
	}
				
				*/