#crowdfunded {
	position: relative;
	height: 750px;
	z-index:2;
	overflow: hidden;
	.crowdfunded-container {
		height: 800px;
		width: 120%;
		margin: -70px;
	}
	.crowdfunded-overlay {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
 		@include background-image(linear-gradient(rgba(65, 65, 65, .7), rgba(0,0,0, .9)));
	}
	.crowdfunded-tagline {
		position: absolute;
		top: 15%;
		right: 0;
		left: 0;
		header {
			margin: auto;
			font-size: 2em;
			z-index: 4;
			text-align: center;
			line-height: 73px;
			h2 {
				color: white;
				font-size: 34px;
				line-height: 73px;
				strong {
					font-weight: 900;
					font-size: 39px;
				}
			}
		}
		.join-us {
			margin-top: 5em;
			text-align: center;
		}
	}
	img {
		z-index: 1;
		border: solid 1px black;
		float: left;
	}
}