.tools {
	font-family: $font-family-bold;
	color: $gray-dark;
	min-height: 100px;
	padding-top: 40px;
	.tools-icon {
		width: 100%;
		height: 100px;
		text-align: center;
	}
	.tools-header {

	}
	.tools-content {
		display: block;
		line-height: 24px;
	}
	strong {
		font-weight: 700;
	}
	&.left {
		float: left;
	}
	&.right {
		float: right;
	}
	&.small {
		width: 80%;
		margin: auto;
	}
}