.widget-container {
    // display: inline-block;
}

.widget-campaign-container {
    position: relative;

    &.small {
        min-width: 200px;
        max-width: 250px;
    }

    &.default {
        min-width: 250px;
        max-width: 300px;
    }

    &.large {
        min-width: 300px;
        max-width: 350px;
    }

    // import from bb base/type
    font-family: $font-family;
    line-height: $base-line-height;
    font-size: $base-font-size;
    color: $type-body-color;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased; 
    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;

    small { 
        font-size: $font-size-smallest;
    }

    strong, b { 
        font-weight: normal; 
        font-family: $font-family-heavy; 
    }

    em, i { 
        font-weight: normal; 
        font-style: italic; 
    }

    cite { 
        font-style: normal; 
    }

    h1, h2, h3, h4, h5, h6 {
        margin: $base-margin/2 0 0 0;
        font-family: $font-family-bold;
        line-height: 1.3em;
        text-transform: uppercase;
        font-weight: normal;
        
        small {
            line-height: 1;
            color: $gray-light;
        }
        
        em {
            font-style: normal;
        }
    }

    h1 { 
        font-size: $font-size-largest;
        color: $type-h1-color;
        
        em {
            font-family: $base-font-family;
            color: $type-h1-em-color;
        }
    } 

    h2 {
        font-size: $font-size-larger;
        color: $type-h2-color;
    } 

    h3 { 
        font-size: $font-size-large;
        color: $type-h3-color;
    } 

    h4 { 
        font-size: $base-font-size;
    }

    .powered-by {
        width: 100px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -35px;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        font-size: 11px;
        color: #D8D8D8;
        text-decoration: none;
        
        &:after {
            position: absolute;
            display: block;
            right: 10px;
            top: 3px;
            content: '';
            height: 35px;
            width: 37px;
            background: image-url("img/1procentclub.svg") transparent no-repeat 100% 50%;
            background-size: contain;
        }
    }
}

.campaign-item {
    position: relative;
    min-width: 250px;
    max-width: 300px;
    height: 420px;
    background: $gray-light;
    padding: 7px;
    border-radius: 0 0 6px 6px;
    @include single-transition(all, .2s ease-in-out);

    &.small {
        min-width: 200px;
        max-width: 250px;
        height: 360px;

        .campaign-item-holder {
            .header {
                height: 140px;
                @include calc(height, '250 / 16 * 9px');
            }

            .profile-photo {
                top: 112px;
            }

        }

        .campaign-body {
            top: 160px;
            
            .campaign-hover-body {
                max-height: 145px;
                font-size: 13px;
                line-height: 1.9em;
            }

            .profile-name {
                font-size: 14px;

                span {
                    display: none;
                }
            }

            .campaign-body-names {
                font-size: 16px;
            }
        }

        .campaign-footer {
            .campaign-fund-amount {
                font-size: 13px;
            }
        }
    }

    &.large {
        min-width: 300px;
        max-width: 350px;
        height: 470px;

        .campaign-item-holder {
            .header {
                height: 196.875px;
                @include calc(height, '350 / 16 * 9px');
            }

            .profile-photo {
                top: 168px;
            }
        }

        .campaign-body {
            top: 220px;

            .campaign-hover-body {
                min-height: 274px;
            }

            .profile-name {
                font-size: 16px;
            }

            .campaign-body-names {
                font-size: 20px;
            }
        }

        .campaign-footer {
            .campaign-fund-amount {
                font-size: 15px;
            }
        }
    }

    a {
        color: $black;
        &:visited, &:active {
            color: $black;
        }
    }

    
    .campaign-item-holder {
        position: relative;
        width: 100%;
        height: 100%;
        background: white;
        border-radius: 0 0 6px 6px;
        border: solid 1px $gray-border;
        display: block;
        
        .header {
            position: absolute;
            overflow: hidden;
            width: 100%;
            height: 165.75px;
            @include calc(height, '300 / 16 * 9px');
            background: #e9e9e9;
            opacity: 1;
            //@include single-transition(opacity, .2s ease-in-out);
    
            img {
                width: 100%;
                position: relative;
            }
            
            &:before {
                position: absolute;
                top: 45%;
                left: 0;
                right: 0;
                margin: auto;
                width: 40%;
                text-align: center;
                content: '';
                font-size: .7em;
                color: $gray-light;
            }
        }
        
        .profile-photo {
            display: inline-block;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            width: 51px;
            height: 51px;
            overflow: hidden;
            border-radius: 50%;
            background: #e9e9e9;
            top: 140px;
            border: solid 2px white;
            z-index: 4;
            @include single-transition(top, .2s ease-in-out);
            
            img {
                width: 100%;
                height: 100%;
            }
        }
        
        .campaign-hover {
            position: absolute;
            height: 57%;
            width: 100%;
            bottom: 0;
            left: 0;
            right: 0;
            visibility: hidden;
            opacity: 0;
            border-radius: 0 0 6px 6px;
            background: white;
            z-index: 3;
            @include single-transition(all, .2s ease-in-out);
            
            .campaign-hover-footer {
                position: absolute;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                border-top: solid 1px $gray-border;
            }
            
            p {
                
                .go-to-campaign {
                    display: block;
                    text-align: center;
                    font-size: 14px;
                    font-weight: 700;
                    color: $color-secondary;
                    padding: 10px 15px;
                    
                    &:after {
                        content: "\2192";
                    }
                }
            }
        }
    }
    
    .campaign-body {
        position: absolute;
        left: 0;
        right: 0;
        top: 190px;
        margin: auto;
        padding: 20px;
        overflow: hidden;
        color: $gray-darker;
        @include single-transition(top, .2s ease-in-out);

        .campaign-hover-body {
            @include opacity(0);
            height: 0px;
            overflow: hidden;
            font-size: 14px;
            line-height: 1.9em;
            @include single-transition(all, 0s ease-in-out);

             &:after {
                width: 86%;
                height: 0px;
                content: '';
                display: block;
                position: absolute;
                bottom: 0;
                @include opacity(0); 
                @include background-image(linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%));
                // @include background-image(linear-gradient(rgba(55, 55, 55, 0) 0%, rgba(55, 55, 55, 1) 95%));
                @include single-transition(all, .2s ease-in-out);
            }
        }
        
        .profile-name {
            display: block;
            color: $gray-dark;
            text-align: center;
            opacity: 1;
            font-size: 15px;
            line-height: 20px;
            @include single-transition(opacity, .2s ease-in-out);
            
            strong {
                font-family: $font-family-body;
                font-weight: normal;
                color: $color-primary;
            
            }

            span {
                white-space: nowrap;
            }
        }
        
        .campaign-body-names {
            display: block;
            margin: 0.5em 0 0.5em 0;
            text-align: center;
            font-family: $font-family-body;
            font-weight: 700;
            font-size: 18px;
            color: rgb(60,60,60);
            line-height: 22px;

            &:after {
                display: block;
                content: '';
                border-bottom: solid 1px $gray-border;
                height: 1px;
                width: 125%;
                @include single-transition(all, .2s ease-in-out);
                @include opacity(0);
            }
        }

        p {
            margin-top: 0;
        }
    }
    
    .campaign-footer {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        padding: 20px;
        opacity: 1;
        @include single-transition(all, .1s ease-in-out);
        
        .campaign-fund-amount {
            color: $gray-dark;
            font-size: 14px;
            
            .amount-raised {
                float: left;
                padding-top: 0.25em;
                display: block;
            }
            
            .days-left {
                float: right;
                padding-right: 0.5em;
            }
            
            strong {
                font-family: $font-family-body;
                font-weight: 700;
            }
            
            .fully-funded {
                display: block;
                width: 100%;
                text-align: center;
                color: $color-secondary
            }

            &.expired {
                .campaign-fund-amount-slider {
                    border-color: rgb(138, 153, 147);
                    
                    .slider-progress {
                        background-color: rgb(138, 153, 147);
                    }
                }
            }
        }
        .campaign-fund-amount-slider {
            display: block;
            overflow: hidden;
            border-radius: 1em;
            margin: 0 0 0.4em 0;
            border: solid 1px $color-primary;
            
            // Old slider code overwrite
            .project-fund-amount-slider {
                background: transparent;
            }
            
            .slider-progress {
                position: relative;
                display: block;
                border-radius: 1em 0 0 1em;
                background-color: $color-primary;
                color: #fff;
                text-align: right;
                white-space: nowrap;
                line-height: 0.8em;
                height: 0.8em;
            }
            
            &.is-funded {
                border-color: $color-secondary;
                
                .slider-progress {
                    background-color: $color-secondary;
                }
            }
        }
    }

    &:hover {
    
        .campaign-item-holder {
        
            .header {
                opacity: 1;
            }
            
            .profile-photo {
                top: -30px;
            }
            
            .campaign-body {
                top: 10px;
                z-index: 4;

                .campaign-hover-body {
                    display: block;
                    height: 182px;
                    @include opacity(1);
                    @include single-transition(all, .2s ease-in-out);

                    &:after {
                        height: 75px;
                        @include opacity(1);
                    }
                }
                
                .campaign-body-names {
                    opacity: 1;

                    &:after {
                        margin: 15px 0 15px -20px;
                        @include opacity(1);
                    }

                    span {
                        color: $black;
                    }
                }
            }
            
            .campaign-footer {
                opacity: 0;
                bottom: -4px;

                .project-fund-amount-slider {
                    display: none;
                }
            }
            
            .campaign-hover {
                visibility: visible;
                opacity: 1;
                height: 100%;

                .campaign-hover-body {
                    &:after {
                        height: 20px;
                        @include opacity(1);
                    }
                }
            }
        }
    }
    
    a.campaign-href {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
}

