{% extends "accounts:accounts/nav.html" %}
{% load bb_ember i18n %}

{% block_verbatim profile_anchor %}
    <a href="#" class="nav-member-dropdown">
        <img width="40" {{bindAttr src="controllers.currentUser.getAvatar"}} height="40" alt="Avatar" />
        <strong>
            {% blocktrans %}My 1%{% endblocktrans %}
            <em class="flaticon solid down-2"></em>
        </strong>
    </a>
{% endblock_verbatim profile_anchor %}


{% block_verbatim my_menu %}

    <li>
        {{#linkTo "userProfile" }}
            {% trans "My profile & settings" %}
        {{/linkTo }}
    </li>
    
    <li>
        {{#linkTo "userMonthlyProjects" }}
            {% trans "My Donations" %}
        {{/linkTo}}
    </li>

    <li>
        {{#linkTo "myProjectList" }}
            {% trans "My Projects" %}
        {{/linkTo}}
    </li>

    <li>
        {{#linkTo "myFundRaiserList" }}
            {% trans "My Fundraisers" %}
        {{/linkTo}}
    </li>

    <li>
        {% block logout_anchor %}
            <a href="{% url 'accounts:logout' %}?next=/{{ LANGUAGE_CODE }}/">Logout</a>
        {% endblock logout_anchor %}
    </li>

    <li class="nav-member-switch-language">
        {% trans "Language" %} {{view "App.LanguageSwitchView"}}
    </li>

{% endblock_verbatim my_menu %}


{% block_verbatim donations_anchor %}

    {{#if controllers.currentOrder.donations.length }}
        <li class="nav-cart">
            {{#linkTo 'currentOrder.index'}}
                <span class="nav-cart-count">{{ controllers.currentOrder.donations.length }}</span>
                {% trans "Donations" %} 
                <em class="flaticon solid right-2"></em>
            {{/linkTo}}
        </li>
    {{/if}}

{% endblock_verbatim donations_anchor %}


{% block_verbatim anonymous_user %}

    <li class="nav-signup-login">
        {{#linkTo "signup" class="nav-signup"}}{% trans "Sign up" %}{{/linkTo}}
        {% trans "or" %}
        <a {{action 'openInBox' "login"}} class="nav-login">{%  trans "Log in" %}</a>
    </li>
    <li class="nav-switch-language">
        {{view "App.LanguageSwitchView"}}
    </li>
{% endblock_verbatim anonymous_user %}
