{% extends "accounts:accounts/profile_public.html" %}
{% load bb_ember i18n %}


{% block_verbatim profile_model_content %}
    {{#if about }}
        <h3>{% trans "About" %}</h3>
        <p>{{ about }} </p>
    {{/if}}

    {{#if why }}
        <h4>{% blocktrans %}Joined 1%Club because{% endblocktrans %}</h4>
        <p>{{ why }} </p>
    {{/if}}

    <div class="um-list">
        {{#if location }}
            <div class="um-list-item">
                <em class="flaticon solid location-pin-1"></em>
                <span class="key">{% trans "Location" %}</span>
                <span class="value">{{ location }}</span>
            </div>
        {{/if}}

        {{#if availability }}
            <div class="um-list-item">
                <em class="flaticon solid clock-1"></em>
                <span class="key">{% trans "Time available" %}</span>
                <span class="value">{{ availability }}</span>
            </div>
        {{/if}}
    </div>

    <div class="um-meta">
        {{#if website }}
            <span class="um-meta-item website">
                <a {{bindAttr href="website"}} target="_blank"><em class="flaticon solid link-3"></em>  {{website}}</a>
            </span>
        {{/if}}
    </div>
{% endblock_verbatim %}