{% extends "accounts:accounts/profile_public.html" %}
{% load bb_ember i18n %}


{% block_verbatim profile_model_content %}
    {{#if about }}
        <h3>{% trans "About" %}</h3>
        <p>{{ about }}</p>
    {{/if}}

    {{#if why }}
        <h4>{% blocktrans %}Joined 1%Club because{% endblocktrans %}</h4>
        <p>{{ why }}</p>
    {{/if}}

    {{#if location }}
        <dl>
            <dt class="key"><span class="flaticon solid location-pin-1"></span> {% trans "Location" %}</dt>
            <dd class="value">{{ location }}</dd>
        </dl>
    {{/if}}

    {{#if availability }}
        <dl>
            <dt class="key"><span class="flaticon solid location-pin-1"></span> {% trans "Time available" %}</dt>
            <dd class="value">{{ availability }}</dd>
        </dl>
    {{/if}}

    {{#if website }}
        <dl>
            <dt class="key"><span class="flaticon solid link-3"></span> {% trans "Website" %}</dt>
            <dd class="value">{{website}}</dd>
        </dl>
    {{/if}}
    
{% endblock_verbatim %}