// ========================= Variables ==================================
// SET YOUR EDITOR TO USING TABS AND TAB SIZE OF 4 FOR PROPER ALIGNMENT
// OF THE VARIABLES BELOW

// Grays
// --------------------------------

$black                                                     : #3C3C3C;
$gray-darkest											   : #3C3C3C;
$gray-darker											   : #676767;
$gray-dark                                                 : #8A9993;
$gray-middle                                               : #E4EDE9;
$gray-medium                                               : #F5F4F6; // Todo same as light
$gray-light                                                : #F8F7F8;
$gray-border                                               : #D8D8D8;
$color-light-gray                                          : #F8F7F8; // light gray
// Colors                                                       
// --------------------------------                             

$color-primary                                             : #00C051; // green
$color-secondary                                           : #FF619A; // pink
$color-primary-shadow									   : #008438; // shadow green
$color-secondary-shadow									   : #B42A5C; // shadow pink
                                                                   
$color-error                                               : #b84040 !default;
$color-success                                             : #5da423 !default;
$color-deselect                                            : #bfbfbf !default;
                                                                
// Social                                                       
// ----------------------------------                           
                                                                
$facebook-blue                                             : #45619d !default;
$twitter-blue                                              : #33b9e2 !default;

// Typography                                                   
// --------------------------------
                                                              
$font-family                                               : 'L Futura W01', 'Trebuchet MS', Helvetica, Arial, sans-serif;
$font-family-heavy                                         : 'L Futura W01', 'Trebuchet MS', Helvetica, Arial, sans-serif;
$font-family-bold                                          : 'L Futura W01', 'Trebuchet MS', Helvetica, Arial, sans-serif;
$font-family-body										   : 'Helvetica Neue', Helvetica, Arial, 'Trebuchet MS', sans-serif;
                                                                
$base-font-size                                            : 1em !default;
$base-font-family                                          : $font-family !default;
$base-line-height                                          : 1.5em !default;