{% load bb_ember %}
{% load i18n %}
{% load static %}

{% tplhandlebars "_story_legend" %}
    <legend>
        <strong>{% trans "Campaign Story" %}</strong>
        <p>{% trans "Time to blow us away with the details! Tell us about your motivation and why this campaign is important. Oh, before you start one last suggestion: make it personal." %}</p>
    </legend>
{% endtplhandlebars %}