/* =========== Layout */

html { 
    color: $text-black;
    font-family: $font-family;
    font-size: $font-size;
}

/*
@media only screen and (min-width: 1080px) {
    
    html {
        font-size: 15px;
    }
}

@media only screen and (min-width: 1180px) {
    
    html {
        font-size: 16px;
    }
}
*/

html, body, #site {
  	height: 100%;
}
#content {
  	min-height: 100%;
  	/* equal to footer height + 2x padding */
  	margin-bottom: -562px;
  	@include rem(padding-bottom, $padding * 2);
}
#content:after {
  	content: "";
  	display: block;
}
#footer, #content:after {
  	/* .push must be the same height as footer */
  	height: 530px; 
}

#footer {
	margin-top: ($padding * 2);
	clear: both;
}

body { 
    overflow-y: scroll;
}

// full width container
.container, .section {
    width: 100%;
    min-width: $min-width;
}

// wraps grid min & max size
.wrapper {
    @include clearfix;  
    min-width: $min-width;
    max-width: $max-width;
    margin: auto;
    padding: 0 16px;
}

.wrapper > header, .wrapper > .main-title,
.wrapper > h1, .wrapper > h2, .wrapper > h3 {
    @include grid(48, 1);
}

.wrapper > form {
    @include grid(32, 1);
}


.wrapper .sidebar, .wrapper sidebar  {
    @include grid(16, 1, 1);
    //@include rem(padding, 32px );
}

.sidebar.grey {
  background-color: $color-back;
  @include rem(padding, 12px 24px );
  color: $gray;
  @include rem(margin-bottom, 24px);
  
  h3 {
      padding: 0px;
      @include rem(font-size, 16px);
      @include rem(line-height, 16px);
      text-transform: uppercase;
      font-weight: 300;
      color: $grayDark;
  }
}

.wrapper .content {
    @include grid(32, 1);
    &.gray {
        background-color: $color-back;
    }
}

.wrapper > .body {
    @include grid(48, 1);
    &.gray {
        background-color: $color-back;
    }
}

.section {
    background-color: $color-back;
    @include rem(padding, 0 0 16px 0);
}

.top {
    background-color: $black;
    color: $white;
    vertical-align: middle;
}

.l-full {
    @include grid(48, 1);
}
.l-two-third {
    @include grid(32, 1);
}
.l-half {
    @include grid(24, 1);
}
.l-one-third {
    @include grid(16, 1);
}
.l-first { clear: left; }

/* Example for types.html
header { @include grid(48, 1); }
section { 
    @include clearfix;
    margin-bottom: $margin-bottom;
    @include grid(48, 1);
    
    &.half { @include grid(24, 1); }
    &.one-third { @include grid(16, 1); }
}
 */

.text, .video, .image, .oembed, .rawhtml {
	clear: both;
	@include rem(margin-top, $padding);
	@include rem(margin-bottom, $padding);
}

/* =========== Video wrapper for responsive video's */

object, embed, iframe {
	width: 100% !important
}

.video, .oembed {
	@include clearfix;
    position: relative !important;
    padding-bottom: 56.25% !important;
    height: 0 !important; 
    overflow: hidden !important;
}

.video iframe, 
.oembed iframe,
.video object, 
.oembed object,
.video embed, 
.oembed embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}
 
 

/* ========================= Responsive ================================== */


/* Tablets */
@media only screen and (max-width: 960px) {
    //body { font-size: 14px; }
}

/* Phones */
@media only screen and (max-width: 520px) {
    //header, div.container section { @include grid-reset; }
}

/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio : 2), only screen and (min-device-pixel-ratio : 2) {
    
}
