//
// Tables
// --------------------------------------------------


table {
    border-collapse: separate;
    *border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    
    th {
        //padding: $base-padding/2 $base-padding;
        text-align: left;
    }
    
    td {
        padding: $base-padding/2 $base-padding;
        line-height: $base-line-height;
        border-bottom: 1px solid $gray-light;
        
        td {
            border: none;
        }
    }
}