/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Icons */
/* line 17, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_home.scss */
html, body, #site {
  height: 100%;
}

/* line 5, ../sass/_home.scss */
h1 {
  color: #ff619a;
  font-size: 2.5em;
  font-family: "Futura W01 Bold", "Trebuchet MS", Helvetica, Arial, sans-serif;
}

/* line 11, ../sass/_home.scss */
h2 {
  color: #8a9993;
  font-size: 1.5em;
  font-family: "Futura W01 Bold", "Trebuchet MS", Helvetica, Arial, sans-serif;
}

/* line 17, ../sass/_home.scss */
a {
  text-decoration: none;
  color: #3c3c3c;
}
/* line 20, ../sass/_home.scss */
a.btn {
  display: inline;
  background-color: #ff619a;
  padding: 1em;
  vertical-align: center;
  border-radius: 8px;
  color: white;
}

/* line 30, ../sass/_home.scss */
input {
  line-height: 30px;
  border-radius: 6px;
  padding-left: 40px;
  border: solid 1px #ccc;
}

/* line 37, ../sass/_home.scss */
#main {
  min-height: 100%;
  margin-bottom: -232px;
  padding-bottom: 2em;
}

/* line 43, ../sass/_home.scss */
.l-wrapper {
  position: relative;
  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}

/* line 51, ../sass/_home.scss */
.l-section {
  width: 100%;
  min-width: 900px;
  max-width: 100%;
}

/* line 57, ../sass/_home.scss */
.section-header {
  padding: 1em 0 0.5em 0;
  text-align: center;
}
/* line 60, ../sass/_home.scss */
.section-header.more-space {
  padding: 3em 0 2.5em 0;
}

/* line 66, ../sass/_home.scss */
#header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background: #f5f4f6;
  border-bottom: 1px solid white;
  box-shadow: 0 1px 0 rgba(65, 65, 65, 0.1);
  z-index: 5;
}
/* line 75, ../sass/_home.scss */
#header #logo {
  float: left;
  width: 10.41667%;
}
/* line 78, ../sass/_home.scss */
#header #logo .logo-link {
  display: block;
  padding: 1.2em 0 0 0;
}
/* line 81, ../sass/_home.scss */
#header #logo .logo-link .logo-image {
  height: 40px;
  width: 125px;
}
/* line 88, ../sass/_home.scss */
#header #nav {
  padding: 2.2em 0 0 0;
  font-family: "Futura W01 Bold", "Trebuchet MS", Helvetica, Arial, sans-serif;
}
/* line 91, ../sass/_home.scss */
#header #nav .nav-main {
  float: left;
  width: 40%;
  margin-left: 10%;
  margin-right: 0%;
  text-align: left;
}
/* line 97, ../sass/_home.scss */
#header #nav .nav-main .nav-main-item {
  display: inline;
  margin-right: 3.9em;
  color: #3c3c3c;
}
/* line 103, ../sass/_home.scss */
#header #nav .nav-actions {
  float: right;
  width: 31.25%;
  color: white;
  text-align: right;
}
/* line 108, ../sass/_home.scss */
#header #nav .nav-actions li {
  display: inline;
  color: #00c051;
}
/* line 112, ../sass/_home.scss */
#header #nav .nav-actions .nav-signup {
  margin-right: 3em;
}
/* line 115, ../sass/_home.scss */
#header #nav .nav-actions .nav-search .nav-search-holder {
  position: relative;
  display: inherit;
  float: left;
  margin-top: -10px;
}
/* line 120, ../sass/_home.scss */
#header #nav .nav-actions .nav-search .nav-search-holder .nav-search-glass {
  position: absolute;
  top: 11px;
  left: 11px;
}

/* line 132, ../sass/_home.scss */
.home-carousel {
  width: 100%;
  background: #f5f4f6;
}
/* line 135, ../sass/_home.scss */
.home-carousel ul {
  margin-top: 80px;
}
/* line 137, ../sass/_home.scss */
.home-carousel ul li {
  height: 506px;
  overflow: hidden;
}
/* line 140, ../sass/_home.scss */
.home-carousel ul li header {
  position: relative;
  width: 50%;
  margin: auto;
  padding-top: 20px;
}
/* line 145, ../sass/_home.scss */
.home-carousel ul li header h1 {
  position: absolute;
  top: 50px;
}
/* line 150, ../sass/_home.scss */
.home-carousel ul li .home-carousel-play {
  position: absolute;
  top: 168px;
  left: 0;
  right: 0;
  margin: auto;
  width: 16.333333%;
  min-width: 194px;
}
/* line 158, ../sass/_home.scss */
.home-carousel ul li .home-carousel-play .carousel-play-svg {
  height: 55px;
  float: left;
  display: inline-block;
}
/* line 163, ../sass/_home.scss */
.home-carousel ul li .home-carousel-play .carousel-play-text {
  height: 55px;
  float: right;
  display: inline-block;
  padding: 4px;
  line-height: 22px;
  font-family: "Futura W01 Bold", "Trebuchet MS", Helvetica, Arial, sans-serif;
  text-align: left;
}
/* line 172, ../sass/_home.scss */
.home-carousel ul li .home-carousel-play a {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  right: 4px;
}
/* line 180, ../sass/_home.scss */
.home-carousel ul li .home-carousel-body {
  width: 100%;
  height: 100%;
  background: #f5f4f6;
}
/* line 187, ../sass/_home.scss */
.home-carousel .home-carousel-nav {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;
  width: 80px;
}
/* line 194, ../sass/_home.scss */
.home-carousel .home-carousel-nav span {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.7);
  border: solid 1px white;
}
/* line 201, ../sass/_home.scss */
.home-carousel .home-carousel-nav span.is-active {
  background: white;
}

/* line 209, ../sass/_home.scss */
.all-campaigns {
  float: right;
  margin: -17px 45px;
  font-family: "Futura W01 Bold", "Trebuchet MS", Helvetica, Arial, sans-serif;
  color: #d8d8d8;
  font-size: 1em;
}
/* line 215, ../sass/_home.scss */
.all-campaigns:after {
  content: "\2192";
  margin-left: 7px;
}

/* line 222, ../sass/_home.scss */
.campaign-container {
  font-family: "Futura W01 Bold", "Trebuchet MS", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}
/* line 238, ../sass/_home.scss */
.campaign-container .campaign-item {
  position: relative;
  width: 250px;
  height: 330px;
  background: #f5f4f6;
  padding: 7px;
  border-radius: 0 0 6px 6px;
}
/* line 245, ../sass/_home.scss */
.campaign-container .campaign-item .campaign-item-holder {
  position: relative;
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 0 0 6px 6px;
  border: solid 1px #d8d8d8;
}
/* line 252, ../sass/_home.scss */
.campaign-container .campaign-item .campaign-item-holder .header {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 141px;
  background: #8a9993;
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
/* line 260, ../sass/_home.scss */
.campaign-container .campaign-item .campaign-item-holder .header img {
  width: 100%;
  position: relative;
}
/* line 264, ../sass/_home.scss */
.campaign-container .campaign-item .campaign-item-holder .header:before {
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  margin: auto;
  width: 40%;
  text-align: center;
  content: "Loading...";
  font-size: .7em;
  color: #f5f4f6;
}
/* line 277, ../sass/_home.scss */
.campaign-container .campaign-item .campaign-item-holder .profile-photo {
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 51px;
  height: 51px;
  overflow: hidden;
  border-radius: 50%;
  top: 117px;
  border: solid 2px white;
  z-index: 4;
  -webkit-transition: top 0.2s ease-in-out;
  -moz-transition: top 0.2s ease-in-out;
  -o-transition: top 0.2s ease-in-out;
  transition: top 0.2s ease-in-out;
}
/* line 291, ../sass/_home.scss */
.campaign-container .campaign-item .campaign-item-holder .profile-photo img {
  width: 100%;
}
/* line 295, ../sass/_home.scss */
.campaign-container .campaign-item .campaign-item-holder .campaign-hover {
  position: absolute;
  height: 57%;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  z-index: 3;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 307, ../sass/_home.scss */
.campaign-container .campaign-item .campaign-item-holder .campaign-hover .campaign-hover-head {
  margin: auto;
  margin-top: 55px;
  width: 100%;
  height: auto;
  text-align: center;
  padding-bottom: 10px;
}
/* line 314, ../sass/_home.scss */
.campaign-container .campaign-item .campaign-item-holder .campaign-hover .campaign-hover-head strong {
  display: inline-block;
  margin: auto;
  width: 90%;
  font-weight: 800;
  font-size: 16px;
}
/* line 322, ../sass/_home.scss */
.campaign-container .campaign-item .campaign-item-holder .campaign-hover .campaign-hover-body {
  min-height: 190px;
  font-size: 14px;
  line-height: 18px;
  color: #8a9993;
}
/* line 329, ../sass/_home.scss */
.campaign-container .campaign-item .campaign-item-holder .campaign-hover p span {
  display: block;
  padding: 15px 12px 15px 12px;
}
/* line 333, ../sass/_home.scss */
.campaign-container .campaign-item .campaign-item-holder .campaign-hover p .go-to-campaign {
  display: block;
  text-align: center;
  font-size: 14px;
  color: #ff619a;
}
/* line 338, ../sass/_home.scss */
.campaign-container .campaign-item .campaign-item-holder .campaign-hover p .go-to-campaign:after {
  content: "\2192";
  margin-left: 7px;
}
/* line 343, ../sass/_home.scss */
.campaign-container .campaign-item .campaign-item-holder .campaign-hover p:not(:last-child) {
  border-bottom: solid 1px #d8d8d8;
}
/* line 349, ../sass/_home.scss */
.campaign-container .campaign-item .campaign-body {
  position: absolute;
  left: 0;
  right: 0;
  top: 176px;
  margin: auto;
  padding: 10px;
  -webkit-transition: top 0.2s ease-in-out;
  -moz-transition: top 0.2s ease-in-out;
  -o-transition: top 0.2s ease-in-out;
  transition: top 0.2s ease-in-out;
}
/* line 357, ../sass/_home.scss */
.campaign-container .campaign-item .campaign-body .profile-name {
  display: block;
  color: #8a9993;
  text-align: center;
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
/* line 363, ../sass/_home.scss */
.campaign-container .campaign-item .campaign-body .profile-name strong {
  font-size: 16px;
  color: #00c051;
}
/* line 368, ../sass/_home.scss */
.campaign-container .campaign-item .campaign-body .campaign-body-names {
  display: block;
  width: 90%;
  margin: 4px 0 0 0;
  text-align: center;
  line-height: 19px;
  font-size: 13px;
  font-weight: 800;
}
/* line 378, ../sass/_home.scss */
.campaign-container .campaign-item .campaign-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 4px;
  margin: auto;
  padding: 10px;
  opacity: 1;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
/* line 387, ../sass/_home.scss */
.campaign-container .campaign-item .campaign-footer .campaign-fund-amount {
  color: #8a9993;
  font-size: .8em;
}
/* line 390, ../sass/_home.scss */
.campaign-container .campaign-item .campaign-footer .campaign-fund-amount .amount-raised {
  float: left;
}
/* line 393, ../sass/_home.scss */
.campaign-container .campaign-item .campaign-footer .campaign-fund-amount .days-left {
  float: right;
}
/* line 396, ../sass/_home.scss */
.campaign-container .campaign-item .campaign-footer .campaign-fund-amount strong {
  font-weight: 800;
}
/* line 399, ../sass/_home.scss */
.campaign-container .campaign-item .campaign-footer .campaign-fund-amount .fully-funded {
  display: block;
  width: 100%;
  text-align: center;
  color: #ff619a;
}
/* line 406, ../sass/_home.scss */
.campaign-container .campaign-item .campaign-footer .campaign-fund-amount-slider {
  display: block;
  overflow: hidden;
  border-radius: 1em;
  margin: 0 0 .5em 0;
  background-color: transparent;
  border: solid 1px #00c051;
}
/* line 413, ../sass/_home.scss */
.campaign-container .campaign-item .campaign-footer .campaign-fund-amount-slider .slider-progress {
  position: relative;
  display: block;
  border-radius: 1em 0 0 1em;
  background-color: #00c051;
  color: #fff;
  text-align: right;
  white-space: nowrap;
  line-height: .7em;
  height: .7em;
}
/* line 424, ../sass/_home.scss */
.campaign-container .campaign-item .campaign-footer .campaign-fund-amount-slider.is-funded {
  border-color: #ff619a;
}
/* line 426, ../sass/_home.scss */
.campaign-container .campaign-item .campaign-footer .campaign-fund-amount-slider.is-funded .slider-progress {
  background-color: #ff619a;
}
/* line 435, ../sass/_home.scss */
.campaign-container .campaign-item:hover .campaign-item-holder .header {
  opacity: 0;
}
/* line 438, ../sass/_home.scss */
.campaign-container .campaign-item:hover .campaign-item-holder .profile-photo {
  top: -30px;
}
/* line 441, ../sass/_home.scss */
.campaign-container .campaign-item:hover .campaign-item-holder .campaign-body {
  top: 20px;
  z-index: 4;
}
/* line 444, ../sass/_home.scss */
.campaign-container .campaign-item:hover .campaign-item-holder .campaign-body .campaign-body-names {
  opacity: 0;
}
/* line 448, ../sass/_home.scss */
.campaign-container .campaign-item:hover .campaign-item-holder .campaign-footer {
  opacity: 0;
  bottom: -4px;
}
/* line 452, ../sass/_home.scss */
.campaign-container .campaign-item:hover .campaign-item-holder .campaign-hover {
  visibility: visible;
  opacity: 1;
  height: 100%;
}
/* line 459, ../sass/_home.scss */
.campaign-container .campaign-item a.campaign-href {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

/* line 472, ../sass/_home.scss */
.tag-container {
  margin: auto;
  width: 90%;
  text-align: center;
  font-family: "Futura W01 Bold", "Trebuchet MS", Helvetica, Arial, sans-serif;
}
/* line 477, ../sass/_home.scss */
.tag-container .tag-item {
  display: inline-block;
  width: auto;
  margin: 5px;
  padding: 10px 7px;
  border-radius: 8px;
  border: solid 1px #d8d8d8;
  background-color: white;
  color: #00c051;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
/* line 487, ../sass/_home.scss */
.tag-container .tag-item:hover {
  background-color: #00c051;
  color: #f5f4f6;
}
/* line 492, ../sass/_home.scss */
.tag-container .tag-browse-all {
  display: inherit;
  margin-top: 50px;
  color: #8a9993;
}
/* line 496, ../sass/_home.scss */
.tag-container .tag-browse-all:after {
  content: "\2192";
  margin-left: 7px;
}

/* line 504, ../sass/_home.scss */
.tools-container {
  margin-top: 50px;
  background-color: #f5f4f6;
}
/* line 509, ../sass/_home.scss */
.tools-container .l-wrapper .tools-row {
  width: 100%;
  margin: auto;
  padding: 40px 0 40px 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 514, ../sass/_home.scss */
.tools-container .l-wrapper .tools-row.small {
  max-width: 600px;
}
/* line 517, ../sass/_home.scss */
.tools-container .l-wrapper .tools-row .tools {
  font-family: "Futura W01 Bold", "Trebuchet MS", Helvetica, Arial, sans-serif;
  color: #8a9993;
  width: 50%;
  min-height: 100px;
}
/* line 522, ../sass/_home.scss */
.tools-container .l-wrapper .tools-row .tools.left {
  float: left;
}
/* line 525, ../sass/_home.scss */
.tools-container .l-wrapper .tools-row .tools.right {
  float: right;
}
/* line 528, ../sass/_home.scss */
.tools-container .l-wrapper .tools-row .tools .icon {
  display: block;
  float: left;
  background: #ccc;
  width: 75px;
  height: 75px;
  margin-right: 20px;
}
/* line 536, ../sass/_home.scss */
.tools-container .l-wrapper .tools-row .tools .content {
  display: block;
  width: 90%;
  min-height: 80px;
}
/* line 541, ../sass/_home.scss */
.tools-container .l-wrapper .tools-row .tools strong {
  font-weight: 700;
}

/* line 550, ../sass/_home.scss */
#crowfunded {
  position: relative;
  height: 600px;
  z-index: 2;
  overflow: hidden;
}
/* line 555, ../sass/_home.scss */
#crowfunded .crowfunded-container {
  height: 800px;
  width: 120%;
  margin: -70px;
}
/* line 560, ../sass/_home.scss */
#crowfunded .crowfunded-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(65, 65, 65, 0.7)), color-stop(100%, rgba(0, 0, 0, 0.9)));
  background-image: -webkit-linear-gradient(rgba(65, 65, 65, 0.7), rgba(0, 0, 0, 0.9));
  background-image: -moz-linear-gradient(rgba(65, 65, 65, 0.7), rgba(0, 0, 0, 0.9));
  background-image: -o-linear-gradient(rgba(65, 65, 65, 0.7), rgba(0, 0, 0, 0.9));
  background-image: linear-gradient(rgba(65, 65, 65, 0.7), rgba(0, 0, 0, 0.9));
}
/* line 568, ../sass/_home.scss */
#crowfunded img {
  z-index: 1;
  border: solid 1px black;
  float: left;
}
