#about-new {
	position: relative;
	background: image-url("img/pages/about/about-1.jpg") $gray-darkest no-repeat 50% 50%;
	background-size: cover;
	background-attachment: fixed;
	
	.about-header-section {
		height: 600px;
		max-height: 750px;
		height: 80vh;
		
		.about-header {
			position: absolute;
			bottom: 2em;
			
			h1, h2 {
				color: $white;
				font-size: 2.4em;
				line-height: 1em;
			}
			
			h2 {
				font-weight: normal;
			}
		}	
	}
	
	.about-content-section {
		background: $white;
		
		.about-content {
			width: 100%;
			padding: 3em 25% 2em 25%;
			font-family: $font-family-body;
			font-size: 1.33em;
			line-height: 1.5em;
			
			p {
				margin: 0 0 1.5em 0;
			}
			
			.outro {
				font-weight: 700;
				color: $color-primary;
			}
		}
	}
	
	.tools-container {
		background-color: $gray-light;
		text-align: center;
		
		.btn {
			margin-top: 1em;
			width: 75%;
		}
	}
}