#business-header {
    margin-top: -96px;
    height: 531px;    
    // background: image-url("img/business/business_header.jpg") transparent no-repeat 50% 0%;
    background-color: $black;
    // background-size: cover;

    .business-main-header {
        position: absolute;
        top: 380px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 23%;

        .logo {
            float: left;
            display: block;
            background: image-url("global/logo_green.svg") transparent no-repeat 50% 50%;
            height: 80px;
            width: 47%;
            margin: -14px 4px 0 0;
        }

        .business {
            float: left;
            display: block;
            height: 70px;
            padding: 22px 0 0 4px;
            width: 50%;
            border-left: solid 3px white;
            color: white;
            font-size: 37px;
            font-weight: 800;
            text-transform: lowercase;
        }
    }

    .business-main-content {
        position: absolute;
        top: 300px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        text-align: center;
        font-size: 22px;
        color: #D2D2D2;

        @include text-shadow(0, 1px, 1px, 0, #000000);
    }

    .video-item {
        height: 531px;

        .video-item-container {
            .video-action {
                top: 59%;
                height: 105px;
            }

            .video-business-item {
                z-index: 9;

            }
            .video-item-content {
                height: 531px;
                background: image-url("img/business/business_header.jpg") transparent no-repeat 50% 0%;
                background-size: cover;
            }
        }
    }
}

