#business-block {
    height: 400px;
    background: image-url("img/business/business_block.jpg") transparent no-repeat 50% 0;
    background-color: $black;
    background-size: cover;

    .business-main-header {
        position: absolute;
        top: 110px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 42%;

        .logo {
            float: left;
            display: block;
            height: 130px;
            width: 100%;
            margin: -14px 4px 0 10px;
            background: image-url("global/logo-business.svg") transparent no-repeat 50% 50%;
            background-size: 90%;
        }

        .business {
            float: right;
            display: block;
            height: 96px;
            padding: 35px 0 0 4px;
            width: 50%;
            border-left: solid 3px white;
            color: white;
            font-size: 60px;
            font-weight: 800;
            text-transform: lowercase;
        }
    }

    .business-btn {
        position: absolute;
        top: 250px;
        left: 14px;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    
        .btn {
            margin: 0 20px;
        }
    }
}

#business-intro {
    min-height: 200px;
    padding: 80px 0 100px 0;

    p {
        width: 80%;
        margin: auto;
        text-align: center;
        font-size: 22px;
        line-height: 1.3em;
    }
}