// -------------------- CATEGORIES --------------------
#categories {
	background-color: white;
	padding-bottom: 70px;
	
	.tag-container {
		margin: auto;
		text-align: center;
		font-family: $font-family-bold;
		
		.tag-item {
			display: inline-block;
			width: auto;
			margin: 5px;
			padding: 10px 7px;
			border-radius: 8px;
			border: solid 1px $gray-border;
			background-color: white;
			color: $gray-dark;
			@include single-transition(all, .1s ease-in-out);
			&:hover {
				background-color: $gray-light;
				color: $gray-dark;
			}
		}
		
		.tag-browse-all {
			display: inherit;
			margin-top: 50px;
			color: $gray-dark;
			
			&:after {
				content:  "\2192";
				margin-left: 7px;
			}
		}
	}
}

// -------------------- PARTNER LOGO'S --------------------
#featured-on {
	background-color: $gray-medium;
	padding-bottom: 70px;
}

#press {
	padding: 3em 0;
	
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		text-align: center;
		
		li {
			margin: 0;
			padding: 0;
			background: none;
			display: inline;
			color: $gray-dark;
			text-transform: uppercase;
			
			&.press-intro {
				margin-right: 2em;
			}
		}
	}
	
}

// -------------------- IMPACT --------------------

#impact {
	position: relative;
	overflow: hidden;
	background: image-url("img/pages/home/home-members.jpg") $gray-darkest repeat 50% 50%;
	background-size: cover;
	
	.impact-tagline {
		position: relative;
		text-align: center;
		margin: 5em 0;
		
		h2 {
			color: $white;
			font-size: 2.8em;
			line-height: 2em;
			font-weight: normal;
			
			strong {
				font-weight: 400;
			}
		}
		
		.join-us {
			margin-top: 2em;
			height: 80px;
			padding-top: 20px;
		}
	}
}

// -------------------- CAMPAIGNS --------------------

#campaigns {
	background-color: $white;
	
	.all-campaigns {
		font-family: $font-family-body;
		color: $gray-dark;
		margin-left: 12px;
		
		&:after {
			content: "\2192";
			margin-left: 7px;
		}
	}
}

#home .tools {
	padding-bottom: 125px;
}