{% extends "base.mail.html" %}

{% block content %}
    Hello {{ voucher.receiver_name }},<br/><br/>
    {{ voucher.sender_name }} has sent you a <b>1%GIFTCARD</b> worth &euro;{{ voucher.amount_euro }}.<br/>
    You can pick your own project at 1%CLUB to support with this <b>1%GIFTCARD</b>.<br/>
    Click this <a href="{{ server }}/#/giftcards/redeem/{{ voucher.code }}">{{ server }}/#/giftcards/redeem/{{ voucher.code }}</a> redeem your 1%GIFTCARD and support a project.<br/>
    <br/>
    <span class="pink">YOU</span> <span class="green">MAKE IT WORK!</span>
{% endblock %}

