{% extends "admin/change_form.html" %}
{% load i18n admin_modify %}
{% load url from future %}


{% block object-tools-items %}
    <li><a href="#" id="preview-button">{% trans "Preview" %}</a></li>
    {{ block.super }}
{% endblock %}

{# override submit buttons in the admin with JavaScript, since the {% submit_row %} is inflexible. #}
{% block extrahead %}{{ block.super }}
    <script type="text/javascript">
        // *sigh* taggit-autocomplete also brings in their own jQuery
        // which is an older version that jquery.colorbox can't use.
        // Preserve that so the autocomplete still works.
        var jQuery_taggit_autocomplete = window.jQuery;
    </script>

    <style>
        #cboxOverlay {
            opacity: 0.9;
            cursor: pointer;
            display: block;
            background-color: rgb(0, 0, 0);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
        }
        #colorbox {
            background-color: #fff;
        }
        #colorbox iframe {
            width: 100%;
            height: 90%;
        }

    </style>


    <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/jquery-1.8.3.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/plugins/jquery.colorbox.js"></script>
    <script type="text/javascript">
        (function($){
            // NOTE: doesn't deal with blogs/news distinction.
            var preview_canvas_url = "{{ preview_canvas_url }}";
            var get_preview_url = "{{ get_preview_url }}";

            var $submit,
                $addanother,
                $continue,
                $statusField,
                submitValue,
                addanotherValue,
                continueValue;

            $.fn.ready(function(){
                // Fetch DOM objects
                $submit = $('.submit-row input.default');
                $addanother = $('.submit-row input[name=_addanother]');
                $continue = $('.submit-row input[name=_continue]');

                // Save original
                submitValue = $submit.val();
                addanotherValue = $addanother.val();
                continueValue = $continue.val();

                // Add preview button
                var $previewButton = $('<input type="submit" name="_preview" value="{% trans "Preview" %}"/>');
                $continue
                    .after('&nbsp;')
                    .after($previewButton)
                    .after('&nbsp;');

                // Bind events
                $("#id_status input").change(setSubmitButtonText);
                $previewButton.click(onPreviewClick);
                $("#preview-button").click(onPreviewClick);

                setSubmitButtonText();
            });

            function onPreviewClick(event) {
                event.preventDefault();

                // Perform actions that usually happen during the form submit.
                var $form = $("#content-main form");
                $form.triggerHandler('submit');

                // Save all WYSYWYG editors to the form.
                // NOTE: currently doesn't use django_wysiwyg abstraction, as it doesn't provide a .save() method.
                for(var i = 0; i < tinymce.editors.length; i++) {
                    tinymce.editors[i].save();
                }

                // Get post data after all submit handler updates
                var postdata = $form.serialize();

                $.colorbox({
                    transition: 'none',  // or fade
                    innerWidth: "800px",
                    innerHeight: "600px",
                    width: 900,
                    title: $("#id_title").val(),
                    iframe: true,
                    fastIframe: false,
                    href: preview_canvas_url,
                    onComplete: function() {
                        // Iframe with preview frame is loaded.
                        var $preview_div = $('#colorbox iframe.cboxIframe').contents().find('#preview_contents');

                    }
                });
            }

            function setSubmitButtonText() {
                if($("#id_status input[value=published]")[0].checked) {
                    showPublishedButtons();
                }
                else {
                    showDraftButtons();
                }
            }

            function showPublishedButtons() {
                $submit.val('{% trans "Publish" %}');
                $addanother.val('{% trans "Publish and add another" %}');
                $continue.val('{% trans "Publish and continue editing" %}');
            }

            function showDraftButtons() {
                $submit.val(submitValue);
                $addanother.val(addanotherValue);
                $continue.val(continueValue);
            }
        })(window.jQuery);

        window.jQuery = jQuery_taggit_autocomplete;
    </script>
{% endblock %}
