/* line 3, ../../../../bluebottle/bluebottle/common/static/sass/mixins/_ie.scss */
.account-achievements .account-achievements-projects {
  background-position-x: -40px;
}
/* line 6, ../../../../bluebottle/bluebottle/common/static/sass/mixins/_ie.scss */
.account-achievements .account-achievements-tasks {
  background-position-x: -40px;
}
/* line 9, ../../../../bluebottle/bluebottle/common/static/sass/mixins/_ie.scss */
.account-achievements .account-achievements-time {
  background-position-x: -40px;
}

/* line 19, ../../../../bluebottle/bluebottle/common/static/sass/mixins/_ie.scss */
.wall-form .tabs li > a:before, .wall-form .tabs li > span:before {
  position: inherit;
}

/* line 27, ../../../../bluebottle/bluebottle/common/static/sass/mixins/_ie.scss */
select {
  background-image: none\9\0;
}
/* line 30, ../../../../bluebottle/bluebottle/common/static/sass/mixins/_ie.scss */
select:hover, select:focus {
  background-image: none\9\0;
}

/* line 37, ../../../../bluebottle/bluebottle/common/static/sass/mixins/_ie.scss */
#card .front {
  z-index: 3000;
  position: relative;
  visibility: visible;
}
/* line 42, ../../../../bluebottle/bluebottle/common/static/sass/mixins/_ie.scss */
#card .front.slide-in-left {
  z-index: 1000;
  position: absolute;
  visibility: hidden;
}
/* line 48, ../../../../bluebottle/bluebottle/common/static/sass/mixins/_ie.scss */
#card .front.slide-out-left {
  z-index: 3000;
  position: relative;
  visibility: visible;
}
/* line 55, ../../../../bluebottle/bluebottle/common/static/sass/mixins/_ie.scss */
#card .back {
  z-index: 1000;
  position: absolute;
  visibility: hidden;
}
/* line 63, ../../../../bluebottle/bluebottle/common/static/sass/mixins/_ie.scss */
#card.flipped .front {
  z-index: 1000;
  position: absolute;
  visibility: hidden;
}
/* line 69, ../../../../bluebottle/bluebottle/common/static/sass/mixins/_ie.scss */
#card.flipped .back {
  z-index: 3000;
  position: relative;
  visibility: visible;
}
