@pink: #ffA961;
@green: #00C051;
@sepia: #ddccbb;
@font: Arial, Helvetica;
@futura: 'Futura Std Book', @font;
@mainwidth: 1024px;

body {
  background-color: #FFF;
  font-family: @font;
  padding: 0px;
  margin: 0px;
  
}

#container {
  background-color: #fff;
  width: @mainwidth;
  position: relative;
  margin: 0px auto 40px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}

#my-menu {
  position: absolute;
  right: 0px;
  top: 30px;
  font-size: 0.8em;
  padding: 4px 8px;
  border-radius: 0px 0px 0px 8px;
  background-color: @green;
  a {
    color: white;
    text-decoration: none;
  }
}

#top-menu {
  position: fixed;
  width: @mainwidth;
  top: 0px;
  background-color: @green;
  color: white;
  font-size: 0.9em;
  padding: 4px 0px; 
  font-family: @futura;
  font-weight: bold;

  ul {
    list-style: none;
    margin: 0px;
    padding: 0px 10px 0px 20px;
    li {
      float: left;
      margin: 0px;
      padding: 2px 6px 0px;
      text-indent: 0px;
    }
    li.divider {
      color: #555;
      padding: 0px;
      border-right: 1px solid white;
    }
  }
  a {
    color: white;
    text-decoration: none;
  }
}


#top-panel {
  padding: 40px 20px 10px 20px;
  height: 400px;
  .profile-image {
    border: 1px solid black;
    background-color: @sepia;
    img {
      width: 200px;
      height: 200px;
    }  
  }
}

#mid-panel {
  padding: 10px;
  background-color: #888;
  min-height: 300px;
  
}

#footer {
  padding: 10px 20px;
  background-color: @green;
  min-height: 300px;
  h3 {
    font-family: @futura;
    margin: 0px 0px 4px;
    color: white;
    
  }
  h4 {
    font-family: @futura;
    margin: 2px 0px 2px;
    color: white;
    font-size: 0.7em;
    
  }
  table.footer {
    width: 100%;
    td {
      vertical-align: top;
      width: 25%;
    }
  }
}

h1 {
  font-family: @font;
  margin: 0px;
  padding: 4px;
  font-size: 1.4em;
}
 
