/*
.not-implemented {
  color: rgba(0, 0, 255, 0.5) !important;
  background-color: #ddf !important;
  /*display: none;*/
}
.not-implemented * {
  color: rgba(0, 0, 255, 0.5) !important;
  background-color:  #ddf !important;
  /*display: none;*/
}
*/
