/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* =========== Print */
/* line 7, ../sass/print.scss */
* {
  background: transparent !important;
  color: black !important;
  text-shadow: none !important;
  filter: none !important;
  -ms-filter: none !important;
}

/* Black prints faster: h5bp.com/s */
/* line 8, ../sass/print.scss */
a, a:visited {
  text-decoration: underline;
}

/* line 9, ../sass/print.scss */
a[href]:after {
  content: " (" attr(href) ")";
}

/* line 10, ../sass/print.scss */
abbr[title]:after {
  content: " (" attr(title) ")";
}

/* line 11, ../sass/print.scss */
.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
  content: "";
}

/* Don't show links for images, or javascript/internal links */
/* line 12, ../sass/print.scss */
pre, blockquote {
  page-break-inside: avoid;
}

/* line 13, ../sass/print.scss */
thead {
  display: table-header-group;
}

/* h5bp.com/t */
/* line 14, ../sass/print.scss */
tr, img {
  page-break-inside: avoid;
}

/* line 15, ../sass/print.scss */
img {
  max-width: 100% !important;
}

@page {
  margin: 2cm;
}

/* line 17, ../sass/print.scss */
p, h2, h3 {
  orphans: 3;
  widows: 3;
}

/* line 18, ../sass/print.scss */
h2, h3 {
  page-break-after: avoid;
}
