/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* =========== Print */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/gannetson\/Projects\/onepercentclub-site\/static\/global\/sass\/print\.scss}line{font-family:\000037}}
* {
  background: transparent !important;
  color: black !important;
  text-shadow: none !important;
  filter: none !important;
  -ms-filter: none !important;
}

/* Black prints faster: h5bp.com/s */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/gannetson\/Projects\/onepercentclub-site\/static\/global\/sass\/print\.scss}line{font-family:\000038}}
a, a:visited {
  text-decoration: underline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/gannetson\/Projects\/onepercentclub-site\/static\/global\/sass\/print\.scss}line{font-family:\000039}}
a[href]:after {
  content: " (" attr(href) ")";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/gannetson\/Projects\/onepercentclub-site\/static\/global\/sass\/print\.scss}line{font-family:\0000310}}
abbr[title]:after {
  content: " (" attr(title) ")";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/gannetson\/Projects\/onepercentclub-site\/static\/global\/sass\/print\.scss}line{font-family:\0000311}}
.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
  content: "";
}

/* Don't show links for images, or javascript/internal links */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/gannetson\/Projects\/onepercentclub-site\/static\/global\/sass\/print\.scss}line{font-family:\0000312}}
pre, blockquote {
  page-break-inside: avoid;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/gannetson\/Projects\/onepercentclub-site\/static\/global\/sass\/print\.scss}line{font-family:\0000313}}
thead {
  display: table-header-group;
}

/* h5bp.com/t */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/gannetson\/Projects\/onepercentclub-site\/static\/global\/sass\/print\.scss}line{font-family:\0000314}}
tr, img {
  page-break-inside: avoid;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/gannetson\/Projects\/onepercentclub-site\/static\/global\/sass\/print\.scss}line{font-family:\0000315}}
img {
  max-width: 100% !important;
}

@page {
  margin: 2cm;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/gannetson\/Projects\/onepercentclub-site\/static\/global\/sass\/print\.scss}line{font-family:\0000317}}
p, h2, h3 {
  orphans: 3;
  widows: 3;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/gannetson\/Projects\/onepercentclub-site\/static\/global\/sass\/print\.scss}line{font-family:\0000318}}
h2, h3 {
  page-break-after: avoid;
}
