/*
Syntax error: File to import not found or unreadable: icons/icons-sprites.
              Load paths:
                /Users/franstwisk/Dropbox/Repositories/1procentclub/static/global/sass
                /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/blueprint/stylesheets
                /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets
                /Users/franstwisk/Dropbox/Repositories/1procentclub/env/src/bluebottle/bluebottle/common/static/sass
                Compass::SpriteImporter
        on line 24 of /Users/franstwisk/Dropbox/Repositories/1procentclub/static/global/sass/screen.scss

Backtrace:
/Users/franstwisk/Dropbox/Repositories/1procentclub/static/global/sass/screen.scss:24
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/sass/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/sass/lib/sass/tree/import_node.rb:45:in `import'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/sass/lib/sass/tree/import_node.rb:28:in `imported_file'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/sass/lib/sass/tree/import_node.rb:37:in `css_import?'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/sass/lib/sass/tree/visitors/perform.rb:217:in `visit_import'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/sass/lib/sass/tree/visitors/base.rb:37:in `visit'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/sass/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/sass/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/sass/lib/sass/tree/visitors/base.rb:53:in `map'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/sass/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/sass/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/sass/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/sass/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/sass/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/sass/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/sass/lib/sass/tree/visitors/base.rb:37:in `visit'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/sass/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/sass/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/sass/lib/sass/tree/root_node.rb:20:in `render'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/sass/lib/sass/engine.rb:315:in `_render'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/sass/lib/sass/engine.rb:262:in `render'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/lib/compass/compiler.rb:126:in `timed'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/lib/compass/compiler.rb:139:in `block in compile'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/lib/compass/logger.rb:45:in `red'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/lib/compass/compiler.rb:138:in `compile'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/lib/compass/compiler.rb:118:in `compile_if_required'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/lib/compass/compiler.rb:101:in `each'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/lib/compass/compiler.rb:101:in `block in run'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/lib/compass/compiler.rb:126:in `timed'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/lib/compass/compiler.rb:100:in `run'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/lib/compass/commands/update_project.rb:45:in `perform'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/lib/compass/commands/base.rb:18:in `execute'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/lib/compass/commands/project_base.rb:19:in `execute'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/bin/compass:30:in `block in <main>'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/bin/compass:44:in `call'
/Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/bin/compass:44:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: icons/icons-sprites.\A               Load paths:\A                 /Users/franstwisk/Dropbox/Repositories/1procentclub/static/global/sass\A                 /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/blueprint/stylesheets\A                 /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets\A                 /Users/franstwisk/Dropbox/Repositories/1procentclub/env/src/bluebottle/bluebottle/common/static/sass\A                 Compass::SpriteImporter\A         on line 24 of /Users/franstwisk/Dropbox/Repositories/1procentclub/static/global/sass/screen.scss"; }
