.results {
    @include grid(48,0, 0);
    .item {
        @include rem (margin-top, 8px);
        @include rem (margin-bottom, 8px);
        @include grid(16, 0, 1);
        border: 1px solid $black;
        display: inline-block;


        h3 {
            margin: 0px;
            background-color: $green;
            color: white;
            padding: 8px;
            @include rem(font-size, 12px);
            @include rem(line-height, 14px);
            text-transform: uppercase;
        }
        .content {
            background: rgba(0, 0, 0, 0.8);
            color: white;
            @include rem (height, 60px);
            text-transform: uppercase;
            overflow: hidden;
            @include rem (padding, 8px);
        }
        .status {
            color: $grayDark;
            background-color: $white;
            text-transform: uppercase;
            @include rem (padding, 8px);
        }
        .footer {
            background-color: $color-back;
            color: $gray;
            ul {
                list-style: none;
                text-indent: 0px;
                margin: 0px;
                @include rem (padding, 8px);
                li {
                    margin: 2px;
                }
            }
        }
    }
}

.search-form {
    padding-top: 8px;
    .control {
        @include grid(12,0,1);
        .icon {
            background-color: $grayLight;
            color: $grayDarker;
            font-size: 22px;
            display: block;
            padding: 9px;
            @include grid(7,0,0);

        }
        input, select {
            @include grid(40,0,0);
            text-transform: uppercase;
            &:placeholder {
                text-transform: uppercase;
            }
        }
    }
}