/* =========== Typography */

.left { float: left; }
.right { float: right; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.nowrap { white-space: nowrap; }

@font-face {
  font-family: 'Futura Alt';
  src: url('../fonts/futura-alt-book-webfont.eot');
  src: url('../fonts/futura-alt-book-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/futura-alt-book-webfont.woff') format('woff'),
       url('../fonts/futura-alt-book-webfont.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Futura Alt';
  src: url('../fonts/futura-alt-heavy-webfont.eot');
  src: url('../fonts/futura-alt-heavy-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/futura-alt-heavy-webfont.woff') format('woff'),
       url('../fonts/futura-alt-heavy-webfont.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Futura Alt';
  src: url('../fonts/futura-alt-bold-webfont.eot');
  src: url('../fonts/futura-alt-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/futura-alt-bold-webfont.woff') format('woff'),
       url('../fonts/futura-alt-bold-webfont.ttf') format('truetype');
  font-weight: 600;
}

body {
  line-height: 1.4;
}  

h1, h2, h3, h4, h5, h6 {

  @include rem(padding, 32px 0 8px 0); 
  line-height: 1;
  
  &.soft {
    color: lighten($black, 50%);
  }
}

h1 { 
    @include rem(font-size, 30px);
    text-transform: uppercase;
    font-weight: 600;
    &.pink {
        color: $pink;
    }
}

.main-title  {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.big-text {
    @include rem(font-size, 30px);
}

h2 { 
    @include rem(font-size, 26px);
    text-transform: uppercase;
    font-weight: 600;
}

h2.green {
   color: $green;
}

h3 { 
    @include rem(font-size, 24px); 
}

h3.green {
    @include rem(font-size, 22px);
    text-transform: uppercase;
    font-weight: 600;
    color: $green;
}

h4 { 
    @include rem(font-size, 18px);
    @include rem(padding, 4px 0 4px 0);
    font-weight: 300;
}

h5 { @include rem(font-size, 16px); }

.tagline {

    color: $green;
    text-align: center;
    
    em {
        color: $pink;
        font-weight: 600;
        font-style: normal;
    }
    
    @include rem(font-size, 48px);
    line-height: 1.2em;
    @include rem(margin, 64px 0);
}

p { 
    margin-bottom: $margin; 
    &.lead { 
        font-weight: 300;
    }
}

a { 
    color: $green; 
    text-decoration: none; 
    //@include transition(color 0.1s ease-in, color 0.25s ease-out);
 
    &:hover { 
        color: $pink;
    }
    
    &:active {
        color: $pink;
        position: relative;
        top: 1px;
    }
    
}

small { font-size: 0.85em; color: lighten($black, 50%); }

em { font-style: italic; }

strong { font-weight: 300; }

code, pre { font-family: 'courier new', monospace; }

abbr { border-bottom: 1px dotted lighten($black, 50%); }

del { text-decoration: line-through; }

mark { background-color: lighten(yellow, 35%); }

hr { 
    background-color: transparent; 
    border: solid darken($white, 25%);
    border-width: 1px 0 0; 
    clear: both; 
    margin: $padding*2 0 0 0;
    padding: 0; 
}

blockquote { 
    color: lighten($black, 25%);
    font-style: italic; 
    
    cite {
        color: lighten($black, 35%);
        display: block;
        font-size: 0.85em;
        &:before {  content: "\2014 \0020"; }
    }
}

figure {
    display: inline-block;
    max-width: 100%;
    img { 
        display: block;
        width: 100%;
    }
    figcaption {
        color: blue;
    }
}

ul, ol { margin: 0 0 $margin 1.5em; }
ul.list li:before {
    margin-right: 1.5em;
    font-family: 'Flaticons Solid';
    color: $gray;
    content: "\e1c3";
}
ol { list-style: decimal; }

dl {
    margin-bottom: $margin;
    dt { font-weight: bold; }
    dd { margin-left: $margin; }
    &.advanced {
        dt { @include grid(16, 0, 1); }
        dd { @include grid(32); }
    }
}