//
// Reusable mixin's & classes for rapid development
// --------------------------------------------------

@mixin clear {
    &:after, &:before {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
    & {
        *zoom: 1;
    }
}

@mixin resetlist {
    padding-left: 0;
    text-indent: 0;
    background-image: none;
    margin-bottom: 0;
    margin-top: 0;
    list-style: none;
}

@mixin allowmanage {
    position: relative;
    
    .manage-edit, .manage-delete {
        
        strong {
            display: none;
        }
    }

    .manage-edit {
        display: none;
    }

    .manage-delete {
        cursor: pointer;
        display: none;
        z-index: 5;
        position: absolute;
        top: -30px;
        right: -30px;
        padding: 20px;
        color: $gray-darker;
        text-decoration: none;
        
        &:hover {
            color: $color-primary;
        }
        
        &:active {
            color: $color-primary;
        }
    }
        
    
    &:hover {
    
        .manage-delete {
            display: block;
        }
        
    }
}