<div class="widget">
	<h3 class="light">Crowdfunding needed</h3>

	<div class="progressbar">
		<div class="donated-text" style="margin-left: 0px; opacity: 1; ">
			Now: <b>&euro;<span class="donated-amount">{{ project.money_donated }}</span></b>					
		</div>
		<div class="asked-bar">
			<div class="donated-bar" style="width:0px; "></div>
		</div>
		<div class="asked-text">
			Needed: <b>&euro;<span class="asked-amount">{{ project.money_asked }}</span></b>
		</div>
	</div>	
	<h3 class="link"><div class="icon love"></div>Support this Project</h3>
</div>