/* ========================= Variables ================================== */

// Grays
// --------------------------------
$black:                     #000000;
$grayDarker:                #444444;
$grayDark:                  #666666;
$gray:                      #999999;
$grayLight:                 #cccccc;
$grayLighter:               #eeeeee;
$white:                     #ffffff;

// Accent colors
// --------------------------------
$green:                     #00c051;
$pink:                      #ff619a;

$color-brand:               #0e8a41;
$color-error:               #b84040;
$color-success:             #5DA423;

$color-deselect:            #bfbfbf;
$color-back:                #e9e9e9;

// Overwrites | TODO: Use one variable name
// --------------------------------
$text-black:                $grayDarker;
$heading-black:             #222222;

$light-grey:                #e9e9e9;
$mid-grey:                  $gray;
$text-grey:                 $grayLight;

$text-white:                #f4f4f4;


// Typography
// --------------------------------
$font-family:               'Futura Alt', 'Trebuchet MS', Helvetica, Arial, sans-serif;
$alt-font-family:           'Trebuchet MS', Helvetica, Arial, sans-serif;

$font-size:                 14px;

// Forms
// --------------------------------
$inputBackground:           $white;
$inputBorder:               #bcbcbc;
$inputDisabledBackground:   $color-back;
$formBackground:            $color-back;

// Buttons
// ---------------------------------
$btnBorderDarkenPercentage: 5%;

// Grid
// ---------------------------------
$grid-columns:              48;
$min-width:                 980px;
$max-width:                 1140px;

// Component sizing
// ---------------------------------

$fontSizeLarge:             $font-size * 1.57;  // ~22px
$fontSizeSmall:             $font-size * 0.85;  // ~12px

$margin:                    1.25em;
$padding:                   16px;


// Icons
// ----------------------------------
$icons:                     sprite-map("sprites/icons/*.png", $spacing: 20px);
