/* ========================= Variables ================================== */


// Grays
// --------------------------------
$black:								#000 !default;	
$gray-darkest:						#222 !default;		
$gray-darker:						#444 !default;
$gray-dark:							#666 !default;
$gray:								#999 !default;
$gray-light:						#ccc !default;
$gray-lighter:						#e9e9e9 !default;
$white:								#fff !default;


// Colors
// --------------------------------
$color-primary:						#ff619a !default; // pink
$color-secondary:					#00c051 !default; // green

$color-error:						#b84040 !default;
$color-success:						#5da423 !default;
$color-deselect:					#bfbfbf !default;


// Typography
// --------------------------------
$font-family:						'Futura W01 Book', 'Trebuchet MS', Helvetica, Arial, sans-serif;
$font-family-heavy:					'Futura W02 Heavy', 'Trebuchet MS', Helvetica, Arial, sans-serif;			
$font-family-bold:					'Futura W01 Bold', 'Trebuchet MS', Helvetica, Arial, sans-serif;
	
//$font-family-small:					'Trebuchet MS', Helvetica, Arial, sans-serif;

$base-font-size:					1em !default;
$base-font-family:					$font-family !default;
$base-line-height:					1.5em !default;


// Scaffolding
// --------------------------------
$body-background:					$white !default;
$color-heading:						$gray-darker !default; // use for text headings
$color-text:						$gray-darker !default; // use for text body
$color-text-light:					#f4f4f4 !default; // use for text on dark


// Links
// --------------------------------
$color-link:						$color-secondary !default;
$color-link-hover:					$color-primary !default;


// Forms
// --------------------------------
$input-background:					$white !default;
$input-border:						#bcbcbc !default;
$input-disabled-background: 		$gray-lighter !default;
$form-background:					$gray-lighter !default;


// Buttons
// ---------------------------------



// Grid
// ---------------------------------
$grid-columns:						48 !default;
$min-width:							980px !default;
$max-width:							1200px !default;


// Component sizing
// ---------------------------------
$font-size-largest:					$base-font-size * 2.5 !default;
$font-size-larger:					$base-font-size * 1.75 !default;
$font-size-large:					$base-font-size * 1.25 !default;
$font-size-medium:					$base-font-size * 1.225 !default;
$font-size-small:					$base-font-size * 0.875 !default;
$font-size-smallest:				$base-font-size * 0.75 !default;

$base-margin:						1em !default;
$base-padding:						1em !default;


// Icons
// ----------------------------------
$icons:								sprite-map("sprites/icons/*.png", $spacing: 30px) !default;
