/*
Syntax error: Invalid CSS after "elements-of-type": expected selector, was "(html5-block)"
        on line 116 of compass/reset/_utilities.scss, in `reset-html5'
        from line 34 of compass/reset/_utilities.scss, in `global-reset'
        from line 3 of compass/_reset.scss
        from line 10 of screen.scss

Backtrace:
compass/reset/_utilities.scss:116:in `reset-html5'
compass/reset/_utilities.scss:34:in `global-reset'
compass/_reset.scss:3
screen.scss:10
/var/lib/gems/1.9.1/gems/sass-3.2.8/lib/sass/scss/parser.rb:1148:in `expected'
/var/lib/gems/1.9.1/gems/sass-3.2.8/lib/sass/scss/parser.rb:1084:in `expected'
/var/lib/gems/1.9.1/gems/sass-3.2.8/lib/sass/scss/static_parser.rb:21:in `parse_selector'
/var/lib/gems/1.9.1/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:314:in `visit_rule'
/var/lib/gems/1.9.1/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:37:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:100:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:268:in `block (3 levels) in visit_mixin'
/var/lib/gems/1.9.1/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:268:in `map'
/var/lib/gems/1.9.1/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:268:in `block (2 levels) in visit_mixin'
/var/lib/gems/1.9.1/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/var/lib/gems/1.9.1/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:268:in `block in visit_mixin'
/var/lib/gems/1.9.1/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:70:in `perform_arguments'
/var/lib/gems/1.9.1/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:263:in `visit_mixin'
/var/lib/gems/1.9.1/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:37:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:100:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:268:in `block (3 levels) in visit_mixin'
/var/lib/gems/1.9.1/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:268:in `map'
/var/lib/gems/1.9.1/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:268:in `block (2 levels) in visit_mixin'
/var/lib/gems/1.9.1/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/var/lib/gems/1.9.1/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:268:in `block in visit_mixin'
/var/lib/gems/1.9.1/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:70:in `perform_arguments'
/var/lib/gems/1.9.1/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:263:in `visit_mixin'
/var/lib/gems/1.9.1/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:37:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:100:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:227:in `block in visit_import'
/var/lib/gems/1.9.1/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:227:in `map'
/var/lib/gems/1.9.1/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:227:in `visit_import'
/var/lib/gems/1.9.1/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:37:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:100:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/var/lib/gems/1.9.1/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:53:in `map'
/var/lib/gems/1.9.1/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/var/lib/gems/1.9.1/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/var/lib/gems/1.9.1/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/var/lib/gems/1.9.1/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/var/lib/gems/1.9.1/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/var/lib/gems/1.9.1/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/var/lib/gems/1.9.1/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:37:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:100:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:7:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.2.8/lib/sass/tree/root_node.rb:20:in `render'
/var/lib/gems/1.9.1/gems/sass-3.2.8/lib/sass/engine.rb:315:in `_render'
/var/lib/gems/1.9.1/gems/sass-3.2.8/lib/sass/engine.rb:262:in `render'
/var/lib/gems/1.9.1/gems/sass-3.2.8/lib/sass/plugin/compiler.rb:341:in `update_stylesheet'
/var/lib/gems/1.9.1/gems/sass-3.2.8/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.2.8/lib/sass/plugin/compiler.rb:201:in `each'
/var/lib/gems/1.9.1/gems/sass-3.2.8/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.2.8/lib/sass/plugin.rb:81:in `update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.2.8/lib/sass/exec.rb:432:in `watch_or_update'
/var/lib/gems/1.9.1/gems/sass-3.2.8/lib/sass/exec.rb:315:in `process_result'
/var/lib/gems/1.9.1/gems/sass-3.2.8/lib/sass/exec.rb:41:in `parse'
/var/lib/gems/1.9.1/gems/sass-3.2.8/lib/sass/exec.rb:21:in `parse!'
/var/lib/gems/1.9.1/gems/sass-3.2.8/bin/scss:9:in `<top (required)>'
/usr/local/bin/scss:23:in `load'
/usr/local/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"elements-of-type\": expected selector, was \"(html5-block)\"\A         on line 116 of compass/reset/_utilities.scss, in `reset-html5'\A         from line 34 of compass/reset/_utilities.scss, in `global-reset'\A         from line 3 of compass/_reset.scss\A         from line 10 of screen.scss"; }
