/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

/* ========================= Includes ============================= */


/* Compass */
@import "compass/utilities";
@import "compass/reset";
@import "compass/css3";

/* Variables & Mixins */
@import "1procentclub/variables"; /* 1%Club overrides */
@import "variables";
@import "mixins/grid";
@import "mixins/campaigns-grid";
@import "mixins/utilities";
@import "mixins/keyframes";
@import "mixins/animations";
@import "mixins/forms_mixin";

/* Icons */
@import "icons/flaticons-social";
@import "icons/flaticons-solid";
@import "icons/flaticons-stroke";
@import "icons/icons-sprites";

// New sass icons
@import "new-sass/mixins/bb-icons";

/* Base */
@import "base/reset";
@import "base/base";
@import "base/type";
@import "base/media";
@import "states/states";


/* Main Layout */
@import "layout/layout";
//@import "layout/header";
//@import "layout/footer";
@import "base/forms";
@import "base/buttons";
@import "base/tabs";
@import "base/modals";
@import "base/tables";
@import "base/popovers";
@import "base/dropdowns";


/* Modules */
@import "modules/tooltip-new";
@import "modules/accounts";
@import "modules/carousel";
//@import "modules/members";
@import "modules/projects";
//@import "modules/wallposts";
//@import "modules/reactions";
@import "modules/tasks";
//@import "modules/share";
@import "modules/project-iframe";
//@import "modules/owner-actions";
@import "modules/maps";
@import "modules/modal";
// @import "modules/image-upload";
// @import "modules/document-upload";

/* New sass modules */
@import "new-sass/modules/donate";
@import "new-sass/modules/payment";
// @import "new-sass/modules/share";
@import "new-sass/modules/video";

/* Pages */
//@import "pages/home";
@import "pages/static";
@import "pages/static-onepage";
@import "pages/campaign-create";
@import "pages/signup";
@import "pages/search";
//@import "pages/project-detail";
//@import "pages/project-detail-fundraiser";
//@import "pages/task-detail";
@import "pages/fund";
@import "pages/fund-thanks";
@import "pages/profile";
@import "pages/account";
@import "pages/news";
@import "pages/manage";
@import "pages/fmo";

/* Temp */
// @import "campaigns/crazy-campaign-2013";
@import "campaigns/easter_eggs";
// @import "campaigns/ticker";

/* Plugins */
@import "plugins/jquery-ui";
@import "plugins/colorbox";
@import "plugins/jslider";

/* Version 1 - 1%Club */
@import "1procentclub/base/tabs";
@import "1procentclub/layout/header";
@import "1procentclub/modules/projects";
//@import "1procentclub/modules/donations";
@import "1procentclub/pages/account";
@import "1procentclub/pages/profile";
@import "1procentclub/modules/tasks";
@import "1procentclub/pages/cheetah-project-detail";

/* Version 2 */
@import "compass/css3/transition";
// @import "blueprint/grid";
@import "compass/layout/sticky-footer";

/* Mixins */;
@import "1procentclub-v2/mixins/breakpoints";
@import "1procentclub-v2/mixins/grid";

@import "1procentclub-v2/variables";
@import "1procentclub-v2/base/base";
@import "1procentclub-v2/layout/global";
@import "1procentclub-v2/layout/header";
@import "1procentclub-v2/layout/footer";
@import "1procentclub-v2/modules/campaigns";
@import "1procentclub-v2/modules/carousel";
@import "1procentclub-v2/modules/tools";
@import "1procentclub-v2/modules/start-campaign";
@import "1procentclub-v2/modules/quote-carousel";
@import "1procentclub-v2/pages/partner";
@import "1procentclub-v2/modules/donate";

@import "1procentclub-v2/pages/business-header";
@import "1procentclub-v2/pages/business-corporate";
@import "1procentclub-v2/pages/business-tools";
@import "1procentclub-v2/pages/business-inspired";
@import "1procentclub-v2/pages/business-contact";
@import "1procentclub-v2/pages/business-block";

@import "1procentclub-v2/pages/howto-header";
@import "1procentclub-v2/pages/howto-slider";

@import "1procentclub-v2/pages/home";
@import "1procentclub-v2/pages/about";
@import "1procentclub-v2/pages/business";
@import "1procentclub-v2/pages/howto-canvas";
@import "1procentclub-v2/pages/howto-crowfundtools";
@import "1procentclub-v2/pages/howto-video";

/* Cheetah fund version */
@import "cheetah/variables";
@import "cheetah/layout/base";
@import "cheetah/layout/header";
@import "cheetah/modules/video";
@import "cheetah/modules/quiz";
@import "cheetah/modules/getfunded";
@import "cheetah/modules/faq";
@import "cheetah/modules/about";
@import "cheetah/modules/areyou";
@import "cheetah/modules/earmark";
@import "cheetah/modules/running-campaign";
@import "cheetah/modules/campaigns";
@import "cheetah/modules/partner-info";
@import "cheetah/modules/partner-projects-list";
@import "cheetah/modules/mpesa";