{% load i18n bb_ember static %}

{% tplhandlebars "paymentSignup" %}

    {{#if currentUser.isAuthenticated}}
        <div class="l-content">
            <form>
                <legend>
                    <strong>{% trans "We'll keep you up to date!" %}</strong>
                    <p>{% blocktrans %}You already have an account. Great! We'll keep you updated with the progress of the projects you support{% endblocktrans %}.<br /></div>

                </legend>
            </form>
            {{#linkTo 'paymentSelect'}}
                <button class="btn btn-primary btn-iconed btn-next"><em class="flaticon solid right-2"></em>{% trans "Next" %}</button>
            {{/linkTo}}
        </div>
    {{else}}
        <div class="l-content">

            <a {{action openInBox "login"}} class="btn-login"><span class="flaticon solid lock-1"></span> <strong>{% trans "Have an account?" %}</strong><br /> {%  trans "Log in here" %}</a>

            <form>
                <legend>
                    <strong>{% trans "Your name with your donation?" %}</strong>
                    <p>{% trans "SCreate an account with just one click." %}.</p>
                </legend>
                <fieldset>
                    <ul>
                        <li class="control-group">
                            <div class="half">
                                <button {{action openInBox "signup"}} class="btn btn-iconed">
                                    <span class="flaticon social facebook-1"></span>{% trans "Sign up" %}
                                </button>
                                <ul class="bullets">
                                    <li>
                                        {% trans "We'll keep you updated on the campaign process" %}
                                    </li>
                                    <li>
                                        {% trans "One Click sign up via Facebook or just with your email address." %}
                                    </li>
                                    <li>
                                        {% trans "Faster future donations." %}
                                    </li>
                                    <li>
                                        {% trans "Keep track of all of your donations." %}
                                    </li>
                                </ul>
                            </div>
                            <div class="half">
                                <button {{action "nextStep"}} class="btn btn-iconed btn-skip">
                                    <span class="flaticon solid right-2"></span>{% trans "Continue as guest" %}
                                </button>
                                <ul class="bullets">
                                    <li>
                                        {% trans "Stay anonymous" %}
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </fieldset>
            </form>
        </div>

        <div class="l-sidebar">

        </div>
    {{/if}}

{% endtplhandlebars %}
