{% load i18n bb_ember static %}


{% tplhandlebars "userOrders" %}
<section class="wrapper">
    <div class="content">

        <div class="order-history lined-list">
            <h2 class="form-summary">{% trans "Order History" %}</h2>
            {{#if closedOrders.isLoaded }}
                <ul>
                    {{#each order in closedOrders}}
                        <li>
                            <small>{{localize order.created formatting='d'}}</small>
                            {{#if order.recurring }} {% trans "Monthly Donation" %} {{ else }} {% trans "Single Donation" %} {{/if}} <strong> &euro;{{ order.total }},-</strong>
                            <ul class="order-donations">
                                {{#each donation in order.donations}}
                                    <li>
                                        <a {{action showProject donation.project.id}}>
                                            {{donation.project.title}}
                                        </a>
                                        <small> &euro;{{ donation.amount }},-</small>
                                    </li>
                                {{/each}}
                            </ul>
                        </li>
                    {{/each}}
                </ul>
            {{else}}
                <span class="loading-small"><img src="{% get_static_prefix %}images/loading.gif" /> {% trans "Loading order history" %}</span>
            {{/if}}
        </div>
    </div>
</section>

{% endtplhandlebars %}