//
// Header & main navigation
// --------------------------------------------------

#header {
	@include clear;
	@include transition(background 0.2s ease-out);
	background-color: $black;
	box-shadow: inset 0 -1px 0 0 #393939
}

#logo {
    @include grid(6,1,0);
    
    .logo-link {
	    display: block;
        padding: $base-padding*1.2 0 0 0;
        
	    // Fix for making linkable
	    object {
		    pointer-events: none;
	    }
	   
	    .logo-image {
	    	display: block;
		    width: 60%;
		    height: auto;
	    }
	    
	    .logo-subtitle {
		    display: none;
	    }
	    
        &:hover {
            //@include opacity(1);
        }
    }
    
}

// Main navigation
// -------------------------

#nav {
    @include clear;
	text-transform: uppercase;
	
    ul, li {
    	margin: 0;
        padding: 0;
        list-style: none;
        background-image: none;
    }
	
	.nav-main {
	    @include grid(26,0,0);
	    text-align: center;
	    
	    > li {
	        display: inline;
	    }
	    
	    > li a, > li a:visited {
	        @include transition(all 0.2s ease-in);
			margin: $base-padding 0 0 0;
			padding: $base-padding 2% $base-padding*2 2%;
	        white-space: nowrap;
	        color: #bfbfbf;
            font-family: $font-family-bold;
		    display: inline-block;
		    text-align: center;
		    text-decoration: none;
		    border: 1px solid $black;
		    border-bottom-color: #393939;
		
		    &:hover, &:active, &.is-active {
		        border-color:  #393939;
		        border-bottom-color: $gray-darkest;
		        color: $white;
		        background-color: $gray-darkest;
		    }
	    }
	}
	
	.nav-actions {
	    @include grid(16,0,1);
	    color: $white;
				
		.nav-signup-login {
	        padding: $base-margin*2 0 0 0;
		    float: left;
			text-align: left;
			color: $color-deselect;
			white-space: nowrap;
				
			a {
			    padding: $base-padding/4 $base-padding/2;
				margin: 0 $base-margin/2;
				text-decoration: none;
			    font-family: $font-family-heavy;
			    
				&:hover, &:active, &.is-active {
	            	color: $color-text;
	            	background-color: $white;
				}
			}
			
			.nav-signup {
				color: $white;
                background-color: $color-primary;
			}
			
			.nav-login {
				color: $white;
                background-color: $color-secondary;
			}
			
		}
		
	    .nav-language {	
        	padding: $base-margin*2.1 0 0 0;
        	
        	li {
        		display: inline;
        		text-align: right;
        		font-size: $font-size-smallest;
        		
        		a {
        			width: auto;
            		display: inline-block;
            		float: none;
            		float: right;
            		margin: 0 $base-margin/6;
            		padding: $base-padding/6 $base-padding/2;
            		border: 1px solid transparent;
            		color: $gray-light;
            		text-decoration: none;
            		
            		&:hover, &:active {
                		color: $white;
                		border-color: $white;
            		}
        		}
        		
                &.active a {
                    color: $black;
                    background-color: $gray-light;
                    
                    &:hover, &:active {
                		background-color: $white;
            		}
                }
            }
        }

	    .nav-member {
	        position: relative;
    	    height: 2em;
    	    margin: $base-margin*1.8 0 0 0;
    	    float: right;
    	    font-family: $font-family-bold;
    	    
			.nav-member-dropdown {
				position: relative;
				z-index: 999;
				display: inline-block;
				color: $white;
				margin: 0;
                padding: 0 16px 0 0;
                background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAJCAYAAADpeqZqAAAAb0lEQVQoz2NgaDVngOJwIA5F4iNjWyBugPOhjGAg/gPFoVg0fAbi/0BcBdPkCsQ/oYL/0TQia4DhZJCEKBBfQJMAaWzCouExECvDnIBN43+sGpD8REgjQgOaJlwaUTVg0YSuEVMDDk0wjVuxagBiAFeciJvQD09BAAAAAElFTkSuQmCC') $color-secondary no-repeat 90% 50%;
                
		        img {
		        	width: 2em;
					height: 2em;
					float: left;
					vertical-align: top;
		            border-width: 0 1px 1px 0;
		            border-style: solid;
		            border-color: $black;
		        }
		
		        strong {
		        	display: inline-block;
					padding: $base-margin/4 $base-padding;
		        }
			}
	
		    .nav-member-dropdown-menu {
		    	display: none;
		        position: absolute;
		        z-index: 998;
		        top: 2em;
		        right: -2px;
		        width: 16em;
		        margin-top: -2px;
		    	font-family: $font-family-heavy;
		        background-color: $white;
		        border-width: 2px 2px 1px 2px;
		        border-style: solid;
		        border-color: $color-secondary;
		        
		        > li {
		            font-size: $font-size-small;
		            
			        > a {
				        display: block;
				        padding: $base-padding/2;
				        border-bottom: 1px solid $color-secondary;
				        color: $gray-darker;
				        text-decoration: none;
				        
				        &:hover {
					        color: $color-secondary;
				        }
			        }
			        
		        }
		        
		        .nav-member-switch-language {
			    	color: $white;
			    	font-weight: normal;
			    	background: $color-secondary;
			    	padding: $base-padding/2;
			    	
			    	.nav-language {
    			    	display: inline;
    			    	
    			    	    li {	
            			    	
                    		a {
                    			color: $white;
                        		
                        		&:hover, &:active {
                            		color: $black;
                            		border-color: $black;
                        		}
                    		}
                    		
                            &.active a {
                                color: $color-secondary;
                                background-color: $white;
                                
                                &:hover, &:active {
                            		background-color: $black;
                        		}
                            }
        		    	}
    		    	}
                } 
		    }
		    
		    &:hover {
			    
			    .nav-member-dropdown img {
    			    border-color: $color-secondary;
			    }
			    
			 	.nav-member-dropdown {
		        	background-color: $white;
		        	color: $gray-darker;
					height: 34px;
					
					position: relative;
					right: -2px;
					top: -2px;
					
					border-width: 2px 2px 0 2px;
					border-style: solid;
					border-color: $color-secondary;
					
					.flaticon {
						color: $color-secondary;
					}
				}
								
	        	.nav-member-dropdown-menu {
			    	display: block !important;
				}
	        }
		}
		
		.nav-cart {
	    	display: block;
	        margin: $base-margin*1.8;
	        
	        .nav-cart-count {
		        display: inline-block;
		        width: 1.5em;
		        height: 1.5em;
		        line-height: 1.5em;
		        background: $color-primary;
		        color: $white;
		        text-align: center;
		        @include border-radius(1.5em);
			}
	        
	        a {
	        	display: inline-block;
		    	color: $color-primary;
				padding: 0.2em 0;
				text-decoration: none;
				font-family: $font-family-heavy;
				
				&:hover, &:active {
					color: $white;
					
					.nav-cart-count {
					}
				}
	        }
	    }
	}
}
