//
// Modals
// --------------------------------------------------

// Background
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background-color: $black;
    @include opacity(0.85);
}


// The modal
.modal {
    position: fixed;
    top: 10%;
    left: 50%;
    z-index: 1001;
    width: 560px;
    margin-left: -280px;
    background-color: $white;
    padding: 0;
    outline: none;

    &.large {
        width: 600px;
        margin-left: -300px;
        
        .modal-body {
            max-height: 90%;
        }
    }
}

.modal-header, .modal-body, .modal-footer {
    padding: $base-padding $base-padding*2;
}

.modal-close, .modal .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: $base-padding/4 $base-padding/2;
    color: $gray;
    background-color: $gray-lighter;
    text-decoration: none;
    font-size: 2em;
    height: 1.5em;
    
    &:hover, &:active {
        position: absolute;
        top: 0;
        color: $gray-dark;
    }
}

.modal-header {
    
    .modal-title, h3 {
        font-size: $font-size-larger;
        color: $color-primary;
    }
}

.modal-body {
    position: relative;
    overflow-y: auto;
    max-height: 400px;
    
    // Reset form margins
    form, fieldset, legend {
        padding: 0;
        margin: 0;
        background: none;
    }
    
    .control-label {
        @include grid(16,0,0);
        
        &.wide {
            width: 100% !important;
            margin: 0 !important;
        }
    }
    
    .controls {
        @include grid(32,0,0);
        
        &.wide {
            width: 100% !important;
            margin: 0 !important;
        }
    }
    
    .has-errors {
        display: block;
        left: auto;
        margin: 0;
        position: relative;
        width: auto;
        float: none;
        right: 0;
    }
    
}

.modal-footer {
    @include clear;
    margin-bottom: 0;
    background-color: $gray-lighter;
    vertical-align: middle;
    
    
    a:not(.btn) {
        line-height: $base-line-height*2;
        color: $color-primary;
        
        &:hover, &:active {
            color: $color-text;
        }
    }
    
    .btn {
        float: right;
        
        &.btn-primary {
            float: right;
        }
        
        &.btn-secondary {
            float: left;
        }
    }
  
    // Properly space out buttons
    .btn + .btn {
    //margin-left: 5px;
    //margin-bottom: 0; // account for input[type="submit"] which gets the bottom margin like all other inputs
    }
    // but override that for button groups
    .btn-group .btn + .btn {
    //margin-left: -1px;
    }
    // and override it for block buttons as well
    .btn-block + .btn-block {
    //margin-left: 0;
    }
}

