//
// Tabs
// --------------------------------------------------

.tabs {
    @include grid(48,1,1);
    @include clear;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
    
    &.two li {
        @include grid(24,0,0);
    } 
     
    &.three li {
        @include grid(16,0,0);
    } 
    
    &.four li {
        @include grid(12,0,0);
    }
     
    li {
        @include resetlist;
        display: inline;
        position: relative;
        
       	> a, > span {
       	    @include transition(color 0.2s ease-out, background-color 0.2s ease-out);
            color: $gray-dark;
            display: block;
            overflow: hidden;
            text-decoration: none;
            padding: $base-padding;
            text-transform: uppercase;
            border-right: 1px dotted $gray-light;
            
            .tab-icon {
                @include transition(all 0.2s ease-out);
                display: block;
                float: left;
                background-color: $gray-light;
                @include border-radius(16px);
                width: 32px;
                height: 32px;
                line-height: 32px;
                font-family: $font-family-heavy;
                text-align: center;
                color: $color-text-light;
            }
            
            .tab-title {
                display: block;
                font-size: $font-size-small;
                line-height: 1.3em;
                margin-left: 32px + $base-margin;
            }
            
            .tab-subtitle {
                display: block;
                font-size: $font-size-smallest;
                font-style: normal;
                font-family: $base-font-family;
            }
            
            &:hover {
                color: $color-text;
                background-color: $gray-light;
                
                .tab-icon {
                    background-color: $color-text;
                    @include scale(1.2);
                }
                
            }
            
            &:active {
                
            }
	        
	    }
        
        &:first-of-type > a, &:first-of-type > span {
			border-left: 1px dotted $gray-light;
		}

    }
    
    // TODO create only one type for active state: li.is-active
    li.is-active > a, li > a.active, li.is-active > span, li > span.active {
    	background-color: $white;
    	border-color: $white;
    	
    	.tab-icon {
            background-color: $color-secondary;
            color: $white;
        }
        
        .tab-title {
            color: $color-secondary;
        }
        
        .tab-subtitle {
            color: $color-text;
        } 
    }
    
    &.steps {
    	margin-bottom: 6px;
    	
	    li > a, li > span {
	    	display: block;
		    //@include rem(padding, 20px 16px 16px 16px);
		    background: image-url("steps-back.png") $white no-repeat 100% 50%;
		    border: none;
		    font-weight: 300;
		    color: $gray-lighter;
		    
		    .flaticon {
			    //@include rem(margin, 0 6px);
		    }
		    
		    &:hover, &:active {
			    color: $gray;
		    }
	    }
	    
		li.is-selected > a, li.is-selected > span {
			
			background: image-url("steps-back-selected.png") $color-secondary no-repeat 100% 50%;
			
			.tab-icon .flaticon:before {
				content: "\e1ba"; // replace with ok
			}
			
			&:hover, &:active {
				color: $color-text;
			}
			
		}
	    
	   	li > a.active, li > span.active  {
			border-color: $color-secondary;
			color: $white;
			background: image-url("steps-back-active.png") $color-secondary no-repeat 100% 50%;
			
			.tab-icon {
				background-color: $white;
				color: $black;
			}
			
			.tab-title {
				color: $white;
			}
			
			.tab-subtitle {
				color: $white;
			} 
			
		} 
		
		li.is-inactive > a, li.is-inactive > span {
			
			.tab-icon {
				background-color: $gray-light;
				color: $gray-lighter;
			}
			
			.tab-title {
				color: $gray-light;
			}
			
			.tab-subtitle {
				color: $gray-light;
			} 
			
		}
		
		li:last-of-type > a, li:last-of-type > span {
			background: $white;
		}
		
		li:last-of-type > a.active, li:last-of-type > span.active {
			background: $color-secondary;
		}
    }
}


