//
// Typography
// --------------------------------------------------

// Body text
// -------------------------

body {
	font-family: $font-family;
	line-height: $base-line-height;
	font-size: $base-font-size;
	color: $color-text;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased; 
	text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
}

p {
  	margin: 0 0 $base-margin 0;
}

.section-header {
    padding: $base-padding 0 $base-padding/2 0;
    text-align: center;
}

// Emphasis & misc
// -------------------------

small { 
    font-size: $font-size-smallest;
}

strong { 
    font-weight: normal; 
    font-family: $font-family-heavy; 
}

em { 
    font-weight: normal; 
    font-style: italic; 
}

cite { 
    font-style: normal; 
}


// Headings
// -------------------------

h1, h2, h3, h4, h5, h6 {
	margin: $base-margin/2 0 0 0;
	font-family: $font-family-bold;
	line-height: 1.3em;
	text-transform: uppercase;
	font-weight: normal;
	
	small {
		line-height: 1;
		color: $gray-light;
	}
	
	em {
    	font-style: normal;
	}
}

h1 { 
	font-size: $font-size-largest;
	color: $color-primary;
	
	em {
	    font-family: $base-font-family;
    	color: $color-secondary;
	}
} 

h2 {
	font-size: $font-size-larger;
	color: $color-secondary;
} 

h3 { 
	font-size: $font-size-large;
	color: $color-heading;
} 

h4 { 
	font-size: $base-font-size;
}


// Links
// -------------------------

a {
	color: $color-link;
	text-decoration: underline;
	cursor: hand;
	cursor: pointer;
	
	a:visited {
		color: $color-link;	
	}
	
	&:hover {
		color: $color-link-hover;
	}
	
	&:active {
		position: relative;
		top: 1px;
		color: $color-text;
	}
}


// Lists
// --------------------------------------------------

// Horizontal layout (like forms)
.dl-horizontal {
	@include clear; // Ensure dl clears floats if empty dd elements present
	
	dt {
		float: left;
		clear: left;
		text-align: right;
	}
}

ul {
	margin: $base-margin 0 $base-margin*2 $base-margin*2;

	> li {
		padding-left: $base-padding*2;
		margin: $base-margin 0;
		background: image-url("list-item.png") transparent no-repeat 0 0;
	}
}

ol { 
	margin: $base-padding 0 $base-padding*2 $base-padding*2;

	> li {
		list-style: decimal;
		margin: $base-margin/4 0;
	}

}


dl {
	@include clear;
	font-size: $font-size-small;
	border-bottom: 1px solid $gray-light;
	padding: $base-padding/2 $base-padding;
	
	> dt {
		text-transform: uppercase;
		color: $gray;
		@include grid(20,0,1);
		font-weight: normal;
		white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;	
        			
		.flaticon {
			margin-right: $base-margin/4;
		}
		
	}
	
	> dd {
		@include grid(28,0,0);
	}
}


// MISC
// ----

// Horizontal rules
hr {
	margin: $base-line-height 0;
	border: 0;
	border-top: 1px solid $gray-light;
	border-bottom: 1px solid $white;
}

// Abbreviations and acronyms
abbr[title],

// Added data-* attribute to help out our tooltip plugin, per https://github.com/twitter/bootstrap/issues/5257
abbr[data-original-title] {
  	cursor: help;
  	border-bottom: 1px dotted $gray-light;
}

abbr.initialism {
  	font-size: 90%;
  	text-transform: uppercase;
}

// Blockquotes
blockquote {
	padding: 0 0 0 $base-padding;
	margin: $base-margin 0;
	border-left: 5px solid $gray-lighter;
	
	p {
		margin-bottom: 0;	
    }
	
	small {
		display: block;
		line-height: $base-line-height;
		color: $gray-light;
		&:before {
	  		content: '\2014 \00A0';
	  	}
	}
	
	// Float right with text-align: right
	&.pull-right {
		float: right;
		padding-right: 15px;
		padding-left: 0;
		border-right: 5px solid $gray-lighter;
		border-left: 0;
		p,
		small {
			text-align: right;
		}
		small {
			&:before {
				content: '';
			}
			&:after {
				content: '\00A0 \2014';
			}
		}
	}
}

// Quotes
q:before,
q:after,
blockquote:before,
blockquote:after {
  	content: "";
}

/*
figure {
    display: inline-block;
    max-width: 100%;
    img { 
        display: block;
        width: 100%;
    }
    figcaption {
        color: blue;
    }
}

ul, ol { margin: 0 0 $base-margin 1.5em; }
ul.list li:before {
    margin-right: 1.5em;
    font-family: 'Flaticons Solid';
    color: $gray;
    content: "\e1c3";
}
ol { list-style: decimal; }

dl {
    margin-bottom: $base-margin;
    dt { font-weight: bold; }
    dd { margin-left: $base-margin; }
    &.advanced {
        dt { @include grid(16, 0, 1); }
        dd { @include grid(32); }
    }
}
*/