.account-achievements {
	
	.account-achievements-projects {
		background-image: image-url("illustrations/ideas-green.svg");
	}
	.account-achievements-tasks {
		background-image: image-url("illustrations/tasks-green.svg");
	}
	.account-achievements-time {
		background-image: image-url("illustrations/hours-green.svg");
	}
}