{% load templatetag_handlebars %}
{% load i18n %}
{% tplhandlebars "blog_detail" %}
    
    <h2>New project AmLab supported by Gates</h2>
    <p>
        While entering the building at ‘s-Gravenhekje 1A in the city centre of Amsterdam you can feel a special vibe hanging in the air. In an old warehouse packed with history, Amlab is established.
    </p>
    <p>
Amlab is short for Amsterdam Lab, which consists of three different organisations respectively Akvo, Text to Change and 1%CLUB. Over one and a half year ago they decided to combine their energy and creativity and found an office where they could work together. In theory these three organisations just seem to share the same office but in reality they do a lot more.
    </p>
    <p>
What these three organisations have in common is that they all believe in the use of technology for social change. 1%CLUB is the online marketplace that connects people with smart ideas in developing countries with people, money and knowledge around the world. Text to Change uses mobile phone technology to inform people in developing countries about all kinds of social issues. Akvo creates open source web and mobile software, and builds networks of skilled partners that can change the way development aid is allocated and reported.
    </p>
    <p>
The collaboration between these three is not formed by policy, donors or other official cooperation agreements. What brings them together is their common search for innovation and the energy that comes with these young organisations.
    </p>
    <p>
The three organisations bundled their ideas about transparency within development aid and made up a plan. With this plan there will be no more discussions about the impact of development. The impact of a project will be exposed to everyone whether it’s bad or good.
    </p>
    <p>
How does this work? By using simple mobile reporting tools we will share first-person stories and data with a global audience and offer crowdsourcing tools to get people involved in supporting development projects with their knowledge, time and money. We set up a ground breaking way to explain how aid impacts the lives of people at the local level. A young Kenyan will be able to share his opinion about his local health clinic or the entire health system in Kenya just by using his mobile phone. We will share these stories with a global audience and offer crowdsourcing tools to get people worldwide involved in supporting development projects with their knowledge, time and money. The progress of technology allows us to take part in this global conversation.
    </p>
    <p>
Yesterday the Bill and Melinda Gates foundation announced that the AmLab idea is chosen as one of the top 10 best ideas they received. After beating over more than thousand other ideas in the competition AmLab is now ready to prove what it’s worth.
    </p>
    <p>
Not by endless conditions written on paper but with collaboration and shared passion brought together in an inspirational old warehouse, that’s where innovation starts!
    </p>

{% endtplhandlebars %}
