{% load i18n %}
{% load bb_ember %}

{% tplhandlebars "_main_nav" %}
    <ul class="nav-main">
        <li class="nav-main-item">
            {{#linkTo 'projectList'}}
                {% blocktrans %}Support a campaign{% endblocktrans %}
            {{/linkTo}}
        </li>
        <li class="nav-main-item">
            {{#linkTo 'page' 'start-campaign'}}
                {% blocktrans %}Start campaign{% endblocktrans %}
            {{/linkTo}}
        </li>
        <li class="nav-main-item">
            {{#linkTo 'page' 'about'}}
                {% blocktrans %}About{% endblocktrans %}
            {{/linkTo}}
        </li>
        {{#link-to 'partner' 'cheetah' tagName='li' class="nav-main-item cheetah-nav-item"}}
            <div class="cheetah-icon">
                <span class="cheetah-head"></span>
            </div>
            {% blocktrans %}The Cheetah Fund{% endblocktrans %}
        {{/link-to}}

    </ul>
    <div class="mobile-nav-holder">
        <ul class="mobile-nav">
            <li class="mobile-nav-item">{{#linkTo 'projectList'}}{% blocktrans %}Search campaigns{% endblocktrans %}{{/linkTo}}</li>
            <li class="mobile-nav-item">{{#linkTo 'page' 'start-campaign'}}{% blocktrans %}Start campaign{% endblocktrans %}{{/linkTo}}</li>
            <li class="mobile-nav-item">{{#linkTo 'page' 'about'}}{% blocktrans %}About{% endblocktrans %}{{/linkTo}}</li>
            <li class="mobile-nav-item">{{#linkTo 'partner.projects' 'cheetah'}}{% blocktrans %}Cheetah{% endblocktrans %}{{/linkTo}}</li>
        </ul>
    </div>
    <span class="mobile-nav-btn"></span>
{% endtplhandlebars %}
