{% load i18n %}
{% load bb_ember %}

{% tplhandlebars "_main_nav" %}
    <ul class="nav-main">
        <li class="nav-main-item">{{#linkTo 'projectList'}}{% blocktrans %}Search campaigns{% endblocktrans %}{{/linkTo}}</li>
        <li class="nav-main-item">{{#linkTo 'myProject.start' 'new'}}{% blocktrans %}Start campaign{% endblocktrans %}{{/linkTo}}</li>
        <li class="nav-main-item"><a {{action 'showPage' 'about'}} href="/#!/pages/about">{% blocktrans %}About{% endblocktrans %}</a></li>
    </ul>
    <div class="mobile-nav-holder">
        <ul class="mobile-nav">
            <li class="mobile-nav-item">{{#linkTo 'projectList'}}{% blocktrans %}Search campaigns{% endblocktrans %}{{/linkTo}}</li>
            <li class="mobile-nav-item">{{#linkTo 'myProject.start' 'new'}}{% blocktrans %}Start campaign{% endblocktrans %}{{/linkTo}}</li>
            <li class="mobile-nav-item"><a {{action 'showPage' 'about'}} href="/#!/pages/about">{% blocktrans %}About{% endblocktrans %}</a></li>
        </ul>
    </div>
    <span class="mobile-nav-btn"><i class="flaticon solid menu-list-4"></i></span>
{% endtplhandlebars %}