{% load i18n %}
{% load bb_ember %}

{% tplhandlebars "_footer" %}

    <div class="l-section" id="footer">
        <div class="l-section" id="footer-links">
            <div class="l-wrapper" id="footer-nav">
                <div class="row two">
                    <div class="col3">
                        <h3>{% trans "Do good" %}</h3>
                        <ul>
                            <li>{{#link-to 'projectList'}}{% trans "Browse campaigns" %}{{/link-to}}</li>
                            <li>{{#link-to 'taskList'}}{% trans "Browse tasks" %}{{/link-to}}</li>
                            <li>{{#link-to 'myProject.start' 'new'}}{% trans "Start a campaign" %}{{/link-to}}</li>
                            <li>{{#link-to 'page' 'about'}}{% trans "Let's do Business" %}{{/link-to}}</li>
                        </ul>
                    </div>
                    <div class="col3">
                        <h3>{% trans "Need help?" %}</h3>
                        <ul>
                            <li>{{#link-to 'page' 'faq'}}{% trans "FAQ" %}{{/link-to}}</li>
                            <li>{{#link-to 'page' 'terms'}}{% trans "Terms of service" %}{{/link-to}}</li>
                            <li>{{#link-to 'page' 'about'}}{% trans "ANBI" %}{{/link-to}}</li>
                            <li>{{#link-to 'page' 'about'}}{% trans "Privacy policy" %}{{/link-to}}</li>
                            <li>{{#link-to 'page' 'about'}}{% trans "Contact" %}{{/link-to}}</li>
                        </ul>
                    </div>
                    <div class="col3">
                        <h3>{% trans "About 1%Club" %}</h3>
                        <ul>
                            <li>{{#link-to 'page' 'about'}}{% trans "About" %}{{/link-to}}</li>
                            <li>{{#link-to 'page' 'about'}}{% trans "Our story" %}{{/link-to}}</li>
                            <li>{{#link-to 'page' 'about'}}{% trans "Meet the team" %}{{/link-to}}</li>
                            <li>{{#link-to 'page' 'about'}}{% trans "Meet our partners" %}{{/link-to}}</li>
                            <li>{{#link-to 'page' 'about'}}{% trans "Press" %}{{/link-to}}</li>
                            <li>{{#link-to 'page' 'about'}}{% trans "Work at 1%Club" %}{{/link-to}}</li>
                            <li>{{#link-to 'page' 'about'}}{% trans "News" %}{{/link-to}}</li>
                        </ul>
                    </div>
                    <div class="col3">
                        <h3>{% trans "Let's connect" %}</h3>
                        <ul>
                            <li class="social-facebook">{{#link-to 'page' 'about'}}{% trans "Facebook" %}{{/link-to}}</li>
                            <li class="social-twitter">{{#link-to 'page' 'about'}}{% trans "Twitter" %}{{/link-to}}</li>
                            <li class="social-linkedin">{{#link-to 'page' 'about'}}{% trans "LinkedIn" %}{{/link-to}}</li>
                            <li class="social-youtube">{{#link-to 'page' 'about'}}{% trans "Youtube" %}{{/link-to}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="l-section" id="footer-contact">
            <div class="l-wrapper">
                <div class="row">
                    <div class="col12">
                        <p>{% trans "You can always contact us for questions via" %} <a href="mailto:info@onepercentclub.com">info@onepercentclub.com</a> and <a href="tel:+3120 715 8980">(+31) 20 715 8980</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="l-section" id="footer-copyright">
            <div class="l-wrapper">
                <div class="row">
                
                    <div class="col3 copy">
                        <p>© 2014 - 1%Club</p>
                    </div>
                    
                    <div class="col6 footer-back-to-top">
                        <a href="#top">Go to top</a></p>
                    </div>
                    
                    <div class="col3 give-us-feedback">
                        <p>{{#link-to 'page' 'contact'}}Give us feedback{{/link-to}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endtplhandlebars %}