<div id="fmo">
	
	<div class="l-section fmo-carousel">
		<section class="carousel">
			<ul>
		        <li class="carousel-item">
	        		<div class="l-wrapper">
	        		
				        <div class="l-half carousel-video">
                            <div class="video"><iframe width="420" height="315" src="//www.youtube.com/embed/IUf40f0O45c" frameborder="0" allowfullscreen></iframe></div>
						</div>
						
				        <article class="l-half carousel-content">
				            <h1>1%Co-Creation 3 October</h1>
				            <p>Sixty young professionals from FMO, Schiphol Group, Accenture and Frog Design worked together on the challenges. We ask them to think outside the box, be creative, and use their expertise so that by the end of the day they can present us with inspiring solutions to the challenges.</p>
<a class="btn btn-primary" href="https://onepercentclub.com/go/news/1co-creation-lab-fmo">Read more</a>
				        </article>
		        		
	        		</div>
		        </li>
		        <li class="carousel-item">
	        		<div class="l-wrapper">
				        <article class="l-two-third carousel-content">
                            <h1>FMO & 1%Club present: the accelerate your smart idea contest!</h1>
					       <h2>About the contest</h2>
					       <p>FMO proudly supports 1%Club in its mission to empower entrepreneurs around the world to develop themselves and the communities around them through social enterprises. Through the Arthur Arnold Foundation (AAF) we will award two entrepreneurs with grant money to finance their social enterprises. The winners will be selected within two months after the 1%Co-Creation Lab which will take place in October at 1%Club in Amsterdam.</p>
                        </article>
	        		</div>
		        </li>
		        <li class="carousel-item">
	        		<div class="l-wrapper">
				        <article class="l-two-third carousel-content">
				            <h1>Rules of the game</h1>
				            <ul>
				            	<li>The winner of the contest will win $7.000 dollars</li>
								<li>The runner up will win $3.000</li>
								<li>All finalists will join the 1%Co-Creation Lab on October 3rd to present their biggest challenge for companies, including FMO and Schiphol Group, to work on</li>
								<li>All finalists will have until the end of November to crowdfund as much as possible</li>
								<li>The winners will be chosen by FMO and AAF, and will base their decision on the following criteria: how scalable the project is, how innovative the project is, how entrepreneurial the smart idea is, and the results of the crowdfunding campaign</li>
				            </ul>
				        </article>
	        		</div>
		        </li>
		        <li class="carousel-item">
	        		<div class="l-wrapper">
				        <article class="l-two-third carousel-content">
                            <h1>About FMO and AAF</h1>
                            <p>FMO is the Dutch development bank that finances companies, projects and financial institutions from developing and emerging markets. They believe that entrepreneurship is key in creating sustainable economic growth and improving people’s quality of life. They specialise in sectors where their contribution can have the highest long-term impact - financial institutions; energy and agribusiness; food and water.</p>
                            <p>The Arthur Arnold Foundation was created by Arthur Arnold, former CEO of FMO, and aims to invest in African entrepreneurs through online platforms such as 1%Club.</p>
                        </article>
	        		</div>
		        </li>
		     </ul>
		     
		    <div class="l-section carousel-nav-section">
	            <div class="l-wrapper">
	                <ol class="carousel-nav l-full">
	                    <li class="carousel-nav-item is-active">1%Co-Creation</li>
		                <li class="carousel-nav-item">About the contest</li>
                        <li class="carousel-nav-item">Rules of the game</li>
                        <li class="carousel-nav-item">About FMO and AAF</li>
	                </ol>
	            </div>
	        </div>
	        
		</section>
	</div>
	
	<div class="l-section">
        <section class="l-wrapper">        
            <div class="fmo-projects l-full">
				
				<div class="section-header">
					<h1>Participating Projects</h1>
					<p>The final six projects shown below are in the running for prizes of $7.000 and $3.000 seed money!</p>
				</div>
				
				{% include "project_snippet.html" with project_id="1748" %}
				
				{% include "project_snippet.html" with project_id="1535" %}

                {% include "project_snippet.html" with project_id="1646" %}
				
				{% include "project_snippet.html" with project_id="1622" %}

				{% include "project_snippet.html" with project_id="1429" %}

				{% include "project_snippet.html" with project_id="1681" %}
            </div>
       </section>
	</div>
	
</div>