{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}

{% tplhandlebars "business/contact" %}
    <div class="l-section" id="business-contact">
        <div class="l-wrapper">
            <div class="row">
                <div class="col12">
                    <h1>{% trans 'Contact'%}</h1>
                    <p>
                        {% blocktrans %}
                            Would you and your company like to make a world of difference? Brilliant! <br> 
                            Get in touch and let’s start working out the best collaboration for your organization! 
                        {% endblocktrans%}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="contact-info">
                    <div class="col7">
                        <div class="row">
                            <div class="col3">
                                <div class="photo"></div>
                            </div>
                            <div class="col9">
                                <strong>{% trans 'Contact info'%}</strong>
                                <p>
                                    Ronald Lenz<br>
                                    <a class="business-mail" href="mailto:business@onepercentclub.com">business@onepercentclub.com</a><br>
                                    <a href="tel:+31207158980">+31(0)20 715 8980</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col5">
                        <div class="business-logo">
                            <div class="logo"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endtplhandlebars %}
