{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}

{% tplhandlebars "business/corporate" %}
    <div class="l-section" id="business-corporate">
        <div class="l-wrapper">
            <div class="row">
                <div class="col7 corporate-slider">
                    <div class="corporate-content is-default" id="organization">
                        <h1>{% trans 'Corporate Social Responsibility'%}</h1>
                        <p>
                            {% blocktrans %}
                                1%Club provides a platform in which every CSR project and social initiative of an organization is clearly visible. With our range of crowdfunding and crowdsourcing tools everyone inside (and outside) your organization can work together to generate positive changes in the world. The tools provide insights into your community and are easy to share, adaptable and simple and fun to use. 1%Club will make this platform available to your organization, backed up by our expertise and experience.
                            {% endblocktrans%}
                        </p>
                    </div>
                    <div class="corporate-content" id="employees">
                        <h1>{% trans 'Employee Engagement'%}</h1>
                        <p>
                            {% blocktrans %}
                                The CSR engagement platform connects employees and CSR initiatives in a fun, efficient and innovative way.
                                Employees can search and choose between projects currently online or even start up their own initiative. Together with colleagues they can pool their time and/or money with social initiatives working for a better world. In this simple way CSR policy really comes to life! 
                            {% endblocktrans%}
                        </p>
                    </div>
                    <div class="corporate-content" id="crowdfunding">
                        <h1>{% trans 'Impact & storytelling'%}</h1>
                        <p>
                            {% blocktrans %}
                                On the platform one glance gives you an overview of every project, initiative and (volunteer) activity. It’s an attractive, efficient and innovative way to engage employees in CSR activities. People involved can share photos, videos and updates about CSR activities, making personal stories as visible as the impact of the projects.
                            {% endblocktrans%}
                        </p>
                    </div>
                </div>
                <div class="col5">
                    <div class="social-holder">
                        <div class="social-circle rotate-organization">
                            <div class="do-good"></div>
                            <div class="circle-round-organization"></div>
                            <div class="circle-round-employees"></div>
                            <div class="circle-round-impact"></div>
                            <div class="circle-svg circle-organization"></div>
                            <div class="circle-svg circle-employees"></div>
                            <div class="circle-svg circle-impact"></div>
                            <span class="circle-arrow arrow-organization"></span>
                            <span class="circle-arrow arrow-employees"></span>
                            <span class="circle-arrow arrow-impact"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <span {{action 'goTo' '#business-tools'}} class="to-next" id="business-corporate-btn"></span>
    </div>
{% endtplhandlebars %}