{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}

{% tplhandlebars "business/header" %}
    <div class="l-section" id="business-header">
        <div class="l-wrapper">
            <div class="business-main-header">
                <span class="logo"></span>
                <span class="business">{% trans 'business' %}</span>
            </div>

            <div class="business-main-content">
                {% blocktrans %}
                    Businesses and large organizations can join 1%Club too! Together we can inspire employees and stakeholders to generate ideas for a better world - ideas that match the sustainability strategies of your organization and will generate big changes in communities around the world.  
                {% endblocktrans %}
            </div>

            <div class="corporate-menu">
                <ul>
                    <li class="is-active">
                        <a class="corporate-link" data-id="organization">
                            <div>
                                <span class="corporate-item organistion"></span>
                                <span class="corporate-text">{% trans 'Organization' context 'american'%}</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="corporate-link" data-id="employees">
                            <div>
                                <span class="corporate-item employees"></span>
                                <span class="corporate-text">{% trans 'Employees'%}</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="corporate-link" data-id="crowdfunding">
                            <div>
                                <span class="corporate-item crowdfunding"></span>
                                <span class="corporate-text">{% trans 'Crowd Engagement'%}</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endtplhandlebars %}