{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}

{% tplhandlebars "business/index" %}
    <div id="business">

        {{render 'business/header'}}

    </div>
{% endtplhandlebars %}
