{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}

{% tplhandlebars "business/inspired" %}
    <div class="l-section" id="business-inspired">
        <div class="l-wrapper">
            <div class="row">
                <div class="col12">
                    <h1>{% trans 'Get Inspired!'%}</h1>
                    <p>
                        {% blocktrans %}
                            The evidence is overwhelming – crowdfunding and crowdsourcing works!  The 1%Club platform has been racking up visits since 2008. Hundreds and thousands of people around the world use it to share their skills, time and money with projects all around the world. We’ve learned that the success of a project depends on a mix of the right tools, knowledge, projects and stakeholders.
                        {% endblocktrans%}
                    </p>
                </div>
            </div>
        </div>
            <div class="business-slider">
                <div class="row">
                    <div class="col6">
                        <div class="quote-slider">
                            <div class="quote-slider-holder">
                                <div class="quote-slider-item">
                                    <div class="profile">
                                        <div class="photo accenture">
                                            
                                        </div>
                                        <div class="content">
                                            <span class="name">Savitri Groag</span>
                                            <span class="position">{% trans 'CSR Manager Accenture'%}</span>
                                        </div>
                                    </div>
                                    <div class="blockquote">
                                        <p>
                                            {% blocktrans%}
                                                1%Club highlights and offers a platform to the many wonderful CSR there are around the world. Almost 10% of our employees have contributed to 1%Club projects, all the way from juniors right up to managing directors.
                                            {% endblocktrans%}
                                        </p>
                                    </div>
                                    <div class="footer">
                                        <div class="company-image accenture">
                                        </div>
                                        {% trans 'Partner­ since 2008'%} <br>
                                        {% trans '200+ active employees per year'%}
                                    </div>
                                </div>

                                <div class="quote-slider-item ">
                                    <div class="profile">
                                        <div class="photo booking">
                                            
                                        </div>
                                        <div class="content">
                                            <span class="name">Marianne Gybels</span>
                                            <span class="position">{% trans 'Booking Cares Manager'%}</span>
                                        </div>
                                    </div>
                                    <div class="blockquote">
                                        <p>
                                            {% blocktrans%}
                                                Thanks to the 1%Club platform we can trigger our employees to make a positive contribution to places around the whole world.
                                            {% endblocktrans%}
                                        </p>
                                    </div>
                                    <div class="footer">
                                        <div class="company-image booking">
                                        </div>
                                        {% blocktrans %}65% of employees are using the platform{% endblocktrans %} <br>
                                        {% trans '123 projects online'%} <br>
                                        {% trans '67 projects realized after 6 months'%}
                                    </div>
                                </div>
                            </div>
                            <div class="home-carousel-nav">
                                <span class="carousel-nav-item"></span>
                                <span class="carousel-nav-item is-active"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col6">
                        <div class="browser-slider">
                            <div class="browser-holder">
                                <div class="browser-item booking"></div>
                                <div class="browser-item accenture"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <span {{action 'goTo' '#business-contact'}} class="to-next" id="business-inspired-btn"></span>
    </div>
{% endtplhandlebars %}