{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}

{% tplhandlebars "business/inspired" %}
    <div class="l-section" id="business-inspired">
        <div class="l-wrapper">
            <div class="row">
                <div class="col12">
                    <h1>{% trans 'Get Inspired!'%}</h1>
                    <p>
                        {% blocktrans %}
                            Het bewijs is er, crowdfunding en crowdsourcing via 1%Club werkt! Sinds 2008 wordt het 1%Club platform dagelijks ingezet. Honderdduizenden mensen wereldwijd delen kennis, tijd en geld met sociale initiatieven wereldwijd. We hebben geleerd dat het succes wordt bepaald door een samenspel van de juiste tools, kennis, projecten en betrokkenen.
                        {% endblocktrans%}
                    </p>
                </div>
            </div>
        </div>
            <div class="business-slider">
                <div class="row">
                    <div class="col6">
                        <div class="quote-slider">
                            <div class="quote-slider-holder">
                                <div class="quote-slider-item">
                                    <div class="profile">
                                        <div class="photo accenture">
                                            
                                        </div>
                                        <div class="content">
                                            <span class="name">Savitri Groag</span>
                                            <span class="position">{% trans 'CSR Manager Accenture'%}</span>
                                        </div>
                                    </div>
                                    <div class="blockquote">
                                        <p>
                                            {% blocktrans%}
                                                1%Club biedt een podium aan en spotlight op de vele mooie CSR initiatieven die er zijn. Bijna 10% van onze medewerkers heeft meegedaan aan acties van de 1%Club. Van junioren tot managing directors
                                            {% endblocktrans%}
                                        </p>
                                    </div>
                                    <div class="footer">
                                        <div class="company-image accenture">
                                        </div>
                                        {% trans 'Partner­ sinds­ 2008'%} <br>
                                        {% trans '200+ medewerkers actief'%} <br>
                                        % trans '32 campagnes gestart'%
                                    </div>
                                </div>

                                <div class="quote-slider-item ">
                                    <div class="profile">
                                        <div class="photo booking">
                                            
                                        </div>
                                        <div class="content">
                                            <span class="name">Marianne Gybels</span>
                                            <span class="position">{% trans 'Booking Cares Manager'%}</span>
                                        </div>
                                    </div>
                                    <div class="blockquote">
                                        <p>
                                            {% blocktrans%}
                                                Met behulp van het platform kunnen wij onze medewerkers activeren om een positieve bijdrage te leveren aan bestemmingen over de hele wereld.
                                            {% endblocktrans%}
                                        </p>
                                    </div>
                                    <div class="footer">
                                        <div class="company-image booking">
                                        </div>
                                        {% trans '65% medewerkers actief op platform '%} <br>
                                        {% trans '123 projecten online'%} <br>
                                        {% trans '67 projecten gerealiseerd na 6 maanden'%}
                                    </div>
                                </div>
                            </div>
                            <div class="home-carousel-nav">
                                <span class="carousel-nav-item"></span>
                                <span class="carousel-nav-item is-active"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col6">
                        <div class="browser-slider">
                            <div class="browser-holder">
                                <div class="browser-item booking"></div>
                                <div class="browser-item accenture"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <span {{action 'goTo' '#business-contact'}} class="to-next" id="business-inspired-btn"></span>
    </div>
{% endtplhandlebars %}