/*
960px grid system ~ Core CSS.
4 Columns ~ Margin left: 10px ~ Margin right: 10px

Based on the 1kb grid system - http://www.1kbgrid.com/
by Tyler Tate

Created by the Grid System Generator - v1.01
Learn more ~ http://www.gridsystemgenerator.com/
*/

.grid_1 {width: 220px;}
.grid_2 {width: 460px;}
.grid_3 {width: 700px;}
.grid_4 {width: 940px;}
.column {margin: 0 10px 0 10px;
         overflow: hidden;
         float: left;
         display: inline;}
.row {width: 1000px;
         margin: 0 auto;
         overflow: hidden;}
.row .row {margin: 0 -10px 0 -10px;
         width: auto;
         display: inline-block;}
