//
// Search result task block
// --------------------------------------------------

.task-item {
    display: block;
    position: relative;
    margin-top: $base-margin/2;
    margin-bottom: $base-margin/2;
    background: $gray-lighter;
    overflow: hidden;
    height: 260px;
    
    a {
        display: block;
        //border: 1px solid $gray-light;
		text-decoration: none;
    }
    
    .task-category {
        background-color: $color-secondary;
        color: $white;
        padding: $base-padding/2 $base-padding;
        margin: 0;
        font-size: $font-size-small;
    }
    
    .task-header {
        display: block;
        position: relative;
        overflow: hidden;
        min-height: 50px;
        background: $black;
        @include transition(all 0.2s ease-out);
        
        .task-title {
            z-index: 11;
            width: 100%;
            position: absolute;
            bottom: 0;
            display: block;
			padding: $base-padding;
			background-color: rgba(0, 0, 0, 0.7);
			color: $white;
			
			h3 {
			    font-size: $base-font-size;
			    color: $white;
				padding: 0;
				margin: 0;
			}
			
			h4 {
            	font-size: $font-size-small;
				text-transform: none;
				padding: 0;
				margin: 0;
				font-family: $base-font-family;
			}
        }
        
        .task-image {
            position: relative;
            display: block;
            overflow: hidden;
            height: 160px;
            text-align: center;
            
            img {
        		position: absolute;
				top: 0;
				left: 0;
				width: 100%;
			}
        }
        
    }
    
    .task-status {
        height: 100px;
        padding: $base-padding/2 $base-padding;
        background-color: $gray-lighter;
        display: block;
        color: $gray-darker;    
    }
    
    .task-meta {
        color: $gray;
        @include clear;
        text-transform: uppercase;
        @include clear;
        margin: 0;
        font-size: $font-size-smallest;
        
        li {
			@include resetlist;
            @include grid(24,0,0);
			
            .flaticon {
            
            }
        }
    }    
    
    .task-description {
        display: none;
        color: $white;
        font-family: $font-family-heavy;
        width: 100%;
        height: 260px;
        position: absolute;
        top: 0;
        padding: $base-padding;
        background-color: rgba(0, 0, 0, 0.7);
        font-size: $font-size-small;
        color: $gray-lighter;
        overflow: hidden;
        z-index: 100;
        
        .task-view {
            position: absolute;
            display: block;
            width: 100%;
            bottom: 0;
            left: 0;
            background-color: $color-secondary;
            text-transform: uppercase;
            padding: $base-padding/2 $base-padding;
        }
    }
    
    &:hover, &:active {
        background-color: $black;
        
        .task-image {
            zoom: 3;
            height: 999px;
        }
        
        .task-title, .task-status, .task-category {
            display: none;
        }
        
        .task-description {
            display: block;
        }
    }
}


.project-owner-actions {
	@include grid(48,1,1);
	background: $gray-lighter;
	padding: $base-padding/2 $base-padding;
	margin-top: $base-padding;
	
	header {
		@include grid(16,0,1);
		float: left;
		
		h3 {
			padding-top: $base-padding;
			font-weight: 600;
			text-transform: uppercase;
		}
	}
	
	.btn {
		margin: $base-padding/2 0 $base-padding/2 $base-padding/2;
		float: right;
	}
	
}

