{% load templatetag_handlebars %}
{% load i18n %}

{% tplhandlebars "wallpost_form" %}

    <div class="container section">

        <section class="wrapper" id="wallpost-form">

            <!-- wallpost form -->
            <header>
                <h2>Comments &amp; Updates</h2>
                <p>Hi Bart, your last update about this project was 16 days ago.</p>
            </header>

            <form id="" action="/" method="post">
                <fieldset>
                    <ul>
                        <li class="error">
                            <label for="wallpost-title" class="inline">Title of your update - Required</label>
                            <input type="text" id="wallpost-title" name="wallpost-title" />
                        </li>
                        <li>
                            <label for="wallpost-update" class="inline">Your update</label>
                            <textarea cols="50" rows="4" id="wallpost-update" name="wallpost-update"></textarea>
                        </li>
                        <li>
                            <label for="wallpost-video" class="inline">Link to video on <a href="#">YouTube</a> or <a href="#">Vimeo</a></label>
                            <input type="text" id="wallpost-video" name="wallpost-video" />

                        </li>
                        <li>
                            <label for="wallpost-photos">Upload & add Photo's <small>(620 x 380 minimum for best results)</small></label>
                            <span class="fileinput-button image">
                                <input id="wallpost-photos" class="fileupload" type="file" name="wallpost-photos[]" data-url="server/" multiple>
                            </span>
                        </li>
                    </ul>
                </fieldset>

                <button type="submit">Post Update</button>

            </form>

            <div class="sidebar tip">
                <h3>Need some inspiration and tips on how to engage with your peers? Here’s some of our secrets:</h3>
                <p>Fusce quam enim, vehicula euismod porttitor vitae, facilisis a purus. Maecenas augue metus, consectetur eleifend posuere in, rhoncus ac enim.</p>
                <p><a href="#">Read some more</a></p>
            </div>

            <!-- end: wallpost form -->

        </section>

    </div>

{% endtplhandlebars %}


{% tplhandlebars "wallpost" %}

    <section class="wrapper">

        {{#each App.wallPostListController}}

            <!-- wallpost -->
            <article class="wallpost">

                <header>
                    <h3>{{title}}</h3>
                    <small class="timestamp">{{timesince}} {% trans "ago" %}</small>
                    <a href="#" class="user initiator">
                        <span class="user-img"><img {{bindAttr src="author.picture"}} width="100%" alt="Avatar" /></span>
                        <strong>{{author.full_name}}</strong> <em class="not-implemented">{% trans "Project Initiator" %}</em>
                    </a>

                    <ul class="manage not-implemented">
                        <li class="manage-edit"><a href="#" >{% trans "Edit" %}</a></li>
                        <li class="manage-remove"><a href="#" >{% trans "Delete" %}</a></li>
                    </ul>
                </header>

                <div class="content">

                    <div class="video">{{{video_html}}}</div>

                    {{text}}

    {# TODO: Implement photos in MediaWallPost. #}
    {#                <div class="photo-viewer">#}
    {#                    <span class="photo"><a href="#"><img src="/static/assets/dummy/wallpost-image.jpg" width="100%" alt="Gallery" /></a></span>#}
    {#                    <ul>#}
    {#                        <li><a href="#"><img src="/static/assets/dummy/wallpost-thumb.jpg" width="100%" alt="Thumbnail" /></a></li>#}
    {#                        <li><a href="#"><img src="/static/assets/dummy/wallpost-thumb.jpg" width="100%" alt="Thumbnail" /></a></li>#}
    {#                        <li><a href="#"><img src="/static/assets/dummy/wallpost-thumb.jpg" width="100%" alt="Thumbnail" /></a></li>#}
    {#                        <li><a href="#"><img src="/static/assets/dummy/wallpost-thumb.jpg" width="100%" alt="Thumbnail" /></a></li>#}
    {#                        <li><a href="#"><img src="/static/assets/dummy/wallpost-thumb.jpg" width="100%" alt="Thumbnail" /></a></li>#}
    {#                        <li class="more"><a href="#"><strong>6</strong> more photos</a></li>#}
    {#                    </ul>#}
    {#                </div>#}

                </div>

                <!-- reaction-box -->
                <div class="reaction-box">

                    <form action="#" method="post" class="reaction-form">
                        <fieldset>
                            <span class="user-img"><img {{bindAttr src="view.user.picture"}} width="100%" alt="Avatar" /></span>
                            <label for="reaction-1" class="inline">
                                {# TODO: Create proper way to check for authenticated user. #}
                                {{#if view.user.first_name }}
                                    Hey {{view.user.first_name}}, leave a comment behind!
                                {{else}}
                                    {# TODO: Figure out a way to do composed translations - fragment sentences are hard for translators to deal with. #}
                                    <a href="/accounts/login">{% trans "Login" %}</a>{% trans "to leave a comment." %}
                                {{/if}}
                            </label>
                            <textarea id="reaction-1" name="reaction"></textarea>
                        </fieldset>

                        <button type="submit" id="reaction-post">{% trans "Post" %}</button>
                    </form>

                    <ul class="reaction-actions">
                        <li><a class="toggle-reactions" data-content="2 Comments" data-content-hover="Show comments" data-content-toggled="2 Comments" data-content-toggled-hover="Hide comments">2 Comments</a></li>
                        <li><a class="toggle-love" data-content="22 love this" data-content-hover="Show your love!" data-content-toggled="23 - You loved this" data-content-toggled-hover="Unlove?">22 love this</a></li>
                        <li class="share">
                            <strong>{% trans "Share this" %}</strong>
                            <ul class="share-actions">
                                <li class="share-facebook">{% trans "Share on Facebook" %}</li>
                                <li class="share-twitter"><a href="#">{% trans "Share on Twitter" %}</a></li>
                                <li class="share-url"><code>http://1pr.cc/237429/</code><a href="#" class="share-url-copy">{% trans "Copy" %}</a></li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="reactions">
                        <li class="initiator">
                            <span class="user-img"><img src="/static/assets/dummy/avatar.jpg" width="100%" alt="Avatar" /></span>
                            <div class="comment">
                                <a href="#" class="user">By <strong>Jessica Jansen</strong> <em>Member</em> <small>4 days ago</small></a>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam lobortis posuere turpis, a dapibus ligula. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                            </div>
                        </li>
                        <li>
                            <span class="user-img"><img src="/static/assets/dummy/avatar.jpg" width="100%" alt="Avatar" /></span>
                            <div class="comment">
                                <a href="#" class="user">By <strong>Jessica Jansen</strong> <em>Member</em> <small>4 days ago</small></a>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam lobortis posuere turpis, a dapibus ligula. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                            </div>
                        </li>
                    </ul>

                </div>
                <!-- end: reaction-box -->

            </article>
            <!-- end: wallpost -->
        {{/each}}

        <sidebar class="wallpost-filter not-implemented">
            <ul>
                <li><a href="#">All items</a></li>
                <li><a href="#">All photos</a></li>
                <li><a href="#">All videos</a></li>
                <li><a href="#">All comments</a></li>
            </ul>
        </sidebar>

    </section>

{% endtplhandlebars %}