{% load templatetag_handlebars %}
{% load i18n %}

{% tplhandlebars "wallpost_form" %}
        <section class="wrapper" id="wallpost-form">
            <!-- wallpost form -->
            <header>
                <h2>Comments &amp; Updates</h2>
                <p>Hi Bart, your last update about this project was 16 days ago.</p>
            </header>
            
            <form id="" action="/" method="post">
                <fieldset>
                    <ul>
                        <li>
                            <label for="wallpost-title">Title of your update</label>
                            <div><input type="text" id="wallpost-title" name="wallpost-title" placeholder="Title of your update"></div>
                        </li>
                        <li>
                            <label for="wallpost-update">Your update</label>
                            <div><textarea cols="50" rows="6" id="wallpost-update" name="wallpost-update" placeholder="Your update"></textarea></div>
                        </li>
                        <li>
                            <label for="wallpost-video">Link to video on <a href="#">YouTube</a> or <a href="#">Vimeo</a></label>
                            <div><input type="text" id="wallpost-video" name="wallpost-video" placeholder="Link to video on YouTube or Vimeo"></div>
                        </li>
                        <li>
                            <label for="wallpost-photo">Upload &amp; add Photo's <small>(620 x 380 minimum for best results)</small></label>
                            <div><input type="file" id="wallpost-photo" name="wallpost-photo" placeholder="Upload &amp; add Photo's (620 x 380 minimum for best results)"></div>
                        </li>
                    </ul>
                </fieldset>
                
                <button type="submit" class="large">Post Update</button>
                
            </form>
            
            <div class="sidebar">
                Need some inspiration and tips on how to engage with your peers? Here’s some of our secrets:
            </div>
            
            <!-- end: wallpost form -->
            
        </section>

{% endtplhandlebars %}
