/* Define some variables */
$containerWidth :   1200px;
$columnWidth :      5.5; //In percent
$column :           12; //Twelve columns


// Let's do some math here
// Define gutter width
// Gutter is space between column, in this case we have twelve columns.
// First lets multiply column width with amount of column.
//    
//    5.5% X 12 = 66%
//
// This is total column width without gutter.
// In one row, column and gutter have total width of 100%, so subtract 100 with total column width
//
//    100% - 66% = 34%
//
// Last, divide that number with amount of gutter, to get amount of gutter, 
// just subtract amount of column with 1
//
//    34% / ( 12 - 1 ) = 3.0909%
//
// That is our gutter width. And here is our final gutter's formula
$columnGutter   : (100 - ($columnWidth * $column)) / ($column - 1);


/* Flexible image */
img {
  height: auto;
  max-width: 100%;
}

.container {
  padding: 0 15px;
  position: relative;

  // This is mixin from compass for clearing float
  @include pie-clearfix;
}

.row {
  width: 100%;
  margin: 0 auto;
  position: relative;

  // If you need different container width, you can easily
  // change $containerWidth variable;
  max-width: $containerWidth;

  @include pie-clearfix;
}

// Select all element that contains class 'col'
[class*="col"] {
  float: left;
  display: inline;
  min-height: 1px;
  position: relative;
  margin-left: 1% * $columnGutter;

  // Get rid of margin from first column
  &:first-of-type {
    margin-left: 0;
  }
}

/* --- Column Width --- */
/* We can do iteration in sass just like we do in javascript or php */
@for $i from 1 through $column {
  .col#{$i} {
    $colWidth: 1% * ($columnWidth * $i) + ($columnGutter *($i - 1));
    width: $colWidth;
  }
}


/*  #Mobile Phone
================================================== */
@media only screen and (max-width: $bp-small-3) {
  .row {
    max-width: $bp-small-3;
    [class*="col"] {
      width: 100%;
      margin-left: 0;
      margin-bottom: 20px;
    }
    &.two {
      [class*="col"] {
      width: 50%;
    }
    }
  }
}