{% extends "admin_tools/dashboard/module.html" %}
{% load i18n %}
{% block module_content %}
<ul>
    {% spaceless %}
    {% for project in module.children %}
    <li class="{% cycle 'odd' 'even' %}">
        <span class="float-right">{{ project.campaign_start|date }}</span>
        <a href="{{ admin_url }}projects/project/{{ project.id }}" >{{ project.title }}{% if project.campaign_started %}- {{ project.campaign_started }}{% endif %}</a>
    </li>
    {% endfor %}
    {% endspaceless %}
</ul>

<div class="dashboard-module-content">
    <p>
        <a href="{{ admin_url }}projects/project/?status__id__exact=5">{%  trans "View all campaigning" %}</a>
    </p>
</div>

{% endblock %}