//
// Project detail for crazy campaign race
// --------------------------------------------------

// Countdown font
@font-face {
    font-family: 'countdown';
    src: url('../fonts/countdown/countdown-webfont.eot');
    src: url('../fonts/countdown/countdown-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/countdown/countdown-webfont.woff') format('woff'),
         url('../fonts/countdown/countdown-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#home-crazy-campaign-header {
    padding: $base-padding*3 0;
    font-size: $font-size-large;
    background-color: $gray-lighter;
    @include clear;
    
    .campaign-image {
        @include grid(19,0,0);
        margin-bottom: $base-margin/4;
    }

	.livestream {
		@include grid(24,1,2);
	}
    
    .campaign-description {
        @include grid(24,0,1);
        float: right;
    }
    
    .crazy-campaign-pick {
        font-family: $font-family-heavy;
        text-transform: uppercase;
        display: inline-block;
        color: $color-primary;
        padding-right: 20px;
        background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAJCAYAAADpeqZqAAAAcElEQVQoz2N4mz2HAYrDgTgUiY+MbYG4AcaHCQYD8R8oDsWi4TMQ/wfiKpgmVyD+CRX8j6YRWQMMJ4MkRIH4ApoESGMTFg2PgVgZ5gRsGv9j04DsJ0Ia4RrQNeHSiKIBmyZ0jRgacGmCadyKTQMIAwC9dxdCknNOJQAAAABJRU5ErkJggg==") transparent no-repeat 100% 50%;
        
        &:hover, &:active {
            text-decoration: none;
        }
    }
    
    .project-fund-amount {
        text-align: center;
        text-transform: uppercase;
        color: $gray;
        
        .amount-donated {
            color: $color-text;
        }
    }
    
    .project-fund-amount-slider {
        position: relative;
        overflow: visible;
        background-color: $white;
        
        .slider-progress {
            height: 25px;
            background: image-url("campaigns/home-racecar.png") $color-primary no-repeat 100% 50%;
        }
        
        &:after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            right: -34px;
            width: 90px;
            height: 25px;
            text-align: right;
            padding-top: 44px;
            background: image-url("campaigns/home-finish.png") transparent no-repeat 0 0;
        }
    }
    
	&.campaign-results {
		background: image-url("campaigns/home-finished-back.png") $gray-lighter no-repeat 85% 100%;

		.project-fund-amount {
			text-align: left;
			font-size: $font-size-large;
			font-family: $font-family-heavy;
			margin: $base-margin/2 $base-margin;
			
			strong {
				font-size: 1.3em;
				font-family: $font-family-bold;
			}
		}
		
		.project-fund-amount-slider {
			width: 90% !important;
		
		    .slider-progress {
		    	width: 100% !important;
		    	background: $color-primary !important;
		    }
		    
		    &:after {
	            content: '';
	            display: block;
	            position: absolute;
	            bottom: 0;
	            right: -10%;
	            width: 127px;
	            height: 67px;
	            padding: 0;
	            text-align: right;
	            background: image-url("campaigns/home-finished.png") transparent no-repeat 0 0;
	        }
	    }
	    
	    .campaign-result-fundracers, .campaign-result-projects {
		    @include grid(24,0,1);
		    margin-top: $base-margin*2;
		    margin-bottom: $base-margin*2;
		    font-size: 1.1em;
			font-family: $font-family-heavy;
			text-transform: uppercase;
			
			strong {
				@include grid(14,1,1);
				position: relative;
				text-align: center;
				
				.flaticon {
					font-size: 2.2em;
				}
				
				em {
					color: $white;
					display: block;
					position: absolute;
					top: 4px;
					left: 0;
					width: 100%;
					font-size: 0.8em;
					font-style: normal;
				}
			}
			
			> em {
				@include grid(32,1,1);
				font-style: normal;
			}
	    }
	    
	    .campaign-result-fundracers {
		    color: $color-secondary;
		    
		    strong {
				
				.flaticon {
					color: $color-secondary;
				}
				
			}
			
			em {
				
			}
	    }
	    
	    .campaign-result-projects {
		    color: $color-primary;
		    
		    strong {
		    
				.flaticon {
					color: $color-primary;
				}
			}
			
			em {
				
			}
	    }
    }
}

#home-crazy-campaign-fundraisers {
    
    h1 {
        color: $color-secondary;
    }
    
    #fundraiser-results {
        margin-top: 0;
        margin-bottom: $base-margin*2;
        @include clear;
        
        .project-item {
            background-image: none;
            padding: 0;
            @include grid(12,0,1);
            
            &:hover, &:active {
                
                .is-funded {
                    display: none;
                }
            }
            
            .project-image {
                position: relative;
                
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    z-index: 10;
                    top: 8px;
                    left: 8px;
                    width: 50px;
                    height: 50px;
                    background: image-url("campaigns/campaign-label.png") transparent no-repeat 0 0;
                }
            }
            
            &.fully-funded {
                position: relative;
                
                .project-fund-amount {
                    text-align: center;
                    width: 100%;
                }
                
                .is-funded {
                    position: absolute;
                    width: 100%;
                    height: 160px;
                    color: $color-text;
                    z-index: 999;
                    padding: 80px 16px 16px 110px;
                    font-size: $font-size-small;
                    text-transform: uppercase;
                    line-height: 1em;
                    font-family: $font-family-heavy;
                    @include opacity(0.9);
                    background: image-url("campaigns/fundraiser-is-funded.png") $white no-repeat 16px 16px;
                }
            }
        }
    }
}



/* jQuery Countdown styles 1.6.3. */
.hasCountdown {
	font-family: 'countdown';
	font-size: 4em;
	clear: both;
	display: block;
	text-align: center;
	@include grid(48,0,0);
	line-height: 1em;
	margin: $base-margin/4 0 $base-margin/8 0;
	
	.digit {
	    @include grid(5.5,0,0.5);
	    color: $color-text-light;
	    background-color: $gray;
	    @include border-radius(4px);
    }
    
    .digit-sep {
        @include grid(4,0,0.5);
        color: $gray;
    }
}

#countdown-labels {
	@include clear;
	width: 100%;
    text-align: center;
    color: $gray;
    font-size: $font-size-smallest;
    text-transform: uppercase;
    margin: 0 0 $base-margin/4 0;
    
    .countdown-label-hours {
	    @include grid(20,0,4);
    }
    
    .countdown-label-minutes {
	    @include grid(14,0,2);
    }
    
    .countdown-label-seconds {
	    @include grid(14,2,2);
    }
    
}

#fundraiser-detail, #fundraiser-status, #project-campaign {

    .project-image {
        position: relative;
        
        &:after {
            content: '';
            display: block;
            position: absolute;
            z-index: 10;
            top: 16px;
            left: 16px;
            width: 50px;
            height: 50px;
            background: image-url("campaigns/campaign-label.png") transparent no-repeat 0 0;
        }
    }
    
    .project-fund-amount-slider {
        position: relative;
        overflow: visible;
        background-color: $white;
        
        .slider-progress {
            background: image-url("campaigns/project-racecar.png") $color-primary no-repeat 100% 50%;
        }
        
        &:after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0px;
            right: -6px;
            width: 60px;
            height: 18px;
            text-align: left;
            padding-top: 25px;
            color: $gray;
            font-style: italic;
            text-transform: uppercase;
            font-size: $font-size-smallest;
            background: image-url("campaigns/project-finish.png") transparent no-repeat 100% 0;
        }
    }
}

#fundraiser-status {
    
    .project-fund-amount-slider {
    
        &:after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0px;
            right: -6px;
            width: 60px;
            height: 18px;
            text-align: left;
            padding-top: 25px;
            color: $gray;
            font-style: italic;
            text-transform: uppercase;
            font-size: $font-size-smallest;
            background: image-url("campaigns/fundraiser-finish.png") transparent no-repeat 100% 0;
        }
    }
}

#project-campaign {

    .project-member-initiator {
        
        h4 {
            left: -$base-margin*2;
            background: $color-primary;
            display: inline-block;
            margin: 0 0 $base-margin 0;
            padding: $base-padding/4 $base-padding $base-padding/4 $base-padding*2;
        }
        
        .member-name {
            display: block;
        }
    }
}





