{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}

{% tplhandlebars "howto/canvas" %}
    <div class="l-section" id="howto-canvas">
        <div class="l-wrapper">
            <div class="row">
                <div class="col6">
                    <div class="content">
                        <span class="title-header">{% trans 'Your canvas to successful crowdfunding'%}</span>
                        <p>
                            {% blocktrans %}
                                Now you know the rules and you’re ready to put them into practice. Start planning your crowdfunding journey by filling in your do-good crowdfunding canvas.
                            {% endblocktrans %}
                        </p>
                        <div class="row">
                            <div class="col6">
                                <a href="/static/assets/images/img/howto/crowdfund-canvas-A4.pdf" data-size="61kb" target="_blank" download="crowdfund-canvas-A4">Download <strong>A4</strong> Canvas</a>
                            </div>
                            <div class="col6">
                                <a href="/static/assets/images/img/howto/crowdfund-canvas-A3.pdf" data-size="43kb" target="_blank" download="crowdfund-canvas-A3">Download <strong>A3</strong> Canvas</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col6">
                    <div class="mask">
                        <div class="m-container">
                            <div class="crowdfunding-canvas"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endtplhandlebars %}