{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}

{% tplhandlebars "howto/slider" %}
    <div class="l-section home-carousel" id="howto-slider">
        <section class="carousel default" {{bindAttr style=view.backgroundStyle}}>
            <div class="row">
                <div class="col12">
                    <div class="slider-header">
                        {% blocktrans %}
                            <h3>The <big>10 golden rules</big> for successful do-good Crowdfunding</h3>
                        {% endblocktrans %}
                    </div>
                </div>
            </div>
            <ul>
                <li class="carousel-item slide">
                    <div class="home-carousel-content">
                        <div class="slide-content">
                            <div class="row">
                                <div class="col4">
                                    <div class="icon-section clipboard">
                                        
                                    </div>
                                </div>
                                <div class="col8">
                                    <div class="content-section">
                                        <h4>
                                            <big>1</big>{% trans 'Start with a detailed strategy'%}
                                        </h4>
                                        <p>
                                            {% blocktrans%}
                                                Make sure all the preparation is done before you launch your campaign. Take 
                                                time to work thoroughly on a campaign strategy, including a detailed plan 
                                                with clear goals and sub-goals. As most successful campaigns are funded 
                                                within thirty days, you should aim to reach your target as quickly as possible. 
                                                Prepare a realistic budget to show potential supporters that you mean 
                                                business. Make a list of your network and create several template emails to 
                                                spread during your campaign so you can be ready to contact supporters 
                                                right from the beginning. 
                                            {% endblocktrans%}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <hr class="slide-hr">
                        </div>
                    </div>
                </li>
                <li class="carousel-item slide">
                    <div class="home-carousel-content">
                        <div class="slide-content">
                            <div class="row">
                                <div class="col4">
                                    <div class="icon-section arrows">
                                        
                                    </div>
                                </div>
                                <div class="col8">
                                    <div class="content-section">
                                        <h4>
                                            <big>2</big>{% trans 'Ask for help'%}
                                        </h4>
                                        <p>
                                            {% blocktrans%}
                                                Don’t hesitate to ask for help. Not everyone who is interested in the campaign 
                                                will be able to offer financial support, but they may be able to contribute in 
                                                other valuable ways - by sharing your content for example. Start asking for 
                                                help early - you and your team want to be ready to rock as soon as your 
                                                campaign is online. Make sure everyone in the team is aware of his or her role 
                                                and responsibilities. It can help if you give each team member of a set of 
                                                written instructions. 
                                            {% endblocktrans%}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <hr class="slide-hr">
                        </div>
                    </div>
                </li>
                <li class="carousel-item slide">
                    <div class="home-carousel-content">
                        <div class="slide-content">
                            <div class="row">
                                <div class="col4">
                                    <div class="icon-section pins">
                                        
                                    </div>
                                </div>
                                <div class="col8">
                                    <div class="content-section">
                                        <h4>
                                            <big>3</big>{% trans 'Identify your network'%}
                                        </h4>
                                        <p>
                                            {% blocktrans%}
                                                1%Club’s crowdfunding platform is the perfect tool to share your campaign 
                                                with your network, so make sure you make the most of it! Start by working out 
                                                how big your network is and how much support it will generate. Use this to set 
                                                a target amount. Once you’ve worked out the potential size of your network, 
                                                approach your potential supporters directly and explain why their support is so 
                                                important. Impress the urgency of the campaign on them; how quickly you 
                                                need to reach your target and why it’s so important that you succeed.
                                            {% endblocktrans%}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <hr class="slide-hr">
                        </div>
                    </div>
                </li>
                <li class="carousel-item slide">
                    <div class="home-carousel-content">
                        <div class="slide-content">
                            <div class="row">
                                <div class="col4">
                                    <div class="icon-section paper">
                                        
                                    </div>
                                </div>
                                <div class="col8">
                                    <div class="content-section">
                                        <h4>
                                            <big>4</big>{% trans 'Tell a good story'%}
                                        </h4>
                                        <p>
                                            {% blocktrans%}
                                                A successful campaign runs on a strong story and lots of passion. Therefore it’s 
                                                vital that your crowdfunding campaign page is always kept full of new 
                                                content. Communicate your campaign story clearly and persuasively and 
                                                explain why it exists. The big question you should answer is ‘why should I 
                                                support your campaign?’ Don’t be afraid to look elsewhere for inspiration and 
                                                learn from others. Pitch your idea to the press and other (social) media 
                                                networks. Never underestimate the power of word of mouth.
                                            {% endblocktrans%}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <hr class="slide-hr">
                        </div>
                    </div>
                </li>
                <li class="carousel-item slide">
                    <div class="home-carousel-content">
                        <div class="slide-content">
                            <div class="row">
                                <div class="col4">
                                    <div class="icon-section mag">
                                        
                                    </div>
                                </div>
                                <div class="col8">
                                    <div class="content-section">
                                        <h4>
                                            <big>5</big>{% trans 'Keep it personal'%}
                                        </h4>
                                        <p>
                                            {% blocktrans%}
                                                Start by emailing your close friends and family. They’ll be the first to support 
                                                you and share your campaign. Contact as many people as you can, but 
                                                don’t spam everybody at once. Make a unique message for each group
                                                within your network. Some people like a Facebook message, others a 
                                                personal email or a phone call. Introduce your campaign briefly and include 
                                                a direct link to your campaign. If you don’t hear back from somebody straight 
                                                away, don’t be afraid to get back in touch a week or so later.
                                            {% endblocktrans%}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <hr class="slide-hr">
                        </div>
                    </div>
                </li>
                <li class="carousel-item slide">
                    <div class="home-carousel-content">
                        <div class="slide-content">
                            <div class="row">
                                <div class="col4">
                                    <div class="icon-section mail-paper">
                                        
                                    </div>
                                </div>
                                <div class="col8">
                                    <div class="content-section">
                                        <h4>
                                            <big>6</big>{% trans 'Share your story'%}
                                        </h4>
                                        <p>
                                            {% blocktrans%}
                                                During your campaign it is very important to keep the story behind the 
                                                campaign alive. Both people who have already supported you and potential 
                                                supporters will want to see what you’re doing and get to know you better. 
                                                Post pictures and videos to show how you’re getting on and share your 
                                                experiences via short blogs. Email, sms, WhatsApp, Facebook, Instagram: use 
                                                them all!
                                            {% endblocktrans%}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <hr class="slide-hr">
                        </div>
                    </div>
                </li>
                <li class="carousel-item slide">
                    <div class="home-carousel-content">
                        <div class="slide-content">
                            <div class="row">
                                <div class="col4">
                                    <div class="icon-section chart">
                                        
                                    </div>
                                </div>
                                <div class="col8">
                                    <div class="content-section">
                                        <h4>
                                            <big>7</big>{% trans 'Celebrate success with your supporters '%}
                                        </h4>
                                        <p>
                                            {% blocktrans%}
                                                Your supporters are a vital part of your campaign community. They’re the 
                                                people who will help you reach your target by raising funds and sharing your 
                                                campaign with their networks. So make sure you keep them involved every 
                                                step of the way! Thank every supporter personally after every donation - if 
                                                they’ve donated once, they could support you again. And don’t forget to 
                                                answer every question quickly and stay 100% transparent by sharing every 
                                                development, good or bad.
                                            {% endblocktrans%}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <hr class="slide-hr">
                        </div>
                    </div>
                </li>
                <li class="carousel-item slide">
                    <div class="home-carousel-content">
                        <div class="slide-content">
                            <div class="row">
                                <div class="col4">
                                    <div class="icon-section lamp">
                                        
                                    </div>
                                </div>
                                <div class="col8">
                                    <div class="content-section">
                                        <h4>
                                            <big>8</big>{% trans 'Be original'%}
                                        </h4>
                                        <p>
                                            {% blocktrans%}
                                                Use your creativity to attract extra attention to your campaign. An event like a 
                                                party or fundraising dinner is a great way to give something back to all your 
                                                supporters – but make sure that anything you organize delivers results 
                                                (funding!) and doesn’t become too costly. 
                                                Don’t forget to organize online activities either - personalized thank you 
                                                photos or videos for supporters are a good incentive and keep people 
                                                involved in the campaign. Or introduce something like ‘Video Fridays’ to keep 
                                                people updated with project progress and provide extra insight into your 
                                                campaign.
                                            {% endblocktrans%}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <hr class="slide-hr">
                        </div>
                    </div>
                </li>
                <li class="carousel-item slide">
                    <div class="home-carousel-content">
                        <div class="slide-content">
                            <div class="row">
                                <div class="col4">
                                    <div class="icon-section rocket">
                                        
                                    </div>
                                </div>
                                <div class="col8">
                                    <div class="content-section">
                                        <h4>
                                            <big>9</big>{% trans 'Keep on going!'%}
                                        </h4>
                                        <p>
                                            {% blocktrans%}
                                                Crowdfunding is a lot of work and you’ll be very busy all the way through your 
                                                campaign. But with a good story and lots of energy & enthusiasm you can do 
                                                this! Good luck!
                                            {% endblocktrans%}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <hr class="slide-hr">
                        </div>
                    </div>
                </li>
                <li class="carousel-item slide">
                    <div class="home-carousel-content">
                        <div class="slide-content">
                            <div class="row">
                                <div class="col4">
                                    <div class="icon-section clock">
                                        
                                    </div>
                                </div>
                                <div class="col8">
                                    <div class="content-section">
                                        <h4>
                                            <big>10</big>{% trans 'Possible pitfalls'%}
                                        </h4>
                                        <p>
                                            {% blocktrans%}
                                                A few things you should <strong>absolutely NOT</strong> do:
                                                <ul>
                                                    <li>
                                                        Start to relax when your campaign is online. This is just the beginning!
                                                    </li>
                                                    <li>
                                                        Talk about ‘begging’; you’re sharing your enthusiasm for this campaign. 
                                                    </li>
                                                    <li>
                                                        Spend money; you’re trying to raise money and spending it won’t help you reach your target.
                                                    </li>
                                                    <li>
                                                        Spam people with lots of group emails. Contacting (potential) supporters is very important, as is making sure you spread your message in a new, personal way each time. 
                                                    </li>
                                                </ol>
                                            {% endblocktrans%}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <hr class="slide-hr">
                        </div>
                    </div>
                </li>
            </ul>
            <span class="carousel-nav-arrow left"></span>
            <span class="carousel-nav-arrow right"></span>
            <div class="home-carousel-nav howto-slides">
                <span class="carousel-nav-item is-active">1. {% trans 'Start with a detailed strategy'%}</span>
                <span class="carousel-nav-item">2. {% trans 'Ask for help'%}</span>
                <span class="carousel-nav-item">3. {% trans 'Identify your network'%}</span>
                <span class="carousel-nav-item">4. {% trans 'Tell a good story'%}</span>
                <span class="carousel-nav-item">5. {% trans 'Keep it personal'%}</span>
                <span class="carousel-nav-item">6. {% trans 'Share your story'%}</span>
                <span class="carousel-nav-item">7. {% trans 'Celebrate success with your supporters '%}</span>
                <span class="carousel-nav-item">8. {% trans 'Be original'%}</span>
                <span class="carousel-nav-item">9. {% trans 'Keep on going!'%}</span>
                <span class="carousel-nav-item">10. {% trans 'Possible pitfalls'%}</span>
            </div>
        </section>
    </div>
{% endtplhandlebars %}