{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}

{% tplhandlebars "howto/video"%}

    <div id="howto-video">
        {{bb-video-main video_id='video_crowdfunding' vimeo_id='110890470' backgroundImage='/static/assets/images/img/howto/howto_header.jpg'}}
    </div>

{% endtplhandlebars %}