<?xml version="1.0"?>
{% load thumbnail %}
<projects>
    {% for project in object_list %}
        <project>
            <id>{{ project.id }}</id>
            <started>{{ project.campaign_started|date:"c" }}</started>
            <deadline>{{ project.deadline|date:"c" }}</deadline>
            <title>{{ project.title }}</title>
            <link>{{ site }}/go/projects/{{ project.slug }}</link>
            <created>{{ project.created|date:"c" }}</created>
            <slug>{{ project.slug }}</slug>
            <supportlink>{{ site }}/go/projects/{{ project.slug }}</supportlink>
            <image>
                    {% thumbnail project.image "200x110" as im %}
                    {{ site }}{{ im.url }}
                    {% endthumbnail %}
            </image>
            <location>
                <country>{{ project.country.name }}</country>
                <region>{{ project.country.subregion.name }}</region>
                <latitude>{{ project.latitude }}</latitude>
                <longitude>{{ project.longitude }}</longitude>
            </location>
            <money>
                <asked>{{ project.amount_asked }}</asked>
                <donated>{{ project.amount_donated }}</donated>
                <needed>{{ project.amount_needed }}</needed>
            </money>
        </project>
    {%  endfor  %}
</projects>
