<?xml version="1.0"?>
{% load thumbnail %}
<projects>
    {% for project in object_list %}
        <project>
            <title>{{ project.title }}</title>
            <link>{{ site }}/go/projects/{{ project.slug }}</link>
            <created>{{ project.projectplan.date_created }}</created>
            <slug>{{ project.slug }}</slug>
            <supportlink>{{ site }}/go/projects/{{ project.slug }}</supportlink>
            <image>
                    {% thumbnail project.projectplan.image "200x110" as im %}
                    {{ site }}{{ im.url }}
                    {% endthumbnail %}
            </image>
            <location>
                <country>{{ project.projectplan.country.name }}</country>
                <region>{{ project.projectplan.country.subregion.name }}</region>
                <latitude>{{ project.projectplan.latitude }}</latitude>
                <longitude>{{ project.projectplan.longitude }}</longitude>
            </location>
            <money>
                <asked>{{ project.projectcampaign.local_money_asked }}</asked>
                <donated>{{ project.projectcampaign.local_money_donated }}</donated>
                <needed>{{ project.projectcampaign.local_money_needed }}</needed>
            </money>
        </project>
    {%  endfor  %}
</projects>
