//
// Funding steps (overwrites modules)
// --------------------------------------------------

#fund {
    
    .fund-header {
        background-color: $gray-lighter;
        
        .tabs {
            
        }
        
    }
    
    .fund-frequency {
		padding: 0;
	}
    
     
    
    .btn-login {
        top: 0;
        right: 0;
        position: absolute;
        float: right;
    }
    
}