//
// Specific homepage style (overwrite modules)
// --------------------------------------------------

#home {
	
	.carousel .carousel-item {
		min-height: 400px;
	}
	
	// QUOTE

	.quotes {
		background-image: image-url("world.png");
		background-repeat: no-repeat;
		background-position: 50% $base-padding;
	
	    
	    h2 {
	        @include rem(margin-bottom, 32px);
	
	        em {
	            color: $color-primary;
	            font-weight: normal;
	            font-style: normal;
	        }
	    }
	
	    section {
	        
	        .quote {
			    @include clearfix;
			    @include rem(margin-bottom, 32px);
			    @include rem(height, 220px);
			
			    aside {
			        @include grid(12,4,2);
			    }
			
			    article {
			        @include grid(32);
			        @include rem(padding, $base-padding*2);
			        position: relative;
			        background: $white;
			
			        &:after {
			            position: absolute;
			            top: 32px;
			            right: 100%;
			            margin-top: -16px;
			            width: 0;
			            height: 0;
			            border: solid transparent;
			            border-width: 16px;
			            border-color: rgba(255, 255, 255, 0);
			            border-right-color: #ffffff;
			            content: " ";
			            pointer-events: none;
			        }
			    }
			
			    .quote-name {
			        @include rem(font-size, 18px);
			        @include rem(margin-bottom, $base-padding/2);
			        color: $color-secondary;
			        font-weight: 600;
			        text-transform: uppercase;
			    }
			
			    .quote-quote {
			        @include rem(font-size, 32px);
			        color: $black;
			        margin: 0;
			        text-transform: uppercase;
			    }
			}
	
		    .btn.first {
		        @include grid(16,4,0);
		    }
		    
		    .btn.second {
			    @include grid(16,2,2);
		    }
		    
		    .btn.third {
			    @include grid(16,0,4);
		    }
	     
	    }
	
	}

	
}
