//
// Specific homepage style (overwrites modules)
// --------------------------------------------------

#home {
	
	.home-projects, .home-quotes, .home-impact {
	    @include clear;
    	padding: $base-padding*2 0;
	}
	
	// Carousel overwrite
	.carousel .carousel-item {
		height: 500px;
	}
	
    #new-website .carousel-image {
        background: image-url("pages/homepage/home-back-new-website.png") transparent no-repeat  120px 30%;
    }
    
    #find-project .carousel-image {
        background: image-url("pages/homepage/home-back-find-project.jpg") transparent no-repeat 0 0;
    }
    
    #smart-idea .carousel-image {
        background: image-url("pages/homepage/home-back-smart-idea.png") transparent no-repeat 120px 30%;
    }
	
	// Projects
	.project-slider {
	    @include grid(48,2,2);
	}
	
	// Quotes
	.home-quotes {
		background-image: image-url("world.png");
		background-repeat: no-repeat;
		background-position: 50% $base-padding;
        background-color: $gray-lighter;
        
	    h2 {
	        margin-bottom: $base-margin*2;
	
	        em {
	            color: $color-primary;
	            font-weight: normal;
	            font-style: normal;
	        }
	    }
	        
        .quote {
		    @include clear;
		    margin: $base-margin*2 0;
		    height: 180px;
		
		    figure {
		        @include grid(12,4,1);
		    }
		
		    article {
		        @include grid(36,0,4);
		        padding: $base-padding*2;
		        position: relative;
		        background: $white;
		
		        &:after {
		            position: absolute;
		            top: 32px;
		            right: 100%;
		            margin-top: -16px;
		            width: 0;
		            height: 0;
		            border: solid transparent;
		            border-width: 16px;
		            border-color: rgba(255, 255, 255, 0);
		            border-right-color: #ffffff;
		            content: " ";
		            pointer-events: none;
		        }
		     			
			    .quote-name {
			        font-size: $font-size-larger;
			        margin-bottom: $base-margin/2;
			        color: $color-secondary;
			    }
			
			    .quote-content {
			        font-size: $font-size-larger;
			        color: $black;
			        margin: 0;
			        line-height: $base-line-height;
			    }
		    }
		}

	    .btn.one {
	        @include grid(16,4,0);
	    }
	    
	    .btn.two {
		    @include grid(16,2,2);
	    }
	    
	    .btn.three {
		    @include grid(16,0,4);
	    }
	     
	
	}
	
	.home-impact {
    	text-align: center;
	}
	
	// Impact overview
    .impact {
        @include clear;
        padding: 0;
        margin: 0;
    
        li {
            @include resetlist;
            @include grid(9.6,0,1);
            color: $gray;
            text-align: center;
            text-transform: uppercase;
    		
    		.image {
    		    padding: 0 $base-padding*2;
    			margin: 0 auto $base-margin auto;
    			
    		}
    
            strong {
                font-size: $font-size-larger;
                margin: $base-margin/2 0;
                display: block;
                color: $gray-darker;
            }
        }
    }
}
