//
// Specific homepage style (overwrites modules)
// --------------------------------------------------

#home {
	
	// Carousel overwrite
	.carousel .carousel-item {
		min-height: 460px;
	}
	
	// Quotes
	.quotes {
		background-image: image-url("world.png");
		background-repeat: no-repeat;
		background-position: 50% $base-padding;
        background-color: $gray-lighter;
        
	    h2 {
	        @include rem(margin-bottom, 32px);
	
	        em {
	            color: $color-primary;
	            font-weight: normal;
	            font-style: normal;
	        }
	    }
	
	    section {
	        
	        .quote {
			    @include clearfix;
			    @include rem(margin-bottom, 32px);
			    @include rem(height, 220px);
			
			    aside {
			        @include grid(12,4,2);
			    }
			
			    article {
			        @include grid(32);
			        @include rem(padding, $base-padding*2);
			        position: relative;
			        background: $white;
			
			        &:after {
			            position: absolute;
			            top: 32px;
			            right: 100%;
			            margin-top: -16px;
			            width: 0;
			            height: 0;
			            border: solid transparent;
			            border-width: 16px;
			            border-color: rgba(255, 255, 255, 0);
			            border-right-color: #ffffff;
			            content: " ";
			            pointer-events: none;
			        }
			    }
			
			    .quote-name {
			        @include rem(font-size, 18px);
			        @include rem(margin-bottom, $base-padding/2);
			        color: $color-secondary;
			        font-weight: 600;
			        text-transform: uppercase;
			    }
			
			    .quote-quote {
			        @include rem(font-size, 32px);
			        color: $black;
			        margin: 0;
			        text-transform: uppercase;
			    }
			}
	
		    .btn.first {
		        @include grid(16,4,0);
		    }
		    
		    .btn.second {
			    @include grid(16,2,2);
		    }
		    
		    .btn.third {
			    @include grid(16,0,4);
		    }
	     
	    }
	
	}
	
	// Impact overview
    .impact {
        @include clearfix;
        list-style: none;
    
        li {
            @include grid(9.6, 0, 1);
            @include rem(font-size, 16px);
            color: $gray;
            text-align: center;
            text-transform: uppercase;
    		
    		img {
    			display: block;
    			margin: 0 auto 16px auto;
    			width: 120px;
            	background-image: $icons;
                background-repeat: no-repeat;
    		}
    
            strong {
                @include rem(font-size, 22px);
                @include rem(margin, 8px 0);
                display: block;
                color: $gray-darker;
                font-weight: 300;
                font-style: normal;
            }
        }
    }

	
}
