//
// Fundraiser detail
// Overwrites project detail elements
// --------------------------------------------------

#fundraiser-detail {
    background-color: $gray-lighter;
    color: $color-text;
    
    .project-image img {
       border: 1px solid $white; 
    }
   
    .fundraiser-project {
        
        .fundraiser-project-image {
            @include grid(16,2,2);
            position: relative;
            bottom: 24px;
            z-index: 10;
            
            img {
                border: 1px solid $gray-lighter;
            }
        }
        
        .fundraiser-project-details {
             @include grid(32,1,2);
             
             h4, p {
                  font-family: $font-family-heavy;
                font-size: $font-size-smallest;
            }
        }
    }
    
    .fundraiser-member {
        margin-top: $base-margin*2;
        
        .member-avatar img {
            @include grid(10,0,2);
            float: left;
            vertical-align: top;
        }
        
        .member-name {
            display: inline-block;
            @include grid(38,0,0);
            margin-bottom: $base-margin/2;
            
            em {
                color: $gray !important;
                font-style: normal;
                font-family: $base-font-family;
            }
        }
        
        .project-action {
            @include grid(38,0,0);
        }
    }
    
    .project-title {
        color: $color-heading;
    }
}

#fundraiser-status {
    padding: $base-padding 0;
    background-color: $gray-light;
    
    .project-status {
        margin: 0;
    }
    
    .project-days-left {
        margin-top: $base-margin;
        color: $color-text;
    
        .flaticon {
            color: $gray-dark;
        }
    }
    
    .project-fund {
        margin-top: $base-margin;
        
        .amount-donated {
            color: $color-text;
        }
        
        .project-fund-amount-slider {
            background-color: $white;
        }
    }
    
    .project-member-list {
        
        h4 {
            color: $gray-dark;
        }
    }
}