//
// Search
// --------------------------------------------------

.search-form {
    @include grid(48, 1, 0);
    @include rem(padding-top, $base-padding);
	
	.search-field {
		@include grid(12,0,1);
		position: relative;
		
		.flaticon {
			position: absolute;
			top: 2px;
			left: 10px;
            @include rem(font-size, 22px);
            display: block;
            color: $gray-darker;
            text-align: center;
            line-height: 40px;
		}
		
		input {
			height: 40px;
			text-indent: 30px;
		}
		
	}
	
    .control {
        @include grid(12,0,1);
        
        .flaticon {
            @include grid(7,0,0);
            @include rem(font-size, 22px);
            background-color: $gray-light;
            color: $gray-darker;
            text-align: center;
            line-height: 40px;
        }
        
        select {
            @include grid(40,0,0);
            height: 40px;
            text-transform: capitalize;
        }
        
        select option:first-child {
            color: $gray;
            text-transform: none;
        }
        
        select option:selected {
            font-weight: 300;
        }
    }
    
    .clear-form {
        @include rem(margin, 8px 24px 0px);
        float: right;
        
        a {
            color: $gray-dark;
        }
        text-transform: uppercase;
    }
}

#search-navigation {
	
    @include clearfix;
    @include grid(48,1);
    @include rem(padding-top, $base-padding * 2);
	text-transform: uppercase;
	
	.search-results {
		@include grid(8,0);
		
	    h2 {
	        padding: 0;
	        margin: 0;
	        
	        em {
	            font-style: normal;
	            color: $gray
	        }
	    }
	}
	
    .search-sort {
    	@include grid(28,0,0);
    	@include rem(margin-top, 4px);
        @include rem(font-size, 16px);
        text-align: center;
		
        a {
            @include rem(margin-left, $base-padding/2);
            
            &.active {
                text-decoration: underline;
                font-weight: 300;
            }
        }
    }
    
    .search-pagination {
    	@include grid(12,1,0);
    	text-align: right;
    	vertical-align: middle;
    	line-height: 1;
		
    	.search-showing {
    		@include rem(margin-right, $base-padding);
	    	@include rem(font-size, 14px);
	    	position: relative;
	    	top: -3px;
    	}
    	
    	.search-pages-control {
			
    	}
    	
    	.next-page,
    	.previous-page {
	    	@include rem(font-size, 24px);
    	}
	
    	span.next-page,
		span.previous-page {
			color: $gray-lighter;
		}
		
		a.next-page,
		a.previous-page {
			
			color: $black;
		
			&:hover, &:active {
		    	color: $color-primary;
		    }
	    }
    }
}