//
// Global static onepage
// --------------------------------------------------

.static-onepage {
    @include clear;
    
    .static-onepage-nav {
        @include clear;
        @include grid(48,1,1);
        margin-top: 0;
        margin-bottom: 0;
    
        > li {
            @include resetlist;
            margin-right: $base-margin*2;
            float: left;
    
            a {
                color: $gray;
                text-transform: uppercase;
    
                &:hover {
    	            color: $gray-darker;
                }
                
                &.is-active {
                    color: $gray-darker;
                    text-decoration: underline;
                }
            }
        }
    }
    
    .static-onepage-section {
        
        .static-onepage-content {
            @include clear;
            width: 100%;
            margin-top: auto;
            margin-bottom: auto;
            border: 1px solid red;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
        
        .illustration {
            font-size: 240px;
            color: $gray-lighter;
        }
        
        &:nth-of-type(odd) {
            background-color: $gray-lighter;
    
            .illustration {
                color: $white;
            }
        }
    }
    
    .numbered-list {
        @include clearfix;
        margin: 0;
        
        li {
            @include resetlist;
        }
        
        .nl-item-number {
            font-size: 64px;
            line-height: $base-line-height;
            color: $gray-lighter;
            font-family: $font-family-bold;
        }
        
        .nl-item-title {
            font-size: 22px;
            line-height: $base-line-height;
            margin-bottom: 0;
            color: $color-primary;
            font-family: $font-family-heavy;
        
            em {
                display: block;
                color: $color-secondary;
                font-family: $base-font-family;
                font-style: normal;
            }
        }
        
        .nl-item-description {
            line-height: $base-line-height;
            color: $gray-darker;
        }
    }
    
    .static-onepage-next {
        font-size: 40px;
        position: absolute;
        right: 15%;
        bottom: -100px;
        color: $color-primary;
        cursor: pointer;
        text-decoration: none;
    }
}