{% extends "base.mail.html" %}

{% block content %}
    Hi 1%CREW,<br/><br/>
    {{ voucher_request.contact_name }} has sent you a request for {{ voucher_request.amount }} <b>1%GIFTCARD</b>.
    <br/>
    <table>
        <tr>
            <td>Name</td>
            <td>{{ voucher_request.contact_name }}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{ voucher_request.contact_email }}</td>
        </tr>
        <tr>
            <td>Phone number</td>
            <td>{{ voucher_request.contact_phone }}</td>
        </tr>
        <tr>
            <td>Organization</td>
            <td>{{ voucher_request.organization }}</td>
        </tr>
        <tr>
            <td>Message</td>
            <td>{{ voucher_request.message }}</td>
        </tr>
    </table>
    <br/>
    <span class="pink">YOU</span> <span class="green">MAKE IT WORK!</span>
{% endblock %}

