/* Compass */
/* line 17, ../../../../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Variables & Mixins */
/* ========================= Variables ================================== */
/* =========== Semantic fluid grid */
/*

    Use '@include grid(12, 2)' to make a column. 
    The first unit (12) is the column width.
    The second unit (2) is the margin on both sides.
    The margin will be auto substracted from the column width.
    So don't recalculate the column width if you change your margin.
    
    To set different margins on both sides use '@include grid(12, 2, 3)'.
    You can also use negative margins.
    
*/
/* reset your grid */
/* need to reset floats */
@font-face {
  font-family: 'Flaticons Social';
  src: url("../fonts/flaticons-social.eot");
  src: url("../fonts/flaticons-social.eot?#iefix") format("embedded-opentype"), url("../fonts/flaticons-social.woff") format("woff"), url("../fonts/flaticons-social.ttf") format("truetype"), url("../fonts/flaticons-social.svg#flaticons-social") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 11, ../../sass/icons/_flaticons-social.scss */
.flaticon.social:before {
  font-family: 'Flaticons Social';
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* line 21, ../../sass/icons/_flaticons-social.scss */
.flaticon.social.facebook-1:before,
.flaticon.social.facebook:before,
.flaticon.social.A1:before {
  content: "\e7d0";
}

/* line 25, ../../sass/icons/_flaticons-social.scss */
.flaticon.social.twitter-1:before,
.flaticon.social.twitter:before,
.flaticon.social.A2:before {
  content: "\e7d1";
}

/* line 37, ../../sass/icons/_flaticons-social.scss */
.flaticon.social.flickr-1:before,
.flaticon.social.flickr:before,
.flaticon.social.A5:before {
  content: "\e7d4";
}

/* line 61, ../../sass/icons/_flaticons-social.scss */
.flaticon.social.linkedin-1:before,
.flaticon.social.linkedin:before,
.flaticon.social.A11:before {
  content: "\e7da";
}

/* line 134, ../../sass/icons/_flaticons-social.scss */
.flaticon.social.facebook-3:before,
.flaticon.social.C5:before {
  content: "\e7ee";
}

/* line 137, ../../sass/icons/_flaticons-social.scss */
.flaticon.social.twitter-3:before,
.flaticon.social.C6:before {
  content: "\e7ef";
}

/* line 152, ../../sass/icons/_flaticons-social.scss */
.flaticon.social.skype-2:before,
.flaticon.social.C11:before {
  content: "\e7f4";
}

/* line 159, ../../sass/icons/_flaticons-social.scss */
.flaticon.social.youtube-1:before,
.flaticon.social.youtube:before,
.flaticon.social.C13:before {
  content: "\e7f6";
}

/* line 162, ../../sass/icons/_flaticons-social.scss */
.flaticon.social.facebook-4:before,
.flaticon.social.D1:before {
  content: "\e7f7";
}

/* line 165, ../../sass/icons/_flaticons-social.scss */
.flaticon.social.twitter-4:before,
.flaticon.social.D2:before {
  content: "\e7f8";
}

@font-face {
  font-family: 'Flaticons Solid';
  src: url("../fonts/flaticons-solid.eot");
  src: url("../fonts/flaticons-solid.eot?#iefix") format("embedded-opentype"), url("../fonts/flaticons-solid.woff") format("woff"), url("../fonts/flaticons-solid.ttf") format("truetype"), url("../fonts/flaticons-solid.svg#flaticons-solid") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 11, ../../sass/icons/_flaticons-solid.scss */
.flaticon.solid:before {
  font-family: 'Flaticons Solid';
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* line 124, ../../sass/icons/_flaticons-solid.scss */
.flaticon.solid.document-2:before,
.flaticon.solid.B10:before {
  content: "\e01d";
}

/* line 150, ../../sass/icons/_flaticons-solid.scss */
.flaticon.solid.upload-document-1:before,
.flaticon.solid.upload-document:before,
.flaticon.solid.B17:before {
  content: "\e024";
}

/* line 154, ../../sass/icons/_flaticons-solid.scss */
.flaticon.solid.download-document-1:before,
.flaticon.solid.download-document:before,
.flaticon.solid.B18:before {
  content: "\e025";
}

/* line 168, ../../sass/icons/_flaticons-solid.scss */
.flaticon.solid.clipboard-1:before,
.flaticon.solid.clipboard:before,
.flaticon.solid.copy-1:before,
.flaticon.solid.copy:before,
.flaticon.solid.C1:before {
  content: "\e028";
}

/* line 172, ../../sass/icons/_flaticons-solid.scss */
.flaticon.solid.remove-from-clipboard-1:before,
.flaticon.solid.remove-from-clipboard:before,
.flaticon.solid.C2:before {
  content: "\e029";
}

/* line 176, ../../sass/icons/_flaticons-solid.scss */
.flaticon.solid.add-to-clipboard-1:before,
.flaticon.solid.add-to-clipboard:before,
.flaticon.solid.C3:before {
  content: "\e02a";
}

/* line 180, ../../sass/icons/_flaticons-solid.scss */
.flaticon.solid.delete-from-clipboard-1:before,
.flaticon.solid.delete-from-clipboard:before,
.flaticon.solid.C4:before {
  content: "\e02b";
}

/* line 184, ../../sass/icons/_flaticons-solid.scss */
.flaticon.solid.clipboard-checkmark-1:before,
.flaticon.solid.clipboard-checkmark:before,
.flaticon.solid.C5:before {
  content: "\e02c";
}

/* line 188, ../../sass/icons/_flaticons-solid.scss */
.flaticon.solid.upload-to-clipboard-1:before,
.flaticon.solid.upload-to-clipboard:before,
.flaticon.solid.C6:before {
  content: "\e02d";
}

/* line 208, ../../sass/icons/_flaticons-solid.scss */
.flaticon.solid.thinking-comment-1:before,
.flaticon.solid.thinking-comment:before,
.flaticon.solid.C11:before {
  content: "\e032";
}

/* line 216, ../../sass/icons/_flaticons-solid.scss */
.flaticon.solid.post-comment-1:before,
.flaticon.solid.post-comment:before,
.flaticon.solid.C13:before {
  content: "\e034";
}

/* line 242, ../../sass/icons/_flaticons-solid.scss */
.flaticon.solid.lock-1:before,
.flaticon.solid.lock:before,
.flaticon.solid.D1:before {
  content: "\e03c";
}

/* line 384, ../../sass/icons/_flaticons-solid.scss */
.flaticon.solid.notebook-1:before,
.flaticon.solid.notebook:before,
.flaticon.solid.E18:before {
  content: "\e061";
}

/* line 417, ../../sass/icons/_flaticons-solid.scss */
.flaticon.solid.briefcase-1:before,
.flaticon.solid.briefcase:before,
.flaticon.solid.F7:before {
  content: "\e06a";
}

/* line 462, ../../sass/icons/_flaticons-solid.scss */
.flaticon.solid.eye-1:before,
.flaticon.solid.eye:before,
.flaticon.solid.view-1:before,
.flaticon.solid.view:before,
.flaticon.solid.F17:before {
  content: "\e074";
}

/* line 570, ../../sass/icons/_flaticons-solid.scss */
.flaticon.solid.calendar-1:before,
.flaticon.solid.calendar:before,
.flaticon.solid.H1:before {
  content: "\e08c";
}

/* line 677, ../../sass/icons/_flaticons-solid.scss */
.flaticon.solid.pencil-3:before,
.flaticon.solid.edit-3:before,
.flaticon.solid.I8:before {
  content: "\e0a7";
}

/* line 690, ../../sass/icons/_flaticons-solid.scss */
.flaticon.solid.mail-1:before,
.flaticon.solid.mail:before,
.flaticon.solid.envelope-1:before,
.flaticon.solid.envelope:before,
.flaticon.solid.I11:before {
  content: "\e0aa";
}

/* line 698, ../../sass/icons/_flaticons-solid.scss */
.flaticon.solid.mail-3:before,
.flaticon.solid.envelope-3:before,
.flaticon.solid.I13:before {
  content: "\e0ac";
}

/* line 736, ../../sass/icons/_flaticons-solid.scss */
.flaticon.solid.heart-1:before,
.flaticon.solid.heart:before,
.flaticon.solid.J3:before {
  content: "\e0b6";
}

/* line 763, ../../sass/icons/_flaticons-solid.scss */
.flaticon.solid.link-1:before,
.flaticon.solid.link:before,
.flaticon.solid.J11:before {
  content: "\e0be";
}

/* line 769, ../../sass/icons/_flaticons-solid.scss */
.flaticon.solid.link-3:before,
.flaticon.solid.J13:before {
  content: "\e0c0";
}

/* line 782, ../../sass/icons/_flaticons-solid.scss */
.flaticon.solid.question-2:before,
.flaticon.solid.help-2:before,
.flaticon.solid.J16:before {
  content: "\e0c3";
}

/* line 795, ../../sass/icons/_flaticons-solid.scss */
.flaticon.solid.exclamation-point-2:before,
.flaticon.solid.caution-2:before,
.flaticon.solid.warning-2:before,
.flaticon.solid.J18:before {
  content: "\e0c5";
}

/* line 810, ../../sass/icons/_flaticons-solid.scss */
.flaticon.solid.user-1:before,
.flaticon.solid.user:before,
.flaticon.solid.profile-2:before,
.flaticon.solid.K1:before {
  content: "\e0c8";
}

/* line 818, ../../sass/icons/_flaticons-solid.scss */
.flaticon.solid.user-2:before,
.flaticon.solid.profile-3:before,
.flaticon.solid.K3:before {
  content: "\e0ca";
}

/* line 853, ../../sass/icons/_flaticons-solid.scss */
.flaticon.solid.contacts-2:before,
.flaticon.solid.K12:before {
  content: "\e0d3";
}

/* line 859, ../../sass/icons/_flaticons-solid.scss */
.flaticon.solid.trophy-1:before,
.flaticon.solid.trophy:before,
.flaticon.solid.award-1:before,
.flaticon.solid.award:before,
.flaticon.solid.K13:before {
  content: "\e0d4";
}

/* line 919, ../../sass/icons/_flaticons-solid.scss */
.flaticon.solid.tag-1:before,
.flaticon.solid.tag:before,
.flaticon.solid.L4:before {
  content: "\e0df";
}

/* line 922, ../../sass/icons/_flaticons-solid.scss */
.flaticon.solid.tag-2:before,
.flaticon.solid.L5:before {
  content: "\e0e0";
}

/* line 978, ../../sass/icons/_flaticons-solid.scss */
.flaticon.solid.wallet-1:before,
.flaticon.solid.wallet:before,
.flaticon.solid.payment-1:before,
.flaticon.solid.payment:before,
.flaticon.solid.L16:before {
  content: "\e0eb";
}

/* line 984, ../../sass/icons/_flaticons-solid.scss */
.flaticon.solid.flag-1:before,
.flaticon.solid.flag:before,
.flaticon.solid.finish-1:before,
.flaticon.solid.finish:before,
.flaticon.solid.L17:before {
  content: "\e0ec";
}

/* line 992, ../../sass/icons/_flaticons-solid.scss */
.flaticon.solid.flag-3:before,
.flaticon.solid.finish-3:before,
.flaticon.solid.L19:before {
  content: "\e0ee";
}

/* line 1107, ../../sass/icons/_flaticons-solid.scss */
.flaticon.solid.clock-1:before,
.flaticon.solid.clock:before,
.flaticon.solid.time-1:before,
.flaticon.solid.time:before,
.flaticon.solid.N5:before {
  content: "\e108";
}

/* line 1112, ../../sass/icons/_flaticons-solid.scss */
.flaticon.solid.watch-1:before,
.flaticon.solid.watch:before,
.flaticon.solid.time-2:before,
.flaticon.solid.N6:before {
  content: "\e109";
}

/* line 1116, ../../sass/icons/_flaticons-solid.scss */
.flaticon.solid.stopwatch-1:before,
.flaticon.solid.stopwatch:before,
.flaticon.solid.N7:before {
  content: "\e10a";
}

/* line 1141, ../../sass/icons/_flaticons-solid.scss */
.flaticon.solid.location-pin-1:before,
.flaticon.solid.location-pin:before,
.flaticon.solid.N12:before {
  content: "\e10f";
}

/* line 1163, ../../sass/icons/_flaticons-solid.scss */
.flaticon.solid.earth-1:before,
.flaticon.solid.earth:before,
.flaticon.solid.world-1:before,
.flaticon.solid.world:before,
.flaticon.solid.N18:before {
  content: "\e115";
}

/* line 1188, ../../sass/icons/_flaticons-solid.scss */
.flaticon.solid.call-3:before,
.flaticon.solid.phone-3:before,
.flaticon.solid.O3:before {
  content: "\e11a";
}

/* line 1205, ../../sass/icons/_flaticons-solid.scss */
.flaticon.solid.lightbulb-3:before,
.flaticon.solid.idea-2:before,
.flaticon.solid.O7:before {
  content: "\e11e";
}

/* line 1276, ../../sass/icons/_flaticons-solid.scss */
.flaticon.solid.settings-2:before,
.flaticon.solid.gear-2:before,
.flaticon.solid.P2:before {
  content: "\e12d";
}

/* line 1282, ../../sass/icons/_flaticons-solid.scss */
.flaticon.solid.wrench-1:before,
.flaticon.solid.wrench:before,
.flaticon.solid.tool-1:before,
.flaticon.solid.tool:before,
.flaticon.solid.P3:before {
  content: "\e12e";
}

/* line 1452, ../../sass/icons/_flaticons-solid.scss */
.flaticon.solid.menu-list-4:before,
.flaticon.solid.R7:before {
  content: "\e15a";
}

/* line 1705, ../../sass/icons/_flaticons-solid.scss */
.flaticon.solid.megaphone-1:before,
.flaticon.solid.megaphone:before,
.flaticon.solid.announcement-1:before,
.flaticon.solid.announcement:before,
.flaticon.solid.U13:before {
  content: "\e19c";
}

/* line 1812, ../../sass/icons/_flaticons-solid.scss */
.flaticon.solid.right-angle-quote-1:before,
.flaticon.solid.right-angle-quote:before,
.flaticon.solid.V18:before {
  content: "\e1b5";
}

/* line 1822, ../../sass/icons/_flaticons-solid.scss */
.flaticon.solid.plus-1:before,
.flaticon.solid.plus:before,
.flaticon.solid.W1:before {
  content: "\e1b8";
}

/* line 1830, ../../sass/icons/_flaticons-solid.scss */
.flaticon.solid.checkmark-1:before,
.flaticon.solid.checkmark:before,
.flaticon.solid.W3:before {
  content: "\e1ba";
}

/* line 1834, ../../sass/icons/_flaticons-solid.scss */
.flaticon.solid.x-1:before,
.flaticon.solid.x:before,
.flaticon.solid.W4:before {
  content: "\e1bb";
}

/* line 1859, ../../sass/icons/_flaticons-solid.scss */
.flaticon.solid.left-2:before,
.flaticon.solid.W11:before {
  content: "\e1c2";
}

/* line 1862, ../../sass/icons/_flaticons-solid.scss */
.flaticon.solid.right-2:before,
.flaticon.solid.W12:before {
  content: "\e1c3";
}

/* line 1889, ../../sass/icons/_flaticons-solid.scss */
.flaticon.solid.plus-2:before,
.flaticon.solid.X1:before {
  content: "\e1cc";
}

/* line 1892, ../../sass/icons/_flaticons-solid.scss */
.flaticon.solid.minus-2:before,
.flaticon.solid.X2:before {
  content: "\e1cd";
}

/* line 1895, ../../sass/icons/_flaticons-solid.scss */
.flaticon.solid.checkmark-2:before,
.flaticon.solid.X3:before {
  content: "\e1ce";
}

/* line 1898, ../../sass/icons/_flaticons-solid.scss */
.flaticon.solid.x-2:before,
.flaticon.solid.X4:before {
  content: "\e1cf";
}

/* line 1917, ../../sass/icons/_flaticons-solid.scss */
.flaticon.solid.up-circle-2:before,
.flaticon.solid.X9:before {
  content: "\e1d4";
}

/* line 1920, ../../sass/icons/_flaticons-solid.scss */
.flaticon.solid.down-circle-2:before,
.flaticon.solid.X10:before {
  content: "\e1d5";
}

/* line 1923, ../../sass/icons/_flaticons-solid.scss */
.flaticon.solid.left-circle-2:before,
.flaticon.solid.X11:before {
  content: "\e1d6";
}

/* line 1926, ../../sass/icons/_flaticons-solid.scss */
.flaticon.solid.right-circle-2:before,
.flaticon.solid.X12:before {
  content: "\e1d7";
}

@font-face {
  font-family: 'Flaticons Stroke';
  src: url("../fonts/flaticons-stroke.eot");
  src: url("../fonts/flaticons-stroke.eot?#iefix") format("embedded-opentype"), url("../fonts/flaticons-stroke.woff") format("woff"), url("../fonts/flaticons-stroke.ttf") format("truetype"), url("../fonts/flaticons-stroke.svg#flaticons-stroke") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 11, ../../sass/icons/_flaticons-stroke.scss */
.flaticon.stroke:before {
  font-family: 'Flaticons Stroke';
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* line 443, ../../sass/icons/_flaticons-stroke.scss */
.flaticon.stroke.zoom-2:before,
.flaticon.stroke.magnifying-glass-2:before,
.flaticon.stroke.F15:before {
  content: "\e45a";
}

/* line 579, ../../sass/icons/_flaticons-stroke.scss */
.flaticon.stroke.inbox-1:before,
.flaticon.stroke.inbox:before,
.flaticon.stroke.H7:before {
  content: "\e47a";
}

/* line 919, ../../sass/icons/_flaticons-stroke.scss */
.flaticon.stroke.tag-2:before,
.flaticon.stroke.L5:before {
  content: "\e4c8";
}

/* line 988, ../../sass/icons/_flaticons-stroke.scss */
.flaticon.stroke.flag-1:before,
.flaticon.stroke.flag:before,
.flaticon.stroke.finish-1:before,
.flaticon.stroke.finish:before,
.flaticon.stroke.L19:before {
  content: "\e4d6";
}

/* line 1268, ../../sass/icons/_flaticons-stroke.scss */
.flaticon.stroke.wrench-1:before,
.flaticon.stroke.wrench:before,
.flaticon.stroke.tool-1:before,
.flaticon.stroke.tool:before,
.flaticon.stroke.P3:before {
  content: "\e516";
}

/* line 18, ../../sass/admin/dashboard.scss */
body {
  font-family: "Futura Alt", "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-size: 12px;
}

/* line 26, ../../sass/admin/dashboard.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0.5em 0 0 0;
  font-family: "Futura W01 Bold", "Trebuchet MS", Helvetica, Arial, sans-serif;
  line-height: 1.5em;
  text-transform: uppercase;
}
/* line 32, ../../sass/admin/dashboard.scss */
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  line-height: 1;
  color: #cccccc;
}
/* line 37, ../../sass/admin/dashboard.scss */
h1 em, h2 em, h3 em, h4 em, h5 em, h6 em {
  font-style: normal;
}

/* line 42, ../../sass/admin/dashboard.scss */
h1 {
  font-size: 2.5em;
  color: #ff619a;
}

/* line 47, ../../sass/admin/dashboard.scss */
h2 {
  font-size: 1.75em;
  color: #00c051;
}

/* line 52, ../../sass/admin/dashboard.scss */
h3 {
  font-size: 1.25em;
  color: #444444;
}

/* line 57, ../../sass/admin/dashboard.scss */
h4 {
  font-size: 1em;
}

/* line 65, ../../sass/admin/dashboard.scss */
a {
  color: #00c051;
  text-decoration: underline;
  cursor: hand;
  cursor: pointer;
}
/* line 71, ../../sass/admin/dashboard.scss */
a a:visited {
  color: #00c051;
}
/* line 75, ../../sass/admin/dashboard.scss */
a:hover {
  color: #ff619a;
}
/* line 79, ../../sass/admin/dashboard.scss */
a:active {
  position: relative;
  top: 1px;
  color: #444444;
}

/* line 93, ../../sass/admin/dashboard.scss */
#header ul#navigation-menu li ul {
  border: 1px solid #666666;
  background-color: white;
}
/* line 97, ../../sass/admin/dashboard.scss */
#header ul#navigation-menu li ul a:hover {
  background-color: #cccccc;
}

/* line 103, ../../sass/admin/dashboard.scss */
#header #branding h1#site-name {
  height: 50px;
  width: 100px;
  text-indent: -1000px;
}

/* line 109, ../../sass/admin/dashboard.scss */
.dashboard .dashboard-module {
  border: 2px solid black;
  border-radius: 0px;
  padding: 0;
}
/* line 114, ../../sass/admin/dashboard.scss */
.dashboard .dashboard-module ul.fluent-dashboard-appiconlist {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 119, ../../sass/admin/dashboard.scss */
.dashboard .dashboard-module ul.fluent-dashboard-appiconlist li {
  width: 120px;
  height: 90px;
}
/* line 123, ../../sass/admin/dashboard.scss */
.dashboard .dashboard-module ul.fluent-dashboard-appiconlist li .fluent-dashboard-icon-caption {
  line-height: 14px;
  font-weight: bold;
  color: black;
}
/* line 129, ../../sass/admin/dashboard.scss */
.dashboard .dashboard-module ul.fluent-dashboard-appiconlist li:hover {
  background-color: #cccccc;
}

/* line 136, ../../sass/admin/dashboard.scss */
.dashboard-module h2 {
  background: #999999;
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}

/* line 145, ../../sass/admin/dashboard.scss */
#changelist table tbody td, #changelist table tbody th {
  padding: 4px;
}

/* line 149, ../../sass/admin/dashboard.scss */
h1, h2, h3, h4, h5, h6 {
  padding: 8px 0 8px 0;
  line-height: 1;
}

/* line 155, ../../sass/admin/dashboard.scss */
.inline-group .tabular tr td {
  padding: 0.5em;
}
/* line 158, ../../sass/admin/dashboard.scss */
.inline-group .tabular tr td.original {
  display: block;
}
/* line 161, ../../sass/admin/dashboard.scss */
.inline-group .tabular tr td.original p {
  width: 100%;
}
