{% extends "bluebottle/base.html" %}
{% load bb_ember %}
{% load i18n %}
{% load compress %}
{% load cache %}

{% load static from staticfiles %}

{% block title %}{% blocktrans %}Site meta title{% endblocktrans %}{% endblock %}

{% block meta %}
    {{ block.super }}

	<meta name="viewport" content="width=960" />

	<link type="text/css" rel="stylesheet" href="//fast.fonts.net/cssapi/35462e2c-8abd-4457-8837-d0d64a385759.css"/>
  <link type="text/css" rel="stylesheet" href="//fast.fonts.net/cssapi/3a3d72a6-e1d9-4203-826f-9ac869e0054a.css"/>
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://www.onepercentclub.com" />
	<meta property="og:title" content="{% blocktrans %}Site meta FB title{% endblocktrans %}" />
	<meta property="og:image" content="https://www.onepercentclub.com{{ STATIC_URL }}images/1procentclub-facebook.png" />
	<meta property="og:description" content="{% blocktrans %}Site meta FB description{% endblocktrans %}" />
	<meta property="og:site_name" content="{% blocktrans %}Site meta FB site name{% endblocktrans %}" />
	<meta property="fb:page_id" content="298248659856" />
    <meta property="og:keywords" content="{% blocktrans %}Site meta FB keywords{% endblocktrans %}" />


{% endblock %}

{% block handlebars_templates %}
    {% if COMPRESS_TEMPLATES %}
        {% cache 2592000 templates LANGUAGE_CODE %}
            {% compress js %}
                {{ block.super }}
                {% include "templates.hbs" %}
            {% endcompress %}
        {% endcache %}
    {% else %}
        {{ block.super }}
        {% include "templates.hbs" %}
    {% endif %}
{% endblock %}

{% block ember_scripts %}
    {{ block.super }}

    {# Addition for Bluebottle JS #}

    <script type="text/javascript" src="{% static 'js/bluebottle/app_overrides.js' %}"></script>
    
    <script type="text/javascript" src="{% static 'js/members/controllers.js' %}"></script>

    <!--members-->

    <script type="text/javascript" src="{% static 'js/members/routes.js' %}"></script>
    <!--organization-->
    <script type="text/javascript" src="{% static 'js/organizations/models.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/organizations/controllers.js' %}"></script>

    <!--projects-->
    <script type="text/javascript" src="{% static 'js/projects/models.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/projects/controllers.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/projects/views.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/projects/routes.js' %}"></script>

    {# Apps not in Bluebottle #}
    <script type="text/javascript" src="{% static 'js/bluebottle/homepage/models.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bluebottle/homepage/controllers.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bluebottle/homepage/views.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bluebottle/homepage/routes.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/bluebottle/orders/models.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bluebottle/orders/controllers.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bluebottle/orders/views.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bluebottle/orders/routes.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/bluebottle/donations/models.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bluebottle/donations/controllers.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bluebottle/donations/views.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bluebottle/donations/routes.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/bluebottle/fundraisers/models.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bluebottle/fundraisers/controllers.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bluebottle/fundraisers/views.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bluebottle/fundraisers/routes.js' %}"></script>

    <!--partners-->
    <script type="text/javascript" src="{% static 'js/bluebottle/partners/models.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bluebottle/partners/routes.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/bluebottle/vouchers/models.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bluebottle/vouchers/controllers.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bluebottle/vouchers/views.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bluebottle/vouchers/routes.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/bluebottle/campaigns/models.js' %}"></script>
    {% comment %}
    <script type="text/javascript" src="{% static 'js/bluebottle/campaigns/controllers.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bluebottle/campaigns/views.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bluebottle/campaigns/routes.js' %}"></script>
    {% endcomment %}
    
    <script type="text/javascript" src="{% static 'js/plugins/jquery.countdown.js' %}"></script>
{% endblock %}
