{% extends "bluebottle/base.html" %}
{% load static from staticfiles %}

{% block title %}1%Club - Share a little. Change the world{% endblock %}

{% block meta %}
    <meta name="description" content="1%Club is the global crowdfunding and crowdsourcing platform where you can share a little and change the world, in your very own way. Pick any project you like, support it with 1% of your knowledge, money or time and follow the progress online." />
    <meta name="author" content="1%Club" />
	<meta name="keywords" content="crowdfunding, crowdsourcing, platform, developing countries, time, skills, money, doneren, international cooperation, charity" />

	<link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico">

	<meta property="og:title" content="1%Club - Share a little. Change the world" />
	<meta property="og:type" content="website" />
	<meta property="og:image" content="http://www.onepercentclub.com{{ STATIC_URL }}images/1procentclub-facebook.png" />
	<meta property="og:url" content="http://www.onepercentclub.com" />
	<meta property="og:description" content="1%Club is the global crowdfunding and crowdsourcing platform where you can share a little and change the world, in your very own way. Pick any project you like, support it with 1% of your knowledge, money or time and follow the progress online." />
	<meta property="og:site_name" content="1%Club - Share a little. Change the world" />
	<meta property="fb:admins" content="ENTER YOUR FACEBOOK USER ID HERE" />
	<meta property="fb:page_id" content="298248659856" />
{% endblock %}

{% block handlebars_templates %}
    {% include  "accounts/base.hbs" %}
    {% include  "homepage.hbs" %}
    {% include  "wallposts.hbs" %}
    {% include  "reactions.hbs" %}
    {% include  "tasks.hbs" %}
    {% include  "projects.hbs" %}
    {% include  "orders.hbs" %}
    {% include  "utils.hbs" %}
    {% include  "blogs.hbs" %}
    {% include  "manage.hbs" %}
    {% include  "vouchers.hbs" %}
    {% include  "pages.hbs" %}
{% endblock handlebars_templates %}

{% block ember_scripts %}
    <script type="text/javascript" src="{% static "js/bluebottle/presets.js" %}"></script>
    {{ block.super }}

    <script type="text/javascript" src="{% static "js/bluebottle/projects/models.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bluebottle/projects/controllers.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bluebottle/projects/views.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bluebottle/projects/routes.js" %}"></script>

    <script type="text/javascript" src="{% static "js/bluebottle/wallposts/models.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bluebottle/wallposts/controllers.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bluebottle/wallposts/views.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bluebottle/wallposts/routes.js" %}"></script>

    <script type="text/javascript" src="{% static "js/bluebottle/blogs/models.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bluebottle/blogs/controllers.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bluebottle/blogs/views.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bluebottle/blogs/routes.js" %}"></script>

    <script type="text/javascript" src="{% static "js/bluebottle/tasks/models.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bluebottle/tasks/controllers.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bluebottle/tasks/views.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bluebottle/tasks/routes.js" %}"></script>


    <script type="text/javascript" src="{{ STATIC_URL }}js/bluebottle/orders.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bluebottle/vouchers.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bluebottle/pages.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bluebottle/homepage.js"></script>
{% endblock %}