{% load i18n %}

{% load url from future %}

<div class="row">
	<div class="column grid_1">
		<h3>{% trans "Menu" %}</h3>
		<h4><a href="{% url 'home' %}">{% trans "Home" %}</a></h4>
		<h4><a href="{% url 'project_list' %}">{% trans "Projects" %}</a></h4>
		<h4><a>{% trans "Tasks" %}</a></h4>
		<h4><a>{% trans "Actions" %}</a></h4>
		<h4><a href="{% url 'userprofile_list' %}">{% trans "Members" %}</a></h4>
		<h4><a>{% trans "Organizations" %}</a></h4>
		<h4><a>{% trans "Partners" %}</a></h4>
		<h4><a>{% trans "Business" %}</a></h4>
		<h4><a>{% trans "Learn more" %}</a></h4>
		<h4><a>{% trans "In the media" %}</a></h4>
		<h4><a>{% trans "FAQ" %}</a></h4>
		<h4><a>{% trans "Contact" %}</a></h4>
	</div>
	<div class="column grid_1">
		<h3>{% trans "News" %}</h3>
	</div>
	<div class="column grid_1">
		<h3>{% trans "Join" %}</h3>
	</div>
	<div class="column grid_1">
		<h3>{% trans "Tell a friend" %}</h3>
	</div>
</div>
<br /><br />
<div class="row">
	<div class="column grid_1">
		<h3>{% trans "More" %}</h3>
		<h4><a>{% trans "About" %}</a></h4>
		<h4><a>{% trans "Learn more" %}</a></h4>
		<h4><a>{% trans "In the media" %}</a></h4>
		<h4><a>{% trans "FAQ" %}</a></h4>
		<h4><a>{% trans "Contact" %}</a></h4>
	</div>
	<div class="column grid_1">
		<h3>{% trans "Tweet" %}</h3>
	</div>
	<div class="column grid_1">
		<h3>{% trans "We like you too" %}</h3>
	</div>
	<div class="column grid_1">
			&nbsp;
	</div>
</div>