{% load url from future %}

<div class="row">
	<div class="column grid_1">
		<h3>MENU</h3>
		<h4><a href="{% url 'home' %}">HOME</a></h4>
		<h4><a href="{% url 'project_list' %}">1%PROJECTS</a></h4>
		<h4><a>1%TASKS</a></h4>
		<h4><a>1%ACTIONS</a></h4>
		<h4><a href="{% url 'userprofile_list' %}">1%MEMBERS</a></h4>
		<h4><a>1%ORGANIZATIONS</a></h4>
		<h4><a>1%PARTNERS</a></h4>
		<h4><a>1%BUSINESS</a></h4>
		<h4><a>LEARN MORE</a></h4>
		<h4><a>IN THE MEDIA</a></h4>
		<h4><a>FAQ</a></h4>
		<h4><a>CONTACT</a></h4>
	</div>
	<div class="column grid_1">
		<h3>1%NEWS</h3>
	</div>
	<div class="column grid_1">
		<h3>JOIN 1%CLUB</h3>
	</div>
	<div class="column grid_1">
			<h3>TELL A FRIEND</h3>
	</div>
</div>
<br /><br />
<div class="row">
	<div class="column grid_1">
		<h3>MORE 1%</h3>
		<h4><a>MORE ABOUT</a></h4>
		<h4><a>LEARN MORE</a></h4>
		<h4><a>IN THE MEDIA</a></h4>
		<h4><a>FAQ</a></h4>
		<h4><a>CONTACT</a></h4>
	</div>
	<div class="column grid_1">
		<h3>1%TWEET</h3>
	</div>
	<div class="column grid_1">
		<h3>WE LIKE YOU TOO</h3>
	</div>
	<div class="column grid_1">
			&nbsp;
	</div>
</div>