<table class="footer">
	<tr>
		<td>
			<h3>MENU</h3>
			<h4>HOME</h4>
			<h4>1%PROJECTS</h4>
			<h4>1%TASKS</h4>
			<h4>1%ACTIONS</h4>
			<h4>1%MEMBERS</h4>
			<h4>1%ORGANIZATIONS</h4>
			<h4>1%PARTNERS</h4>
			<h4>1%BUSINESS</h4>
			<h4>LEARN MORE</h4>
			<h4>IN THE MEDIA</h4>
			<h4>FAQ</h4>
			<h4>CONTACT</h4>
		</td>
		<td>
			<h3>1%NEWS</h3>
		</td>
		<td>
			<h3>JOIN 1%CLUB</h3>
		</td>
		<td>
			<h3>TELL A FRIEND</h3>
		</td>
	</tr>
	<tr>
		<td>
			<h3>MORE 1%</h3>
			<h4>MORE ABOUT</h4>
			<h4>LEARN MORE</h4>
			<h4>IN THE MEDIA</h4>
			<h4>FAQ</h4>
			<h4>CONTACT</h4>
		</td>
		<td>
			<h3>1%TWEET</h3>
		</td>
		<td>
			<h3>WE LIKE YOU TOO</h3>
		</td>
		<td>
			&nbsp;
		</td>
	</tr>
</table>