{% extends "base.html" %}

{% load templatetag_handlebars %}

{% block htmltitle %}{{ block.super }} | Home{% endblock %}


{% block content %}

    {% tplhandlebars "home" %}
        <h1>HOMEPAGE</h1>
    {% endtplhandlebars %}

    {% tplhandlebars "project-detail" %}
        <h1>PROJECT DETAIL</h1>
        <a {{action gotoProjectInfo}}>INFO</a>
    {% endtplhandlebars %}

    {% tplhandlebars "project-info" %}
        <h1>PROJECTS INFO</h1>
    {% endtplhandlebars %}
            
    {% tplhandlebars "project-search-form" %}
        <h1>PROJECTS SEARCH FORM</h1>
    {% endtplhandlebars %}
            
    {% tplhandlebars "project-search-results" %}
        <h1>PROJECT SEARCH RESULTS</h1>
    {% endtplhandlebars %}

    {% tplhandlebars "project-preview" %}
        <a {{bindAttr href="view.content.url"}}>
        <div class="image">
            <img {{bindAttr src="view.content.thumbnail"}}/>
            <div class="info"></div>
            <div class="title">
                {{view.content.title}}
            </div>
            <div class="location">
                {{view.content.location.country}}
            </div>
        </div> </a>
        <div class="progressbar">
            <div class="donated-text right">
                NOW <b>€<span class="donated-amount">{{view.content.money_donated}}</span></b>
            </div>
            <div class="bar">
                <div class="asked-bar"></div>
                <div style="width: 45%;" class="donated-bar">

                </div>
            </div>
            <div class="asked-text">
                NEEDED <b>€<span class="asked-amount">{{view.content.money_asked}}</span></b>
            </div>
        </div>
        <div class="title support">
            SUPPORT
        </div>
    {% endtplhandlebars %}
            
{% endblock %}