{% extends "base.html" %}

{% load templatetag_handlebars %}

{% block htmltitle %}{{ block.super }} | Home{% endblock %}


{% block content %}

    {% tplhandlebars "home" %}
        <h1>HOMEPAGE</h1>
    {% endtplhandlebars %}

    {% tplhandlebars "project-home" %}
        <h1>PROJECTS HOME</h1>
    {% endtplhandlebars %}
            
    {% tplhandlebars "project-search-form" %}
        <h1>PROJECTS SEARCH FORM</h1>
    {% endtplhandlebars %}
            
    {% tplhandlebars "project-search-results" %}
        <h1>PROJECT SEARCH RESULTS</h1>
    {% endtplhandlebars %}
            
            
{% endblock %}