{% extends "base.html" %}

{% load templatetag_handlebars %}

{% block htmltitle %}{{ block.super }} | Home{% endblock %}


{% block content %}

    {% tplhandlebars "home" %}
        <h1>HOMEPAGE</h1>
    {% endtplhandlebars %}

    {% tplhandlebars "project-detail" %}
        <h1>PROJECT DETAIL</h1>
        <a {{action gotoProjectInfo}}>INFO</a>
    {% endtplhandlebars %}

    {% tplhandlebars "project-info" %}
        <h1>PROJECTS INFO</h1>
    {% endtplhandlebars %}
            
    {% tplhandlebars "project-search-form" %}
        <h1>PROJECTS SEARCH FORM</h1>
    {% endtplhandlebars %}
            
    {% tplhandlebars "project-search-results" %}
        <h1>PROJECT SEARCH RESULTS</h1>
    {% endtplhandlebars %}
            
            
{% endblock %}