{% extends "admin/base.html" %}
{% load static i18n admin_tools_menu_tags staticfiles %}

{% block title %}{{ title }} | {% trans 'Django site admin' %}{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    {% if user.is_active and user.is_staff and not is_popup %}
        {% admin_tools_render_menu_css %}
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{% static 'bluebottle_dashboard/css/admin-branding.css' %}"/>
{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans '1%Club' %}</h1>
{% endblock %}

{% block nav-global %}
{% if user.is_active and user.is_staff and not is_popup %}
    {% load admin_tools_menu_tags %}
    {% admin_tools_render_menu %}
{% endif %}
{% endblock %}

{% block footer %}
<div id="footerspace"></div>
<div id="footer"><p><small>1%Club admin interface</small></p></div>
{% endblock %}
