#cheetah-quiz {
	height: 469px;
	width: 100%;
	margin: 50px 0 0 0;
	background-image: image-url("cheetah/quiz/background-cheetah-quiz.svg");
	background-color: $color-primary;

	.quiz-blocks {
		margin-top: 10px;

		.col4 {
			position: relative!important;
		}

		.block {
			position: absolute;
			border-radius: 8px;
			height: 206px;
			border: solid 1px rgba($color-white, .8);
			@include transform-style(preserve-3d);
			@include transition(transform .3s);
			@include perspective(800px);

			// &:hover {
			// 	@include transform(rotateY(180deg));
			// 	background: red;
			// }

			.front, .back {
				display: block;
				position: absolute;
				padding: 20px;
				width: 100%;
				height: 100%;
				@include backface-visibility(hidden);
			}

			.front {
				background: transparent;
				@include transform(rotateY(0deg));
			}

			.back {
				background: transparent;
				@include transform(rotateY(180deg));				
			}

			&.flipped {
				@include transform(rotateY(180deg));

				.front {
					z-index: 0;
				}

				.back {
					z-index: 4;
				}
			}

			&.is-active {
				background: $color-white;
			}
		}

		.quiz-content {
			text-align: center;
			color: $color-white;
			margin-top: 20px;

			.quiz-answers {
				width: 80%;
				margin: 30px auto;

				> span {
					display: block;
					padding: 10px;
					text-align: center;
					border: solid 2px $color-white;
					width: 45%;
					color: $color-white;
					border-radius: 8px;
					font-family: $font-family-garage;
					text-transform: uppercase;
					font-size: 30px;

					&.yes {
						float: left;
					}

					&.no {
						float: right;
					}
				}
			}
			
			p {
				font-family: $font-family-body;
				font-weight: bold;
			}

			&.is-active {
				color: rgb(68, 68, 68);

				.quiz-answers {
					> span {
						border-color: $color-primary;
						background: $color-primary;
					}
				}
			}
		}


	}

	.quiz-heading {
		margin-top: 50px;
		h1 {
			color: $color-white;
			text-transform: uppercase;
		}

		h2 {
			color: $color-secondary;
			margin-top: -5px;
		}
	}

    // Temp style to make things visible
    padding: 12px;

    .question {
        @include grid(16,0,1);
        border: 1px solid white;
        padding: 12px;
        background-color: #0d3349;
        font-size: 2em;
        color:white;
        a {
            color:white;
        }
    }

}