#cheetah-video {

	.video-heading {

		h1 {
			font-size: 46px;
			margin-top: 0;
		}

		.cheetah-icon-big {
			float: left;
			display: block;
			width: 101px;
			height: 95px;
			background: image-url("cheetah/icons/icon-cheetah-head-big.svg") transparent no-repeat 0 0;
		}

		.cheetah-content {
			float: left;
			display: block;
			font-size: 28px;
			text-transform: uppercase;
			color: $color-primary;
			margin-left: 15px;
			
			span {
				font-family: $font-family-garage
			}

			h1 {
				color: $color-secondary;
				font-family: $font-family-avant;
			}
		}
	}

	.video-intro {
		padding: 50px 0 50px 0;

		h2 {
			font-size: 38px;
			font-family: $font-family-avant;
			font-weight: 400;
			line-height: 38px;
		}

		img {
			float: right;
		}
	}

	.cheetah-video-holder {
		width: 100%;
		height: 328px;
		max-height: 428px;

		iframe {
			height: 100%;
		}
	}

	.start-cheetah {
		margin-top: 30px;
	}

	.postcodeloterij {
		width: initial;
		margin: 11px 0 0 36px;
	}
}