/* Header */

div#header { background-image: none; }
#header #branding {
    background: #000;
}

#header #branding h1#site-name {
    padding: 7px 0 0 0;
    color: #fff;
    background-image: url('../img/1procentclub-logo2.png');
    height: 60px;
    width: 110px;
}


/* Login variation */

body.login #header {
    background: #fff url('../img/1procentclub-logo.png') 50% 13px no-repeat;
    padding-top: 65px;
}

body.login #header #branding {
    background-color: #fff;
}

body.login #branding h1#site-name {
    background: url('../img/payoff.gif') 50% 0 no-repeat;
    color: #27BFEE;
    padding: 0;
    margin: 0;
    text-align: center;
    width: auto;
    height: 20px;
}

body.login .password-reset-link {
    clear: both;
    padding-top: 15px;
}

body.login #footer {
    padding: 5px;
}


/* Fieldset titles */

.module h2, .module caption, .inline-group h2  {
    background: #00C051
}


/* Form submit buttons */

.button.default,
input.default[type="submit"],
.submit-row input.default {
    background: #FF639D;
    border-color: #ff478a;
}

.button.default:active,
input.default[type="submit"]:active,
.submit-row input.default:active {
    background: #ff478a;
    border-color: #FF639D;
}


/* Footer */

html, body { height: 100%; }
#container { min-height: 100%; }
.login #container { min-height: 0; }

#footerspace { padding-bottom: 40px; }
#footer {
    color: #aaa;
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    padding:  0;
    margin:  0;
    text-align: center;
}