/* Header */

div#header { background-image: none; }
#header #branding {
    background: #000;
}

#header #branding h1#site-name {
    /*
      NOTE: if updating this, also check the login page.
      It might be needed to create an override for 'body.login <this selector>'.
    */
    padding: 7px 0 0 0;
    color: #fff;
    background-image: url('../img/1procentclub-logo2.png');
    height: 60px;
    width: 110px;
}


/* Login variation */

body.login .password-reset-link {
    clear: both;
    padding-top: 15px;
}

body.login #footer {
    padding: 5px;
}


/* Fieldset titles */

.module h2, .module caption, .inline-group h2  {
    background: #00C051
}


/* Form submit buttons */

.button.default,
input.default[type="submit"],
.submit-row input.default {
    background: #FF639D;
    border-color: #ff478a;
}

.button.default:active,
input.default[type="submit"]:active,
.submit-row input.default:active {
    background: #ff478a;
    border-color: #FF639D;
}


/* Footer */

html, body { height: 100%; }
#container { min-height: 100%; }
.login #container { min-height: 0; }

#footerspace { padding-bottom: 40px; }
#footer {
    color: #aaa;
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    padding:  0;
    margin:  0;
    text-align: center;
}


/* Other fixes */

input.ac_input {
    /* Make the django-taggit field larger, same size as vLargeTextField */
    width: 610px;
}
