{% load bb_ember %}
{% load i18n %}
{% load static %}

{% tplhandlebars "project_supporters" %}
        <h4>Supporters <em>3 Total</em></h4>
        <ul>
            <li>
                <a class="member" data-title="guest" data-content="6 days ago" title="">
                    <span class="member-avatar">
                        <img src="/static/assets/images/default-avatar.png" alt="Guest">
                    </span>
                </a>
            </li>                        
            <li>
                <a class="member" data-title="guest" data-content="6 days ago" title="">
                    <span class="member-avatar">
                        <img src="/static/assets/images/default-avatar.png" alt="Guest">
                    </span>
                </a>
            </li>                        
            <li>
                <a class="member" data-title="guest" data-content="6 days ago" title="">
                    <span class="member-avatar">
                        <img src="/static/assets/images/default-avatar.png" alt="Guest">
                    </span>
                </a>
            </li>                        
        </ul>
{% endtplhandlebars %}