{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}

{% tplhandlebars "civic/index" %}
    
	<div id="civic-header" class="static-header">
	    <div class="l-wrapper">
	        <header id="civic-header-body" class="static-header-body">
	            <h1>Civic Crowdfunding</h1>
	            <h2>Bouwen aan een nieuwe relatie tussen burger en overheid</h2>
	        </header>
	    </div>
	</div>

	<div id="civic-header" class="static-content">
	    <div class="l-wrapper">
	        <div class="static-content-body">
	        	<p class="static-intro">Waar enkele jaren terug het aantal Nederlandse crowdfunding-projecten nog op één hand te tellen was, gaat het inmiddels om honderden projecten en miljoenen euro’s. Een groei die voor een groot deel is toe te schrijven aan een afname in private en publieke financieringsbronnen, maar past binnen de verschillende trends van deze tijd.</p>

	        	<p class="static-intro">Met de opkomst van de doe-het-zelf-maatschappij, het steeds meer  samenwerken en organiseren op lokaal niveau waarbij sociale netwerken en online communicatie een grote rol spelen is het de vraag hoe gemeentes omgaan met deze ontwikkelingen en hoe zij bouwt aan een nieuwe relatie tussen burger en overheid.</p>
	        </div>

	        <aside class="static-content-sidebar">
				<figure class="image">
					<img src="/static/assets/images/img/pages/civic/photo-zonnepanelen.jpg" alt="Zonnepanelen kinderdagverblijf het Zonnetje" />
					<figcaption>Zonnepanelen kinderdagverblijf het Zonnetje</figcaption>
				</figure>
	        </aside>
	    </div>
	</div>

	<div id="civic-quote" class="static-content-wide">
	    <div class="l-wrapper">
	       	<blockquote>Civic crowdfunding is dé nieuwe manier waarop een gemeente samen met burgers, verenigingen en bedrijven lokale initiatieven kan realiseren door de inzet van tijd, kennis en geld.</blockquote>
	    </div>
	</div>

	<div id="" class="static-content">
		<div class="l-wrapper">
			<section class="static-content-body">
				<header>
					<h1>De gemeente als <em>curator, aanjager en facilitator</em></h1>
				</header>
				
				<p>De rol van de gemeente verandert. Via een eigen online platform faciliteert zij de communicatie rondom buurtinitiatieven, cureert deze op basis van eigen beleid en jaagt de meest kansrijken aan met extra steun. Zo bouwt de gemeente aan een permanente participatiemaatschappij met pro- actieve burgers.</p>
				
				<strong>Dit werkt als volgt:</strong>
				<ol>
					<li>De gemeente geeft aan welke participatiethema’s centraal staan.</li>
					<li>Burgers en verenigingen sturen eigen projecten in en initiatiefnemers voeren campagne voor hun project.</li>
					<li>Burgers en bedrijven steunen de projecten met tijd, kennis en geld waarbij de gemeente extra financiering geeft voor projecten met een groot publiek draagvlak.</li>
				</ol>
			</section>
			
	        <aside class="static-content-sidebar">
				<figure class="image">
					<img src="/static/assets/images/img/pages/civic/photo-moestuin.jpg" alt="Gezamelijke moestuin in het centrum" />
					<figcaption>Gezamelijke moestuin in het centrum</figcaption>
				</figure>
	        </aside>

		</div>
	</div>

	<div id="" class="static-content-wide">
		<div class="l-wrapper">
			<section>
				<figure class="image">
					<img src="/static/assets/images/img/pages/civic/how-it-works.svg" />
				</figure>
			</section>
		</div>
	</div>
	
	<div id="" class="static-content">
		<div class="l-wrapper">
			<section class="static-content-body">
				<header>
					<h1>Wat is de <em>kracht</em> van civic crowdfunding?</h1>
				</header>
				
				<p>De vraag naar participatie stijgt en het budget vermindert. Via Civic crowdfunding kan dit budget als ‘hefboom’ worden ingezet en kunnen projecten met kennis, geld en tijd gesteund worden door burgers en verenigingen. Zo is er meer mogelijk met minder middelen.</p>
				
				<ul>
					<li>Vergroot burgerparticipatie en sociale cohesie,</li>
					<li>Versterkt lokaal ondernemerschap,</li>
					<li>Brengt lokaal draagvlak in kaart,</li>
					<li>Biedt een nieuwe manier van financiering.</li>
				</ul>
			</section>
			
	        <aside class="static-content-sidebar">
				<figure class="image">
					<img src="/static/assets/images/img/pages/civic/photo-restaurant.jpg" alt="Restaurant met biologische groente uit eigen moestuin " />
					<figcaption>Restaurant met biologische groente uit eigen moestuin</figcaption>
				</figure>
	        </aside>

		</div>
	</div>

	<div id="" class="static-content-wide">
		<div class="l-wrapper">
			<section class="static-content-body">
				<header>
					<h1>Hoe <em>helpt</em> 1%Club je als gemeente?</h1>
				</header>
				
				<p>Sinds 2008 zijn er via 1%Club meer dan 800 initiatieven van start gegaan en hebben 17.000+ mensen bijna 2 miljoen euro gecrowdfund. Als Nederlands grootste donatie crowdfunding platform kunnen we je helpen met:</p>
			</section>

			<section class="static-content-box-list">
				<dl>
					<dt>Strategie</dt>
					<dd>Met ons crowdfunding canvas ontwikkelen we in co-creatie met alle stakeholders de strategie.</dd>
				</dl>
				<dl>
					<dt>Platform</dt>
					<dd>Met een eigen versie van het 1%Club crowdfunding platform beschik je over alle tools in je eigen huisstijl. We verzorgen hosting en alle upgrades.</dd>
				</dl>
				<dl>
					<dt>Support</dt>
					<dd>We helpen met technisch en community support en verzorgen ‘teach-the-teacher’ trainingen om met het platform te werken.</dd>
				</dl>
				<dl>
					<dt>Back-Office</dt>
					<dd>We regelen alle financiële transacties en leveren periodieke rapportages met gebruiksstatistieken.</dd>
				</dl>
			</section>
		</div>
	</div>
	
	<div id="static-contact" class="static-content">
	    <div class="l-wrapper">
	        <section class="static-content-body">
	            <header>
	                <h1>Contact</h1>
	            </header>
                
                <p>1%Club is hét do-good crowdfunding platform, en we helpen je graag een wereld van verschil te maken. We komen graag langs om meer vertellen.</p>
	        </section>
	        
            <figure class="image contact-photo">
				<img src="/static/assets/images/img/business/ronald-lenz.png" alt="Ronald Lenz" />
            </figure>
			
			<div class="contact-info">
                
                <strong>Contact info</strong>
                <p>Ronald Lenz<br />
                    <a class="contact-mail" href="mailto:business@onepercentclub.com">business@onepercentclub.com</a><br>
                    <a class="contact-phone" href="tel:+31207158980">+31(0)20 715 8980</a>
                </p>

            </div>
				
            <figure class="image contact-logo">
				<img src="/static/assets/images/img/business/do-good-logo.svg" alt="1%Club" />
            </figure>
                    
	    </div>
	</div>

{% endtplhandlebars %}
