{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}

{% tplhandlebars "civic/index" %}
    
	<div id="civic-header" class="static-header">
	    <div class="l-wrapper">
	        <header id="civic-header-body" class="static-header-body">
	            <h1>{% trans 'Civic Crowdfunding' %}</h1>
	            <h2>{% trans 'Working towards a new relationship between citizens and government' %}</h2>
	        </header>
	    </div>
	</div>

	<div id="civic-header" class="static-content">
	    <div class="l-wrapper">
	        <div class="static-content-body">
	        	<p class="static-intro">
	        		{% blocktrans %}
						A few years ago you could count the amount of crowdfunding-projects in the
						Netherlands on one hand. Today we’re talking about hundreds of projects and
						millions of euros. This increase is largely due to the decline in private and
						public sources of finance, but also fitting within the different trends of our time.
	        		{% endblocktrans%}
	        	</p>

	        	<p class="static-intro">
	        		{% blocktrans %}
						These include the rise of the DIY (do it yourself) society, people working
						together more, and more things being organized at the local level where
						social networks and online communication play an important role. How do
						municipalities deal with these developments and how do they work towards a
						new relationship between citizens and government?
	        		{% endblocktrans %}
	        	</p>
	        </div>

	        <aside class="static-content-sidebar">
				<figure class="image">
					<img src="/static/assets/images/img/pages/civic/photo-zonnepanelen.jpg" alt="Zonnepanelen kinderdagverblijf het Zonnetje" />
					<figcaption>
						{% blocktrans %}
							Using solar panels for a more sustainable neighbourhood. <br>(Initiative of "de Groene Regentes")
						{% endblocktrans %}
						<br>{% trans 'Photo' %} &copy; Ron de Rooij
					</figcaption>
				</figure>
	        </aside>
	    </div>
	</div>

	<div id="civic-quote" class="static-content-wide">
	    <div class="l-wrapper">
	       	<blockquote>
	       		{% blocktrans %}
					Civic crowdfunding is the new way municipalities can realize
					local initiatives together with citizens, organizations and
					companies by sharing time, knowledge and funds.
	       		{% endblocktrans %}
	       	</blockquote>
	    </div>
	</div>

	<div id="" class="static-content">
		<div class="l-wrapper">
			<section class="static-content-body">
				<header>
					{% blocktrans %}
						<h1>The municipality as <em>curator, booster and facilitator</em></h1>
					{% endblocktrans %}
				</header>
				
				<p>
					{% blocktrans %}
						The role of municipalities is changing. Through a personalized platform they
						can facilitate the communication around local initiatives, curate these
						according to their own policies and boost those with the most potential by
						giving extra support. In this way the municipality works towards a participatory
						society with pro-active citizens.
					{% endblocktrans %}
				</p>
				
				<strong>{% trans 'This is how it works:' %}</strong>
				<ol>
					<li>{% trans 'The municipality indicates which themes are important' %}</li>
					<li>{% trans 'Citizens and organizations submit their own projects and project initiators campaign for their idea'% }</li>
					<li>{% trans 'Citizens and companies support the projects with their own time, knowledge and funds and the municipality gives extra funding to projects with large public support' %}</li>
				</ol>
			</section>
			
	        <aside class="static-content-sidebar">
				<figure class="image">
					<img src="/static/assets/images/img/pages/civic/photo-moestuin.jpg" alt="Gezamelijke moestuin in het centrum" />
					<figcaption>
						{% blocktrans %}
							Volunteering for a greener neighbourhood. <br>(Initiative of "de Groene Regentes")
						{% endblocktrans %}
						<br>{% trans 'Photo' %} &copy;  Ron de Rooij
					</figcaption>
				</figure>
	        </aside>

		</div>
	</div>

	<div id="" class="static-content-wide">
		<div class="l-wrapper">
			<section>
				<figure class="image">
					<img src="/static/assets/images/img/pages/civic/how-it-works.svg" />
				</figure>
			</section>
		</div>
	</div>
	
	<div id="" class="static-content">
		<div class="l-wrapper">
			<section class="static-content-body">
				<header>
					{% blocktrans %}
						<h1>What is the <em>strength</em> of crowdfunding?</h1>
					{% endblocktrans %}
				</header>
				
				<p>
					{% blocktrans %}
						Citizen participation is rising while budgets are shrinking. Through civic
						crowdfunding existing budgets can be used to provide extra leverage to local
						initiatives and can be additionally supported with knowledge, time and funds
						from citizens and organizations. This is how we can do more with fewer
						resources.
					{% endblocktrans %}
				</p>
				
				<ul>
					<li>{% trans 'supports the participation of citizens and social cohesion,' %}</li>
					<li>{% trans 'strengthens local entrepreneurship,' %}</li>
					<li>{% trans 'maps out local support,' %}</li>
					<li>{% trans 'provides a new method of financing.' %}</li>
				</ul>
			</section>
			
	        <aside class="static-content-sidebar">
				<figure class="image">
					<img src="/static/assets/images/img/pages/civic/photo-restaurant.jpg" alt="Restaurant met biologische groente uit eigen moestuin " />
					<figcaption>
						{% blocktrans %}
							Urban meeting place for fresh ideas and new initiatives.
						{% endblocktrans %}
						<br>{% trans 'Photo' %} &copy; Harry Vis 
					</figcaption>
				</figure>
	        </aside>

		</div>
	</div>

	<div id="" class="static-content-wide">
		<div class="l-wrapper">
			<section class="static-content-body">
				<header>
					{% blocktrans %}
						<h1>How does the 1%Club <em>help</em> municipalities?</h1>
					{% endblocktrans %}
				</header>
				
				<p>
					{% blocktrans %}
						Since 2008 more than 17000 people have crowdfunded nearly 2 million euros
						for over 800 initiatives through the 1%Club. As the largest donation-based
						crowdfunding platform in the Netherlands we can help you with:
					{% endblocktrans %}
				</p>
			</section>

			<section class="static-content-box-list">
				<dl>
					<dt>{% trans 'Strategy' %}</dt>
					<dd>
					{% blocktrans %}
						In co-creation with all stakeholders we develop the strategy using our crowdfunding canvas.
					{% endblocktrans %}</dd>
				</dl>
				<dl>
					<dt>{% trans 'Platform' %}</dt>
					<dd>
					{% blocktrans %}
						With your own version of the 1%Club crowdfunding platform you have all the necessary tools in your own corporate identity. We provide hosting and all upgrades.
					{% endblocktrans %}</dd>
				</dl>
				<dl>
					<dt>{% trans 'Support' %}</dt>
					<dd>
					{% blocktrans %}
						We help with technical and community support and provide ‘teach-theteacher’ training in order to work with the platform.
					{% endblocktrans %}</dd>
				</dl>
				<dl>
					<dt>{% trans 'Back-office' %}</dt>
					<dd>
					{% blocktrans %}
						We take care of all financial transactions and provide periodic reports with users statistics.
					{% endblocktrans %}</dd>
				</dl>
			</section>
		</div>
	</div>
	
	<div id="static-contact" class="static-content">
	    <div class="l-wrapper">
	        <section class="static-content-body">
	            <header>
	                <h1>{% trans 'Contact' %}</h1>
	            </header>
                
                <p>
                	{% blocktrans %}
						1%Club is the do-good crowdfunding platform and we would love to help you
						make a world of difference. We are happy to swing by to tell you more about
						our services.
					{% endblocktrans %}
            	</p>
	        </section>
	        
            <figure class="image contact-photo">
				<img src="/static/assets/images/img/business/ronald-lenz.png" alt="Ronald Lenz" />
            </figure>
			
			<div class="contact-info">
                
                <strong>Contact info</strong>
                <p>Ronald Lenz<br />
                    <a class="contact-mail" href="mailto:business@onepercentclub.com">business@onepercentclub.com</a><br>
                    <a class="contact-phone" href="tel:+31207158980">+31(0)20 715 8980</a>
                </p>

            </div>
				
            <figure class="image contact-logo">
				<img src="/static/assets/images/img/business/do-good-logo.svg" alt="1%Club" />
            </figure>
                    
	    </div>
	</div>

{% endtplhandlebars %}
