/* =========== Forms */

input[type=text], input[type=password], input[type=number], input[type=search], input[type=email], input[type=tel], input[type=url], textarea, select  {
    border: 1px solid #c5c5c5;
    font-family: $font-family;
    line-height: 1.5em;
    margin: -1px 0.5em 10px 0px;
    padding: 0.6em;
    width: 100%;
    //@include border-radius(0.3em);
    @include box-shadow(inset 0px 1px 2px rgba($black, 0.1));
    @include transition(border 0.1s);
    vertical-align: baseline;
    
    background-color: #fbfbfb;
    
    //@include border-radius(2px);
    
    &:focus {
        border: 1px solid darken($white, 35%);
        outline: 0;
        color: #333;
        background-color: $white;
        @include box-shadow(0px 0px 2px rgba($black, 0.3));
    }
}


::-webkit-input-placeholder {
    color: #bbb;
}

:-moz-placeholder {
    color: #bbb;
}

textarea { 
    overflow: auto;
    resize: vertical;
    vertical-align: top;
    display: block;
}

form {

    legend { 
        display: block; 
        margin-bottom: 0.25em; 
        font-weight: bold; 
        line-height: 1.5em;
        font-size: 1.6em;
    }
    
    fieldset { 
        @include rem(margin-bottom, 16px);
    }
    
    label.inline {
        position: absolute; 
        left: 0;
        
        font-family: $font-family;
        line-height: 1.5em;
        margin: -1px 0.5em 0px 0px;
        padding: 0.6em;
        width: 100%;
        vertical-align: baseline;
    }
    
    .currency {
      
      em {
        font-style: normal;
        font-weight: bold;
        color: #929292;
      }
      
      input {
        width: auto;
      }
    }
    
    ul {
        clear: both;
        list-style: none;
        margin: 0 0 $margin 0;
        
        > li {
            position: relative;
            margin-bottom: $margin;
            @include clearfix;
            
            > label  { 
                
                padding-left: 0.6em;
                display: block;
                color: #999;
                
                
                
                small {
                    display: inline-block;
                }
            }
            
            p, small {
                display: block;
                margin: 0.6em 0.6em 0.25em 0px;
            }
            
            ul.checklist {
                margin: 0.6em 0.6em 0.6em 0px;
                
                > li { margin: 0.5em 0; }
                
                input { 
                    display: inline-block; 
                    margin-right: 0.5em;
                }
                
                label {
                    @include grid-reset;
                    font-weight: normal;
                    &:hover { 
                        color: #000; 
                        cursor: pointer; 
                    }
                }
            }
        }
        
    }

    span.error {
        color: $color-error;
        margin: 0.6em 0.6em 0.6em 0px;
        display: block;


    }

    input.error {
        border: 1px solid $color-error;
        @include box-shadow((0px 0px 3px lighten($color-error, 10%), inset 0 0 0));
        &:focus { border: 1px solid $color-error; }

        &::-webkit-input-placeholder {
            color: lighten($color-error, 20%);
        }

        &:-moz-placeholder {
            color: lighten($color-error, 20%);
        }

    }

    &.labeled {
        input[type='text'] {
            @include grid(36, 1, 0);
        }
    }

    div.label {
        @include grid(12, 0, 0);
        @include rem(padding, 10px);
        @include rem(font-size, 18px);
        font-weight: bold;
        color: $gray;
        &.ok {
            color: $green;
        }
    }

    .big-radio {
        label {
            @include rem(padding, 10px);
            padding: 10px;
            color: white;
            font-family: "Futura Std";
            font-weight: bold;
            @include rem(font-size, 18px);
            display: inline-block;
            text-align: center;
            margin-bottom: 10px;
            background-color: $gray;
            cursor: pointer;
        }
        input[type=radio] {
            display: none;
        }
        input[type=radio]:checked+label {
            background-color: $green;
        }
        &.radio2 {
            label{
                @include grid(18, 1, 0);
            }
        }
        &.radio4 {
            label {
                @include grid(9, 1, 0);
            }
        }
    }
}


