{% extends "admin/change_form.html" %}
{% load i18n admin_modify %}
{% load url from future %}

{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}global/vendor/colorbox/colorbox.css"/>
{% endblock %}

{% block object-tools-items %}
    <li><a href="#" id="preview-button">{% trans "Preview" %}</a></li>
    {{ block.super }}
{% endblock %}

{# override submit buttons in the admin with JavaScript, since the {% submit_row %} is inflexible. #}
{% block extrahead %}{{ block.super }}
    <script type="text/javascript">
        // *sigh* taggit-autocomplete also brings in their own jQuery
        // which is an older version that jquery.colorbox can't use.
        // Preserve that so the autocomplete still works.
        var jQuery_taggit_autocomplete = window.jQuery;
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}global/js/libs/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}global/js/plugins/jquery.colorbox.js"></script>
    <script type="text/javascript">
        (function($){
            var $submit,
                $addanother,
                $continue,
                $statusField,
                submitValue,
                addanotherValue,
                continueValue;

            $.fn.ready(function(){
                // Fetch DOM objects
                $submit = $('.submit-row input.default');
                $addanother = $('.submit-row input[name=_addanother]');
                $continue = $('.submit-row input[name=_continue]');

                // Save original
                submitValue = $submit.val();
                addanotherValue = $addanother.val();
                continueValue = $continue.val();

                // Add preview button
                var $previewButton = $('<input type="submit" name="_preview" value="{% trans "Preview" %}"/>');
                $continue
                    .after('&nbsp;')
                    .after($previewButton)
                    .after('&nbsp;');

                // Bind events
                $("#id_status input").change(setSubmitButtonText);
                $previewButton.click(onPreviewClick);
                $("#preview-button").click(onPreviewClick);

                setSubmitButtonText();
            });

            function onPreviewClick(event) {
                event.preventDefault();

                // Save all WYSYWYG editors to the form.
                // NOTE: currently doesn't use django_wysiwyg abstraction, as it doesn't provide a .save() method.
                for(var i = 0; i < tinymce.editors.length; i++) {
                    tinymce.editors[i].save()
                }

                $.colorbox({
                    transition: 'none',  // or fade
                    width: "800px",
                    height: "600px",
                    title: $("#id_title").val(),
                    iframe: true,
                    fastIframe: false,
                    href: "{% url 'admin:blogs_blogpost_preview_loader' %}",
                    onComplete: function() {
                        // Iframe with preview frame is loaded.

                        // Retrieve an server-side generated HTML preview,
                        // and display that in a lightbox.
                        var $form = $("form#blogpost_form");
                        var postdata = $form.serialize();
                        $.ajax({
                            'url': "{% url 'admin:blogs_blogpost_get_preview' pk=original.pk|default:0 %}",
                            'type': 'POST',
                            dataType: 'json',
                            data: postdata,
                            success: function(data) {
                                $('#colorbox iframe.cboxIframe').contents().find('#preview_contents').html(data.contents);
                            },
                            error: function() {
                                alert("Internal CMS error: failed to fetch preview data!");
                            }
                        });

                    }
                });
            }

            function setSubmitButtonText() {
                if($("#id_status input[value=published]")[0].checked) {
                    showPublishedButtons();
                }
                else {
                    showDraftButtons();
                }
            }

            function showPublishedButtons() {
                $submit.val('{% trans "Publish" %}');
                $addanother.val('{% trans "Publish and add another" %}');
                $continue.val('{% trans "Publish and continue editing" %}');
            }

            function showDraftButtons() {
                $submit.val(submitValue);
                $addanother.val(addanotherValue);
                $continue.val(continueValue);
            }
        })(window.jQuery);

        window.jQuery = jQuery_taggit_autocomplete;
    </script>
{% endblock %}
