.reaction-box {
    clear: both;
}

.reaction-box {
    
    @include clearfix;
    @include rem(margin-bottom, 64px);
    
    .reaction-form {
    
        position: relative;
        background-color: $color-back;
        @include rem(padding, 16px);
        @include clearfix;
        
        &.is-selected {
            border: 1px solid red;
        }
        
        label {
            @include grid(48, 10, 0);
            @include rem(top, 28px);
            padding: 0;
            
        }
        
        .user-img {
            position: absolute;
            @include rem(left, 32px);
            @include rem(top, 32px);
            @include grid(3);
            margin: 0;
        }
        
        textarea {
            padding-left: $grid-column * 9; // TODO Firefox: won't accept percentage as padding in form elements
            @include rem(min-height, 88px);
        }
        
        button {
            float: right;
            position: relative;
            z-index: 2;
        }
    }
    
    .reaction-actions {
        
        margin: 0;
        padding: 0;
        list-style: none;
        
        position: relative;
        z-index: 1;
        @include clearfix;
        
        @include rem(font-size, 12px);
        font-weight: bold;
        @include rem(top, -54px);
        background: $color-back;
        
        li {
            display: inline !important;
            
            a, strong {
                white-space: nowrap;
                display: inline-block !important;
                color: #666;
                @include rem(padding, 4px 8px 4px 8px);
                @include rem(margin, 0 8px 0 8px);
                
                cursor: hand;
                cursor: pointer;
                
                &:hover, &:active {
                    color: $black;
                }
                
                &.toggle-reactions {
                    width: 20%;
                    margin-left: $grid-column * 6;
                    @include rem(padding-left, 30px);
                    background-image: url('../images/sprites/icon-reactions.png');
                    background-repeat: no-repeat;
                    background-position: 0 7px;
                    
                    &:hover, &.is-active {
                        color: $black;
                        background-position: 0 -33px;
                    }
                }
                
                &.toggle-love {
                    width: 24%;
                    @include rem(padding-left, 33px);
                    background-image: url('../images/sprites/icon-love.png');
                    background-repeat: no-repeat;
                    background-position: 0 7px;
                    
                    &:hover {
                        color: $pink;
                        background-position: 0 -24px;
                    }
                    
                    &.is-active:hover {
                        color: $black;
                        background-position: 0 -94px;
                    }
                    
                    &.is-active, &.is-activated, &.is-activated:hover {
                        color: $pink;
                        background-position: 0 -59px;
                    }
                }
            }
            
            &.share {
                
                strong {
                    @include rem(padding-left, 30px);
                    background-image: url('../images/sprites/icon-share.png');
                    background-repeat: no-repeat;
                    background-position: 0 6px; 
                    
                    &:hover, &.is-active {
                        color: $green;
                        background-position: 0 -35px;
                    }
                }
                
                .share-actions {
                    display: none;
                    @include rem(padding, 16px 0 8px 0);    
                    
                    li {
                        display: inline-block;
                        text-align: center;
                        
                        &.share-facebook {
                            width: 25%;
                            margin-left: $grid-column * 6;
                        }
                        
                        &.share-twitter {
                            width: 25%;
                        }
                        
                        &.share-url {
                            
                            code {
                                @include rem(font-size, 11px);
                                font-color: #ccc !important;
                                padding: 0.4em 0.2em;
                                border: 1px solid #333;
                                background: $white;
                            }
                            
                            .share-url-copy {
                                background-color: #ccc;
                                color: $white;
                                padding: 0 4px;
                                
                            }
                        }
                    }
                }
            }
        }
    }
    
}

.reactions {
    position: relative;
    @include rem(top, -54px);
    background-color: $color-back;
    @include rem(padding, 16px);
    @include clearfix;
    margin: 0;
    list-style: none;
    
    display: none;
    
    @include rem(font-size, 14px);
    
    li {
        display: block;
        position: relative;
        overflow: auto;
        @include rem(margin, 16px 0);
         
        .user-img {
            position: absolute;
            @include grid(3);
            @include rem(left, 16px);
            @include rem(top, 2px);
            margin: 0;
        } 
        
        
        &.initiator .comment {
            border-color: $green;
            
            &::after {
                background: url('../images/sprites/reaction-box-initiator.png') transparent no-repeat 0 0;
            }
        }
        
        .comment {
            position: relative;
            @include grid(48, 10, 0);
            background: $white;
            border: 1px solid darken($white, 25%);
            color: #333;
            @include rem(padding, 12px 16px 0 16px);
            @include border-radius(0.2em);
            vertical-align: baseline;
            
            .user {
                @include rem(font-size, 14px);
                strong {
                    text-transform: uppercase;
                }
            }
            
            &::after {
                position: absolute;
                @include rem(top, 16px);
                left: -25px;
                content: ' ';
                display: block;
                width: 25px;
                height: 21px;
                background: url('../images/sprites/reaction-box.png') transparent no-repeat 0 0;
            }
        }
    }
}