/* Compass */
@import "compass/utilities";
@import "compass/reset";
@import "compass/css3";

/* Variables & Mixins */
@import "variables";
@import "mixins/grid";
@import "mixins/rem";
@import "mixins/utilities";


// Icons
@import "icons/flaticons-social";
@import "icons/flaticons-solid";
@import "icons/flaticons-stroke";

body {
    font-family: "Futura Alt", "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-size: 12px;
}

// Headings
// -------------------------

h1, h2, h3, h4, h5, h6 {
	margin: $base-margin/2 0 0 0;
	font-family: $font-family-bold;
	line-height: $base-line-height;
	text-transform: uppercase;
	
	small {
		line-height: 1;
		color: $gray-light;
	}
	
	em {
    	font-style: normal;
	}
}

h1 { 
	font-size: $font-size-largest;
	color: $color-primary;
} 

h2 {
	font-size: $font-size-larger;
	color: $color-secondary;
} 

h3 { 
	font-size: $font-size-large;
	color: $color-heading;
} 

h4 { 
	font-size: $base-font-size;
}


// Links
// -------------------------

a {
	color: $color-link;
	text-decoration: underline;
	cursor: hand;
	cursor: pointer;
	
	a:visited {
		color: $color-link;	
	}
	
	&:hover {
		color: $color-link-hover;
	}
	
	&:active {
		position: relative;
		top: 1px;
		color: $color-text;
	}
}


// Misc
// -------------------------


#header ul#navigation-menu li {

    ul {
        border: 1px solid $gray-dark;
        background-color: white;
        
        a:hover {
            background-color: $gray-light;
        }
    }
}

#header #branding h1#site-name {
    height: 50px;
    width: 100px;
    text-indent: -1000px;
}

.dashboard .dashboard-module {
    border: 2px solid black;
    border-radius: 0px;
    padding: 0;

    ul.fluent-dashboard-appiconlist {
        margin: 0;
        padding: 0;
        list-style: none;
        
        li {
            width: 120px;
            height: 90px;
            
            .fluent-dashboard-icon-caption {
                line-height: 14px;
                font-weight: bold;
                color: $black;
            }
            
            &:hover {
                background-color: $gray-light;
            }
        }
    }
}

.dashboard-module h2 {
    background: $gray;
    font-size: 18px;
    font-weight: bold;
    color: $white;
    text-transform: uppercase;

}

#changelist table tbody td, #changelist table tbody th {
    padding: 4px;
}

h1, h2, h3, h4, h5, h6 {
    padding: 8px 0 8px 0;
    line-height: 1;
}

.inline-group .tabular tr {
  td {
    padding: 0.5em;
  }
  td.original {
    display: block;
    
    p {
      width: 100%;
    }
  }
}
