{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}

{% tplhandlebars "civic_crowdfunding" %}
    <div id="civic-crowdfunding" class="static">

        {{render 'civic/index'}}
        
    </div>
{% endtplhandlebars %}
