{% extends "base.mail.html" %}
{% load i18n %}

{% block content %}
{% blocktrans with sender_name=sender.first_name receiver_name=receiver.first_name task_title=task.title %}
Hi {{ receiver_name }},<br/>
<br/>
Woohoo, you’re the one! The project owner, {{ sender_name }}, assigned the 1%Task <a href="{{ site }}{{ link }}">{{ task_title }}</a> to you!
<br/>
Good luck and please keep us updated about the progress!
<br/><br/>
Start right away? Leave a short first reaction!
<br/><br/>
<a href="{{ site }}{{ link }}">Go to 1%Task</a>.
<br/>
<br/>
Good luck!<br/>
<br/>
1%CLUB
{% endblocktrans %}
{% endblock %}

