{% extends "base.mail.html" %}
{% load i18n %}

{% block content %}
{% blocktrans with sender_name=sender.first_name receiver_name=receiver.first_name task_title=task.title motivation=motivation %}
Hello {{ receiver_name }},<br/>
<br/>
{{ sender_name }} applied for your task <a href="{{ site }}{{ link }}">{{ task_title }}</a>.<br />
Be sure to follow this up a.s.a.p.! <br/>
<br/>
<a href="{{ site }}{{ link }}">Go to 1%Task</a>.
<br/>
As motivation {{ sender_name }} wrote:<br/>
<br/><br/>
<i>{{ motivation }}</i>
<br/><br/>
Good luck!<br/>
<br/>
1%CLUB
{% endblocktrans %}
{% endblock %}

